<div class="carousel-2-v2 position-relative" *ngIf="content" [ngClass]="content.classes">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-bg *ngIf="content.bg" [content]="content.bg">
    <app-img [attr.data-path]="'bg.img'" [content]="content.bg.img"></app-img>
  </app-bg>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="container">
    <app-title [attr.data-path]="'title'" *ngIf="content.title" [content]="content.title"></app-title>
    <app-swiper [attr.data-path]="'sliders'" [content]="content.sliders"></app-swiper>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>