<div class="carousel-2-v2 position-relative" *ngIf="content" [ngClass]="content.classes">
  <a class="anchor" [id]="content.id||''"></a>
  <app-bg *ngIf="content.bg" [content]="content.bg">
    <app-img [content]="content.bg.img"></app-img>
  </app-bg>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="container">
    <app-title [content]="content.title"></app-title>
    <app-swiper [content]="content.sliders"></app-swiper>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
