@if (content) {
  <div class="carousel-1-v2">
    <div class="head relative">
      @if (content.title) {
        <app-title [attr.data-path]="'title'" [content]="content.title" />
      }
      <div class="actions flex absolute right-0 top-0 left-auto">
        <app-btn
          [content]="{ mode: 'icon', icon: { svg: 'chevron-left' }, classes: 'prev' }"
        ></app-btn>
        <app-btn
          [content]="{ mode: 'icon', icon: { svg: 'chevron-right' }, classes: 'next' }"
        ></app-btn>
      </div>
    </div>
    @if (swiper() && swiper().elements && swiper().elements.length) {
      <app-swiper [attr.data-path]="'swiper'" [content]="swiper()" [navigationSub]="navigation$" />
    }
  </div>
}
