<div class="carousel-1-v2 position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-bg-img *ngIf="content.bg" [content]="content.bg"></app-bg-img>
  <div class="{{content.fullWidth?'':'container'}}">
    <div class="head position-relative">
      <app-title [attr.data-path]="'title'" *ngIf="content.title" [content]="content.title"></app-title>
      <div class="actions">
        <mat-icon data-testid="prev" (click)="onPrev()">keyboard_arrow_left</mat-icon>
        <mat-icon data-testid="next" (click)="onNext()">keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <app-swiper [attr.data-path]="'sliders'" [content]="content.sliders" [navigationSub]="navigation$"></app-swiper>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>