.actions {
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  .mat-icon {
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }
}
:host ::ng-deep {
  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}
