.contact-us-1v1 {
  position: relative;
  overflow: hidden;
  z-index: 10;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 40%;
    width: 100vw;
    max-width: 100%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .box {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
  }
}
