<ng-container *ngIf="coreConfig?.theme">
  <div class="switch-theme" [matTooltip]="'切换主题'">
    <button aria-label="switch theme" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon color="primary">format_color_fill</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button aria-label="switch theme item" *ngFor="let theme of coreConfig.theme" mat-menu-item
        (click)="onSwitchTheme(theme.style)">
        <mat-icon *ngIf="currentTheme !== theme.style">radio_button_unchecked</mat-icon>
        <mat-icon color="primary" *ngIf="currentTheme === theme.style"> radio_button_checked </mat-icon>
        <span>{{theme.name}}</span>
        <mat-icon class="right-icon" *ngIf="theme.icon; else svgIcon">{{theme.icon}}</mat-icon>
        <ng-template #svgIcon>
          <mat-icon svgIcon="{{theme.svgIcon}}" class="right-icon"></mat-icon>
        </ng-template>
      </button>
    </mat-menu>
  </div>
</ng-container>