::ng-deep json-editor,
::ng-deep json-editor .jsoneditor,
::ng-deep json-editor > div,
::ng-deep json-editor .jsoneditor-outer {
  min-height: 400px;
  .ace_editor.ace-jsoneditor {
    min-height: 400px;
  }
  ::ng-deep {
    .jsoneditor-poweredBy {
      display: none;
    }
  }
}
