::ng-deep .jsoneditor,
::ng-deep .jsoneditor-outer {
  min-height: 400px;
  .ace_editor.ace-jsoneditor {
    min-height: 400px;
  }
  ::ng-deep {
    .jsoneditor-poweredBy {
      display: none;
    }
  }
}
:host-context(.preview-container),
.full-height {
  ::ng-deep .jsoneditor,
  ::ng-deep .jsoneditor-outer {
    height: calc(100vh - 100px);
    .ace_editor.ace-jsoneditor {
      height: calc(100vh - 100px);
    }
  }
}

.loader {
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 10;
}
