<div class="article m-bottom" *ngIf="content">
  <app-article-banner [content]="content.banner" *ngIf="content.banner"></app-article-banner>
  <div class="container">
    <div class="article-inner m-top-sm" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div class="article-node" fxFlex.lt-md="100" fxFlex.gt-sm="75">
        <h2 class="title">
          {{content.title}}
        </h2>
        <div class="article-meta m-y-sm">
          <div fxLayout fxLayoutAlign="start start" *ngIf="content.meta" fxLayoutGap="1rem">
            <div *ngFor="let item of content.meta" fxLayoutAlign="center center">
              <mat-icon>{{item.icon}}</mat-icon>
              <div>{{item.label}}</div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="article-body m-y-sm" [innerHTML]="content.body | safeHtml"></div>
      </div>
      <app-sidebar [ngClass.gt-sm]="'m-left-sm'" *ngIf="content.sidebar" fxFlex.lt-md="100" fxFlex.gt-sm="25"
        [content]="content.sidebar"></app-sidebar>
    </div>
  </div>
</div>
