.article-body ::ng-deep {
  img {
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

.article-meta {
  .mat-icon {
    margin-right: 5px;
  }
}

.fontSize {
  ::ng-deep .mat-form-field-infix {
    width: 80px;
  }
}
