<div class="article m-y" *ngIf="content">
  <app-article-banner [content]="content.banner" *ngIf="content.banner"></app-article-banner>
  <div class="container">
    <div class="article-inner" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div class="article-node" fxFlex.lt-md="100" fxFlex.gt-sm="75">
        <h2 class="title">
          {{content.title}}
        </h2>
        <div class="article-meta m-y-sm">
          <div fxLayout fxLayoutAlign="start start" *ngIf="content.meta" fxLayoutGap="1rem">
            <li *ngFor="let item of content.meta" fxLayoutAlign="center center">
              <mat-icon>{{item.icon}}</mat-icon>
              <div>{{item.label}}</div>
            </li>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="article-body m-y" [innerHTML]="content.body"></div>
      </div>
      <div class="sidebar" [ngClass.gt-sm]="'m-left-sm'" *ngIf="content.sidebar" fxFlex.lt-md="100" fxFlex.gt-sm="25">
        <ng-container *ngFor="let item of content.sidebar">
          <ng-container [ngSwitch]="item.type">
            <app-media-list *ngSwitchCase="'media-list'" [content]="item"></app-media-list>
            <app-menu-list *ngSwitchCase="'menu-list'" [content]="item"></app-menu-list>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
