@import "../../../../../theme/variable/breakpoint";

.fix-bar-popup {
  position: absolute;
  right: 68px;
  bottom: 0;
  display: none;
  max-width: 300px;
  max-height: 200px;
  padding-right: 10px;
  .fix-bar-popup-content {
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 6px 20px 2px rgb(0 0 0 / 18%);
    overflow: hidden;
  }
  .arrow {
    position: absolute;
    right: 5px;
    top: 98px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 5px solid transparent;
    font-size: 12px;
  }
  ::ng-deep .container {
    padding: 0 !important;
    max-width: none !important;
  }
  @media #{$lt-md} {
    min-width: 60vw;
  }
}
