<div class="card-1v6" *ngIf="content" [ngClass]="content.classes">
  <div class="card-inner" fxLayout="column">
    <h2 class="title bold" [contentedit]="'title.label'" [ngClass]="content.title.classes"
      [innerHTML]="content.title.label|safeHtml"></h2>
    <div class="meta bold m-y-sm" fxLayout="row">
      <div [contentedit]="'prefix'" class="mat-display-1 m-bottom-0" [innerHTML]="content.prefix|safeHtml"></div>
      <div [contentedit]="'number'" class="mat-display-3 m-bottom-0" [innerHTML]="content.number|safeHtml"></div>
      <div [contentedit]="'suffix'" class="mat-display-1 m-bottom-0" fxFlexAlign="end"
        [innerHTML]="content.suffix|safeHtml"></div>
    </div>
    <div [contentedit]="'body'" class="content m-bottom-sm" [innerHTML]="content.body|safeHtml"></div>
    <div class="actions" *ngIf="content.actions" fxLayoutGap="1rem"
      fxLayoutAlign="{{content.actionsAlign || 'start center'}}">
      <app-dynamic-component [attr.data-path]="'actions.'+i" [inputs]="{content: action}"
        *ngFor="let action of content.actions;index as i"></app-dynamic-component>
    </div>
  </div>
</div>