@if (content(); as contentValue) {
  <div
    class="card-1v6"
    [class]="contentValue.classes"
  >
    <div class="card-inner">
      <h2
        class="title bold"
        [contentedit]="'title.label'"
        [class]="contentValue.title.classes"
        [innerHTML]="contentValue.title.label | safeHtml"
      ></h2>
      <div class="meta">
        <div
          [contentedit]="'prefix'"
          class="mat-headline-4 !mb-0"
          [innerHTML]="contentValue.prefix | safeHtml"
        ></div>
        <div
          [contentedit]="'number'"
          class="mat-headline-2 !mb-0"
          [innerHTML]="contentValue.number | safeHtml"
        ></div>
        <div
          [contentedit]="'suffix'"
          class="suffix mat-headline-4 !mb-0"
          [innerHTML]="contentValue.suffix | safeHtml"
        ></div>
      </div>
      <div [contentedit]="'body'" class="content" [innerHTML]="contentValue.body | safeHtml"></div>
      @if (contentValue.actions) {
        <div class="actions gap-3 flex justify-{{ contentValue.actionsAlign }} items-center">
          @for (action of contentValue.actions; track action; let i = $index) {
            <app-dynamic-component [attr.data-path]="'actions.' + i" [inputs]="action" />
          }
        </div>
      }
    </div>
  </div>
}
