@if (content(); as contentValue) {
  <div class="showcase-3-v4">
    @if (contentValue) {
      <app-title [attr.data-path]="'title'" [content]="contentValue.title" />
      <div class="showcase-inner">
        <div class="elements-col">
          @for (item of contentValue.elements; track item; let i = $index) {
            <app-box [attr.data-path]="'elements.' + i" [content]="item" />
          }
        </div>
        <div class="img-col">
          <app-img [attr.data-path]="'img'" class="m-left-sm" [content]="contentValue.img" />
        </div>
      </div>
    }
  </div>
}
