.result {
  border-radius: 10px;
  .result-footer {
    .item {
      .label {
        font-size: small;
      }
      .value {
        font-size: larger;
        font-weight: bold;
      }
    }
  }
}
.total {
  line-height: 1;
  span {
    font-size: 100px;
    vertical-align: text-top;
  }
}
