.result {
  border-radius: 10px;
  ::ng-deep {
    .chart {
      padding: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      box-shadow: none;
    }
  }
  .result-footer {
    .item {
      .label {
        font-size: small;
      }
      .value {
        font-size: larger;
        font-weight: bold;
      }
    }
  }
}
.total {
  line-height: 1;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    font-size: 100px;
    vertical-align: text-top;
  }
}
.description {
  font-size: small;
}
