.lottery {
  @apply relative;
  background-color: var(--mat-sys-primary-fixed);

  .inner {
    @apply grid grid-cols-12 justify-center items-center;
  }
  .formly-col {
    @apply col-span-12;
    @media (min-width: 768px) {
      @apply col-span-5;
    }
  }
  .result-col {
    @apply flex flex-col col-span-12;
    @media (min-width: 768px) {
      @apply col-span-7;
    }
  }
  .result {
    @apply grid grid-cols-12 justify-between items-center;
    border-radius: 10px;
    background-color: var(--mat-sys-on-primary);
    box-shadow: var(--mat-sys-level1);
    .left {
      @apply flex flex-col col-span-12 justify-center items-center;
      @media (min-width: 768px) {
        @apply col-span-6;
      }
    }
    .right {
      @apply col-span-12;
      @media (min-width: 768px) {
        @apply col-span-6;
      }
    }
    ::ng-deep {
      .chart {
        padding: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        box-shadow: none;
      }
    }
    .result-footer {
      @apply text-center flex flex-wrap gap-5;
      .item {
        @apply flex flex-col;
        .label {
          font-size: small;
        }
        .value {
          font-size: larger;
          font-weight: bold;
        }
      }
    }
  }
  .total {
    line-height: 1;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--mat-sys-primary);
    span {
      font-size: 100px;
      vertical-align: text-top;
    }
  }
  .result-footer {
    .label {
      color: var(--mat-sys-primary);
    }
  }
  .description {
    font-size: small;
  }
}
