<div class="lottery">
  @if (content.text) {
    <app-text [content]="content.text" />
  }
  <div class="inner">
    <app-formly
      class="m-y p-x-sm formly-col"
      [fields]="content.form"
      [form]="form"
      [model]="model"
      (modelChange)="onFormlyChange($event)"
    />
    <div class="result-col">
      <div class="result p-x-sm p-y">
        <div class="left">
          <h2>红包大约需要总预算</h2>
          <h1 class="total p-y-sm">
            ¥<span>{{ total }}</span>
          </h1>
          <div class="result-footer">
            @if (model?.max?.total_number) {
              <div class="item">
                <span class="label">大额红包预算</span>
                <span class="value">{{ model.max.total_money }}元</span>
              </div>
            }
            @if (model?.min?.total_number) {
              <div class="item">
                <span class="label">小额红包预算</span>
                <span class="value">{{ minTotalMoney }}元</span>
              </div>
            }
            @if (model.isPromote) {
              <div class="item">
                <span class="label">推广占用金额</span>
                <span class="value">{{ promoteMoney }}元</span>
              </div>
            }
          </div>
        </div>
        <div class="right">
          @if (chart) {
            <app-chart [content]="chart" [data]="content.data" />
          }
        </div>
      </div>
      @if (content.description) {
        <div
          class="description m-y-sm"
          [innerHTML]="content.description | safeHtml"
        ></div>
      }
    </div>
  </div>
</div>
