<div class="card-page-grid">
  @for (page of lists(); track page.nid) {
    <div
      class="page-card"
    >
      <div
        class="card-cover"
      >
        <img
          class="cover-img"
          src="{{ page.cover || params().defaultImg }}"
          alt=""
        />
        <div class="actions">
          <app-btn
            class="block"
            [matMenuTriggerFor]="menu"
            [content]="{
              label: 'BUILDER.PAGE_LIST.EDIT' | translate,
              mode: 'raised',
              color: 'primary',
            }"
          />
          <mat-menu #menu="matMenu" class="overlay-btn-icon">
            <button mat-menu-item (click)="loadPage(page)">
              <app-icon [content]="{ svg: 'pencil' }" />
              <span>{{ 'BUILDER.PAGE_LIST.LOAD_EDIT' | translate }}</span>
            </button>
            @if (langs(); as langsValue) {
              @for (item of langsValue; track item) {
                @if (!item.default && item.langCode !== page.langcode) {
                  <button mat-menu-item (click)="createLangVersion(page, item.langCode)">
                    <app-icon [content]="{ svg: 'translate' }" />
                    <span>{{ 'BUILDER.PAGE_LIST.EDIT_LANG' | translate: { label: item.label } }}</span>
                  </button>
                }
              }
            }
            <button mat-menu-item (click)="updatePage(page)">
              <app-icon [content]="{ svg: 'cog' }" />
              <span>{{ 'BUILDER.PAGE_LIST.PAGE_PROPS' | translate }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="text group">
        <span
          class="title"
          (blur)="onTitle($event, page)"
          contenteditable="false"
        >
          {{ page.title }}
        </span>
        <app-icon
          (click)="enableEditor($event)"
          class="edit-icon"
          [content]="{ svg: 'pencil-outline', inline: true }"
        />
      </div>
      <div class="meta">
        {{ page.author | shorten: 6 : '**' }}
        <div class="meta-row">
          <a
            class="page-url"
            href="{{ page.url }}?preview=true"
            target="_blank"
            >{{ page.url }}</a
          >
          <span class="page-date">{{
            page.changed | date: 'yyyy/MM/dd HH:mm'
          }}</span>
        </div>
      </div>
    </div>
  }
</div>
