.p-xs {
  padding: .25em;
}

.p-sm {
  padding: .5em;
}

.p-md {
  padding: 1em;
}

.p-lg {
  padding: 1.5em;
}

.p-xl {
  padding: 3em;
}

.p-x-xs {
  padding: .25em 0;
}

.p-x-sm {
  padding: .5em 0;
}

.p-x-md {
  padding: 1em 0;
}

.p-x-lg {
  padding: 1.5em 0;
}

.p-x-xl {
  padding: 3em 0;
}

.p-y-xs {
  padding: 0 .25em;
}

.p-y-sm {
  padding: 0 .5em;
}

.p-y-md {
  padding: 0 1em;
}

.p-y-lg {
  padding: 0 1.5em;
}

.p-y-xl {
  padding: 0 3em;
}

.p-top-xs {
  padding-top: .25em;
}

.p-top-sm {
  padding-top: .5em;
}

.p-top-md {
  padding-top: 1em;
}

.p-top-lg {
  padding-top: 1.5em;
}

.p-top-xl {
  padding-top: 3em;
}

.p-right-xs {
  padding-right: .25em;
}

.p-right-sm {
  padding-right: .5em;
}

.p-right-md {
  padding-right: 1em;
}

.p-right-lg {
  padding-right: 1.5em;
}

.p-right-xl {
  padding-right: 3em;
}

.p-bottom-xs {
  padding-bottom: .25em;
}

.p-bottom-sm {
  padding-bottom: .5em;
}

.p-bottom-md {
  padding-bottom: 1em;
}

.p-bottom-lg {
  padding-bottom: 1.5em;
}

.p-bottom-xl {
  padding-bottom: 3em;
}

.p-left-xs {
  padding-left: .25em;
}

.p-left-sm {
  padding-left: .5em;
}

.p-left-md {
  padding-left: 1em;
}

.p-left-lg {
  padding-left: 1.5em;
}

.p-left-xl {
  padding-left: 3em;
}

.m-xs {
  margin: .25em;
}

.m-sm {
  margin: .5em;
}

.m-md {
  margin: 1em;
}

.m-lg {
  margin: 1.5em;
}

.m-xl {
  margin: 3em;
}

.m-x-xs {
  margin: .25em 0;
}

.m-x-sm {
  margin: .5em 0;
}

.m-x-md {
  margin: 1em 0;
}

.m-x-lg {
  margin: 1.5em 0;
}

.m-x-xl {
  margin: 3em 0;
}

.m-y-xs {
  margin: 0 .25em;
}

.m-y-sm {
  margin: 0 .5em;
}

.m-y-md {
  margin: 0 1em;
}

.m-y-lg {
  margin: 0 1.5em;
}

.m-y-xl {
  margin: 0 3em;
}

.m-top-xs {
  margin-top: .25em;
}

.m-top-sm {
  margin-top: .5em;
}

.m-top-md {
  margin-top: 1em;
}

.m-top-lg {
  margin-top: 1.5em;
}

.m-top-xl {
  margin-top: 3em;
}

.m-right-xs {
  margin-right: .25em;
}

.m-right-sm {
  margin-right: .5em;
}

.m-right-md {
  margin-right: 1em;
}

.m-right-lg {
  margin-right: 1.5em;
}

.m-right-xl {
  margin-right: 3em;
}

.m-bottom-xs {
  margin-bottom: .25em;
}

.m-bottom-sm {
  margin-bottom: .5em;
}

.m-bottom-md {
  margin-bottom: 1em;
}

.m-bottom-lg {
  margin-bottom: 1.5em;
}

.m-bottom-xl {
  margin-bottom: 3em;
}

.m-left-xs {
  margin-left: .25em;
}

.m-left-sm {
  margin-left: .5em;
}

.m-left-md {
  margin-left: 1em;
}

.m-left-lg {
  margin-left: 1.5em;
}

.m-left-xl {
  margin-left: 3em;
}
