@import "../mixins/amixin";

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

pull-left {
  float: left;
}

pull-right {
  float: right;
}

.y-center {
  @include middle();
}

.xy-center {
  @include middle-center;
}

.vh-100 {
  height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.features-absolute {
  margin: -200px 0 0px;
}
