.p-xs {
  padding: $spacer * 0.25 !important;
}

.p-sm {
  padding: $spacer * 0.5 !important;
}

.p-md,
.p {
  padding: $spacer * 1 !important;
}

.p-lg {
  padding: $spacer * 1.5 !important;
}

.p-xl {
  padding: $spacer * 3 !important;
}

.p-x-xs {
  padding-left: $spacer * 0.25 !important;
  padding-right: $spacer * 0.25 !important;
}

.p-x-sm {
  padding-left: $spacer * 0.5 !important;
  padding-right: $spacer * 0.5 !important;
}

.p-x-md,
.p-x {
  padding-left: $spacer * 1 !important;
  padding-right: $spacer * 1 !important;
}

.p-x-lg {
  padding-left: $spacer * 1.5 !important;
  padding-right: $spacer * 1.5 !important;
}

.p-x-xl {
  padding-left: $spacer * 3 !important;
  padding-right: $spacer * 3 !important;
}

.p-y-xs {
  padding-top: $spacer * 0.25 !important;
  padding-bottom: $spacer * 0.25 !important;
}

.p-y-sm {
  padding-top: $spacer * 0.5 !important;
  padding-bottom: $spacer * 0.5 !important;
}

.p-y-md,
.p-y {
  padding-top: $spacer * 1 !important;
  padding-bottom: $spacer * 1 !important;
}

.p-y-lg {
  padding-top: $spacer * 1.5 !important;
  padding-bottom: $spacer * 1.5 !important;
}

.p-y-xl {
  padding-top: $spacer * 3 !important;
  padding-bottom: $spacer * 3 !important;
}

.p-top-xs {
  padding-top: $spacer * 0.25 !important;
}

.p-top-sm {
  padding-top: $spacer * 0.5 !important;
}

.p-top-md,
.p-top {
  padding-top: $spacer * 1 !important;
}

.p-top-lg {
  padding-top: $spacer * 1.5 !important;
}

.p-top-xl {
  padding-top: $spacer * 3 !important;
}

.p-right-xs {
  padding-right: $spacer * 0.25 !important;
}

.p-right-sm {
  padding-right: $spacer * 0.5 !important;
}

.p-right-md,
.p-right {
  padding-right: $spacer * 1 !important;

}

.p-right-lg {
  padding-right: $spacer * 1.5 !important;
}

.p-right-xl {
  padding-right: $spacer * 3 !important;
}

.p-bottom-xs {
  padding-bottom: $spacer * 0.25 !important;
}

.p-bottom-sm {
  padding-bottom: $spacer * 0.5 !important;
}

.p-bottom-md,
.p-bottom {
  padding-bottom: $spacer * 1 !important;
}

.p-bottom-lg {
  padding-bottom: $spacer * 1.5 !important;
}

.p-bottom-xl {
  padding-bottom: $spacer * 3 !important;
}

.p-left-xs {
  padding-left: $spacer * 0.25 !important;
}

.p-left-sm {
  padding-left: $spacer * 0.5 !important;
}

.p-left-md,
.p-left {
  padding-left: $spacer * 1 !important;
}

.p-left-lg {
  padding-left: $spacer * 1.5 !important;
}

.p-left-xl {
  padding-left: $spacer * 13;
}

.m-xs {
  margin: $spacer * 0.25 !important;
}

.m-sm {
  margin: $spacer * 5;
}

.m-md,
.m {
  margin: $spacer * 1 !important;
}

.m-lg {
  margin: $spacer * 1.5 !important;
}

.m-xl {
  margin: $spacer * 3 !important;
}

.m-x-xs {
  margin-left: $spacer * 0.25 !important;
  margin-right: $spacer * 0.25 !important;
}

.m-x-sm {
  margin-left: $spacer * 0.5 !important;
  margin-right: $spacer * 0.5 !important;
}

.m-x-md,
.m-x {
  margin-left: $spacer * 1 !important;
  margin-right: $spacer * 1 !important;
}

.m-x-lg {
  margin-left: $spacer * 1.5 !important;
  margin-right: $spacer * 1.5 !important;
}

.m-x-xl {
  margin-left: $spacer * 3 !important;
  margin-right: $spacer * 3 !important;
}

.m-y-xs {
  margin-top: $spacer * 0.25 !important;
  margin-bottom: $spacer * 0.25 !important;
}

.m-y-sm {
  margin-top: $spacer * 0.5 !important;
  margin-bottom: $spacer * 0.5 !important;
}

.m-y-md,
.m-y {
  margin-top: $spacer * 1 !important;
  margin-bottom: $spacer * 1 !important;
}

.m-y-lg {
  margin-top: $spacer * 1.5 !important;
  margin-bottom: $spacer * 1.5 !important;
}

.m-y-xl {
  margin-top: $spacer * 3 !important;
  margin-bottom: $spacer * 3 !important;
}

.m-top-xs {
  margin-top: $spacer * 0.25 !important;
}

.m-top-sm {
  margin-top: $spacer * 0.5 !important;
}

.m-top-md,
.m-top {
  margin-top: $spacer * 1 !important;
}

.m-top-lg {
  margin-top: $spacer * 1.5 !important;
}

.m-top-xl {
  margin-top: $spacer * 3 !important;
}

.m-right-xs {
  margin-right: $spacer * 0.25 !important;
}

.m-right-sm {
  margin-right: $spacer * 0.5 !important;
}

.m-right-md,
.m-right {
  margin-right: $spacer * 1 !important;
}

.m-right-lg {
  margin-right: $spacer * 1.5 !important;
}

.m-right-xl {
  margin-right: $spacer * 3 !important;
}

.m-bottom-xs {
  margin-bottom: $spacer * 0.25 !important;
}

.m-bottom-sm {
  margin-bottom: $spacer * 0.5 !important;
}

.m-bottom-md,
.m-bottom {
  margin-bottom: $spacer * 1 !important;
}

.m-bottom-lg {
  margin-bottom: $spacer * 1.5 !important;
}

.m-bottom-xl {
  margin-bottom: $spacer * 3 !important;
}

.m-left-xs {
  margin-left: $spacer * 0.25 !important;
}

.m-left-sm {
  margin-left: $spacer * 0.5 !important;
}

.m-left-md,
.m-left {
  margin-left: $spacer * 1 !important;
}

.m-left-lg {
  margin-left: $spacer * 1.5 !important;
}

.m-left-xl {
  margin-left: $spacer * 3 !important;
}

// TODO: margin padding
.m-bottom-0 {
  margin-bottom: 0 !important;
}
