<!-- range -->
@if (content()?.range) {
  @if (content(); as contentValue) {
    <mat-form-field class="field-full" [appearance]="contentValue.appearance || 'fill'" [formGroup]="form()">
      @if (contentValue.label) {
        <mat-label>{{ contentValue.label }}</mat-label>
      }
      <mat-date-range-input [rangePicker]="pickerRange">
        <input
          matStartDate
          formControlName="start"
          [placeholder]="contentValue.props?.placeholder?.start || '开始'"
        />
        <input
          matEndDate
          formControlName="end"
          [placeholder]="contentValue?.props?.placeholder?.end || '结束'"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerRange" />
      <mat-date-range-picker
        [dateClass]="contentValue?.classes"
        [opened]="contentValue?.opened"
        #pickerRange
      />
    </mat-form-field>
  }
}

<!-- key -->
@if (!content()?.range && content()?.key && !content().inline) {
  @if (content(); as contentValue) {
    <mat-form-field class="field-full" [appearance]="contentValue.appearance || 'fill'" [formGroup]="form()">
      @if (contentValue.label) {
        <mat-label>{{ contentValue.label }}</mat-label>
      }
      <input
        matInput
        formControlName="{{ contentValue.key }}"
        [matDatepicker]="datepicker"
        [placeholder]="contentValue?.placeholder || ''"
      />
      <mat-datepicker-toggle matSuffix [for]="datepicker" />
      <mat-datepicker [dateClass]="contentValue?.classes" #datepicker />
      @if (contentValue.hint) {
        <mat-hint>{{ contentValue.hint }}</mat-hint>
      }
      @if (!isValid) {
        <mat-error>{{ contentValue.errorMes }}</mat-error>
      }
    </mat-form-field>
  }
}

<!-- inline -->
@if (content()?.inline) {
  <mat-card appearance="outlined" class="inline-calendar-card">
    <mat-calendar (selectedChange)="onSelectedChange($event)" [(selected)]="content().value" />
  </mat-card>
}
