.builder-list {
  display: block;
  height: calc(100% - 55px);
  overflow-y: auto;
  .component-item {
    position: relative;
    &.cdk-drag:not(.cdk-drag-disabled) {
      cursor: move;
    }
    &.cdk-drag-disabled {
      ::ng-deep {
        .active-toolbar {
          &:after {
            opacity: 0;
            display: none;
          }
        }
      }
    }
  }
}
