<mat-drawer-container class="builder-list">
  <mat-drawer class="sidebar-drawer" #drawer mode="side" [(opened)]="opened">
    <div id="builder-list-sideabr" fxLayout="column" cdkDropList [cdkDropListConnectedTo]="['widgets','components']"
      (cdkDropListDropped)="drop($event)">
      <div class="component-item empty" *ngIf="!content.length">
        <div class="box">
          没有组件
        </div>
      </div>
      <div class="component-item" cdkDrag [cdkDragData]="item"
        *ngFor="let item of content;index as i; trackBy: trackByFn" (click)="onClickSidebar(i,item)">
        <div *ngIf="item" class="box" fxLayout="row" fxLayoutAlign="center center">
          <div class="p-x-xs">{{i}}</div>
          <div class="inner" fxLayout="column" fxLayoutAlign="center center">
            <div class="one-line bold">{{item.type||item.content.type}}</div>
            <div class="one-line">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content id="gsap-scroller" class="wrapper" [ngClass]="previewClass$|async">
    <div #builderList id="builder-list" class="preview-wrapper" cdkDropList
      [cdkDropListConnectedTo]="['widgets','components']" [cdkDropListData]="content"
      [cdkDropListDisabled]="builder.toolbarDisable$ | async" (cdkDropListDropped)="drop($event)">
      <app-builder-empty *ngIf="!content?.length"></app-builder-empty>
      <div id="{{item?.type||item?.content?.type}}-{{i}}" class="component-item" cdkDrag [cdkDragData]="item"
        *ngFor="let item of content;index as i; trackBy: trackByFn">
        <app-dynamic-component *ngIf="item" [inputs]="item" [index]="i" [isPreview]="isPreview"></app-dynamic-component>
        <app-card-1v1 style="width:800px" *cdkDragPreview [content]="{
            link:{
              href:'#',
              label: item.type
            },components:[item]
          }"></app-card-1v1>
      </div>
      <app-gotop></app-gotop>
    </div>
  </mat-drawer-content>
</mat-drawer-container>