<div id="builder-list" cdkDropList [cdkDropListData]="content" cdkDropListConnectedTo="['groups','widgets']"
  class="builder-list" (cdkDropListDropped)="drop($event)">
  <div class="component-item" cdkDrag [cdkDragData]="item" *ngFor="let item of content;index as i; trackBy: trackByFn">
    <app-dynamic-component [inputs]="item" [index]="i" [isPreview]="isPreview"></app-dynamic-component>
    <div class="placeholder" *cdkDragPlaceholder></div>
    <app-card-1v1 style="width:800px" *cdkDragPreview [content]="{
      link:{
        href:'#',
        label: item.type
      },components:[item]
    }"></app-card-1v1>
  </div>
</div>