.shape-inner {
  z-index: 1;
}
.shape {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.shape > svg {
  transform: scale(2);
  width: 100%;
  height: auto;
  transform-origin: top center;
}
.brand {
  ::ng-deep {
    .logo {
      height: 40px;
      width: auto;
    }
  }
}
.social {
  .item {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    margin-right: 10px;
    transition: all 0.4s ease;
    ::ng-deep {
      .mat-icon {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
}

.right {
  text-align: right;
  .item {
    padding: 0 8px;

    ::ng-deep a {
      font-size: 12px;
      &:after {
        content: "/";
        padding-left: 20px;
      }
    }
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
      ::ng-deep a:after {
        content: "";
        padding-left: 0px;
      }
    }
  }
}
