@if (branding$ | async; as branding) {
  @let mode = branding.footer?.params?.mode;
  @let fixBar = branding.footer?.fixBar;
  @let dynamicFooter = branding.footer?.dynamicFooter;
  <div class="footer">
    @if (dynamicFooter) {
      <app-dynamic-component [inputs]="dynamicFooter" />
    } @else {
      @if (mode === 'light') {
        <app-light [content]="branding.footer" />
      }
      @if (mode === 'inverse') {
        <app-inverse [content]="branding.footer" />
      }
    }
    @if (fixBar) {
      <app-fix-bar [content]="fixBar" />
    }
    <app-gotop />
  </div>
}
