@use '../../../../theme/variable/variable' as *;

.footer {
  position: relative;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  ::ng-deep {
    .shape-inverse {
      color: #282828;
    }

    .shape-inverse-light {
      color: var(--mat-sys-surface-container-high);
    }
  }
}
