@if (!(isBuilderMode$ | async)) {
  @if (branding$ | async; as branding) {
    <div class="footer">
      @if (branding.footer?.params?.mode === 'light') {
        <app-light
          [content]="branding.footer"
        ></app-light>
      }
      @if (branding.footer?.params?.mode === 'inverse') {
        <app-inverse
          [content]="branding.footer"
          >
        </app-inverse>
      }
      @if (branding.footer?.fixBar) {
        <app-fix-bar
          [content]="branding.footer?.fixBar"
        ></app-fix-bar>
      }
      <app-gotop></app-gotop>
    </div>
  }
}
