@mixin branding($colors, $suffix) {
  .text-#{$suffix} {
    color: map-get($colors, text) !important;
  }

  .border-#{$suffix} {
    border-color: map-get($colors, border) !important;
  }

  .bg-#{$suffix} {
    background-color: map-get($colors, bg) !important;
  }
}

@mixin base-colors($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);

  a {
    color: mat-color($primary);
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: mat-color($primary);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
  }

  img {
    box-sizing: border-box;
    vertical-align: middle;
  }
  .mat-drawer-container {
    color: mat-color($foreground, text, 0.75);
    background-color: mat-color($background, card);
  }
}

@mixin custom-overide() {
  .dark-theme {
    .bg-shadow {
      background-color: rgba(66, 66, 66, 0.85) !important;
    }
    .bg-light {
      background-color: rgba(66, 66, 66, 0.5) !important;
    }
  }
}
