@mixin branding($colors, $suffix) {

  .text-#{$suffix} {
    color: map-get($colors, text) !important;
  }

  .border-#{$suffix} {
    border-color: map-get($colors, border) !important;
  }

  .bg-#{$suffix} {
    background-color: map-get($colors, bg) !important;
  }

}

@mixin theme-colors($colors) {
  $base-colors: map-get($colors, base);

  a {
    color: map-get($base-colors, text)
  }

  @include branding(map-get($colors, base), 'base');
  @include branding(map-get($colors, primary), 'primary');
  @include branding(map-get($colors, accent), 'accent');
  @include branding(map-get($colors, warn), 'warn');
  @include branding(map-get($colors, success), 'success');
  @include branding(map-get($colors, shadow), 'shadow');
  @include branding(map-get($colors, light), 'light');
  @include branding(map-get($colors, dark), 'dark');
}
