@mixin branding($colors, $suffix) {

  .text-#{$suffix} {
    color: map-get($colors, text) !important;
  }

  .border-#{$suffix} {
    border-color: map-get($colors, border) !important;
  }

  .bg-#{$suffix} {
    background-color: map-get($colors, bg) !important;
  }

}

@mixin base-colors($config-or-theme, $base) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);

  $text-base: map-get($base, 500);

  a {
    color: mat-color($primary);
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: mat-color($background, hover)
    }

    &:hover {
      cursor: pointer;
    }
  }

  img {
    box-sizing: border-box;
    vertical-align: middle;
  }

  .mat-drawer-container {
    color: $text-base;
  }

}

// @include branding(map-get($colors, base), 'base');
// @include branding(map-get($colors, primary), 'primary');
// @include branding(map-get($colors, accent), 'accent');
// @include branding(map-get($colors, warn), 'warn');
// @include branding(map-get($colors, success), 'success');
// @include branding(map-get($colors, shadow), 'shadow');
// @include branding(map-get($colors, light), 'light');
// @include branding(map-get($colors, dark), 'dark');
