<app-search-header [content]="content.header" [filterForm]="filterForm" [form]="form" />
<div class="container">
  <div class="search-body">
    @if (filterForm && content.showSidebar) {
      <app-search-sidebar
        class="sidebar"
        [label]="content.label"
        [fields]="content.sidebar"
        [form]="form"
        (modelChange)="onSearch($event)"
      />
    }
    <app-search-list
      class="list-col col-span-12 sm:col-span-{{ content.showSidebar ? '9' : '12' }}"
      [content]="nodes"
      [label]="content.label"
      [wrapperClasses]="content.wrapperClasses"
      [colClasses]="content.colClasses"
      [loading]="loading"
      [pager]="pager"
      (pageChange)="onPageChange($event)"
      [template]="content.template"
    />
  </div>
</div>
