<app-search-header [content]="content.header" [filterForm]="filterForm" [form]="form" />
<div class="container">
  <div class="search-body grid grid-cols-12">
    @if (filterForm) {
      <app-search-sidebar
        class="block col-span-12 sm:col-span-3"
        [label]="content.label"
        [fields]="content.sidebar"
        [form]="form"
        (modelChange)="onSearch($event)"
      />
    }
    <app-search-list
      class="block col-span-12 sm:col-span-{{ content.sidebar ? '9' : '12' }}"
      [content]="nodes"
      [wrapperClasses]="content.wrapperClasses"
      [colClasses]="content.colClasses"
      [loading]="loading"
      [pager]="pager"
      (pageChange)="onPageChange($event)"
      [template]="content.template"
    />
  </div>
</div>
