<app-search-header
  [content]="content.header"
  [filterForm]="filterForm"
  [form]="form"
  >
</app-search-header>
<div class="container">
  <div class="search-body flex flex-wrap">
    @if (filterForm) {
      <app-search-sidebar
        class="block flex-12/12 md:flex-3/12"
        [label]="content.label"
        [content]="content.sidebar"
        [form]="form"
        (modelChange)="onSearch($event)"
        >
      </app-search-sidebar>
    }
    <app-search-list
      class="block flex-12/12 md:flex-{{ content.sidebar ? '9' : '12' }}/12"
      [content]="nodes"
      [loading]="loading"
      [pager]="pager"
      (pageChange)="onPageChange($event)"
      >
    </app-search-list>
  </div>
</div>
