@let entry = filesEntry();
@let filesLists = files();
<div class="upload-media">
  <ngx-file-drop
    dropZoneLabel="Drop files here"
    (onFileDrop)="dropped($event)"
    [multiple]="true"
    accept=".png,.jpg,.jpeg,.svg,.gif"
  >
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      @if (filesLists.length) {
        <div class="upload-grid">
          @for (item of entry; track item) {
            @if (filesLists[$index]) {
              <div class="thumb-col">
                <img
                  class="upload-thumb"
                  [src]="filesLists[$index].uri.url"
                  alt=""
                />
              </div>
            }
          }
        </div>
      } @else {
        <div class="empty-state">
          <app-icon class="opacity-80 upload-icon" [content]="{ svg: 'cloud-arrow-up-outline' }" />
          <span class="upload-label">选择媒体批量上传</span>
          <app-btn
            (click)="openFileSelector()"
            [content]="{
              label: '选择图片',
              mode: 'raised',
              color: 'primary',
              icon: { svg: 'selection-search' },
            }"
          />
        </div>
      }
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <div class="table-inner">
      @for (item of entry; track item) {
        <mat-divider class="table-divider" />
        <div class="table-row">
          <div class="row-left">
            @if (filesLists[$index]) {
              <app-icon [content]="{ svg: 'check', color: 'primary' }" />
            } @else {
              <app-spinner [content]="{ color: 'primary', size: 24 }" />
            }
            <div class="file-name">{{ item.relativePath }}</div>
            @if (filesLists[$index]) {
              <div>
                {{ filesLists[$index].filesize | bytes: 2 }}
              </div>
            }
          </div>

          @if (filesLists[$index]) {
            <app-icon
              (click)="onCopy(filesLists[$index].uri.url)"
              class="copy-btn"
              [content]="{ svg: 'content-copy' }"
            />
          }
        </div>
      }
    </div>
  </div>
</div>
