@if (content) {
  <div class="showcase-1-v4 relative" [ngClass]="content.classes">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
    @if (content.bg) {
      <app-bg-img [content]="content.bg"></app-bg-img>
    }
    <div class="{{ content.fullWidth ? '' : 'container' }}">
      @if (content.text) {
        <app-text
          [attr.data-path]="'text'"
          [content]="content.text"
        ></app-text>
      }
      <div
        class="
          grid
          grid-cols-12
          justify-center
          items-center
        "
        >
        @for (item of content.elements; track item; let i = $index) {
          <app-dynamic-component
            [attr.data-path]="'elements.' + i"
            class="box p-3 col-span-12 sm:col-span-6 md:col-span-{{content.row}}"
            [inputs]="item"
          ></app-dynamic-component>
        }
      </div>
      @if (content.actions) {
        <div
          class="actions m-top pb-[10px] flex justify-center"
          >
          @for (action of content.actions; track action; let i = $index) {
            <app-dynamic-component
              [attr.data-path]="'actions.' + i"
              [inputs]="action"
            ></app-dynamic-component>
          }
        </div>
      }
    </div>
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  </div>
}
