.component-item {
  margin: 5px;
  width: calc(100% - 10px);
  &.cdk-drag:not(.cdk-drag-disabled) {
    cursor: ns-resize !important;
  }
}
.box {
  border-radius: 8px;
  padding: 4px 10px;
  .inner {
    position: relative;
    overflow: hidden;
    height: 70px;
    width: 86%;
    font-size: small;
    border-radius: 6px;
    padding: 10px;
  }
}
