:host ::ng-deep {
  .mat-mdc-progress-bar {
    height: 4px;
    border-radius: 6px;
    margin-bottom: 0 !important;

    .mat-progress-bar-fill {
      &:after {
        border-radius: 6px;
      }
    }
    .mat-progress-bar-buffer {
      border-radius: 6px;
    }
  }
}
