<mat-menu class="sub-menu" #childMenu="matMenu" [overlapTrigger]="false">
  <div *ngFor="let item of content.child">
    <div *ngIf="item.child && item.child.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
        <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
        <app-link [content]="item"></app-link>
      </button>
      <app-sub-menu #menu [content]="item"></app-sub-menu>
    </div>
    <div *ngIf="!item.child || item.child.length === 0">
      <button mat-menu-item>
        <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
        <app-link [content]="item"></app-link>
      </button>
    </div>
  </div>
</mat-menu>
