<div class="builder-content-toolbar">
  <div class="wrapper" fxLayoutAlign="space-between center">
    <div class="left" fxFlex="33%">
      <!-- <app-icon *ngIf="!opened" [matTooltip]="'收起边栏'" matTooltipPosition="above" class="open-drawer"
        (click)="drawer.open()" [content]="{svg:'format-horizontal-align-right'}"></app-icon> -->
      <app-btn *ngIf="!opened" [matTooltip]="'收起边栏'" matTooltipPosition="above" (click)="drawer.open()"
        [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'format-horizontal-align-right' } }"></app-btn>
    </div>
    <div class="middle" fxFlex="33%" fxLayoutAlign="center center">
      <div class="title bold">{{page.title}}</div>
    </div>
    <div class="right" fxFlex="33%" fxLayoutAlign="end center" fxLayoutGap="2rem">
      <!-- <app-btn [matTooltip]="'加载动画效果'" matTooltipPosition="above" (click)="loadAnimate()"
        [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'autorenew' } }"></app-btn> -->
      <app-builder-menu [showPreview]="false"></app-builder-menu>
    </div>
  </div>
</div>
<mat-divider></mat-divider>