.builder-content-toolbar {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  .wrapper {
    height: 55px;
  }
  .open-drawer {
    display: inline-block;
    line-height: 1;
    z-index: 99999;
    cursor: pointer;
  }

  .middle {
    .title {
      font-size: 14px;
    }
    .time {
      font-size: small;
    }
  }
}
