<app-link class="top" [content]="content"></app-link>
<div class="mega-menu" [class.active]="active">
  <div class="container inner">
    <div class="item" fxFlex="0 1 100" *ngFor="let item of content.child">
      <div class="label m-bottom-xs">
        <app-link [content]="item"></app-link>
      </div>
      <div class="sub-menu" *ngFor="let subMenu of item.child; last as isLast">
        <app-link [content]="subMenu"></app-link>
        <mat-divider *ngIf="!isLast" class="m-y-xs"></mat-divider>
      </div>
    </div>
  </div>
</div>
