.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: -1;
  max-height: 85vh;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  &.active {
    display: block;
  }
  .inner {
    padding: 2rem 4rem;
  }
}
.label {
  font-weight: bold;
}

.item {
  padding-right: 30px;
  ::ng-deep {
    a {
      font-size: 15px;
    }
  }
  &:last-child {
    padding-right: 0;
  }
}
