.calendar {
  ::ng-deep {
    .fc {
      .fc-h-event {
        padding: 0 6px;
      }
      .fc-daygrid-event {
        padding: 2px;
      }
      .fc-daygrid-event-dot {
        display: none;
      }
      .fc-daygrid-event {
        white-space: normal;
      }
      .fc-event-title {
        font-weight: normal;
      }
      .fc-event-time {
        white-space: nowrap;
      }
    }
  }
  .loading-inner {
    position: absolute;
    top: 0;
    left: 0;
  }
}
