#go-to-top {
  z-index: 99999;
  width: 43px;
  height: 43px;
  padding: 8px 4px;
  bottom: -10rem;
  right: 2rem;
  border-radius: 3px;
  transition: all 0.4s ease-in;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  @apply text-center fixed cursor-pointer overflow-hidden box-border;
  &:hover {
    background-color: var(--mat-sys-inverse-primary);
    transition: all 0.2s ease-in;
  }
}
