<div class="search-action m-y-sm" *ngIf="content">
  <form [formGroup]="form" class="relative" (ngSubmit)="onSubmit()">
    <div class="form-group flex flex-col justify-center md:justify-start md:items-center md:gap-5 md:flex-row"
      *ngIf="content.form">
      <app-dynamic-form-control class="control" *ngFor="let item of content.form" [control]="item" [form]="form">
      </app-dynamic-form-control>
    </div>
    <button mat-raised-button type="submit" color="{{content.button?.color}}">{{content.button?.label}}</button>
  </form>
</div>