<div class="dynamic-media-list m-y" [ngClass]="content.params.type">
  <div class="container">
    <div class="m-top-sm flex flex-col md:flex-row">
      <div class="list flex-12/12 md:flex-9/12">
        <app-list
          class="block md:mr-5"
          [attr.data-path]="'list'"
          [content]="list"
          [links]="links"
          [loading]="loading"
          (pageChange)="loadContent($event)" />
      </div>
      @if (content.sidebar) {
        <app-sidebar
          class="flex-12/12 md:flex-3/12"
          [attr.data-path]="'sidebar'"
          [content]="content.sidebar" />
      }
    </div>
  </div>
</div>
