.builder-template {
  min-height: 50vh;
  position: relative;
  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.card {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  border: 1px solid var(--mat-sys-surface-container-high);
  background-color: var(--mat-sys-surface);
  transition: all 0.1s ease-in;
  box-shadow: var(--mat-sys-level0);
  &:hover {
    border-color: var(--mat-sys-primary);
  }
  .card-header {
    margin-bottom: 10px;
    .title {
      font-weight: bold;
    }

    .sub-title {
      opacity: 0.75;
      font-size: 15px;
    }
  }

  .action {
    position: absolute;
    display: none;
    right: 0px;
    top: 0px;
  }

  &:hover {
    .action {
      display: block;
    }
  }
}
