<div class="builder-template">
  <div class="guide">
    <app-icon
      matTooltip="设置页面分类为模板即可加入到这里"
      [content]="{ svg: 'help-circle-outline' }"
    ></app-icon>
  </div>
  @if (loading) {
    <div class="spinner">
      <app-loading />
    </div>
  }
  @if (content$ | async; as content) {
    @for (item of content; track item) {
      <div class="item">
        <div class="card" (click)="onNewPage(item)" matRipple>
          <div class="card-header">
            <div class="title">{{ item.title }}</div>
            <div class="sub-title">{{ item.description }}</div>
          </div>
          <app-img
            class="template-img"
            [content]="{
              src: item.img,
              height: 160,
              width: 316,
              classes: 'object-cover',
            }"
          />
          <div class="action">
            <app-btn
              [content]="{
                label: '',
                mode: 'icon',
                color: 'primary',
                icon: { svg: 'plus' },
              }"
            />
          </div>
        </div>
      </div>
    }
  }
</div>
