.card {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  .card-header {
    margin-bottom: 10px;
    .title {
      font-weight: bold;
    }

    .sub-title {
      opacity: 0.75;
      font-size: 15px;
    }
  }

  .action {
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
  }

  &:hover {
    .action {
      display: block;
    }
  }
}
