.builder-template {
  min-height: 50vh;
  position: relative;
  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .item {
    flex: 0 0 calc(100% / 3 - 20px);
  }
}
.card {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  .card-header {
    margin-bottom: 10px;
    .title {
      font-weight: bold;
    }

    .sub-title {
      opacity: 0.75;
      font-size: 15px;
    }
  }

  .action {
    position: absolute;
    display: none;
    right: 20px;
    top: 20px;
  }

  &:hover {
    .action {
      display: block;
    }
  }
}
