@import "../../../../theme/variable/breakpoint";
@mixin activeStyle() {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
}

.manage-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  .manage-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: all 0.2s ease-in;
        object-fit: contain;
      }
    }
  }

  .manage-menu {
    flex: 1 1 auto;
    overflow: auto;
    .icon-list {
      .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          @include activeStyle();
        }
        &:hover {
          cursor: pointer;
          app-hover-menu {
            display: block;
          }
        }
        app-icon {
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        app-hover-menu {
          position: absolute;
          display: none;
          left: 100%;
          top: 0;
          min-width: 180px;
          ::ng-deep {
            .top {
              width: 100%;
              display: block;
              text-align: left;
              overflow: hidden;
              line-height: 56px;
              height: 56px;
              border-radius: 0;
              font-weight: 400;
              font-size: 16px;
              padding: 0 16px;
              box-sizing: border-box;
              &.not-link {
                cursor: default;
                a {
                  cursor: default;
                  font-weight: bold;
                }
              }
            }
            .hover-menu {
              position: relative;
              box-shadow: none;
              display: block;
              max-height: 450px;
              overflow-y: auto;
              overflow-x: hidden;
              .sub-menu {
                .mat-button {
                  height: 56px;
                  line-height: 56px;
                }
              }
            }
          }
        }
      }
    }
    ::ng-deep > app-dropdown-menu > .mat-accordion {
      > .mat-list {
        &.active {
          position: relative;
          &::before {
            @include activeStyle();
          }
        }
        &.no-child {
          > .mat-list-item {
            overflow: hidden;
            .mat-list-item-content {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .manage-footer {
    flex: none;
    min-height: 10%;
    .toggle {
      display: flex;
      justify-content: center;
      .wrapper {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        app-icon {
          display: inherit;
        }
      }
    }
  }
  &.expanded {
    .manage-brand {
      .profile {
        .picture {
          display: inline-block;
          border-radius: 50%;
          img {
            width: 40px;
            height: 40px;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
  ::ng-deep {
    mat-panel-title {
      font-size: 17px;
      align-items: center;
    }
    .mat-accordion {
      .mat-expansion-panel {
        .mat-expansion-panel-header {
          height: 56px;
        }
        &.active {
          .mat-expansion-panel-header {
            &::before {
              @include activeStyle();
            }
          }
        }
      }
    }
    .mat-expansion-panel-header {
      border-bottom: 0;
    }
    .icon {
      height: 24px;
    }

    .mat-list {
      border-bottom: none !important;
      padding-top: 0;
      .mat-list-item {
        height: 56px;
      }
      .mat-list-item-content {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 17px;
      }
    }
  }
}

::ng-deep .mat-drawer.sidebar {
  position: fixed;
  overflow: auto;
  box-shadow: 1px 1px 6px 0px rgb(221 221 221 / 47%);
  width: 80px;
  visibility: visible !important;
  transform: none !important;
  &.mat-drawer-opened {
    width: 200px;
  }
  @media #{$gt-lg} {
    &.mat-drawer-opened {
      width: 260px;
    }
  }
}
