<div class="h-full" *ngIf="branding$ | async as branding" [ngClass]="branding.header?.sidebar?.classes">
  <div class="manage-sidebar {{drawer.opened?'opened':'expanded'}}" *reqRolesIf="branding.header?.sidebar">
    <div class="manage-brand p-y-sm p-x-sm" *ngIf="branding.header?.sidebar as sidebar">
      <app-logo *ngIf="!sidebar?.params.showUser; else profile" [content]="sidebar.logo"></app-logo>
      <ng-template #profile>
        <div class="profile">
          <a class="picture" [routerLink]="userService.userPage">
            <img [src]="user.picture || coreConfig.defaultAvatar" alt="">
          </a>
          <ng-container *ngIf="drawer.opened">
            <div class="name bold pt-[10px]">
              <a class="one-line" [routerLink]="userService.userPage">{{user.display_name}}</a>
            </div>
            <div class="email one-line" *ngIf="user.mail">
              {{user.mail}}
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
    <div class="manage-menu" *ngIf="branding.header?.sidebar?.menu as menu"
      [ngStyle]="{'overflow': drawer.opened?'auto' : 'visible'}">
      <app-accordion [hidden]="!drawer.opened" [content]="menu"></app-accordion>
      <div class="icon-list" [hidden]="drawer.opened">
        <div class="item" *ngFor="let item of menu" checkChildMenuActive>
          <ng-container *reqRolesIf="item">
            <app-icon class="icon" *ngIf="item.icon" [content]="item.icon"></app-icon>
            <app-hover-menu [content]="item"></app-hover-menu>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="manage-footer p-y-sm p-x-sm">
      <div class="toggle">
        <div class="wrapper" (click)="onToggle()">
          <app-icon *ngIf="drawer.opened" [content]="{svg:'chevron-left'}">
            <div class="text">收起</div>
          </app-icon>
          <app-icon matTooltip="展开" *ngIf="!drawer.opened" [content]="{svg:'chevron-right'}"></app-icon>
        </div>
      </div>
    </div>
  </div>
</div>