@import "../../../../theme/variable/breakpoint";

@mixin activeStyle() {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 2px;
}

.manage-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .manage-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all 0.2s ease-in;
        object-fit: contain;
      }
    }
  }

  .manage-menu {
    flex: 0 1 100%;
    overflow: auto;
    .icon-list {
      .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          @include activeStyle();
        }
        &:hover {
          cursor: pointer;
          app-hover-menu {
            display: block;
          }
        }
        app-icon {
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        app-hover-menu {
          position: fixed;
          cursor: default;
          display: none;
          margin-left: 78px;
          left: 0;
          top: 0;
          height: 100%;
          width: 256px;
          padding-top: 20px;
          ::ng-deep {
            .top {
              width: 100%;
              display: block;
              text-align: left;
              overflow: hidden;
              line-height: 56px;
              height: 56px;
              border-radius: 0;
              font-weight: 500;
              font-size: 24px;
              padding: 0 16px 0 30px;
              box-sizing: border-box;
              &.not-link {
                cursor: default;
                a {
                  cursor: default;
                  font-weight: bold;
                }
              }
            }
            .hover-menu {
              position: relative;
              box-shadow: none;
              display: block;
              max-height: 450px;
              overflow-y: auto;
              left: 0;
              top: 0;
              .sub-menu {
                .mat-button {
                  padding-left: 30px;
                  margin: 4px 0;

                  .mat-button-wrapper {
                    position: relative;
                    z-index: 2;
                  }
                  .mat-button-focus-overlay {
                    display: none;
                  }
                  &:hover {
                    &::before {
                      content: "";
                      position: absolute;
                      height: 100%;
                      width: calc(100% - 20px);
                      left: 50%;
                      transform: translateX(-50%);
                      top: 0;
                      z-index: 0;
                      border-radius: 10px;
                    }
                  }
                }
                .child {
                  position: fixed;
                  margin-left: 256px;
                  width: 256px;
                  left: auto;
                  height: 100%;
                  border-radius: 0;
                }
                .has-child {
                  &:after {
                    right: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
    ::ng-deep > app-accordion > .mat-accordion {
      > .mat-list {
        &.active {
          position: relative;
          &::before {
            @include activeStyle();
          }
        }
        &.no-child {
          > .mat-list-item {
            overflow: hidden;
            .mat-list-item-content {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .manage-footer {
    flex: none;
    .toggle {
      display: flex;
      .wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        ::ng-deep {
          .custom-icon {
            align-items: center;
          }
          .mat-icon {
            border-radius: 50%;
            width: 30px !important;
            height: 30px !important;
            display: inherit;
          }
          .text {
            margin-left: 10px;
            font-size: small;
          }
        }
      }
    }
  }
  &.expanded {
    .manage-brand {
      .profile {
        .picture {
          display: inline-block;
          border-radius: 50%;
          img {
            width: 40px;
            height: 40px;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
  ::ng-deep {
    mat-panel-title {
      font-size: 17px;
      align-items: center;
    }
    .mat-accordion {
      .mat-expansion-panel {
        .mat-expansion-panel-header {
          height: 56px;
        }
        &.active {
          .mat-expansion-panel-header {
            &::before {
              @include activeStyle();
            }
          }
        }
      }
    }
    .mat-expansion-panel-header {
      border-bottom: 0;
    }
    .icon {
      height: 24px;
    }

    .mat-list {
      border-bottom: none !important;
      padding-top: 0;
      .mat-list-item {
        height: 56px;
      }
      .mat-list-item-content {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: 17px;
      }
    }
  }
}

::ng-deep .mat-drawer.sidebar {
  position: fixed;
  overflow: auto;
  box-shadow: 1px 1px 6px 0px rgb(221 221 221 / 47%);
  width: 80px;
  visibility: visible !important;
  transform: none !important;

  &.mat-drawer-opened {
    width: 200px;
  }
  @media #{$gt-lg} {
    &.mat-drawer-opened {
      width: 260px;
    }
  }
}
