:host {
  display: none !important;
  width: 100%;
  .title {
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 4px;
  }

  .actions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
    .item {
      cursor: pointer;
      border-radius: 6px;
      white-space: nowrap;
      ::ng-deep {
        &.mat-mdc-button-base {
          --mdc-icon-button-state-layer-size: 30px;
          padding: 0;
        }
        .custom {
          svg {
            width: 16px !important;
            height: 16px !important;
            line-height: 16px !important;
          }
        }
      }
    }
  }
}
