<div class="wrapper flex justify-between items-center" (click)="hiddenPicker()">
  <div class="actions flex">
    @if (index > 0) {
      <div
        class="item"
        (click)="onUpdown(index, 'up', $event)"
        [matTooltip]="'上移'"
        matTooltipPosition="above"
      >
        <app-btn
          [content]="{
            label: '',
            color: 'primary',
            mode: 'icon',
            icon: { svg: 'arrow-collapse-up', inline: true },
          }"
        />
      </div>
    }
    <div
      class="item"
      (click)="onUpdown(index, 'down', $event)"
      [matTooltip]="'下移'"
      matTooltipPosition="above"
    >
      <app-btn
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'arrow-collapse-down', inline: true },
        }"
      />
    </div>
    <div class="item" matTooltip="复制JSON" matTooltipPosition="above" (click)="onCopy()">
      <app-btn
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'content-copy', inline: true },
        }"
      />
    </div>
    @if (bcData) {
      <div
        class="item"
        matTooltip="粘贴复制的组件到下面"
        matTooltipPosition="above"
        (click)="onPaste($event, bcData)"
      >
        <app-btn
          [content]="{
            label: '',
            color: 'primary',
            mode: 'icon',
            icon: { svg: 'content-paste', inline: true },
          }"
        />
      </div>
    }
    <div
      class="item"
      (click)="onDelete(index, $event)"
      [matTooltip]="'移除'"
      matTooltipPosition="above"
    >
      <app-btn
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'delete', inline: true },
        }"
      />
    </div>
    <div
      class="item"
      (click)="onSetting(content, $event)"
      [matTooltip]="'编辑组件通用配置'"
      matTooltipPosition="above"
    >
      <app-btn
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'tune-vertical', inline: true },
        }"
      />
    </div>
  </div>
</div>
