:host {
  display: none !important;
  width: 100%;
  .title {
    padding: 10px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 4px;
  }

  .actions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px;
    background-color: #272727;
    box-shadow: var(--mat-sys-level0);

    .item {
      cursor: pointer;
      border-radius: 6px;
      white-space: nowrap;
      ::ng-deep {
        .mat-icon {
          color: rgba(255, 255, 255, 0.8);
        }
        .mat-mdc-button-base {
          color: var(--mat-sys-on-primary);
        }

        &.mat-mdc-button-base {
          --mat-icon-button-state-layer-size: 30px;
          padding: 0;
        }
        .custom {
          svg {
            width: 16px !important;
            height: 16px !important;
            line-height: 16px !important;
          }
        }
      }
    }

    ::ng-deep {
      .mat-divider {
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        border-right-color: var(--mat-sys-surface-dim);
      }
    }
  }
}
