:host ::ng-deep {
  .mat-button-toggle {
    .mat-button-toggle-label-content {
      line-height: 32px;
    }
  }
}
.toggle-group {
  @apply mb-5;
}
.chart {
  @apply rounded-md p-5 box-border;
  min-width: 400px;
  min-height: 400px;
  border: 1px solid var(--mat-sys-surface-dim);
  box-shadow: var(--mat-sys-level1);
}
