:host ::ng-deep {
  .mat-button-toggle {
    .mat-button-toggle-label-content {
      line-height: 32px;
    }
  }
}
.chart {
  border: 1px solid var(--mat-sys-surface-dim);
  box-shadow: var(--mat-sys-level1);
}
