@if (content(); as contentValue) {
  <div [class]="contentValue.iconPosition" *reqRolesIf="contentValue">
    @switch (contentValue.mode) {
      @case ('raised') {
        @if (!contentValue.href) {
          <button
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-raised-button
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </button>
        } @else {
          <a
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-raised-button
            (click)="onNav($event, contentValue)"
            [href]="contentValue.href"
            [target]="contentValue.target || ''"
            [color]="contentValue.color"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </a>
        }
      }
      @case ('stroked') {
        @if (!contentValue.href) {
          <button
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-stroked-button
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </button>
        } @else {
          <a
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-stroked-button
            (click)="onNav($event, contentValue)"
            [href]="contentValue.href"
            [target]="contentValue.target || ''"
            [color]="contentValue.color"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </a>
        }
      }
      @case ('flat') {
        @if (!contentValue.href) {
          <button
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-flat-button
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </button>
        } @else {
          <a
            [class]="contentValue.classes || ''"
            [class.pill]="contentValue.pill"
            [disabled]="contentValue.disabled"
            mat-flat-button
            (click)="onNav($event, contentValue)"
            [href]="contentValue.href"
            [target]="contentValue.target || ''"
            [color]="contentValue.color"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </a>
        }
      }
      @case ('icon') {
        @if (!contentValue.href) {
          <button
            [class]="contentValue.classes || ''"
            [attr.aria-label]="contentValue.ariaLabel"
            [disabled]="contentValue.disabled"
            mat-icon-button
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            @if (contentValue.icon) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
          </button>
        } @else {
          <a
            [class]="contentValue.classes || ''"
            [attr.aria-label]="contentValue.ariaLabel"
            [disabled]="contentValue.disabled"
            mat-icon-button
            (click)="onNav($event, contentValue)"
            [href]="contentValue.href"
            [target]="contentValue.target || ''"
            [color]="contentValue.color"
          >
            @if (contentValue.icon) {
              <app-icon [content]="contentValue.icon" />
            }
          </a>
        }
      }
      @case ('fab') {
        @if (contentValue.icon && contentValue.icon.svg) {
          <button
            [class]="contentValue.classes || ''"
            [attr.aria-label]="contentValue.ariaLabel"
            [disabled]="contentValue.disabled"
            mat-fab
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            <app-icon [content]="contentValue.icon" />
          </button>
        }
      }
      @case ('mini-fab') {
        @if (contentValue.icon && contentValue.icon.svg) {
          <button
            [class]="contentValue.classes || ''"
            [attr.aria-label]="contentValue.ariaLabel"
            [disabled]="contentValue.disabled"
            mat-mini-fab
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            <app-icon [content]="contentValue.icon" />
          </button>
        }
      }
      @default {
        @if (!contentValue.href) {
          <button
            [class]="contentValue.classes || ''"
            [disabled]="contentValue.disabled"
            mat-button
            [color]="contentValue.color"
            (click)="onClick($event)"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </button>
        } @else {
          <a
            [class]="contentValue.classes || ''"
            [disabled]="contentValue.disabled"
            mat-button
            (click)="onNav($event, contentValue)"
            [href]="contentValue.href"
            [target]="contentValue.target || ''"
            [color]="contentValue.color"
          >
            @if (contentValue.icon && contentValue.icon.svg) {
              <app-icon
                [class.order-1]="contentValue.iconPosition === 'right'"
                [content]="contentValue.icon"
              />
            }
            <span contentedit="label" [innerHTML]="contentValue.label | safeHtml"></span>
          </a>
        }
      }
    }
  </div>
}
