:host ::ng-deep {
  .mat-icon.mat-icon-inline {
    width: 24px;
  }
  .mat-button-wrapper {
    // fix web builder editor
    p {
      margin: 0;
    }
  }
}

::ng-deep {
  .mat-menu-content {
    .mat-menu-item {
      a.mat-button {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        line-height: 48px;
        height: 48px;
        padding-left: 0;
        padding-right: 0;
        .mat-button-ripple {
          display: none;
        }
        &:hover {
          .mat-button-focus-overlay {
            opacity: 0;
          }
        }
      }
    }
  }
}

.pill {
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
