@import "../../../../theme/mixins/amixin";
:host {
  display: block;
  width: 100%;
}

.base-text {
  overflow: hidden;
}

.inner {
  position: relative;
  z-index: 2;
  &.text-center {
    .text-body {
      margin: 0 auto;
    }
  }
  .text-body {
    ::ng-deep {
      .text-center {
        margin: 0 auto;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.actions {
  > *:not(:only-child) {
    margin-right: 2rem;
  }
}

.lists {
  ::ng-deep {
    a {
      @include line-clamp(1);
    }
  }
}
