:host {
  display: block;
  width: 100%;
}

.base-text {
  @apply relative overflow-hidden break-words;
}

.inner {
  z-index: 2;
  &.text-center {
    .text-body {
      margin: 0 auto;
    }
  }
  .text-body {
    ::ng-deep {
      .text-center {
        margin: 0 auto;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .actions {
    @apply mt-10 pb-3 gap-3 flex flex-wrap items-center;
  }
}
