:host {
  display: block;
  width: 100%;
}

.inner {
  z-index: 2;
  &.text-center {
    .text-body {
      margin: 0 auto;
    }
  }
  .text-body {
    ::ng-deep {
      .text-center {
        margin: 0 auto;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
