<div [id]="content.id || ''" class="base-text position-relative" *ngIf="content">
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg">
    <app-img *ngIf="content.bg?.img" [content]="content.bg.img"></app-img>
  </app-bg>
  <div class="container">
    <div class="inner" [ngClass.gt-xs]="content.classes" [ngStyle.gt-xs]="content.style">
      <app-title [content]="content.title" *ngIf="content.title"></app-title>
      <div [innerHTML]="content.body | safeHtml" *ngIf="content.body"></div>
      <div class="m-top" *ngIf="content.action">
        <a mat-raised-button color="primary" href="{{content.action.href}}"
          target="{{content.action.target}}">{{content.action.label}}</a>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
