@if (content(); as textContent) {
  <div [id]="textContent.id || ''" class="base-text">
    <div #inner class="inner relative" [class]="textContent.classes" [style]="textContent.style">
      @if (textContent.title) {
        <app-title [attr.data-path]="'title'" #title [content]="textContent.title" />
      }
      @if (textContent.body) {
        <div #body class="text-body" contentedit="body" [innerHTML]="textContent.body | safeHtml"></div>
      }
      @if (textContent.actions) {
        <div
          [attr.data-path]="'actions'"
          #actions
          class="actions justify-{{
            textContent.actionsAlign ?? 'center'
          }}"
        >
          @for (action of textContent.actions; track action; let i = $index) {
            @switch (action.type) {
              @case ('closeDialog') {
                <button
                  [attr.data-path]="i"
                  mat-raised-button
                  mat-dialog-close
                  color="{{ action.color || 'primary' }}"
                >
                  {{ action.label }}
                </button>
              }
              @default {
                <app-dynamic-component [attr.data-path]="i" [inputs]="action" />
              }
            }
          }
        </div>
      }
    </div>
  </div>
}
