@import "../../../../../theme/variable/breakpoint";
:host-context(.gaoliang-theme) ::ng-deep {
  .showcase-3-v7 {
    .showcase-inner {
      .left {
        .box:nth-child(2) {
          padding-right: 5rem !important;
        }
      }
      .right {
        .box:nth-child(2) {
          padding-left: 5rem !important;
        }
      }
    }
  }
}
@media #{$gt-sm} {
  .left,
  .right {
    .box {
      &:last-child {
        ::ng-deep .inv-builder-box {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}
@media #{$lt-md} {
  .middle {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}
