@use 'variable/breakpoint' as *;
:host-context(.gaoliang-theme) ::ng-deep {
  .showcase-3-v7 {
    .showcase-inner {
      .left {
        .box:nth-child(2) {
          padding-right: 50px !important;
        }
      }
      .right {
        .box:nth-child(2) {
          padding-left: 50px !important;
        }
      }
    }
  }
}
@media #{$gt-sm} {
  .left,
  .right {
    .box {
      &:last-child {
        ::ng-deep .inv-builder-box {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}
@media #{$lt-md} {
  .middle {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
