<div class="showcase-3-v7 relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-bg-img
    [attr.data-path]="'bg'"
    [content]="content.bg"
    *ngIf="content.bg"
  ></app-bg-img>
  <div class="{{ content.fullWidth ? '' : 'container' }}" *ngIf="content">
    <app-text [attr.data-path]="'title'" [content]="content.title"></app-text>
    <div
      class="showcase-inner"
      fxLayout.lt-md="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center center"
    >
      <div
        class="left"
        fxLayout="row wrap"
        fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 33.33"
      >
        <app-box
          [attr.data-path]="'left.' + i"
          fxLayoutAlign.gt-sm="end center"
          fxFlex="0 0 calc(100% - 2rem)"
          class="box p-x-xs"
          [content]="item"
          *ngFor="let item of content.left; index as i"
        >
        </app-box>
      </div>
      <div
        class="middle"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlex.lt-md="100"
        fxFlex.gt-sm="33.33"
      >
        <app-img
          [attr.data-path]="'img'"
          class="p-x-sm"
          [content]="content.img"
        ></app-img>
      </div>
      <div
        class="right"
        fxLayout="row wrap"
        fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 33.33"
      >
        <app-box
          [attr.data-path]="'right.' + i"
          fxFlex="0 0 calc(100% - 2rem)"
          class="box p-x-xs"
          [content]="item"
          *ngFor="let item of content.right; index as i"
        >
        </app-box>
      </div>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
