@import "/src/theme/variable/variable";

.header {
  position: relative;
  margin-bottom: 2px;
}

:host-context(.header-inverse) {
  .header {
    margin-bottom: 0;
  }
}

.spacer {
  flex: 1;
}

.header-left {
  .version {
    font-size: 1.2rem;
    margin-left: 0.4rem;
  }
}

@media #{$lt-lg} {
  .main-menu {
    .item {
      ::ng-deep a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}
