@if (branding$ | async; as branding) {
  @if (show) {
    <header class="header">
      <div class="container">
        <div
          class="header-container flex flex-row {{
            branding.header.logo
              ? 'justify-between items-center'
              : 'justify-end items-center'
          }}"
        >
          @if (branding.header?.logo) {
            <div class="header-left one-line">
              <app-logo [content]="branding.header.logo"></app-logo>
            </div>
          }
          <div
            class="header-right flex flex-row justify-center items-center gap-3 md:gap-5"
          >
            @if (branding.header?.mainMenu) {
              <div class="menu-inner">
                <div class="main-menu flex flex-row">
                  @for (
                    menu of branding.header.mainMenu;
                    track trackByFn($index, menu)
                  ) {
                    <div class="item">
                      @if (branding.header?.params) {
                        <app-item-menu
                          [params]="branding.header.params"
                          [content]="menu"
                        ></app-item-menu>
                      }
                    </div>
                  }
                </div>
              </div>
            }
            @if (branding.header?.search?.enable) {
              <app-search-box
                [content]="branding.header.search"
              ></app-search-box>
            }
            @if (branding.header.actions) {
              <div class="actions">
                @for (action of branding.header.actions; track action) {
                  <button color="primary" mat-raised-button>
                    <app-link [content]="action"></app-link>
                  </button>
                }
              </div>
            }
            @if (coreConfig.notify?.enable) {
              <app-notify class="has-icon"></app-notify>
            }
            @if (branding.header.params.themeSwitch) {
              <app-switch-theme class="has-icon"></app-switch-theme>
            }
            @if (branding.header.params.userInfo) {
              <app-user-menu
                [content]="branding.header.userMenu"
              ></app-user-menu>
            }
            <app-lang-switch></app-lang-switch>
          </div>
        </div>
      </div>
    </header>
  }
  <div class="drawer">
    @if (!show) {
      <mat-toolbar>
        <button mat-icon-button (click)="onToggle()" aria-label="menu icon">
          @if (!isDrawer) {
            <mat-icon>menu</mat-icon>
          }
          @if (isDrawer) {
            <mat-icon>close</mat-icon>
          }
        </button>
        <span class="spacer"></span>
        <span class="app-name">{{ branding.header.logo?.label }}</span>
        <span class="spacer"></span>
        <app-switch-theme></app-switch-theme>
        <app-user-menu class="m-left-xs"></app-user-menu>
      </mat-toolbar>
    }
    <div [hidden]="!(!show && isDrawer)">
      @if (branding.header.mainMenu) {
        <app-accordion [content]="branding.header.mainMenu"></app-accordion>
      }
    </div>
  </div>
}
