.header {
  .header-container {}
}

.main-menu {
  .item {
    a {
      font-size: 1.8rem;
    }
  }
}

.sticky {
  position: fixed;
  left: 0;
  top: -76px;
  right: 0;
  opacity: 0;
  transition: all .3s ease;
}

.sticking {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
}
