<header class="header">
  <div class="header-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="header-left">
      <a class="logo mat-h2" href="#">NNITJOB</a>
    </div>
    <div class="header-right" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <div class="mian-menu">
        <div fxLayout="row" fxLayoutGap="1rem">
          <div>
            <a href="#">关于我们</a>
          </div>
          <div>
            <a href="#">职位</a>
          </div>
          <div>
            <a href="#">联系</a>
          </div>
        </div>
      </div>
      <div class="action">
        <button mat-raised-button color="primary">
          发布职位
        </button>
      </div>
      <div class="user">
        <a href="#">
          Johnson
        </a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</header>
