<header class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-left">
    <a class="logo" href="#">NNITJOB</a>
  </div>
  <div class="header-right" fxLayout="row">
    <div class="mian-menu">
      <div fxLayout="row">
        <div>
          <a href="#">关于我们</a>
        </div>
        <div>
          <a href="#">职位</a>
        </div>
        <div>
          <a href="#">联系</a>
        </div>
      </div>
    </div>
    <div class="action">
      <a href="#">发布职位</a>
    </div>
    <div class="user">
      <a href="#">
        Johnson
      </a>
    </div>
  </div>
</header>
