.static {
  position: relative;
  z-index: 1001;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  transition: transform 0ms 0ms cubic-bezier(0.4, 0, 0.6, 1), opacity 0s 300ms;
  z-index: 1000;
  transform: translateY(-70px);
}

.sticking {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0ms 300ms, background-color 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transparent-mode {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
