<div class="overlay" (click)="onClose()"></div>
<div class="showcase">
  <app-card-1v1 [content]="content"></app-card-1v1>
  <div class="actions">
    <div class="item">
      <app-btn (click)="onCopy(content.components[0])" [matTooltip]="'复制 JSON'" matTooltipPosition="above"
        [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'content-copy',inline:true } }"></app-btn>
      <app-btn (click)="showCode(content.components[0])" [matTooltip]="'查看 JSON'" matTooltipPosition="above"
        [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'code-json',inline:true } }"></app-btn>
    </div>
  </div>
</div>