.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
}
.showcase {
  position: absolute;
  width: 1000px;
  margin: 20px;
  z-index: 9999;
  left: 0;
  top: 0;
  padding-bottom: 60px;
  border-radius: 4px;
  overflow: hidden;
  > app-card-1v1 {
    ::ng-deep {
      > .card-1v1 {
        transform: none !important;
        max-height: 75vh;
        overflow: auto;
        > .components {
          padding: 0;
        }
        .title {
          margin-bottom: 0;
        }
        > .card-body {
          display: none;
        }
      }
      .component-toolbar {
        + app-spacer {
          display: block;
        }
      }
      .layout-builder {
        .block-toolbar,
        .layout-toolbar,
        .actions {
          display: none !important;
        }
        .layout {
          .placeholder {
            pointer-events: none;
          }
        }
      }
    }
  }
  .showcase-footer {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    .actions {
      right: 20px;
      bottom: 20px;
    }
  }
}
