@let card = content().card;
@let component = card.components[0];
<div class="backdrop" (click)="onClose()"></div>
<div class="showcase">
  <app-card-1v1 [content]="card" />
  <div class="showcase-footer">
    <div class="title">
      {{ content().title }}
      @if (user$ | async) {
        <span class="uuid"> {{ component.uuid }} </span>
      }
    </div>
    <div class="actions">
      <app-btn
        (click)="onCopy(component.content)"
        [matTooltip]="'BUILDER.SHOWCASE.COPY_JSON' | translate"
        matTooltipPosition="above"
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'content-copy', inline: true },
        }"
      />
      <app-btn
        (click)="showCode(component)"
        [matTooltip]="'BUILDER.SHOWCASE.VIEW_JSON' | translate"
        matTooltipPosition="above"
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'code-json', inline: true },
        }"
      />
      <app-btn
        (click)="insert(component.content)"
        [matTooltip]="'BUILDER.SHOWCASE.INSERT' | translate"
        matTooltipPosition="above"
        [content]="{
          label: '',
          color: 'primary',
          mode: 'icon',
          icon: { svg: 'arrow-right', inline: true },
        }"
      />
    </div>
  </div>
</div>
