.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
}
.showcase {
  position: fixed;
  width: 800px;
  margin: 20px;
  z-index: 9999;
  left: 350px;
  top: 75px;
  ::ng-deep {
    .component-toolbar {
      + app-spacer {
        display: block;
      }
    }
  }
}
