.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
}
.showcase {
  position: fixed;
  width: 800px;
  margin: 20px;
  z-index: 9999;
  left: 350px;
  top: 75px;
  ::ng-deep {
    .card-1v1 {
      transform: none !important;
      .components {
        max-height: 80vh;
        overflow: auto;
      }
      .title {
        margin-bottom: 0;
      }
    }
    .component-toolbar {
      + app-spacer {
        display: block;
      }
    }
  }
  .actions {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
