@let branding = branding$ | async;
@let config = builderConfig$ | async;
<div class="builder-sidebar" [class]="sidebarDrawer().opened ? 'opened' : 'closed'">
  @if (branding) {
    @let header = $any(branding).header;
    <a [routerLink]="[header?.logo?.href ?? '/home']" class="logo">
      @if (header?.logo?.img) {
        @let logo = header.logo;
        @if (!sidebarDrawer().opened) {
          <img
            [src]="logo?.invert"
            [alt]="logo?.label"
            [width]="logo?.img?.width || 65"
            [height]="logo?.img?.height || 40"
          />
        } @else {
          <img
            [src]="logo?.img?.src"
            [width]="logo?.img?.width || 65"
            [height]="logo?.img?.height || 40"
            [alt]="logo?.label"
          />
        }
      }
    </a>
  }
  <mat-divider />

  @if (config) {
    @if (config.menu) {
      <app-accordion-menu
        class="accordion-menu"
        [class]="sidebarDrawer().opened ? '' : '!hidden'"
        [hidden]="!sidebarDrawer().opened"
        [content]="config.menu"
      />
    }
  } @else {
    <ngx-skeleton-loader
      [theme]="{
        'background-color': '#373737',
      }"
      count="6"
      animation="progress-dark"
      appearance="circle"
      class="skeleton-loader"
    />
  }

  <div class="icon-menu" [class]="sidebarDrawer().opened ? '!hidden' : ''">
    @if (config) {
      @for (item of config.menu; track item) {
        <div
          class="item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [matTooltip]="item.label"
          [matTooltipDisabled]="item.child ? true : false"
          matTooltipPosition="right"
        >
          @if (item.icon) {
            <app-icon [routerLink]="item.href" [content]="item.icon" />
          }
          @if (item.child) {
            <div class="child">
              <div class="hover-menu">
                <div class="title">{{ item.label }}</div>
                <div class="child-menu">
                  <mat-list>
                    @for (item of item.child; track item) {
                      <a
                        mat-list-item
                        [routerLink]="item.href"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        (click)="onHiddeRightDrawer()"
                        *reqRolesIf="item"
                      >
                        @if (item.icon) {
                          <app-icon class="child-icon" [content]="item.icon" />
                        }
                        {{ item.label }}
                      </a>
                    }
                  </mat-list>
                </div>
              </div>
            </div>
          }
        </div>
      }
    }
  </div>

  <div class="bottom">
    @if (branding) {
      <div class="icon-actions-row">
        <app-btn
          [matTooltip]="'BUILDER.SIDEBAR.MEDIA_LIBRARY' | translate"
          [matTooltipPosition]="sidebarDrawer().opened ? 'above' : 'right'"
          (click)="onSelectAssets()"
          [content]="{
            label: '',
            mode: 'icon',
            icon: { svg: 'image-search-outline' },
          }"
        />
        @if (builder.themeMode(); as mode) {
          <app-btn
            [matTooltip]="(mode === 'light' ? 'BUILDER.SIDEBAR.TOGGLE_DARK' : 'BUILDER.SIDEBAR.TOGGLE_LIGHT') | translate"
            [matTooltipPosition]="sidebarDrawer().opened ? 'above' : 'right'"
            (click)="onToggleBuilderTheme(mode)"
            [content]="{
              label: '',
              mode: 'icon',
              icon: {
                svg: mode === 'light' ? 'white-balance-sunny' : 'moon-waning-crescent',
              },
            }"
          />
        }
      </div>
      <mat-divider />
      <div class="bottom-row" [class]="sidebarDrawer().opened ? 'flex-row' : 'flex-col'">
        @if ($any(branding).header?.params?.userInfo) {
          <app-user-menu />
        }
        <div class="toggle">
          <div class="wrapper" role="button" tabindex="0" (click)="onToggle()" (keyup.enter)="onToggle()">
            @if (sidebarDrawer().opened) {
              <app-icon [content]="{ svg: 'chevron-left' }">
                <div class="text">{{ 'BUILDER.SIDEBAR.COLLAPSE' | translate }}</div>
              </app-icon>
            }
            @if (!sidebarDrawer().opened) {
              <app-icon [matTooltip]="'BUILDER.SIDEBAR.EXPAND' | translate" [content]="{ svg: 'chevron-right' }" />
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
