@import '~@angular/material/theming';
$app-color: ( //
  50: #eee9fc,
  100: #d4c8f7,
  200: #b7a4f3,
  300: #987eef,
  400: #7e61eb,
  500: #6245e6,
  600: #5640df,
  700: #4438d6,
  800: #3032cf,
  900: #0025c4,
  A100: #d4c8f7,
  A200: #b7a4f3,
  A400: #7e61eb,
  A700: #4438d6,
  contrast: ( //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));
