@import '~@angular/material/theming';
$dark-primary-color: ( //
  50: #efe5fd,
  100: #d5bff9,
  200: #b894f6,
  300: #9968ed,
  400: #8147e0,
  500: #6723d4,
  600: #5c1ece,
  700: #4c14c5,
  800: #3c0dbd,
  900: #1d00af,
  A100: #d5bff9,
  A200: #d5bff9,
  A400: #8147e0,
  A700: #4c14c5,
  contrast: ( //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));
