@use '../../../../theme/mixins/amixin' as *;
.testimonial {
  ::ng-deep {
    img {
      display: block;
    }
  }
  &.style-v1 {
    .views-field-field-image {
      border: 1px solid #dadbdb;
      display: inline-block;
      padding: 4px;
      position: absolute;
      img {
        width: 95px;
        height: 95px;
      }
    }
    .testimonial-detail {
      padding-left: 120px;
      .title {
        color: #324545;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      .sub-title {
        color: #1ccdca;
        margin-left: 7px;
      }
      .desc {
        margin-top: 10px;
      }
    }
  }
  &.style-v2 {
    .bx-wrapper {
      ::ng-deep img {
        margin: 0 auto;
        @include border-radius(100%, 100%, 100%, 100%);
        border: 1px solid;
        padding: 6px;
        width: 170px;
        height: 170px;
      }
    }
    .testimonial-detail {
      text-align: center;
      .info {
        font-size: 16px;
        margin: 30px 0 15px;
        text-transform: uppercase;
      }

      .desc {
        font-size: 16px;
        font-style: italic;
        line-height: 33px;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
