<div class="media" [class.box-animate]="content.css3" fxLayout [fxLayoutAlign]="align" *ngIf="content">
  <div class="media-left m-right-xs text-center">
    <app-img class="m-x-xs" [content]="content.img" *ngIf="content.img?.src"></app-img>
    <div class="meta m-top-xs" [innerHTML]="content.meta" *ngIf="content.meta"></div>
  </div>
  <div fxFlex="1 1 0%" class="media-body">
    <div class="title line-height-1 bold mat-h3 m-bottom-xs" *ngIf="content.title">{{content.title}}</div>
    <app-link *ngIf="content.link" [content]="content.link"></app-link>
    <div class="sub-title" *ngIf="content.subTitle">{{content.subTitle}}</div>
    <div *ngIf="content.content" [innerHTML]="content.content|safeHtml"></div>
  </div>
</div>
