.component-meta {
  display: none !important;
  width: 100%;
  .title {
    padding: 10px;
    margin: -10px;
  }

  .actions {
    .item {
      cursor: pointer;
      border-radius: 6px;
      padding: 10px 12px;
    }
  }
}
