<div class="component-meta">
  <div class="wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
    <div class="title">
      {{inputs?.type || inputs.content.type}}
    </div>
    <div class="actions" fxLayout="row" fxLayoutGap="1rem">
      <div class="item" (click)="addComponent(inputs)">添加</div>
      <div class="item" (click)="onCopy(inputs)">复制 JSON</div>
      <div class="item" (click)="onDelete(index)" *ngIf="isBuilder">移除</div>
    </div>
  </div>
</div>
<ng-template #componentContainer></ng-template>