@import "../../../../../theme/variable/breakpoint";
.showcase-3-v1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .showcase-content {
    text-align: center;
  }
  @media #{$gt-md} {
    .showcase-content {
      margin: 15px auto 50px;
      max-width: 800px;
    }
  }
}
