<div class="showcase-3-v1 position-relative" [ngClass]="content.classes" [class]="content?.bgImg ? 'hasBg':'noBg'"
  *ngIf="content" style="background-image:url({{content.bgImg}})">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg">
  </app-bg>
  <div class="container">
    <app-title *ngIf="content.title" [content]="content.title"></app-title>
    <div *ngIf="content.content" class="showcase-content" [innerHTML]="content.content | safeHtml"></div>
    <app-swiper class="text-center" *ngIf="content?.carousel.elements.length > 1;else img" [content]="content.carousel">
    </app-swiper>
    <ng-template #img>
      <div class="text-center">
        <app-img [content]="content.carousel.elements[0]"></app-img>
      </div>
    </ng-template>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
