<div class="packery position-relative" *ngIf="content">
  <a class="anchor" [id]="content.id||''"></a>
  <app-bg-img [content]="content.bg"></app-bg-img>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-text [content]="content.text" *ngIf="content.text"></app-text>
  {{config|json}}
  <div class="container">
    <ngx-packery *ngIf="config" [options]="config" fxFlex="100" fxLayout="row wrap">
      <ngx-packery-item *ngFor="let item of content.elements">
        <app-feature-box [content]="item"></app-feature-box>
      </ngx-packery-item>
    </ngx-packery>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
