<div class="packery position-relative" *ngIf="content">
  <a class="anchor" [id]="content.id||''"></a>
  <app-bg-img [content]="content.bg"></app-bg-img>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-text [content]="content.text" *ngIf="content.text"></app-text>
  <div class="container">
    <ngx-packery #packery [options]="config">
      <ngx-packery-item fxFlex.lt-md="0 0 50" fxFlex.gt-sm="0 0 {{item.width || 20}}"
        *ngFor="let item of content.elements">
        <app-feature-box [content]="item"></app-feature-box>
      </ngx-packery-item>
      <ngx-packery-item fxFlex="0 0 100">
        <!-- fix bug -->
        <img>
      </ngx-packery-item>
    </ngx-packery>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
