<div class="comment-list m-y-sm p-y-sm p-x-sm position-relative" *ngIf="content">
  <ng-container *ngIf="content.length;else empty">
    <div class="comment-count p-y-xs">
      {{content.length}} 个回答
    </div>
    <mat-divider class="m-bottom-xs"></mat-divider>
    <div class="item" *ngFor="let item of content; last as isLast; trackBy: trackByFn">
      <div class="comment-box">
        <a class="anchor" [id]="'q-'+item.id"></a>
        <app-media-object [content]="item.author"></app-media-object>
        <div class="comment-body p-y-xs" [innerHTML]="item.content |safeHtml"></div>
        <div class="time">更新于 {{item.time | date:'y-M-d'}}</div>
        <div class="actions" fxLayoutAlign="start center">
          <!-- <button *ngIf="item.id === myCommentId" mat-button color="primary" (click)="onUpdateMyQuestion()">
            <mat-icon>editor</mat-icon> 修改
          </button> -->
          <button *ngIf="item.author.id === currentUserId" mat-button color="primary"
            (click)="onDeleteMyQuestion(item.id)">
            <div fxLayoutAlign="center center">
              <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
              <mat-icon *ngIf="!loading">delete</mat-icon> 删除
            </div>
          </button>
        </div>
        <mat-divider *ngIf="!isLast" class="m-y-sm"></mat-divider>
      </div>
    </div>
  </ng-container>
  <ng-template #empty>
    <div class="empty p-y" fxLayout="column" fxLayoutAlign="center center">
      <app-icon [content]="{'name':'create','inline':true}"></app-icon>
      <p>暂时没有人回答，欢迎作答</p>
    </div>
  </ng-template>
</div>
