<div class="showcase-1-v1 position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg"></app-bg>
  <div class="container">
    <div [ngClass]="content.classes">
      <app-title *ngIf="content.title" [content]="content.title"></app-title>
      <app-text *ngIf="content.subTitle" [content]="content.subTitle"></app-text>
      <div fxLayout.lt-md="column" fxLayout.gt-sm="row wrap" fxLayoutGap.lt-md="6rem" fxLayoutAlign.gt-sm="center start"
        fxLayoutAlign.lt-md="center center">
        <app-box class="p-x-sm p-y-sm" [content]="item" *ngFor="let item of content.elements" fxFlex.lt-md="100%"
          [fxFlex.gt-sm]="row(content.row, '0rem')"></app-box>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
