<div class="article m-bottom" *ngIf="content">
  <app-article-banner [content]="content.banner" *ngIf="content.banner"></app-article-banner>
  <div class="container">
    <div class="article-inner m-top-sm" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div class="article-node" fxFlex.lt-md="100" fxFlex.gt-sm="{{content.sidebar?'75':'100'}}">
        <h2 class="title">
          {{content.title}}
        </h2>
        <div class="article-meta m-y-xs" fxLayoutAlign="space-between center">
          <app-article-meta [content]="content.meta" *ngIf="content.meta"></app-article-meta>
          <app-font-change *ngIf="showNotXs && fontSizeConfig" [content]="fontSizeConfig" [form]="fontForm">
          </app-font-change>
        </div>
        <mat-divider></mat-divider>
        <div class="position-relative">
          <div *ngIf="isPublic;else notPublic" class="article-body m-y-sm" [innerHTML]="content.body | safeHtml"
            [style.fontSize.px]="fontSize">
          </div>
          <ng-template #notPublic>
            <ng-container *ngIf="!userState.anthenticated;else notAuth">
              <div [innerHTML]="content.body |stripTags:'p'|trim|shorten:1000:'...'" [style.fontSize.px]="fontSize">
              </div>
              <div class="auth line p-y-sm p-x-sm width-100 text-center" *ngIf="!isPublic && !userState.anthenticated"
                fxLayoutAlign="center center">
                <a href="javascript:void(0)" (click)="openLogin()" [innerHTML]="loginConfig?.label"></a>
              </div>
            </ng-container>
            <ng-template #notAuth>
              <div *ngIf="isReqRule;else checkPay" class="article-body m-y-sm " [innerHTML]="content.body | safeHtml"
                [style.fontSize.px]="fontSize">
              </div>
              <ng-template #checkPay>
                <div *ngIf="isPayed;else noPay" class="article-body m-y-sm" [innerHTML]="content.body | safeHtml"
                  [style.fontSize.px]="fontSize">
                </div>
                <ng-template #noPay>
                  <div class="article-body m-y-sm position-relative">
                    <div [innerHTML]="content.body |stripTags:'p'|trim|shorten:1000:'...'"
                      [style.fontSize.px]="fontSize">
                    </div>
                    <div class="shadow"></div>
                  </div>
                  <div class="pay line p-y-sm p-x-sm width-100 text-center m-bottom" fxLayoutAlign="center center">
                    <div>
                      成为<a (click)="upgrade()" href="javascript:void(0)">【会员】</a>或者<a (click)="pay()"
                        href="javascript:void">【支付{{reqMoney}}元】</a>查看全文
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </ng-template>

          </ng-template>
        </div>
        <div class="article-bottom m-y" *ngIf="content.bottom">
          <app-dynamic-widgets [content]="action" *ngFor="let action of content.bottom"></app-dynamic-widgets>
        </div>
        <div class="ations m-y" *ngIf="content.actions">
          <app-dynamic-widgets
            [data]="{'isPublic':isPublic, 'isReqRule':isReqRule, 'isPayed':isPayed,user: userState.currentUser, payUrl: payUrl}"
            [content]="action" *ngFor="let action of content.actions"></app-dynamic-widgets>
        </div>
        <app-article-comment [form]="commentForm" [content]="content.comment" (submit)="onSubmit()"
          *ngIf="userState.anthenticated && appState?.article?.comment?.enabel && content.comment">
        </app-article-comment>
        <app-article-comment-list *ngIf="userState.anthenticated" [content]="comments"
          [currentUserId]="userState.currentUser.id">
        </app-article-comment-list>
      </div>
      <app-sidebar [ngClass.gt-sm]="'m-left-sm'" *ngIf="content.sidebar" fxFlex.lt-md="100" fxFlex.gt-sm="25"
        [content]="content.sidebar"></app-sidebar>
    </div>
  </div>
</div>
