<div class="article m-bottom" *ngIf="content">
  <app-article-banner [content]="content.banner" *ngIf="content.banner"></app-article-banner>
  <div class="container">
    <div class="article-inner m-top-sm" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div class="article-node" fxFlex.lt-md="100" fxFlex.gt-sm="{{content.sidebar?'75':'100'}}">
        <h2 class="title">
          {{content.title}}
        </h2>
        <div class="article-meta m-y-xs" fxLayoutAlign="space-between center">
          <app-article-meta [content]="content.meta" *ngIf="content.meta"></app-article-meta>
          <app-font-change *ngIf="showNotXs && fontSizeConfig" [content]="fontSizeConfig" [form]="form">
          </app-font-change>
        </div>
        <mat-divider></mat-divider>
        <div class="article-body m-y-sm" [innerHTML]="content.body | safeHtml" [style.fontSize.px]="fontSize">
        </div>
        <div class="article-bottom" *ngIf="content.bottom">
          <app-dynamic-widgets [content]="action" *ngFor="let action of content.bottom"></app-dynamic-widgets>
        </div>
        <div class="ations" *ngIf="content.actions">
          <app-dynamic-widgets [content]="action" *ngFor="let action of content.actions"></app-dynamic-widgets>
        </div>
      </div>
      <app-sidebar [ngClass.gt-sm]="'m-left-sm'" *ngIf="content.sidebar" fxFlex.lt-md="100" fxFlex.gt-sm="25"
        [content]="content.sidebar"></app-sidebar>
    </div>
  </div>
</div>
