.article-body ::ng-deep {
  img {
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }
}

.article-meta {
  font-size: 14px;
  .mat-icon {
    margin-right: 5px;
  }
}
