<div class="media-meta p-y" *ngIf="content" fxLayout="row wrap">
  <div class="meta" *ngIf="showGtsm" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="center center"
    fxFlex.lt-md="100" fxFlex.gt-sm="0 0 10">
    <div class="top">{{content.date| date:'d'}}</div>
    <div class="middle">
      {{content.date| date:'y-M'}}
    </div>
    <div class="more">
      <a mat-button href="{{content.more.href}}" target="_blank">{{content.more.label}}</a>
    </div>
  </div>
  <div class="wrapper" fxFlex.lt-md="100" fxFlex.gt-sm="0 0 90">
    <div class="title">
      <h2>
        <app-link [content]="content.link"></app-link>
      </h2>
      <div class="time" *ngIf="showLtmd">{{content.date}}</div>
      <div class="content" [innerHTML]="content.body|stripTags|trim|shorten:150:'...'"></div>
    </div>
  </div>
</div>
