@use '@angular/material' as mat;

.blue-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: #0049db,
      surface-tint: rgb(0 78 232),
      on-primary: rgb(255 255 255),
      primary-container: rgb(41 98 255),
      on-primary-container: rgb(247 245 255),
      secondary: rgb(71 90 160),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(159 179 255),
      on-secondary-container: rgb(47 67 135),
      tertiary: rgb(145 26 175),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(173 60 202),
      on-tertiary-container: rgb(255 243 251),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(250 248 255),
      on-background: rgb(25 27 36),
      surface: rgb(250 248 255),
      on-surface: rgb(25 27 36),
      surface-variant: rgb(223 225 245),
      on-surface-variant: rgb(67 70 86),
      outline: rgba(0, 0, 0, 0.12),
      outline-variant: rgb(195 197 216),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(46 48 58),
      inverse-on-surface: rgb(240 240 253),
      inverse-primary: rgb(182 196 255),
      primary-fixed: rgb(220 225 255),
      on-primary-fixed: rgb(0 21 80),
      primary-fixed-dim: rgb(182 196 255),
      on-primary-fixed-variant: rgb(0 58 179),
      secondary-fixed: rgb(220 225 255),
      on-secondary-fixed: rgb(0 21 80),
      secondary-fixed-dim: rgb(182 196 255),
      on-secondary-fixed-variant: rgb(46 66 135),
      tertiary-fixed: rgb(253 214 255),
      on-tertiary-fixed: rgb(52 0 66),
      tertiary-fixed-dim: rgb(244 174 255),
      on-tertiary-fixed-variant: rgb(121 0 149),
      surface-dim: rgb(217 217 230),
      surface-bright: rgb(250 248 255),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(243 242 255),
      surface-container: rgb(237 237 250),
      surface-container-high: rgb(231 231 244),
      surface-container-highest: rgb(225 225 238),
    )
  );
}
