@import "~@angular/material/theming";
$green-color: (
  //
  50: #d5f5f1,
  100: #95e6da,
  200: #2bd6c2,
  300: #00c2a8,
  400: #00b295,
  500: #00a281,
  600: #009474,
  700: #008463,
  800: #007355,
  900: #005637,
  A100: #95e6da,
  A200: #00c2a8,
  A400: #00a281,
  A700: #008463,
  contrast: (
    //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$green-primary: mat-palette($green-color);
$green-accent: mat-palette($green-color, A200, A100, A400);
$green-warn: mat-palette($mat-red, A200, A100, A400);
$green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
