@use '@angular/material' as mat;

.green-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: rgb(0 105 82),
      surface-tint: rgb(0 107 85),
      on-primary: rgb(255 255 255),
      primary-container: rgb(0 132 105),
      on-primary-container: rgb(245 255 249),
      secondary: rgb(60 102 88),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(190 237 218),
      on-secondary-container: rgb(66 109 94),
      tertiary: rgb(95 78 164),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(120 104 191),
      on-tertiary-container: rgb(255 251 255),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(245 251 246),
      on-background: rgb(23 29 26),
      surface: rgb(245 251 246),
      on-surface: rgb(23 29 26),
      surface-variant: rgb(216 230 222),
      on-surface-variant: rgb(61 74 68),
      outline: rgb(109 122 116),
      outline-variant: rgb(188 202 195),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(43 50 47),
      inverse-on-surface: rgb(236 242 238),
      inverse-primary: rgb(94 219 183),
      primary-fixed: rgb(125 248 210),
      on-primary-fixed: rgb(0 33 24),
      primary-fixed-dim: rgb(94 219 183),
      on-primary-fixed-variant: rgb(0 81 63),
      secondary-fixed: rgb(190 237 218),
      on-secondary-fixed: rgb(0 33 24),
      secondary-fixed-dim: rgb(162 208 191),
      on-secondary-fixed-variant: rgb(35 78 65),
      tertiary-fixed: rgb(230 222 255),
      on-tertiary-fixed: rgb(29 0 97),
      tertiary-fixed-dim: rgb(203 190 255),
      on-tertiary-fixed-variant: rgb(74 56 141),
      surface-dim: rgb(213 220 215),
      surface-bright: rgb(245 251 246),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(239 245 240),
      surface-container: rgb(233 239 235),
      surface-container-high: rgb(227 234 229),
      surface-container-highest: rgb(222 228 223),
    )
  );
}
