@use '@angular/material' as mat;

.pink-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: rgb(163 62 15),
      surface-tint: rgb(163 62 15),
      on-primary: rgb(255 255 255),
      primary-container: rgb(255 129 79),
      on-primary-container: rgb(108 34 0),
      secondary: rgb(136 80 59),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(254 181 155),
      on-secondary-container: rgb(121 68 48),
      tertiary: rgb(100 97 0),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(174 169 0),
      on-tertiary-container: rgb(62 60 0),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(255 248 246),
      on-background: rgb(36 25 21),
      surface: rgb(255 248 246),
      on-surface: rgb(36 25 21),
      surface-variant: rgb(251 220 209),
      on-surface-variant: rgb(87 66 58),
      outline: rgb(139 114 105),
      outline-variant: rgb(222 192 182),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(58 46 41),
      inverse-on-surface: rgb(255 237 231),
      inverse-primary: rgb(255 181 154),
      primary-fixed: rgb(255 219 207),
      on-primary-fixed: rgb(56 13 0),
      primary-fixed-dim: rgb(255 181 154),
      on-primary-fixed-variant: rgb(128 42 0),
      secondary-fixed: rgb(255 219 207),
      on-secondary-fixed: rgb(54 15 2),
      secondary-fixed-dim: rgb(254 181 155),
      on-secondary-fixed-variant: rgb(107 57 38),
      tertiary-fixed: rgb(238 232 78),
      on-tertiary-fixed: rgb(30 29 0),
      tertiary-fixed-dim: rgb(209 203 51),
      on-tertiary-fixed-variant: rgb(75 73 0),
      surface-dim: rgb(235 214 207),
      surface-bright: rgb(255 248 246),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(255 241 236),
      surface-container: rgb(255 233 226),
      surface-container-high: rgb(249 228 221),
      surface-container-highest: rgb(243 222 215),
    )
  );
}
