@import "~@angular/material/theming";
$red-color: (
  //
  50: #fdecef,
  100: #fccfd6,
  200: #eb9da1,
  300: #e0777d,
  400: #eb595e,
  500: #f04947,
  600: #e24145,
  700: #cf383f,
  800: #c23238,
  900: #b4272c,
  A100: #eb9da1,
  A200: #eb595e,
  A400: #f04947,
  A700: #cf383f,
  contrast: (
    //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$red-primary: mat-palette($red-color);
$red-accent: mat-palette($red-color, A200, A100, A400);
$red-warn: mat-palette($mat-red, A200, A100, A400);
$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);
