@use '@angular/material' as mat;
@import "./blue-config";
@import "../mixins/base-color";
@import "../component/component";

$dark-primary: mat.define-palette($blue-color, 400, 50, 500);
$dark-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include base-colors($dark-theme);
  @include component-theme($dark-theme);
  .mat-expansion-panel-header {
    height: 48px;
  }
}
