@use '@angular/material' as mat;
@import "../mixins/base-color";
@import "../component/component";
$green-color: (
  //
  50: #d5f5f1,
  100: #95e6da,
  200: #2bd6c2,
  300: #00c2a8,
  400: #00b295,
  500: #00a281,
  600: #009474,
  700: #008463,
  800: #007355,
  900: #005637,
  A100: #95e6da,
  A200: #00c2a8,
  A400: #00a281,
  A700: #008463,
  contrast: (
    //
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white
  )
);

$green-primary: mat.define-palette($green-color);
$green-accent: mat.define-palette($green-color, A200, A100, A400);
$green-warn: mat.define-palette(mat.$red-palette, A200, A100, A400);
$green-theme: mat.define-light-theme(
  (
    color: (
      primary: $green-primary,
      accent: $green-accent,
      warn: $green-warn,
    ),
    typography: mat.define-legacy-typography-config(),
    density: 0,
  )
);

.green-theme {
  @include mat.all-legacy-component-themes($green-theme);
  @include base-colors($green-theme);
  @include component-theme($green-theme);
}
