@use '~@angular/material' as mat;
@import "../mixins/base-color";
@import "../component/component";
$pink-color: (
  //
  50: #f9efee,
  100: #fedbd0,
  200: #ffc2ae,
  300: #ffa988,
  400: #ff9369,
  500: #ff814f,
  600: #ff7a4a,
  700: #ff7244,
  800: #f46b40,
  900: #db5e37,
  A100: #b3ebfe,
  A200: #7fdeff,
  A400: #00c5ff,
  A700: #0098e0,
  contrast: (
    //
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white
  )
);

$pink-primary: mat.define-palette(mat.$pink-palette, 500);
$pink-accent: mat.define-palette(mat.$pink-palette, A400);
$pink-warn: mat.define-palette(mat.$green-palette, 800);
$pink-theme: mat.define-light-theme($pink-primary, $pink-accent, $pink-warn);

.pink-theme {
  @include mat.all-component-themes($pink-theme);
  @include base-colors($pink-theme);
  @include component-theme($pink-theme);
}
