@import "~@angular/material/theming";

@mixin article-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .article {
    .menu-list {
      .list {
        .item {
          border-bottom: 1px dotted mat-color($foreground, divider);
          .num-posts {
            color: mat-color($foreground, text, 0.4);
          }
          a {
            color: mat-color($foreground, text, 0.4);
            &:hover {
              color: mat-color($primary);
            }
          }
        }
      }
    }
    .recent-posts {
      .list {
        .item {
          .post-img {
            &:before {
              background-color: mat-color($primary);
            }
            .mat-icon {
              color: mat-color($primary, default-contrast);
            }
          }
          .blog-title {
            a {
              color: mat-color($foreground, text, 0.4);
              &:hover {
                color: mat-color($primary);
              }
            }
          }
        }
      }
    }
    .article-meta {
      color: mat-color($foreground, text, 0.4);
    }
    .article-body {
      pre {
        code {
          background-color: mat-color($background);
        }
      }
    }
  }
}
