@import "~@angular/material/theming";

@mixin banner-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .banner-simple {
    @include mat-elevation(1, mat-color($accent), 0.25);
    .page-title {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    }
    &.no-bg {
      background-color: mat-color($background, "app-bar", 0.8);
      color: mat-color($foreground, text, 0.75);
      a {
        color: mat-color($foreground, text, 0.75);
      }
      &.page-title {
        color: mat-color($foreground, text);
      }
    }
    &.normal {
      color: mat-color($foreground, text, 0.5);
      .page-title {
        color: mat-color($accent, default-contrast);
      }
      .overlay {
        &:before {
          background-color: mat-color($accent, 200);
        }
      }
    }
  }
}
