@import "~@angular/material/theming";
@import "../mixins/amixin";

@mixin builder-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .builder {
    .sidebar {
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.11);
      background: #f6f6f6;
    }
    .mat-drawer-content {
      @include scrollbar(mat-color($primary));
      .builder-content-toolbar {
        background-color: mat-color($background, card);
      }
    }
  }
  .builder-list {
    > .component-item {
      display: block;
      box-sizing: content-box;
      transition: all 0.1s ease-in;
      border: 2px dotted transparent;
      &:hover {
        &.cdk-drag {
          border-color: mat-color($primary);
        }
        .builder-item {
          > .component-toolbar {
            display: block !important;
          }
        }
      }
      // dynamic component host class
      .builder-item {
        > .component-toolbar {
          position: absolute;
          z-index: 999;
          padding: 1rem;
          line-height: 1;
          .title {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
          }
          .actions {
            .item {
              background-color: mat-color($primary);
              color: mat-color($primary, default-contrast);
            }
          }
        }
      }
    }
    .placeholder {
      background-color: mat-color($background, background);
      border: 3px dotted mat-color($foreground, divider);
      &:hover {
        background-color: mat-color($primary, 200);
        border-color: mat-color($primary);
      }
    }
  }

  .drawer-right {
    .builder-list {
      min-width: 85vw;
    }
  }
}
