@import "~@angular/material/theming";
@import "../mixins/amixin";

@mixin builder-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .builder {
    background-color: mat-color($background, background);
    .sidebar {
      background-color: transparent;
      .right {
        color: mat-color($primary);
      }
      .mat-tab-header {
        background-color: mat-color($primary, 0.06);
        .mat-tab-label-active {
          .mat-tab-label-content {
            background: mat-color($background, card);
            color: mat-color($primary);
          }
        }
        .mat-tab-label-content {
          background-color: transparent;
        }
      }

      .widgets {
        .item {
          .inner {
            background-color: mat-color($primary, 0.07);
            &:hover {
              @include mat-elevation(4, mat-color($foreground, text), 0.2);
            }
          }
        }
      }
    }
    .mat-drawer-container {
      background-color: mat-color($background, card);
    }
    .mat-drawer-content {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
      @include scrollbar(mat-color($primary));
      .builder-content-toolbar {
        background-color: mat-color($background, card);
      }
      .overlay {
        background-color: mat-color($background, background, 0.5);
      }
    }
    .cdk-drag-placeholder {
      background-color: mat-color($background, background);
      border: 3px dotted mat-color($foreground, divider);
      &:hover {
        background-color: mat-color($primary, 200);
        border-color: mat-color($primary);
      }
    }
  }

  // for dynamic-component host class
  .active-toolbar {
    position: relative;
    display: block;
    box-sizing: content-box;

    &:after {
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.1s ease-in;
      border: 2px dotted transparent;
    }
    &:hover {
      &:after {
        border-color: mat-color($primary);
      }
      > .component-toolbar {
        display: block !important;
      }
    }
    > .component-toolbar {
      position: absolute;
      z-index: 999;
      padding: 1rem;
      line-height: 1;
      .title {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
      .actions {
        .item {
          background-color: mat-color($primary);
          color: mat-color($primary, default-contrast);
        }
      }
    }
  }
  .drawer-right {
    .builder-list {
      min-width: 85vw;
    }
  }
}
