@import "~@angular/material/theming";

@mixin calendar-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-primary: mat-color($primary);
  .full-calendar {
    .main {
      background-color: mat-color($background, card);
    }
  }
}
