@use '@angular/material' as mat;

@mixin dashboard-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat.m2-get-color-from-palette($foreground, text, 0.75);
  $text-primary: mat.m2-get-color-from-palette($primary);
  $bg-card-color: mat.m2-get-color-from-palette($background, card);
  .dashboard {
    background-color: mat.m2-get-color-from-palette($background, background);
    .box {
      .dashboard-box {
        background-color: mat.m2-get-color-from-palette($background, background);
        border: 1px solid mat.m2-get-color-from-palette($foreground, divider, 0.07);
        @include mat.elevation(
          3,
          mat.m2-get-color-from-palette($background, tooltip),
          0.4
        );
        .box-header {
          border-bottom: 1px solid
            mat.m2-get-color-from-palette($foreground, divider);
          .filter {
            .mat-icon {
              color: mat.m2-get-color-from-palette($foreground, text, 0.5);
            }
          }
        }
      }
    }
  }
}
