@import "~@angular/material/theming";

@mixin dashboard-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat-color($foreground, text, 0.75);
  $text-primary: mat-color($primary);
  $bg-card-color: mat-color($background, card);
  .dashboard {
    background-color: mat-color($background, background);
    .box {
      .box-wrapper {
        background-color: mat-color($primary, default-contrast);
        border: 1px solid mat-color($foreground, divider, 0.07);
        @include mat-elevation(3, mat-color($background, tooltip), 0.4);
        .box-header {
          border-bottom: 1px solid mat-color($foreground, divider);
        }
      }
    }
  }
}
