@use '@angular/material' as mat;

@mixin dynamic-list-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .dynamic-text-list {
    .item {
      .title {
        a {
          color: mat.m2-get-color-from-palette($foreground, text);
          &:hover {
            color: mat.m2-get-color-from-palette($primary);
          }
        }
      }
      .text-lighter {
        color: mat.m2-get-color-from-palette($foreground, text, 0.7);
      }
    }
  }
}
