@import "~@angular/material/theming";

@mixin inverse($primary, $bg, $text, $contrast, $form) {
  background: $bg;
  color: $text;

  a {
    color: $text;
    &:hover {
      color: $contrast;
    }
  }
  .mat-subheader {
    color: $contrast;
  }
  .mat-list-item {
    color: $text;
  }
  .mat-accordion {
    .mat-list a {
      color: $text;
    }
    .mat-expansion-panel {
      background-color: transparent;
      color: $text;
    }
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
      .mat-expansion-panel-header:hover {
      background-color: transparent;
    }
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
      color: inherit;
    }
    .mat-expansion-panel-header-title {
      color: $text;
    }
  }
  .item-header {
    color: $contrast;
  }
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      background-color: $form;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.16);
        border-color: hsla(0, 0%, 100%, 0.16);
      }
    }
  }
  .social {
    .item {
      border: 1px solid $text;
      color: $text;
      border-color: $text;
      &:hover {
        border-color: $contrast;
        background-color: #eee;
        .mat-icon {
          color: mat-color($primary);
        }
      }
    }
  }
  .footer-bottom {
    background-color: rgba(0, 0, 0, 0.25);
    a {
      color: $text;
      &:hover,
      &:focus {
        color: $contrast;
      }
    }
  }
  &.space-between-footer {
    .mat-divider {
      border-color: rgba($text, 0.5);
    }
  }
}

@mixin footer-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat-color($foreground, text, 0.75);

  $inverse-bg: #333;
  $inverse-text: #9e9e9e;
  $inverse-text-contrast: #fff;
  $inverse-form: #4c4c4c;

  $inverse-bg-light: mat-color($background, status-bar, 0.6);
  $inverse-text-light: $text-base;
  $inverse-text-contrast-light: mat-color($foreground, text, 0.6);
  $inverse-form-light: mat-color($foreground, text, 0.1);
  .footer {
    .footer-light {
      background-color: mat-color($background, card);

      a {
        color: $text-base;

        &:hover,
        &:focus {
          color: mat-color($primary);
        }
      }

      .footer-bottom {
        position: relative;
        color: mat-color($foreground, text, 0.6);
        background-color: mat-color($background, background);
        z-index: 10;
      }

      .mat-list-item-content {
        color: $text-base;

        span {
          &:hover {
            cursor: pointer;
            color: mat-color($primary);
          }
        }
      }

      .mat-expansion-panel {
        background-color: transparent;
        color: $text-base !important;
      }

      .mat-expansion-panel-header-title {
        color: $text-base !important;
      }

      .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: none !important;
      }

      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
        .mat-expansion-panel-header:hover {
        background-color: transparent !important;
      }
    }

    .shape-inverse {
      color: $inverse-bg;
    }

    .shape-inverse-light {
      color: $inverse-bg-light;
    }

    .footer-inverse {
      @include inverse(
        $primary,
        $inverse-bg,
        $inverse-text,
        $inverse-text-contrast,
        $inverse-form
      );
    }

    .footer-inverse-light {
      @include inverse(
        $primary,
        $inverse-bg-light,
        $inverse-text-light,
        $inverse-text-contrast-light,
        $inverse-form-light
      );
    }

    .fix-bar {
      background-color: mat-color($primary, 0.92);
      .item,
      .item a {
        color: mat-color($primary, default-contrast);
      }
      .item {
        border-bottom: 1px solid mat-color($foreground, divider);
        &:hover,
        &:focus {
          background-color: mat-color($primary);
        }
        &:last-child {
          border-bottom: 0;
        }
        .fix-bar-popup {
          color: mat-color($foreground, text, 0.75);
          .fix-bar-popup-content {
            background-color: mat-color($background, card);
          }
        }
      }
    }
  }
  #go-to-top {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
    &:hover {
      background: mat-color($primary, text, 0.7);
      transition: all 0.2s ease-in;
    }
  }
}
