@import "~@angular/material/theming";

@mixin footer-color($config-or-theme, $base) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: map-get($base, 500);

  .footer {
    background-color: mat-color($background, card);

    a {
      color: $text-base;

      &:hover,
      &:focus {
        color: mat-color($primary);
      }
    }

    .footer-bottom {
      position: relative;
      z-index: 10;
    }

    .mat-list-item-content {
      color: $text-base;

      span {
        &:hover {
          cursor: pointer;
          color: mat-color($primary);
        }
      }
    }

    .mat-expansion-panel {
      background-color: transparent;
      color: $text-base !important;
    }

    .mat-expansion-panel-header-title {
      color: $text-base !important;
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none !important;
    }

    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
      .mat-expansion-panel-header:hover {
      background-color: transparent !important;
    }
  }
}
