@import "~@angular/material/theming";

@mixin footer-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat-color($foreground, text, 0.75);

  $inverse-bg: #333;
  $inverse-text: #9e9e9e;
  $inverse-text-contrast: #fff;
  .footer {
    .footer-light {
      background-color: mat-color($background, card);

      a {
        color: $text-base;

        &:hover,
        &:focus {
          color: mat-color($primary);
        }
      }

      .footer-bottom {
        position: relative;
        color: mat-color($foreground, text, 0.6);
        background-color: mat-color($background, background);
        z-index: 10;
      }

      .mat-list-item-content {
        color: $text-base;

        span {
          &:hover {
            cursor: pointer;
            color: mat-color($primary);
          }
        }
      }

      .mat-expansion-panel {
        background-color: transparent;
        color: $text-base !important;
      }

      .mat-expansion-panel-header-title {
        color: $text-base !important;
      }

      .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: none !important;
      }

      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
        .mat-expansion-panel-header:hover {
        background-color: transparent !important;
      }
    }
    .shape {
      color: $inverse-bg;
    }
    .footer-inverse {
      background: $inverse-bg;
      color: $inverse-text;
      a {
        color: $inverse-text;
        &:hover {
          color: $inverse-text-contrast;
        }
      }
      .mat-subheader {
        color: $inverse-text-contrast;
      }
      .mat-list-item {
        color: $inverse-text;
      }
      .mat-accordion {
        .mat-list a {
          color: $inverse-text;
        }
        .mat-expansion-panel {
          background-color: transparent;
          color: $inverse-text;
        }
        .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
          .mat-expansion-panel-header:hover {
          background-color: transparent;
        }
        .mat-expansion-panel-header-description,
        .mat-expansion-indicator::after {
          color: inherit;
        }
        .mat-expansion-panel-header-title {
          color: $inverse-text;
        }
      }
      .item-header {
        color: $inverse-text-contrast;
      }
      .mat-form-field-appearance-fill {
        .mat-form-field-flex {
          background-color: #4c4c4c;
          border: 2px solid #4c4c4c;
          &:hover {
            background-color: hsla(0, 0%, 100%, 0.16);
            border-color: hsla(0, 0%, 100%, 0.16);
          }
        }
      }
      .social {
        .item {
          border: 1px solid $inverse-text;
          color: $inverse-text;
          border-color: $inverse-text;
          &:hover {
            border-color: $inverse-text-contrast;
            background-color: $inverse-text-contrast;
            .mat-icon {
              color: mat-color($primary);
            }
          }
        }
      }
      .footer-bottom {
        background-color: rgba(0, 0, 0, 0.25);
        a {
          color: $inverse-text;
          &:hover,
          &:focus {
            color: $inverse-text-contrast;
          }
        }
      }
      &.space-between-footer {
        .mat-divider {
          border-color: rgba($inverse-text, 0.5);
        }
      }
    }

    .fix-bar {
      background-color: mat-color($primary);
      .item,
      .item a {
        color: mat-color($primary, default-contrast);
      }
      .item {
        border-bottom: 1px solid mat-color($foreground, divider);
        &:last-child {
          border-bottom: 0;
        }
        .fix-bar-popup {
          color: mat-color($foreground, text, 0.75);
          .fix-bar-popup-content {
            background-color: mat-color($background, card);
          }
        }
      }
    }
  }
  #go-to-top {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
    &:hover {
      background: mat-color($primary, text, 0.7);
      transition: all 0.2s ease-in;
    }
  }
}
