@import "~@angular/material/theming";

@mixin footer-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  @debug $background;
  $text-base: mat-color($foreground, text, 0.75);
  .footer {
    .footer-light {
      background-color: mat-color($background, card);

      a {
        color: $text-base;

        &:hover,
        &:focus {
          color: mat-color($primary);
        }
      }

      .footer-bottom {
        position: relative;
        color: mat-color($foreground, text, 0.6);
        background-color: mat-color($background, background);
        z-index: 10;
      }

      .mat-list-item-content {
        color: $text-base;

        span {
          &:hover {
            cursor: pointer;
            color: mat-color($primary);
          }
        }
      }

      .mat-expansion-panel {
        background-color: transparent;
        color: $text-base !important;
      }

      .mat-expansion-panel-header-title {
        color: $text-base !important;
      }

      .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: none !important;
      }

      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
        .mat-expansion-panel-header:hover {
        background-color: transparent !important;
      }
    }
    .footer-inverse {
      background: #191e21;
      color: #989898;
      .footer-bottom {
        background-color: mat-color($foreground, base, 0.25);
        a {
          color: #989898;
          &:hover,
          &:focus {
            color: mat-color($primary);
          }
        }
      }
    }
  }
  #go-to-top {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
    &:hover {
      background: mat-color($primary, text, 0.7);
      transition: all 0.2s ease-in;
    }
  }
}
