@import "~@angular/material/theming";

@mixin form-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat-color($foreground, text, 0.75);

  .checkbox {
    .badge {
      background-color: mat-color($primary, 0.1);
      color: mat-color($primary);
    }
  }

  .img-picker {
    .meta {
      background-color: mat-color($primary, 0.2);
    }
  }

  .contact-us-1v1 {
    &:after {
      background-color: mat-color($primary);
    }
    .box {
      @include mat-elevation(4, mat-color($foreground, text), 0.5);
      background-color: mat-color($background, card);
    }
    .form {
      background-color: mat-color($background, card);
    }
    .content {
      color: mat-color($primary, default-contrast);
    }
  }
}
