@import '~@angular/material/theming';

@mixin header-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .app-name {
    color: mat-color($primary);
  }

  .header {
    position: relative;
    border-top: 2px solid mat-color($primary);
    margin-bottom: 2px;
    background-color: mat-color($background, background);
    @include mat-elevation(1, mat-color($background, tooltip), .4);

    .logo {
      color: mat-color($primary);
    }

    .main-menu {
      .item {
        a {
          color: mat-color($primary);

          &:hover,
          &:focus,
          &.active {
            color: mat-color($primary) !important;
          }
        }
      }
    }

    .actions {
      .link {
        color: #fff
      }
    }

    .user {
      .name {
        color: #fff;
      }
    }
  }

  .drawer {

    .total {
      color: mat-color($primary, text);
    }
  }
}
