@import '~@angular/material/theming';

@mixin header-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .header {
    box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
    border-top: 2px solid mat-color($primary);
    background-color: mat-color($background, background);

    .logo {
      color: mat-color($primary);
    }

    .main-menu {
      .item {
        a {
          color: mat-color($primary);

          &:hover,
          &:focus,
          &.active {
            color: mat-color($primary) !important;
          }
        }
      }
    }
  }
}
