@import "~@angular/material/theming";

@mixin header-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .app-name {
    color: mat-color($primary);
  }

  .header-top {
    background-color: mat-color($background, status-bar, 0.4);
    @include mat-elevation(1, mat-color($background, tooltip), 0.4);
    color: mat-color($foreground, "secondary-text");
    .inv-icon {
      &.style-v1 {
        color: mat-color($foreground, "secondary-text");
        .soc-name {
          background: mat-color($primary);
          color: mat-color($primary, default-contrast);
          &:after,
          &:before {
            background: mat-color($primary);
            color: mat-color($primary, default-contrast);
          }
        }
        .soc-icon-bg {
          background: rgba(0, 0, 0, 0.15);
        }
        .mat-icon {
          color: mat-color($foreground, "secondary-text");
        }
        &:hover {
          color: mat-color($primary, default-contrast);
          .mat-icon {
            color: mat-color($primary, default-contrast);
          }
        }
      }
    }
  }
  .header {
    position: relative;
    border-top: 1px solid mat-color($foreground, divider);
    margin-bottom: 2px;
    background-color: mat-color($background, card);
    @include mat-elevation(2, mat-color($background, tooltip), 0.25);
    .logo {
      color: mat-color($primary);
    }
    .main-menu {
      .item {
        a {
          color: mat-color($foreground, text, 0.75);

          &:hover,
          &:focus,
          &.active {
            color: mat-color($primary) !important;
          }
          &.active {
            &:after {
              background-color: mat-color($primary);
            }
          }
        }
      }
    }

    .actions {
      a {
        color: #fff;
      }
    }
  }

  // user dropdown menu
  .user {
    .mat-button-wrapper {
      .mat-icon {
        color: mat-color($primary, default-contrast);
      }
    }

    .name {
      color: mat-color($primary, default-contrast);
    }
  }

  // sub menu
  .mat-menu-panel {
    .mat-menu-item {
      min-width: 180px;
    }
    &.sub-menu {
      a {
        color: mat-color($foreground, text, 0.75);
        &:hover,
        &:focus,
        &.active {
          color: mat-color($primary) !important;
        }
      }
    }
  }
}
