@use '~@angular/material' as mat;

@mixin hero-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $bg-card-color: mat.get-color-from-palette($background, card);
  .hero-1-v2 {
    .title,
    .sub-title {
      color: mat.get-color-from-palette($primary, default-contrast);
    }
  }
  .hero-2-v2 {
    .box {
      background-color: $bg-card-color;
      @include mat.elevation(4, mat.get-color-from-palette($foreground, text), 0.2);
      .content {
        color: mat.get-color-from-palette($foreground, text, 0.5);
      }
    }
  }

  .hero-2-v3 {
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
    .card {
      background-color: $bg-card-color;
      @include mat.elevation(4, mat.get-color-from-palette($foreground, text), 0.2);
      .card-media {
        @include mat.elevation(5, mat.get-color-from-palette($foreground, text), 0.3);
      }
    }
  }
}
