@import "~@angular/material/theming";

@mixin hero-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $bg-card-color: mat-color($background, card);
  .hero-1-v2 {
    .title {
      color: mat-color($primary, default-contrast);
    }
  }
  .hero-2-v2 {
    .box {
      background-color: $bg-card-color;
      @include mat-elevation(4, mat-color($foreground, text), 0.2);
      .content {
        color: mat-color($foreground, text, 0.5);
      }
    }
  }

  .hero-2-v3 {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
    .card {
      background-color: $bg-card-color;
      @include mat-elevation(4, mat-color($foreground, text), 0.2);
      .card-media {
        @include mat-elevation(5, mat-color($foreground, text), 0.3);
      }
    }
  }
}
