@use '@angular/material' as mat;

@mixin img-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  .card-header {
    .overlay-details {
      a {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
      }
    }
    &:hover {
      .overlay-details {
        a {
          color: #fff;
        }
      }
    }
  }
  .img-bg-shape {
    &:after {
      background-color: mat.m2-get-color-from-palette($primary);
      box-shadow: 0 0 40px mat.m2-get-color-from-palette($primary);
    }
  }
}
