@import "~@angular/material/theming";

@mixin img-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  .card-header {
    .overlay-details {
      a {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
      }
    }
    &:hover {
      .overlay-details {
        a {
          color: #fff;
        }
      }
    }
  }
}
