@import "~@angular/material/theming";

@mixin job-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .sidebar {
    background-color: mat-color($background, background);
  }

  .result {
    .result-total {
      color: mat-color($primary, text);
    }
  }
  .job-header {
    .scroll {
      &.scrolling {
        background: linear-gradient(rgb(97 97 97 / 8%), transparent);
      }
    }
  }
  .search-form-field {
    .mat-icon {
      color: mat-color($primary);
    }
  }

  .job-list {
    .viewport {
      border-right: 1px solid rgb(97 97 97 / 8%);
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.26);
      }
    }
    .item {
      box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.07);
      background-color: mat-color($background, card);

      .wage {
        color: mat-color($primary);
      }
      .media {
        img {
          box-shadow: 0 4px 10px 1px rgb(0 0 0 / 7%);
        }
      }
    }
  }

  .selected {
    &:after,
    &:before {
      background: mat-color($primary);
    }
  }
  .job-details {
    background-color: mat-color($background, card);
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.07);
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.26);
    }
    .media {
      img {
        box-shadow: 0 4px 10px 1px rgb(0 0 0 / 7%);
      }
    }
  }
}
