@import "~@angular/material/theming";

@mixin layout-builder-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .builder-list {
    .layout-builder {
      .layout-inner {
        > .layout {
          &:hover {
            outline: 1px dashed mat-color($primary);
            z-index: 10;
          }
          .block-toolbar {
            background-color: mat-color($background, tooltip, 0.5);
            @include mat-elevation(2, mat-color($background, tooltip), 0.25);
            .mat-button-base {
              color: mat-color($primary, default-contrast);
            }
          }
          > .placeholder {
            &:hover {
              color: mat-color($primary);
            }
          }
          > .block {
            > .item {
              &:hover {
                outline: 1px solid mat-color($primary);
              }
              > .actions {
                background-color: mat-color($background, tooltip, 0.5);
                @include mat-elevation(
                  2,
                  mat-color($background, tooltip),
                  0.25
                );
                .mat-button-base {
                  color: mat-color($primary, default-contrast);
                }
              }
            }
          }
        }
      }
      .layout-preview {
        .col-item {
          background-color: mat-color($warn, 0.2);
          .span {
            color: mat-color($foreground, disabled);
          }
        }
      }
    }
  }
}
