@use '~@angular/material' as mat;

@mixin layout-builder-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .builder-list {
    .layout-builder {
      .layout-inner {
        > .layout {
          &:hover {
            outline: 1px dashed mat.get-color-from-palette($primary);
            z-index: 10;
          }
          .layout-toolbar {
            .toggle {
              background-color: mat.get-color-from-palette($foreground, elevation, 0.7);
              color: mat.get-color-from-palette($primary, default-contrast, 0.8);
            }
            .block-toolbar {
              background-color: mat.get-color-from-palette($foreground, elevation, 0.7);
              @include mat.elevation(2, mat.get-color-from-palette($background, tooltip), 0.25);
              .mat-button-base {
                color: mat.get-color-from-palette($primary, default-contrast, 0.8);
              }
            }
          }
          .placeholder {
            &:hover {
              color: mat.get-color-from-palette($primary);
            }
          }
          .block {
            > .item {
              &:hover {
                outline: 1px solid mat.get-color-from-palette($primary);
                z-index: 10;
              }
              > app-block-toolbar {
                background-color: mat.get-color-from-palette($foreground, elevation, 0.7);

                @include mat.elevation(
                  2,
                  mat.get-color-from-palette($background, tooltip),
                  0.25
                );

                .mat-button-base,
                .title {
                  color: mat.get-color-from-palette($primary, default-contrast, 0.8);
                }
                .title {
                  background: rgb(0 0 0 / 40%);
                }
              }
            }
          }
        }
      }
    }
  }
}
