@use '@angular/material' as mat;

@mixin layout-builder-color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .builder-list {
    .layout-builder {
      .layout-inner {
        > .layout {
          &:hover {
            outline: 1px dashed mat.get-color-from-palette($primary);
            z-index: 10;
          }
          .layout-toolbar {
            .toggle {
              background-color: #333;
              color: mat.get-color-from-palette(
                $primary,
                default-contrast,
                0.8
              );
            }
            .actions {
              background-color: #333;
              @include mat.elevation(
                2,
                mat.get-color-from-palette($background, tooltip),
                0.25
              );
              .mat-mdc-button-base {
                color: mat.get-color-from-palette(
                  $primary,
                  default-contrast,
                  0.8
                );
              }
            }
          }
          .placeholder {
            &:hover {
              color: mat.get-color-from-palette($primary);
            }
          }
          .blocks {
            > .item {
              &:hover {
                outline: 1px solid mat.get-color-from-palette($primary);
                z-index: 10;
              }
              > app-block-toolbar {
                background-color: #333;

                @include mat.elevation(
                  2,
                  mat.get-color-from-palette($background, tooltip),
                  0.25
                );

                .mat-mdc-button-base,
                .title {
                  color: mat.get-color-from-palette(
                    $primary,
                    default-contrast,
                    0.8
                  );
                }
                .title {
                  background: rgb(0 0 0 / 40%);
                }
              }
            }
          }
        }
      }
    }
  }
}
