@use '@angular/material' as mat;
@import "../mixins/amixin";

@mixin list-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .taxonomy-thin-list {
    .thin-sidebar {
      background-color: mat.get-color-from-palette($background, card);
      @include mat.elevation(
        4,
        mat.get-color-from-palette($foreground, text),
        0.1
      );
      @include scrollbar(mat.get-color-from-palette($foreground, divider, 0.2));
    }
  }
  .list-thin {
    .item {
      background-color: mat.get-color-from-palette($background, card);
      @include mat.elevation(
        4,
        mat.get-color-from-palette($foreground, text),
        0.1
      );
    }
  }
}
