@import "~@angular/material/theming";

@mixin loading-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .loading {
    background-color: mat-color($primary);
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    z-index: 999;
  }

  .loader {
    top: calc(50vh - 50px);
    margin: 0 auto;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    border-top: 1em solid mat-color($primary, 0.85);
    border-right: 1em solid mat-color($primary, 0.85);
    border-bottom: 1em solid mat-color($primary, 0.85);
    border-left: 1em solid rgba(250, 250, 250, 0.85);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
