@use '@angular/material' as mat;

@mixin login-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .login-wrapper {
    color: mat.m2-get-color-from-palette($foreground, text, 0.75);
    background-color: map-get($background, card);
    border: 1px solid mat.m2-get-color-from-palette($foreground, divider, 0.06);
    @include mat.elevation(4, mat.m2-get-color-from-palette($foreground, text), 0.3);

    .login-second {
      background-color: mat.m2-get-color-from-palette($background, background);
    }

    .error {
      background-color: mat.m2-get-color-from-palette($warn);
      color: mat.m2-get-color-from-palette($warn, '500-contrast');
    }
  }

  .mark-bg {
    background-color: map-get($background, card);
  }
}
