@use '~@angular/material' as mat;

@mixin manage-media-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .manage-media {
    .masonry-item {
      .selected {
        &:after {
          border: 3px solid mat.get-color-from-palette($primary);
        }
      }
      .actions {
        color: mat.get-color-from-palette($warn);
      }
    }
  }
}
