@use '@angular/material' as mat;
@import '../mixins/amixin';
@mixin manage-media-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .manage-media {
    .viewport {
      @include scrollbar(mat.m2-get-color-from-palette($primary));
    }
    .masonry-item {
      .selected {
        &:after {
          border: 3px solid mat.m2-get-color-from-palette($primary);
        }
      }
      .actions {
        background-color: mat.m2-get-color-from-palette(
          $background,
          tooltip,
          0.6
        );
        .icon-delete {
          &:hover {
            .mat-icon {
              color: mat.m2-get-color-from-palette($warn);
            }
          }
        }
        .mat-icon {
          color: mat.m2-get-color-from-palette($background, card);
        }
      }
    }
  }
}
