@import "~@angular/material/theming";

@mixin manage-sidebar-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat-color($foreground, text, 0.75);

  .manage-sidebar {
    background-color: mat-color($primary, default-contrast);
    a {
      color: mat-color($foreground, text, 0.75);
      &:hover {
        color: mat-color($primary);
      }
    }
    .manage-brand {
      .name {
        a {
          color: mat-color($foreground, text, 0.75);
        }
      }
      .email {
        color: mat-color($foreground, text, 0.3);
      }
    }
    .manage-menu {
      @include scrollbar(mat-color($foreground, divider, 0.2));
      .icon {
        color: mat-color($foreground, text, 0.7);
      }
      .mat-list {
        .mat-list-item {
          color: mat-color($foreground, text, 0.5);
          &:hover {
            a {
              &:after {
                background-color: mat-color($foreground, text, 0.05);
              }
            }
          }
          a {
            &:after {
              display: block;
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 150%;
              height: 100%;
              transform: translateX(-50px);
            }
            &.active {
              color: mat-color($primary);
              &:after {
                background-color: mat-color($primary, 0.05);
              }
            }
          }
        }
      }
      .icon-list {
        .item {
          &:hover {
            background-color: mat-color($foreground, text, 0.05);
          }
          app-hover-menu {
            background-color: mat-color($background, card);
            @include mat-elevation(3, mat-color($foreground, divider, 0.7));
            .top {
              border-bottom: 1px solid mat-color($foreground, divider);
            }
            .hover-menu {
              background-color: mat-color($background, card);
            }
          }
        }
      }
      .mat-expansion-panel-body {
        a {
          color: mat-color($foreground, text, 0.6);
        }
      }
    }
    .manage-footer {
      .toggle {
        .wrapper {
          @include mat-elevation(4, mat-color($foreground, text), 0.3);
        }
      }
    }
    &.expanded {
      background-color: mat-color($primary, 0.85);
      color: mat-color($primary, default-contrast);
      .manage-brand {
        .profile {
          .picture {
            background-color: mat-color($primary, default-contrast);
            @include mat-elevation(2, mat-color($foreground, divider, 0.2));
          }
        }
      }
      .manage-menu {
        .icon {
          color: mat-color($primary, default-contrast);
        }
      }
      .manage-footer {
        .toggle {
          .wrapper {
            @include mat-elevation(4, mat-color($primary), 0.3);
          }
        }
      }
      .mat-divider {
        border-top-color: mat-color($background, card, 0.12);
      }
    }
  }
}
