@import "~@angular/material/theming";

@mixin map-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .amap-container {
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.07);
  }

  .mark-card {
    background-color: mat-color($background, card);
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.07);

    .arrow {
      &.top {
        &:after {
          border-top-color: mat-color($background, card) !important;
        }
      }
    }
  }
  .mark {
    background-color: mat-color($foreground, divider, 0.04);

    &:after {
      background-color: mat-color($foreground, disabled-button, 0.6);
    }
  }
}
