@use '~@angular/material' as mat;

@mixin media-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .media-object {
    .meta,
    .media-body > div:not(.title) {
      color: mat.get-color-from-palette($foreground, text, 0.5);
    }
    &.box-animate {
      box-shadow: 0 0 3px rgb(60 72 88 / 15%);
      .icon {
        background: linear-gradient(
          45deg,
          transparent,
          mat.get-color-from-palette($primary, 0.2)
        );
        .mat-icon {
          color: mat.get-color-from-palette($primary);
        }
      }
      a {
        color: mat.get-color-from-palette($foreground, text, 0.75);
        &:hover {
          color: mat.get-color-from-palette($primary);
        }
      }
      &:hover {
        box-shadow: 0 5px 13px mat.get-color-from-palette($foreground, divider);
      }
    }
    app-icon {
      background-color: mat.get-color-from-palette($background, status-bar);
      color: mat.get-color-from-palette($foreground, text, 0.7);
    }
  }
}
