@import "~@angular/material/theming";

@mixin search-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $light: map-get($background, card);

  .search-sidebar {
    background-color: mat-color($background, card);
    @include mat-elevation(5, mat-color($foreground, text), 0.35);
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      border-bottom: 1px solid mat-color($foreground, divider);
    }
  }
  .search-list {
    .results {
      color: mat-color($foreground, text, 0.4);
    }
    .list {
      background-color: mat-color($background, card);
      border-bottom: 1px solid mat-color($foreground, divider, 0.1);
      color: mat-color($foreground, text, 0.45);
      .title {
        a {
          color: mat-color($foreground, text, 0.75);
          &:hover {
            color: mat-color($primary);
          }
          em {
            color: mat-color($primary);
          }
        }
      }
    }
  }
}
