@use '@angular/material' as mat;

@mixin theme-preview-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat.get-color-from-palette($foreground, text, 0.75);
  .theme-preview {
    .bg-colors {
      .box {
        @include mat.elevation(
          4,
          mat.get-color-from-palette($foreground, divider, 0.45)
        );
      }
    }
    .row {
      .item {
        @include mat.elevation(
          4,
          mat.get-color-from-palette($foreground, divider, 0.45)
        );
      }
    }
  }
}
