@import "~@angular/material/theming";

@mixin user-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-base: mat-color($foreground, text, 0.75);
  .user {
    .user-menu {
      .item {
        a {
          border: 1px solid mat-color($foreground, divider);
          color: mat-color($foreground, text);
          transition: all 0.5s ease;
          &.active,
          &:hover {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
          }
        }
      }
    }
  }
}
