@import "~@angular/material/theming";

@mixin view-map-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .view-map {
    .sidebar {
      background-color: mat-color($background, card);
    }
    .viewport {
      border-right: 1px solid rgb(97 97 97 / 8%);
      @include scrollbar(mat-color($foreground, divider, 0.2));
      .list {
        @include mat-elevation(4, #000, 0.35);
        background-color: mat-color($background, card, 0.85);
        .media {
          img {
            box-shadow: 0 4px 10px 1px rgb(0 0 0 / 7%);
          }
        }
        .badge {
          li {
            color: mat-color($primary, default-contrast);
            background-color: mat-color($primary);
          }
        }
      }
    }
  }
}
