@import "~@angular/material/theming";

@mixin widgets-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .wave-wrapper {
    background: linear-gradient(
      -74deg,
      mat-color($primary, 50) 0%,
      mat-color($primary, 100) 100%
    );

    .wave {
      color: mat-color($background, background);
    }
  }

  .breadcrumb {
    ul {
      li {
        a {
          color: #fff;
        }
      }
    }
  }
  .testimonial {
    &.style-v2 {
      .bx-wrapper {
        img {
          border-color: mat-color($foreground, divider) !important;
        }
      }
      .testimonial-detail {
        .info {
          color: mat-color($foreground, secondary-text);
        }
        .sub-title {
          color: mat-color($primary);
        }
        .desc {
          color: mat-color($foreground, secondary-text);
        }
      }
    }
  }
}
