@import "~@angular/material/theming";

@mixin widgets-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .wave-wrapper {
    background: linear-gradient(
      -74deg,
      mat-color($primary, 50) 0%,
      mat-color($primary, 100) 100%
    );

    .wave {
      color: mat-color($background, background);
    }
  }

  .breadcrumb {
    ul {
      li {
        a {
          color: #fff;
        }
      }
    }
  }

  .testimonial {
    &.style-v2 {
      .bx-wrapper {
        img {
          border-color: mat-color($foreground, divider) !important;
        }
      }
      .testimonial-detail {
        .info {
          color: mat-color($foreground, secondary-text);
        }
        .sub-title {
          color: mat-color($primary);
        }
        .desc {
          color: mat-color($foreground, secondary-text);
        }
      }
    }
  }

  .line-year {
    border-top: solid 1.5px mat-color($foreground, divider);
    &:before {
      background: mat-color($primary);
      border: 1px solid mat-color($primary);
      box-shadow: 0 0px 1px 5px mat-color($primary, 0.3);
    }
  }

  .feature-inner {
    &:before {
      background: mat-color($background, background);
    }
    &:after {
      background: mat-color($background, background);
    }
    .feature-inner-corners {
      &:before {
        background: mat-color($background, background);
      }
      &:after {
        background: mat-color($background, background);
      }
    }
    .feature-inner-btns {
      > a {
        background: mat-color($background, background);
        color: mat-color($primary);
        &.icon-link {
          background: rgba(0, 0, 0, 0.8);
          color: mat-color($primary, default-contrast);
        }
      }
    }
    .feature-inner-ling {
      &:before {
        box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.1) inset;
        -webkit-box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.1) inset;
      }
      &:after {
        background: mat-color($primary);
      }
    }
  }
  .overlay {
    &:before {
      background-color: rgba(60, 72, 88, 0.7);
    }
  }
}
