@use '@angular/material' as mat;
@use 'sass:map';
@use '../../theme/variable/breakpoint' as *;
@use '../../theme/mixins/amixin' as *;

@mixin widgets-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  $bg-color: mat.m2-get-color-from-palette($background, background);
  $divider-color: mat.m2-get-color-from-palette($foreground, divider);

  .view-list {
    .sidebar {
      > .inner {
        background-color: mat.m2-get-color-from-palette($background, card);
        @include mat.elevation(4, mat.m2-get-color-from-palette($foreground, divider), 0.5);
      }
    }

    .view {
      @include mat.elevation(6, mat.m2-get-color-from-palette($foreground, divider), 0.25);
    }
  }

  .dynamic-table {
    background-color: mat.m2-get-color-from-palette($background, card);

    .mat-mdc-header-cell {
      color: mat.m2-get-color-from-palette($foreground, text);
    }

    tbody {
      > tr {
        &:hover {
          background-color: mat.m2-get-color-from-palette($background, background);
        }
      }

      td {
        .marker {
          color: mat.m2-get-color-from-palette($warn);
        }
      }
    }
  }

  .border-primary {
    border: 1px solid mat.m2-get-color-from-palette($primary) !important;
  }

  .border-warn {
    border: 1px solid mat.m2-get-color-from-palette($warn) !important;
  }

  .border-accent {
    border: 1px solid mat.m2-get-color-from-palette($accent) !important;
  }

  .inline-lightbox {
    .inline {
      color: mat.m2-get-color-from-palette($primary);
    }
  }

  .panel {
    .mat-expanded .mat-expansion-panel-header-title {
      .badge {
        color: mat.m2-get-color-from-palette($primary, default-contrast);
        background-color: mat.m2-get-color-from-palette($primary, 400, 0.85);
      }
    }
  }

  .chart {
    border: 1px solid mat.m2-get-color-from-palette($foreground, divider);
    @include mat.elevation(2, mat.m2-get-color-from-palette($foreground, divider), 0.07);
  }

  .tab {
    &.pills {
      .mat-mdc-tab {
        background-color: mat.m2-get-color-from-palette($primary, 0.06);
      }
      .mdc-tab--active {
        background-color: mat.m2-get-color-from-palette($primary);
        opacity: 1;
        .mdc-tab__text-label {
          color: mat.m2-get-color-from-palette($primary, default-contrast);
        }
      }
    }
  }

  .github-star {
    background-color: mat.m2-get-color-from-palette($background, card);
    border: 1px solid mat.m2-get-color-from-palette($foreground, divider);

    a {
      color: mat.m2-get-color-from-palette($foreground, text, 0.75);
    }

    .right {
      border-left: 1px solid mat.m2-get-color-from-palette($foreground, divider);
    }
  }

  .mat-mdc-outlined-button:not(.mat-button-disabled) {
    border-color: mat.m2-get-color-from-palette($primary);
  }

  .jsoneditor {
    border-color: mat.m2-get-color-from-palette($primary);

    .jsoneditor-menu {
      background-color: mat.m2-get-color-from-palette($primary);
      border-bottom-color: mat.m2-get-color-from-palette($primary);
    }
  }

  .code-editor {
    .box {
      border: 1px solid mat.m2-get-color-from-palette($foreground, divider);
      @include mat.elevation(2, mat.m2-get-color-from-palette($foreground, divider), 0.07);

      .jsoneditor {
        border-color: transparent;
      }
    }
  }

  .upload-media {
    .ngx-file-drop__drop-zone {
      border: 2px dotted mat.m2-get-color-from-palette($primary, 0.75);

      .ngx-file-drop__content {
        color: mat.m2-get-color-from-palette($foreground, text, 0.5);
      }
    }
  }

  .dynamic-table {
    a {
      color: mat.m2-get-color-from-palette($foreground, text);
      &:hover,
      &:focus {
        color: mat.m2-get-color-from-palette($primary);
      }
    }
  }
}
