<div class="footer-inverse m-top" *ngIf="content">
  <div class="footer-bottom p-y-sm">
    <div class="container">
      <div class="inner" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutAlign.lt-md="center center"
        fxLayoutAlign.gt-sm="space-between center">
        <div class="left" *ngIf="content?.footerBottom?.left" [innerHTML]="content.footerBottom.left"></div>
        <div class="right" *ngIf="content?.footerBottom?.right">
          <div fxLayout="row">
            <app-link class="item" *ngFor="let item of content.footerBottom.right" [content]="item"></app-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
