.cards {
  .group {
    border-radius: 6px;
    padding: 6px;
  }
  .item {
    position: relative;
    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
    .inner {
      margin: 2px;
      padding: 6px;
      border-radius: 4px;
      &.move {
        &:hover {
          cursor: move;
        }
      }
      &.show {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
