@import "/src/theme/mixins/amixin";
.feature-inner {
  position: relative;
  &:before {
    content: "";
    height: 16px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 1px;
    z-index: 1;
    opacity: 0;
    @include transition(all, 0.4s, ease);
  }
  &:after {
    content: "";
    height: 1px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 16px;
    opacity: 0;
    @include transition(all, 0.4s, ease);
  }
  .feature-inner-corners {
    &:before {
      content: "";
      height: 16px;
      right: 10px;
      position: absolute;
      bottom: 10px;
      width: 1px;
      z-index: 1;
      opacity: 0;
      @include transition(all, 0.4s, ease);
    }
    &:after {
      content: "";
      height: 1px;
      right: 10px;
      position: absolute;
      bottom: 10px;
      width: 16px;
      opacity: 0;
      @include transition(all, 0.4s, ease);
    }
  }
  .feature-inner-btns {
    position: absolute;
    z-index: 1;
    .mat-icon {
      line-height: 40px;
    }
    @include middle-center();
    > a {
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      @include scale(0);
      @include transition(all, 0.4s, ease);
      @include border-radius(3px, 3px, 3px, 3px);
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .feature-inner-ling {
    position: relative;
    display: block;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    &:before {
      content: "";
      height: 100%;
      left: -15%;
      position: absolute;
      top: 0;
      width: 130%;
      @include transition(all, 0.4s, ease);
    }
    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0;
      @include transition(all, 0.4s, ease);
    }
    .title {
      position: absolute;
      bottom: 0;
      text-align: center;
      display: block;
      box-sizing: border-box;
      width: 100%;
      opacity: 0;
      @include transition(all, 0.4s, ease);
    }
  }
  &:hover {
    &:before,
    &:after {
      opacity: 1;
      @include transition(all, 0.4s, ease);
    }
    .feature-inner-corners {
      &:before,
      &:after {
        opacity: 1;
        @include transition(all, 0.4s, ease);
      }
    }
    .feature-inner-ling {
      .title {
        opacity: 1;
        z-index: 10;
        @include transition(all, 0.4s, ease);
      }
    }
    .feature-inner-btns {
      > a {
        @include scale(1);
        @include transition(all, 0.4s, ease);
        &:not([class*="download"]):hover {
          z-index: 1;
          @include transform(45deg, 1.3, 0, 0);
          @include transition(all, 0.4s, ease);
        }
      }
    }
    .feature-inner-ling:after {
      opacity: 0.8;
      @include transition(all, 0.4s, ease);
    }
  }
}
img {
  width: 100%;
  height: auto;
}
