<div class="feature-inner" *ngIf="content">
  <div class="feature-inner-corners">
    <div class="feature-inner-btns">
      <a href="javascript:void(0)" (click)="open(content.img)" class="expand-image" *ngIf="content.fullIcon">
        <mat-icon>{{content.fullIcon}}</mat-icon>
      </a>
      <a href="{{content.link}}" class="icon-link" *ngIf="content.openIcon">
        <mat-icon>{{content.openIcon}}</mat-icon>
      </a>
    </div>
    <div class="mf-popup">
      <div class="mf-no-gallery">
        <div class="feature-inner-ling">
          <div class="media" [ngClass]="content.ratios || 'media-4-3'">
            <app-img *ngIf="content.img" [content]="content.img"></app-img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
