<div class="hero-1v3 position-relative">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-bg-img [content]="content.bg"></app-bg-img>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="container">
    <div class="inner" fxLayout="row wrap" fxLayoutAlign="center center">
      <app-text [attr.data-path]="'text'" fxFlex.gt-sm="58%" [content]="content.text" *ngIf="content.text"></app-text>
      <div fxFlex.gt-sm="42%" *ngIf="content.right">
        <app-dynamic-component [attr.data-path]="'right.'+i" *ngFor="let item of content.right;index as i"
          [inputs]="{content:item}"></app-dynamic-component>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-shape></app-shape>
</div>
