<div class="hero-1-v2 position-relative p-top-xl" [ngClass.gt-sm]="'m-bottom-xl'" *ngIf="content">
  <app-bg-img [content]="content.bg"></app-bg-img>
  <div class="container position-relative" *ngIf="mediaConfig">
    <div class="swiper-media">
      <swiper #media [config]="mediaConfig" [(index)]="index" (slideChange)="onSlideChange($event)">
        <ng-template swiperSlide *ngFor="let slide of content.sliders.elements">
          <app-bg-img [content]="slide.bg"></app-bg-img>
        </ng-template>
      </swiper>
    </div>
    <div class="swiper-text p-y-sm p-x-sm">
      <swiper #text [config]="textConfig" [(index)]="index" (slideChange)="onSlideChange($event)">
        <ng-template swiperSlide *ngFor="let slide of content.sliders.elements">
          <h2 class="title" [innerHTML]="slide.title|safeHtml"></h2>
          <div *ngIf="slide.subTitle" class="sub-title m-y-sm" [innerHTML]="slide.subTitle|safeHtml"></div>
          <app-btn [content]="slide.btn"></app-btn>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>