@if (content) {
  <mat-chip-listbox [ngClass]="classes">
    @for (item of content.elements; track item) {
      <mat-chip-option
        color="{{ item?.color || 'primary' }}"
        selected="{{ item?.selected ? true : false }}"
      >
        @if (!item.link) {
          {{ item.label }}
        } @else {
          @if (item.link) {
            <app-link [content]="item.link" />
          }
        }
        <ng-template #link>
          @if (item.link) {
            <app-link [content]="item.link" />
          }
        </ng-template>
      </mat-chip-option>
    }
  </mat-chip-listbox>
}
