@import '~@angular/material/theming';

$dark-color: ( //
  50: #efe5fd,
  100: #d5bff9,
  200: #b894f6,
  300: #9968ed,
  400: #8147e0,
  500: #6723d4,
  600: #5c1ece,
  700: #4c14c5,
  800: #3c0dbd,
  900: #1d00af,
  A100:#007fff,
  A200: #126bfb,
  A400: #2058e8,
  A700: #2c33c8,
  contrast: ( //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));
