@import "~@angular/material/theming";
$enar-color: (
  //
  50: #e0f6f7,
  100: #b0e9e9,
  200: #76dcdb,
  300: #1ccdca,
  400: #00c0bc,
  500: #00b3ab,
  600: #00a59c,
  700: #00948a,
  800: #00837a,
  900: #00665a,
  A100: #b0e9e9,
  A200: #76dcdb,
  A400: #00c0bc,
  A700: #00948a,
  contrast: (
    //
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
