@import "../../../../../theme//mixins/amixin";
.builder-list {
  height: 100%;
  overflow-x: hidden !important;
  .sidebar-drawer {
    width: 190px;
  }
  .sidebar-drawer,
  .wrapper {
    height: calc(100% - 55px);
    overflow-y: auto !important;
  }
  .wrapper {
    overflow-x: hidden !important;
    .load {
      @include middle-center();
      z-index: 9999;
    }
  }
  ::ng-deep .component-item {
    position: relative;
    &.cdk-drag:not(.cdk-drag-disabled) {
      cursor: move;
    }
    &.cdk-drag-disabled {
      ::ng-deep {
        .active-toolbar {
          &:after {
            opacity: 0;
            display: none;
          }
        }
      }
    }
  }

  .actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .preview-wrapper {
    display: none;
  }
  .preview {
    #builder-list {
      display: none;
    }
    .preview-wrapper {
      display: block;
    }
    .preview-iframe {
      &:after {
        content: "";
        position: absolute;
        display: block;
        border-radius: 54px;
        left: -12px;
        top: -12px;
        right: -12px;
        bottom: -12px;
        z-index: -1;
      }
      ::ng-deep iframe {
        width: 100%;
        height: 100%;
        border-radius: 38px;
      }
    }
  }

  .preview-wrapper {
    width: 100%;
    height: 100%;
    .preview-iframe {
      max-height: 94vh;
    }
  }

  .preview-xs {
    .preview-iframe {
      width: 375px;
      height: 812px;
    }
  }
  .preview-sm {
    .preview-iframe {
      width: 768px;
      height: 1024px;
    }
  }
  .preview-md {
    .preview-iframe {
      width: 1280px;
      height: 800px;
    }
  }

  .preview-md {
    .preview-iframe {
      width: 1280px;
      height: 800px;
    }
  }

  .preview-lg {
    .preview-iframe {
      width: 1920px;
      height: 1080px;
    }
  }

  .preview-iframe {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
}
