.popup-select {
  .item {
    position: relative;
    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
    .inner {
      margin: 2px;
      padding: 10px 6px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  padding: 15px;
  border-radius: 4px;
  width: 460px;
  height: 380px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  &[data-popper-placement] {
    display: flex;
  }
  .hover-show {
    transform: scale(0.8);
  }
}
