<div class="popup-select">
  <div class="box" *ngIf="widgets$ | async as widgets" fxLayout="row wrap">
    <div class="item" #item (mouseenter)="onHover(widget, item)" (click)="onSelect(widget)" matRipple fxFlex.lt-sm="33%"
      fxFlex.gt-xs="0 0 calc(100% / 7)" *ngFor="let widget of widgets">
      <div class="inner" fxLayout="column" fxLayoutAlign="center center">
        <app-icon *ngIf="widget.icon" [content]="widget.icon"></app-icon>
        <div class="title" title="{{widget.label}}">{{widget.label}}</div>
      </div>
    </div>
  </div>
  <div class="popup" #popup *ngIf="widget$ | async as widget">
    <div class="hover-show">
      <app-dynamic-component [inputs]="widget"></app-dynamic-component>
    </div>
  </div>
</div>