<app-bg [content]="{ classes: 'bg-fill-width bg-shadow' }" />
@if (content) {
  <div class="taxonomy-thin-list">
    <div class="container">
      <div class="inner-grid p-y-md">
        @if (content.sidebar) {
          <div class="thin-sidebar col-sapn-12 md:col-span-3">
            @for (item of content.sidebar; track item) {
              <app-dynamic-component [inputs]="item" />
            }
          </div>
        }
        <div class="list col-span-12 md:col-span-9">
          <app-list-thin [content]="content.elements" [pager]="content.pager" />
        </div>
      </div>
    </div>
  </div>
}
