<div class="dynamic-card-list-1-v1 m-y" *ngIf="content">
  <div class="container">
    <div class="inner" fxLayout="row wrap" fxFlex="100%">
      <app-text [content]="content.header" *ngIf="content.header" fxFlex="100"></app-text>
      <div *ngIf="nodes" class="card-list m-y" fxLayout="row wrap" fxLayoutAlign="start start" fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 {{content.sidebar ? '75%':'100%'}}">
        <app-card-1v1 class="m-bottom-sm m-x-xs" fxFlex.gt-sm="{{row(content.row, '2rem')}}" fxFlex.lt-md="0 0 100%"
          [content]="card" *ngFor="let card of nodes | paginate: { itemsPerPage: pager.itemsPerPage, currentPage:
          pager.currentPage, totalItems: pager.totalItems}; trackBy: trackByFn">
        </app-card-1v1>
      </div>
      <div class="list-bottom width-100">
        <app-pagination *ngIf="nodes?.length;else empty" (pageChange)="onPageChange($event)"></app-pagination>
        <ng-template #empty>
          <div class="text-center p-y-xl">
            <p>没有数据。</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>