@if (content) {
  <div class="dynamic-card-list-1-v1 m-y">
    <div class="container">
      <div class="inner">
        @if (content.header) {
          <app-text class="header-text" [content]="content.header" />
        }
        @if (nodes) {
          <div class="card-list m-y">
            @for (
              card of nodes
                | paginate
                  : {
                      itemsPerPage: pager.itemsPerPage,
                      currentPage: pager.currentPage,
                      totalItems: pager.totalItems,
                    };
              track card
            ) {
              <app-card-1v1
                class="m-bottom-sm m-x-xs col-span-12 md:col-span-{{ content.row }}"
                [content]="card"
              />
            }
          </div>
        }
        <div class="list-bottom">
          @if (nodes.length) {
            <app-pagination (pageChange)="onPageChange($event)" />
          } @else {
            <div class="empty-text p-y-xl">
              <p>没有数据。</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
