<ng-container *ngIf="content && config?.enabel">
  <button mat-button [mat-menu-trigger-for]="menu">
    <app-icon [content]="config.icon"></app-icon>
    <span>{{config.label}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="canAccess;else canotAccess">
      <button *ngFor="let item of content.elements" mat-menu-item>
        <app-icon [content]="item.icon"></app-icon>
        <a target="_blank" href="{{item.href}}">{{item.label}}</a>
      </button>
    </ng-container>
    <ng-template #canotAccess>
      <ng-container *ngIf="!userState.authenticated">
        <button mat-menu-item>
          <app-icon [content]="{'name':'person'}"></app-icon>
          <a href="javascript:vovid(0)" (click)="openLogin()">登录</a>
        </button>
      </ng-container>
      <ng-container *ngIf="!isPayed">
        <button mat-menu-item>
          <app-icon [content]="{'name':'shopping_cart'}"></app-icon>
          <a href="{{payUrl}}" target="_blank">支付购买下载</a>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>
</ng-container>
