<div class="hero-2-v2 relative p-y-xl">
  <a class="anchor" [id]="content.id || ''"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-bg-img [attr.data-path]="'bg'" *ngIf="content.bg" [content]="content.bg"></app-bg-img>
  <div class="{{ content.fullWidth ? 'relative' : 'container relative' }} flex">
    <div
      class="inner md:left-2/4 flex-12/12 md:flex-7/12 relative"
    >
      <div class="box p-x">
        <app-text [attr.data-path]="'body'" [content]="content.body"></app-text>
      </div>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
