.shape {
  bottom: -16px;
  ::ng-deep {
    svg {
      transform: scale(2);
      width: 100%;
      height: 100%;
      transform-origin: top center;
    }
    .custom-icon {
      display: block;
      transform: none;
    }
    .mat-icon {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
