<div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
  <app-spinner [content]="{color:'primary', size:40}"></app-spinner>
</div>
<div class="article m-y" *ngIf="content">
  <div class="container" fxLayoutGap="2rem" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="center start">
    <mat-card class="m-y-xs" *ngFor="let item of content" fxFlex.xs="100" fxFlex.sm="30" fxFlex.gt-sm="23">
      <img mat-card-image [src]="relation[item.relationships.field_image.data.id].attributes.uri.url" alt="">
      <mat-card-content>
        <p *ngIf="item.attributes.body.summary" [innerHTML]="item.attributes.body.summary.length > 120 ? (item.attributes.body.summary | slice:0:120)+' ...' :
          item.attributes.body.summary">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="primary">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button>更多</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
