@use '../../../../../../theme/mixins/amixin' as *;

.profile {
  position: relative;
  border-radius: 4px;
  background-color: var(--mat-sys-background);
  box-shadow: var(--mat-sys-level1);
}
.avatar {
  ::ng-deep {
    img {
      width: 100px;
      height: 100px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}
