@use '../common.scss';
.footer-inverse {
  z-index: 2;
}

.item-header {
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.left {
  font-size: 14px;
}
