.preview-section {
  margin-top: 2rem;
  border: 1px solid #eee;
  padding: 1rem;
  overflow: auto;

  .mat-mdc-table {
    width: 100%;
    max-height: 60vh;
    overflow: auto;
  }
  .mat-column-select,
  .mat-column-status,
  .mat-column-actions,
  .mat-column-index {
    flex: 0 1 80px;
  }
}

// 添加加载动画
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
