.preview-section {
  .mat-mdc-table {
    width: 100%;
    height: 60vh;
    overflow: auto;
  }
  .mat-column-select,
  .mat-column-nid,
  .mat-column-select,
  .mat-column-status,
  .mat-column-index {
    flex: 0 1 70px;
    padding: 0;
  }
  .mat-column-created {
    flex: 0 1 135px;
    padding: 0;
  }
  .mat-column-langcode {
    flex: 0 1 94px;
    padding: 0;
  }
}

// 添加加载动画
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
