<div class="collector">
  <div class="container">
    <div class="p-5 my-10 mx-auto bg-white rounded-lg shadow-lg">
      <div class="grid grid-cols-12 gap-8 mb-3">
        <div class="col-span-12 sm:col-span-9 relative">
          <div class="flex justify-between items-center">
            <app-title [content]="{ label: '数据采集', style: 'style-v4' }"></app-title>
            <mat-form-field>
              <mat-label>过滤</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input />
            </mat-form-field>
          </div>
          <!-- 进度指示 -->
          @if (isCollecting()) {
            <div class="load absolute inset-0 z-10 flex justify-center items-center">
              <app-loading />
            </div>
          }

          <!-- 数据预览 -->
          <div class="preview-section">
            <mat-table [dataSource]="previewData">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select" [sticky]="true">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  >
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(item) : null"
                    [checked]="selection.isSelected(item)"
                    [disabled]="item.status"
                  >
                  </mat-checkbox>
                </mat-cell>
              </ng-container>
              <!-- 序号 -->
              <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef>序号</mat-header-cell>
                <mat-cell class="opacity-90 text-sm" *matCellDef="let item">{{
                  item.index
                }}</mat-cell>
              </ng-container>
              <!-- nid 列 -->
              <ng-container matColumnDef="nid">
                <mat-header-cell *matHeaderCellDef>nid</mat-header-cell>
                <mat-cell
                  class="opacity-90 text-sm"
                  *matCellDef="let item"
                  [innerHTML]="item.nid"
                ></mat-cell>
              </ng-container>
              <!-- 标题列 -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>标题</mat-header-cell>
                <mat-cell
                  (click)="viewDetails(item)"
                  *matCellDef="let item"
                  class="cursor-pointer"
                  [innerHTML]="item.title"
                ></mat-cell>
              </ng-container>

              <!-- 创建列 -->
              <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef>创建</mat-header-cell>
                <mat-cell class="opacity-90 text-xs" *matCellDef="let item">{{
                  item.created | date: 'yyyy/MM/dd HH:mm'
                }}</mat-cell>
              </ng-container>

              <!-- 语言列 -->
              <ng-container matColumnDef="langcode">
                <mat-header-cell *matHeaderCellDef>语言</mat-header-cell>
                <mat-cell class="opacity-90 text-sm" *matCellDef="let item">{{
                  item.langcode
                }}</mat-cell>
              </ng-container>

              <!-- 状态列 -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>状态</mat-header-cell>
                <mat-cell
                  class="opacity-90 text-sm"
                  [ngClass]="item.status ? 'text-red-600' : ''"
                  *matCellDef="let item"
                  >{{ item.status ? '已导入' : '待导入' }}</mat-cell
                >
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                [class.invalid-row]="row._status === 'invalid'"
              >
              </mat-row>
            </mat-table>
            @if (links()) {
              <app-pagination-links (pageChange)="onPageChange($event)" [links]="links()" />
            }
          </div>

          <!-- 错误提示 -->
          @if (errorMessage()) {
            <div class="error-section">
              <mat-card class="error-card">
                <mat-card-header>
                  <mat-icon matCardAvatar color="warn">error</mat-icon>
                  <mat-card-title>采集过程中发生错误</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  {{ errorMessage() }}
                </mat-card-content>
              </mat-card>
            </div>
          }
        </div>
        <div class="col-span-12 sm:col-span-3 px-5 bg-gray-100 rounded-md">
          <div class="flex flex-col justify-center">
            <app-title [content]="{ label: '数据来源', style: 'style-v4' }"></app-title>
            <app-formly [form]="form" [fields]="fields" [model]="model" />
            <app-btn
              (click)="start()"
              class="my-5"
              [content]="{
                mode: 'raised',
                label: '开始采集',
                color: 'primary',
                icon: {
                  svg: 'download',
                },
              }"
            />
          </div>
        </div>
      </div>
      <mat-divider />
      <div class="grid grid-cols-12 gap-5 items-center py-3">
        <div class="col-span-12">
          @if (selectedForm) {
            <app-title [content]="{ label: '选择导入字段', style: 'style-v4' }"></app-title>
            <app-formly [form]="selectedForm" [fields]="nodeFields" [model]="selectedModel" />
          }
        </div>
        <div class="col-span-12 sm:col-span-8 flex flex-col gap-2">
          <div class="font-bold">
            已选择
            <span class="text-primary">{{ selection.selected.length }} </span>条数据，已成功导入
            <span class="text-primary">{{ successCount() }}</span
            >条数据
          </div>
          <div class="text-gray-500 text-sm">
            该采集器基于Druapl JSONAPI，目标站需开启JSONAPI，并开放访问权限。
          </div>
        </div>
        <div class="col-span-12 sm:col-span-4 flex justify-center items-center">
          <app-btn
            (click)="confirmImport(selection.selected)"
            [content]="{
              label: '确认导入',
              mode: 'raised',
              color: 'primary',
              disabled: !selection.hasValue(),
              icon: {
                svg: 'send',
              },
            }"
          />
        </div>
      </div>
    </div>
  </div>
</div>
