.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
}
.showcase {
  position: fixed;
  max-width: 50vw;
  min-width: 600px;
  margin: 40px;
  z-index: 9999;
  left: 350px;
}
