<div class="meta-edit">
  <app-title [content]="{label:content.data.tag,style:'style-v4'}"></app-title>
  <div class="img-section" *ngIf="content.mode === 'img'">
    <div class="meta" fxLayout="row" fxLayoutAlign="start center">
      <img src="{{content.data.src}}" alt="">
      <div class="content" fxLayout="column">
        <div class="title">{{content.data.fileName}}</div>
        <div class="desc">{{content.data.alt}}</div>
      </div>
    </div>
    <app-btn class="action" (click)="openMedias()" [content]="{label:'更新图片',color:'primary',mode:'raised'}"></app-btn>
  </div>
  <div class="text-section" *ngIf="content.mode === 'text'">
    <quill-editor (onEditorCreated)="editorCreated($event)" [modules]="modules" [ngModel]="content.data.innerHTML"
      (onContentChanged)="contentChanged($event)" [styles]="{height:'180px'}">
    </quill-editor>

    <div class="gui-ui m-top-sm">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              样式
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <div #gui></div>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>