.meta-edit {
  padding: 20px;
  .action {
    ::ng-deep {
      button {
        width: 100%;
        margin: 10px 0;
      }
    }
  }

  .meta {
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      border-radius: 4px;
    }
    .desc {
      opacity: 0.85;
    }
  }

  .gui-ui {
    ::ng-deep {
      .dg.main {
        width: 100% !important;
        margin: 0;
        border-radius: 4px;
        overflow: hidden;
        .dg {
          text-shadow: none;
          font: inherit;
          font-size: 14px;
          .slider {
            height: 8px;
            margin-top: 0;
            margin-left: 0;
            border-radius: 8px;
            order: -1;
            flex: 0 0 auto;
          }
          .c {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .slider-fg {
              border-radius: 8px;
            }

            input {
              &[type="text"] {
                margin-top: 0;
                height: 20px;
                box-sizing: border-box;
                text-shadow: none !important;
                font-weight: normal !important;
                font-size: small;
                text-align: center;
                padding: 0 2px;
                width: 48px;
              }
            }
            > input {
              &[type="text"] {
                flex: 1 1 auto;
                border-radius: 20px;
                font-size: 12px;
              }
            }
          }
        }
        .close-button {
          display: none;
        }
        li {
          &:not(.folder) {
            height: 40px;
            line-height: 40px;
            border-left: 0;
            background: transparent;
          }
          &.folder {
            border-left: 0;
          }
          &.title {
            margin-left: 0;
            padding-left: 5px;
          }
          &.cr {
            > div {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
