@import '../../theme/variable/variable.scss';

@media #{$gt-xs} {
  .sidebar {
    height: calc(100vh - 100px);
    overflow: auto;
    z-index: 99;
    border-radius: 10px;
  }
}

.map-wrapper {
  height: calc(100vh - 100px);

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 1rem;
  }
}
