<div class="container-fluid">
  <div class="job position-relation" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <div class="sidebar p-x-xs" fxFlex.xs="100%" fxFlex.gt-xs="500px">
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
      <div class="m-y" *ngIf="nodes.length == 0" fxLayoutAlign="center center">
        暂无数据
      </div>
      <app-job-filter [content]="nodes" (regionChange)="regionFilter($event)"></app-job-filter>
      <app-job-list (selected)="onSelected($event)" *ngIf="nodes.length > 0" [content]="nodes" [relation]="relation"
        [selectedId]="selectedId">
      </app-job-list>
    </div>
    <div class="map-wrapper" fxFlex.xs="100%" fxFlex.gt-xs="100%">
      <app-map *ngIf="nodes && AMap" [content]="nodes" [relation]="relation" [AMap]="AMap">
      </app-map>
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
    </div>
  </div>
</div>
