@import '../../theme/variable/variable.scss';

@media #{$gt-xs} {
  .sidebar {
    height: calc(100vh - 100px);
    overflow: auto;
    margin: 20px;
    position: absolute;
    z-index: 999;
    border-radius: 10px;
  }
}

.map-wrapper {
  height: 100vh;

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 1rem;
  }
}
