formly-form {
  ::ng-deep {
    formly-field {
      display: inline-block;
      input[type="color"] {
        height: 19px;
      }
    }
    .section-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
