@if (content(); as contentValue) {
  <div class="tab" [class]="{ pills: contentValue.pills }">
    @if (contentValue.id) {
      <a class="anchor" [id]="contentValue.id" aria-hidden="true"></a>
    }
    <app-spacer [size]="contentValue.spacer || 'md'" />
    <div class="{{ contentValue.fullWidth ? '' : 'container' }}">
      @if (contentValue.text) {
        <app-text [attr.data-path]="'text'" [content]="contentValue.text" />
      }
      @switch (contentValue.align) {
        @case ('center') {
          <mat-tab-group
            [attr.data-path]="'elements'"
            [selectedIndex]="selectedIndex"
            mat-align-tabs="center"
            [class]="contentValue.classes"
          >
            @for (item of contentValue.elements; track item; let i = $index) {
              <mat-tab label="{{ item.label }}">
                <div [attr.data-path]="i" class="{{ contentValue.fullWidth ? 'py-5' : 'p-5' }}">
                  @if (contentValue.bg) {
                    <app-bg-img [content]="contentValue.bg" />
                  }
                  @for (item of item.elements; track item; let i = $index) {
                    <app-dynamic-component [attr.data-path]="'elements.' + i" [inputs]="item" />
                  }
                </div>
              </mat-tab>
            }
          </mat-tab-group>
        }
        @case ('end') {
          <mat-tab-group
            [attr.data-path]="'elements'"
            [selectedIndex]="selectedIndex"
            mat-align-tabs="end"
            [class]="contentValue.classes"
          >
            @for (item of contentValue.elements; track item; let i = $index) {
              <mat-tab label="{{ item.label }}">
                <div [attr.data-path]="i" class="{{ contentValue.fullWidth ? 'py-5' : 'p-5' }}">
                  @if (contentValue.bg) {
                    <app-bg-img [content]="contentValue.bg" />
                  }
                  @for (item of item.elements; track item; let i = $index) {
                    <app-dynamic-component [attr.data-path]="'elements.' + i" [inputs]="item" />
                  }
                </div>
              </mat-tab>
            }
          </mat-tab-group>
        }
        @default {
          <mat-tab-group
            [attr.data-path]="'elements'"
            [selectedIndex]="selectedIndex"
            mat-align-tabs="start"
            [class]="contentValue.classes"
          >
            @for (item of contentValue.elements; track item; let i = $index) {
              <mat-tab label="{{ item.label }}">
                <div [attr.data-path]="i" class="{{ contentValue.fullWidth ? 'py-5' : 'p-5' }}">
                  @if (contentValue.bg) {
                    <app-bg-img [content]="contentValue.bg" />
                  }
                  @for (item of item.elements; track item; let i = $index) {
                    <app-dynamic-component [attr.data-path]="'elements.' + i" [inputs]="item" />
                  }
                </div>
              </mat-tab>
            }
          </mat-tab-group>
        }
      }
    </div>
    <app-spacer [size]="contentValue.spacer || 'md'" />
  </div>
}
