<div class="dynamic-card-list m-y" *ngIf="content">
  <div class="container">
    <div class="inner grid grid-cols-12">
      <app-search-sidebar class="col-span-12 md:col-span-2" *ngIf="content.sidebar" [content]="content.sidebar" [form]="form">
      </app-search-sidebar>
      <div *ngIf="nodes" class="card-list m-y col-span-12 md:col-span-{{content.sidebar?'10':'12'}} grid grid-cols-12">
        <app-card class="col-span-12 md:col-span-{{content.row}} m-bottom-sm"
          [content]="card" *ngFor="let card of nodes | paginate: { itemsPerPage: pager.itemsPerPage, currentPage:
          pager.currentPage, totalItems: pager.totalItems}; trackBy: trackByFn">
        </app-card>
        <div class="list-bottom w-full">
          <app-pagination *ngIf="nodes?.length;else empty" (pageChange)="onPageChange($event)"></app-pagination>
          <ng-template #empty>
            <div class="text-center p-y-xl">
              <p>没有数据。</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
