.mega-menu {
  @apply absolute left-0 w-full bg-white hidden overflow-auto;
  z-index: -1;
  max-height: 85vh;

  &.active {
    display: block;
  }

  .inner {
    padding: 2rem 4rem;
  }
}

.label {
  font-weight: bold;
}

.item {
  @apply pr-8;

  ::ng-deep {
    a {
      font-size: 15px;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &:last-child {
    padding-right: 0;
  }
}
