<app-link class="top" [content]="content" />
<div class="mega-menu" [class.active]="active">
  <div class="container inner flex">
    @for (item of content.child; track item) {
      <div class="item flex-[0_1_100%]">
        <div class="label m-bottom-xs">
          <app-link [content]="item" />
        </div>
        @for (subMenu of item.child; track subMenu; let isLast = $last) {
          <div class="sub-menu">
            <app-link [content]="subMenu" />
            @if (!isLast) {
              <mat-divider class="m-y-xs" />
            }
          </div>
        }
      </div>
    }
  </div>
</div>
