@use 'mixins/amixin' as *;
.dashboard-box {
  border-radius: 4px;
  .box-header {
    padding: 20px;
    ::ng-deep {
      .mat-icon {
        cursor: pointer;
      }
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }
  .loading-inner {
    @include middle-center();
  }
  ::ng-deep {
    .chart {
      padding: 0;
      border: 0;
      min-height: 300px;
    }
  }
}
