<div class="dashboard-box">
  <div class="box-header" *ngIf="content.title || content.form" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mat-h3 bold m-bottom-0" *ngIf="content.title">
      {{content.title.label}}
    </div>
    <div class="filter" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <app-formly *ngIf="content.form" [form]="form" [model]="model" [fields]="content.form"
        (modelChange)="onModelChange($event)"></app-formly>
      <app-icon *ngIf="content?.params?.api" (click)="reload()" [content]="{svg:'reload'}"></app-icon>
    </div>
  </div>
  <app-dynamic-component [inputs]="{content: widget$ | async}"></app-dynamic-component>
  <div class="loading-inner" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>