<ng-container *ngIf="builderFullScreen$|async">
  <div *ngTemplateOutlet="toolbar;context:{isFull:builderFullScreen$|async}"></div>
</ng-container>
<!-- placeholder for fixed -->
<div *ngTemplateOutlet="toolbar;context:{isFull:false}"></div>

<ng-template #toolbar let-isFull="isFull">
  <div class="builder-content-toolbar" [ngClass]="{'fixed':isFull}">
    <div class="wrapper" fxLayoutAlign="space-between center">
      <div class="left" fxFlex.lt-md="auto" fxFlex.gt-sm="33%">
        <ng-container *ngIf="branding$ | async as branding">
          <div class="branding m-y-sm" *ngIf="branding.header?.logo">
            <app-logo [content]="branding.header.logo"></app-logo>
          </div>
        </ng-container>
      </div>
      <div class="middle" fxHide.lt-sm="true" fxFlex.lt-md="auto" fxFlex.gt-sm="33%" fxLayoutAlign="center center"
        fxLayout="column">
        <div class="title bold">{{page.title}}</div>
        <div class="time">{{page.time|date:"YYYY-MM-dd HH:mm"}}</div>
      </div>
      <div class="right" fxFlex.lt-md="auto" fxFlex.gt-sm="33%" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
        <mat-slide-toggle [checked]="builderFullScreen$|async" (change)="onFullScreen($event)" [matTooltip]="'切换全宽'"
          matTooltipPosition="above"></mat-slide-toggle>
        <!-- <app-switch-preview></app-switch-preview> -->
        <app-btn [matTooltip]="'组件导航'" matTooltipPosition="above" (click)="onCompnentNavigate()"
          [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'dock-left' } }"></app-btn>
        <app-switch-theme></app-switch-theme>
        <app-btn [matTooltip]="'智能生成'" matTooltipPosition="above" (click)="onGenerate()"
          [content]="{label:'',color:'primary', mode: 'icon' ,icon:{svg:'react' } }"></app-btn>
        <app-builder-menu [showPreview]="false"></app-builder-menu>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</ng-template>