@if (content) {
  <div class="user-favorite relative">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
    @if (content.bg) {
      <app-bg [content]="content.bg">
        @if (content.bg?.img) {
          <app-img [content]="content.bg.img"></app-img>
        }
      </app-bg>
    }
    <div class="container">
      @if (content.text) {
        <app-text [content]="content.text"></app-text>
      }
      @if (lists) {
        <app-list-thin
          [pager]="pager"
          [content]="lists"
          [loading]="loading"
        ></app-list-thin>
      }
    </div>
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  </div>
}
