.block {
  position: relative;
}

.drawer-right.mat-drawer-opened {
  position: absolute;
  bottom: 0;
  max-width: 85vw;
  min-width: 800px;
  height: 100vh;
  top: 0;
}

.drawer-loading {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
