@if (pageContent$ | async; as page) {
  <div class="block">
    <mat-drawer-container (backdropClick)="onBackdrop()">
      <mat-drawer-content>
        <div
          *ngTemplateOutlet="
            block;
            context: { content: page.body, isPreview: isPreview }
          "
        ></div>
      </mat-drawer-content>
      <mat-drawer
        (openedChange)="onDrawer()"
        class="drawer-right"
        [mode]="'over'"
        [opened]="opened"
        position="end"
      >
        @if (drawerLoading) {
          <div class="drawer-loading">
            <mat-spinner diameter="50" color="accent"></mat-spinner>
          </div>
        }
        @if (!drawerLoading && opened) {
          <div
            *ngTemplateOutlet="
              block;
              context: {
                content: drawerContent?.body,
                isPreview: coreConfig?.builder?.enable,
              }
            "
          ></div>
        }
      </mat-drawer>
    </mat-drawer-container>
  </div>
}

<ng-template let-content="content" let-isPreview="isPreview" #block>
  @if (!isPreview) {
    @for (item of content; track trackByFn(i); let i = $index) {
      <app-dynamic-component
        [inputs]="item"
        [index]="i"
      ></app-dynamic-component>
    }
  }

  @if (isPreview) {
    <app-builder-list></app-builder-list>
  }
</ng-template>
