@import "/src/theme/variable/variable";
@import "/src/theme//mixins/amixin";
.card-1-v3 {
  .viewport {
    // default height, can custom parent
    height: 500px;
    overflow: auto;
  }
  .item {
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2rem;
    .title {
      font-size: 1.6rem;
    }

    @media #{$xs} {
      padding: 1rem !important;

      .title {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
    }
    &.selected {
      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 50%;
        top: 0;
        transform: translateY(50%);
      }

      &:after {
        left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:before {
        left: auto;
        right: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
