<div class="card-1-v3">
  <cdk-virtual-scroll-viewport [itemSize]="5" class="viewport overflow-auto h-[500px]" *ngIf="content">
    <div class="list item m-5 p-3 rounded-xl" [class.selected]="i == selectedId" matRipple
      [matRippleColor]="'rgba(0, 0, 0, 0.04)'" *cdkVirtualFor="let item of content.elements; index as i"
      fxLayout="column" (click)="onCard(item, i)">
      <h3 class="mb-3 bold">{{item.title}}</h3>
      <div class="address" *ngIf="item.address">{{item.address}}</div>
      <div class="meta">
        <div class="li" *ngFor="let meta of item.meta" fxLayoutAlign="start start">
          <app-icon *ngIf="meta.icon" [content]="meta.icon"></app-icon>
          <span class="label bold mr-3">{{meta.label}}:</span>
          <span>{{meta.value}}</span>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
