@use 'variable/variable' as *;
@use 'variable/breakpoint' as *;
.card-1-v3 {
  box-shadow: var(--mat-sys-level1);
  .item {
    box-shadow: var(--mat-sys-level1);
    background-color: var(--mat-sys-background);
    .label {
      word-break: keep-all;
    }
    .right {
      word-break: break-all;
    }
    ::ng-deep {
      mat-icon {
        width: 24px !important;
        height: 24px !important;
        line-height: 24px !important;
      }
    }

    @media #{$xs} {
      padding: 10px !important;

      .title {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    &.selected {
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 50%;
        top: 0;
        transform: translateY(50%);
        background-color: var(--mat-sys-primary);
      }

      &:after {
        left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:before {
        left: auto;
        right: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
