@use '../../../../../theme/mixins/amixin' as *;
.calendar {
  ::ng-deep {
    .fc {
      .fc-h-event {
        padding: 0 6px;
      }
      .fc-daygrid-event {
        padding: 2px;
      }
      .fc-daygrid-event-dot {
        display: none;
      }
      .fc-daygrid-event {
        white-space: normal;
      }
      .fc-event-title {
        font-weight: normal;
        line-height: 1.25;
        @include line-clamp(2);
        &:hover {
          text-decoration: underline;
        }
      }
      .fc-event-time {
        white-space: nowrap;
      }
    }
  }
}
