@use 'mixins/amixin' as *;
.calendar {
  ::ng-deep {
    .fc {
      .fc-header-toolbar {
        .fc-toolbar-title {
          @apply text-lg;
        }
        .fc-toolbar-chunk {
          &:last-child {
            background-color: var(--mat-sys-primary-fixed);
            border-radius: 4px;
            transform: scale(1.08);
            button {
              transform: scale(0.8);
            }
          }
        }
      }
      .fc-h-event {
        padding: 0 6px;
        background-color: var(--mat-sys-primary);
        border-color: var(--mat-sys-primary);
        .fc-event-main {
          color: var(--mat-sys-on-primary);
        }
      }
      .fc-daygrid-event {
        padding: 2px;
      }
      .fc-daygrid-event-dot {
        display: none;
      }
      .fc-list-event-dot {
        border-color: var(--mat-sys-primary);
      }
      .fc-daygrid-day {
        &.fc-day-today {
          background-color: var(--mat-sys-primary-fixed);
        }
      }
      .fc-daygrid-day-top {
        a {
          color: var(--mat-sys-on-surface);
        }
      }
      .fc-daygrid-event {
        white-space: normal;
      }
      .fc-event-title {
        font-weight: normal;
        line-height: 1.25;
        @apply line-clamp-2;
        &:hover {
          text-decoration: underline;
        }
      }
      .fc-event-time {
        white-space: nowrap;
      }
      .fc-button-primary {
        background-color: var(--mat-sys-primary-fixed);
        border: 0;
        color: var(--mat-sys-primary);
        box-shadow: none !important;
        &:disabled {
          background-color: var(--mat-sys-primary-fixed);
          border-color: var(--mat-sys-primary-fixed);
          color: var(--mat-sys-primary);
        }
        &:hover,
        &:active,
        &:focus {
          background-color: var(--mat-sys-primary);
          border-color: var(--mat-sys-primary);
          color: var(--mat-sys-on-primary);
          opacity: 0.85;
        }
        &:not(:disabled).fc-button-active,
        &:not(:disabled):active,
        &:not(:disabled).fc-button-active:focus,
        &:not(:disabled):active:focus {
          background-color: var(--mat-sys-on-primary);
          color: var(--mat-sys-primary);
        }
      }
    }
  }
}
