<ng-container *ngIf="content">
  <a *ngIf="isAbsolute(content.href); else relative" class="link" [ngClass]="content?.classes"
    [href]="content?.href || 'javascript:void(0);'" [target]="content?.target || '_self'"
    [innerHTML]="content?.label"></a>
  <ng-template #relative>
    <a [routerLink]="[content.href]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      [queryParams]="content.queryParams" [innerHTML]="content?.label"></a>
  </ng-template>
</ng-container>
