a {
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

.excel,
.pdf,
.txt,
.word,
.picture {
  &:before {
    content: '';
    display: inline-block;
    margin-right: 6px;
    vertical-align: text-top;
    width: 16px;
    background-size: contain;
    height: 16px;
  }
}

.pdf {
  &:before {
    background-image: url('/assets/icons/file-pdf.svg');
  }
}
.excel {
  &:before {
    background-image: url('/assets/icons/file-excel.svg');
  }
}
.txt {
  &:before {
    background-image: url('/assets/icons/file-txt.svg');
  }
}
.word {
  &:before {
    background-image: url('/assets/icons/file-word.svg');
  }
}
.picture {
  &:before {
    background-image: url('/assets/icons/file-image.svg');
  }
}
