<ng-container *ngIf="appState.content">
  <ng-container *ngFor="let item of appState.content">
    <ng-container [ngSwitch]="item.type">
      <app-job *ngSwitchCase="'job'" [content]="item"></app-job>
      <app-case *ngSwitchCase="'case'" [content]="item"></app-case>
      <app-search *ngSwitchCase="'search'" [content]="item"></app-search>
      <app-notfound *ngSwitchCase="'404'" [content]="item"></app-notfound>
      <app-article *ngSwitchCase="'article'" [content]="item"></app-article>
      <app-user-pay *ngSwitchCase="'user-pay'" [content]="item"></app-user-pay>
      <app-video-bg *ngSwitchCase="'video-bg'" [content]="item"></app-video-bg>
      <app-law-case *ngSwitchCase="'law-case'" [content]="item"></app-law-case>
      <app-question *ngSwitchCase="'question'" [content]="item"></app-question>
      <app-case-node *ngSwitchCase="'case-node'" [content]="item"></app-case-node>
      <app-profile1v1 *ngSwitchCase="'profile-1v1'" [content]="item"></app-profile1v1>
      <app-map-list-v1 *ngSwitchCase="'map-list-v1'" [content]="item"></app-map-list-v1>
      <app-user-center *ngSwitchCase="'user-center'" [content]="item"></app-user-center>
      <app-whychooseus *ngSwitchCase="'whychooseus'" [content]="item"></app-whychooseus>
      <app-user-center *ngSwitchCase="'user-center'" [content]="content"></app-user-center>
      <app-user-favorite *ngSwitchCase="'user-favorite'" [content]="item"></app-user-favorite>
      <app-full-calendar *ngSwitchCase="'full-calendar'" [content]="item"></app-full-calendar>
      <app-dynamic-combs *ngSwitchDefault [content]="item"></app-dynamic-combs>
    </ng-container>
  </ng-container>
</ng-container>
