<div class="block-toolbar flex justify-center items-center" #toolbar>
  <div class="title rounded-xl">{{ block.type }}</div>
  @if (index > 0 && index < layout.elements.length) {
    <app-btn
      matTooltip="上移"
      matTooltipPosition="above"
      (click)="onUpDown('up', i, index)"
      [content]="{
        label: '',
        color: 'primary',
        mode: 'icon',
        icon: { svg: 'arrow-collapse-up', inline: true },
      }"
    ></app-btn>
  }
  @if (index > -1 && index < layout.elements.length - 1) {
    <app-btn
      matTooltip="下移"
      matTooltipPosition="above"
      (click)="onUpDown('down', i, index)"
      [content]="{
        label: '',
        color: 'primary',
        mode: 'icon',
        icon: { svg: 'arrow-collapse-down', inline: true },
      }"
    ></app-btn>
  }
  <app-btn
    matTooltip="复制JSON"
    matTooltipPosition="above"
    (click)="onCopy(block)"
    [content]="{
      label: '',
      color: 'primary',
      mode: 'icon',
      icon: { svg: 'content-copy', inline: true },
    }"
  ></app-btn>
  <app-btn
    matTooltip="插入组件"
    matTooltipPosition="above"
    (click)="addBlock('widget', lbContent, toolbar)"
    [content]="{
      label: '',
      color: 'primary',
      mode: 'icon',
      icon: { svg: 'plus' },
    }"
  ></app-btn>
  <app-btn
    matTooltip="删除"
    matTooltipPosition="above"
    (click)="deleteBlock(i, index)"
    [content]="{
      label: '',
      color: 'primary',
      mode: 'icon',
      icon: { svg: 'close', inline: true },
    }"
  ></app-btn>
  <app-btn
    matTooltip="{{ block.type }}组件配置"
    matTooltipPosition="above"
    (click)="onWidgetSetting(block, toolbar)"
    [content]="{
      label: '',
      color: 'primary',
      mode: 'icon',
      icon: { svg: 'tune-vertical', inline: true },
    }"
  ></app-btn>
</div>
