@use '@angular/material' as mat;

:host {
  transform: translateX(-50%);
}
.block-toolbar {
  .title {
    line-height: 8px;
    padding: 5px 6px;
    margin: 0 4px;
    font-size: 12px;
    @apply capitalize;
  }
  ::ng-deep {
    .mat-mdc-icon-button {
      &.mat-mdc-button-base {
        --mdc-icon-button-state-layer-size: 30px;
        padding: 0;
      }
      .custom.mat-icon {
        svg {
          width: 16px !important;
          height: 16px !important;
          line-height: 16px !important;
        }
      }
    }
  }
}
