@use '@angular/material' as mat;
@include mat.button-density(-1);
.block-toolbar {
  .title {
    line-height: 8px;
    padding: 5px 6px;
    margin: 0 4px;
    font-size: 12px;
    text-transform: capitalize;
  }
  ::ng-deep {
    .mat-mdc-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      .custom.mat-icon {
        width: 16px !important;
        height: 16px !important;
        line-height: 16px !important;
      }
    }
  }
}
