.cdk-overlay-container {
  .close-outside {
    .mat-mdc-dialog-container {
      overflow: visible;
      .mat-mdc-dialog-surface {
        overflow-y: visible;
      }
    }
    &.close-icon-white {
      .dialog-colse-outside-btn {
        .mat-icon {
          color: #fff;
        }
      }
    }
  }
  .search-box-list {
    .mat-mdc-option .mdc-list-item__primary-text {
      white-space: nowrap;
    }
  }
  // user menu
  .user-dropdown {
    .mat-icon {
      opacity: 0.75;
    }
    .mat-mdc-menu-item-text {
      display: flex;
    }
  }

  // btn icon
  .overlay-btn-icon {
    button {
      .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        app-icon {
          .mat-icon {
            display: flex;
            position: relative;
            vertical-align: top;
            font-size: 18px;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .dialog-p-0 {
    .mat-mdc-dialog-container .mat-mdc-dialog-content {
      padding: 0;
    }
  }
}
