.cdk-overlay-container {
  .manage-media-dialog {
    .mat-mdc-dialog-content {
      max-height: none;
    }
  }

  .media-preview-dialog {
    img {
      width: revert;
      height: revert;
      min-width: 200px;
      min-height: 200px;
    }
  }

  .close-outside {
    .mat-mdc-dialog-container {
      overflow: visible;
      .mat-mdc-dialog-surface {
        overflow-y: visible;
      }
    }
    &.close-icon-white {
      .dialog-colse-outside-btn {
        .mat-icon {
          color: #fff;
        }
      }
    }
  }

  .code-editor-dialog {
    width: 100vw !important;
    max-width: none !important;
    --mat-dialog-content-padding: 0;
    .dialog {
      .mat-mdc-dialog-content {
        overflow: hidden;
        border-radius: 20px 20px 0 0;
      }
      .dialog-colse-outside-btn {
        top: -48px;
        right: 80px;
      }
    }
  }
  .login-dialog {
    .mat-mdc-dialog-content {
      padding: 0;
      .login-wrapper {
        @apply border-0;
        box-shadow: none;
      }
    }
  }
  .search-box-list {
    .mat-mdc-option .mdc-list-item__primary-text {
      white-space: nowrap;
    }
  }
  // user menu
  .user-dropdown {
    .mat-icon {
      opacity: 0.75;
    }
    .mat-mdc-menu-item-text {
      display: flex;
    }
  }

  // btn icon
  .overlay-btn-icon {
    button {
      .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        app-icon {
          .mat-icon {
            display: flex;
            position: relative;
            vertical-align: top;
            font-size: 18px;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .dialog-p-0 {
    .mat-mdc-dialog-container .mat-mdc-dialog-content {
      padding: 0;
    }
  }

  .widget-picker-dialog {
    .mat-mdc-dialog-container .mdc-dialog__content {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  .page-preview-dialog {
    .dialog {
      height: 100%;
      .mat-mdc-dialog-content {
        max-height: none;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
