.small {
  font-size: small !important;
}

.bold {
  font-weight: bold;
}

.ql-align-left {
  text-align: left !important;
}

.ql-align-right {
  text-align: right !important;
}

.ql-align-center {
  text-align: center !important;
}

.ql-align-justify {
  text-align: justify !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}
