.bold {
  font-weight: bold !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}
