<div class="user">
  <ng-container *ngIf="!userState.anthenticated && !screen.eq('xs')">
    <button color="primary" [routerLink]="['/user']" mat-mini-fab mat-button>
      <mat-icon>person</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="userState.anthenticated">
    <button *ngIf="!userState.picture; else picture" mat-mini-fab color="primary" mat-button [matMenuTriggerFor]="menu">
      <h3 class="name">
        {{utilities.getIndexTitle(userState?.currentUser?.display_name || 'N')}}</h3>
    </button>
    <ng-template #picture>
      <img class="user-picture" [matMenuTriggerFor]="menu" [src]="userState.picture"
        alt="{{userState.currentUser.display_name}}">
    </ng-template>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        {{userState.currentUser?.display_name}}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        退出
      </button>
    </mat-menu>
  </ng-container>
</div>
