.meta {
  @apply mb-3 flex justify-start items-center gap-3;
  ::ng-deep img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.dynamic-text-list {
  @apply my-5;
  .item {
    .title {
      ::ng-deep {
        a {
          color: var(--mat-sys-on-surface);
          &:hover {
            color: var(--mat-sys-primary);
          }
        }
      }
    }
    .text-lighter {
      color: var(--mat-sys-on-surface);
    }
  }
  .action-btn {
    @apply ml-3;
  }
  .divider-spacing {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
}
