.meta {
  ::ng-deep img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.dynamic-text-list {
  .item {
    .title {
      ::ng-deep {
        a {
          color: var(--mat-sys-on-surface);
          &:hover {
            color: var(--may-sys-primary);
          }
        }
      }
    }
    .text-lighter {
      color: var(--mat-sys-on-surface);
    }
  }
}
