<div class="job-list m-y-sm" *ngIf="content" fxLayout="column">
  <div class="job-header position-relative">
    <div class="result p-y-xs">总计 <span class="result-total">{{content.length}}</span> 个职位
    </div>
    <div class="scroll" [class.scrolling]="scrolling"></div>
  </div>
  <cdk-virtual-scroll-viewport (scrolledIndexChange)="onScroll($event)" [itemSize]="5" class="viewport">
    <div class="item m-y-sm p-y-sm m-x-xs p-x-sm" [class.selected]="item.nid == selectedId" matRipple
      [matRippleColor]="'rgba(0, 0, 0, 0.04)'" *cdkVirtualFor="let item of content; index as i" fxLayout
      (click)="onClick(item, i)">
      <div class="media" fxLayoutAlign="center center" *ngIf="item?.company">
        <app-img [content]="item.company.logo"> </app-img>
      </div>
      <div class="media-body" fxLayout="column" fxFlex="100" fxLayoutGap="1rem">
        <div class="m-bottom-xs" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutGap="1rem">
          <h4 class="title" *ngIf="item?.company">
            {{item.company.title}}</h4>
          <app-chip-list [content]="item.company.welfare" [classes]="'mini primary'"></app-chip-list>
        </div>
        <div class="info" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="position m-y-xs">{{item.title}}</div>
          <div class="wage bold" *ngIf="item.salary">{{item.salary.from}} -
            {{item.salary.to}} k
          </div>
        </div>
        <div class="media-footer" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="media-footer-left" fxLayout *ngIf="item.skill">
            <app-chip-list [content]="item.skill" [classes]="'mini'"></app-chip-list>
          </div>
          <div class="media-footer-right" *ngIf="item.deadline">
            {{item.deadline}}
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>
