<div class="law-files">
  <app-title [content]="content.title"></app-title>
  <div class="wrapper" fxLayout="row wrap">
    <div class="box m-y-xs m-x-xs" fxFlex.lt-sm="100" [fxFlex.gt-xs]="row(content.row||2, content.padding || '2rem')"
      *ngFor="let box of content.elements;">
      <div class="inner p-x-sm p-y-sm">
        <div class="label mat-h3 bold" *ngIf="box.label">{{box.label}}</div>
        <div class="li" *ngFor="let file of box.elements" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <app-dynamic-widgets class="m-y-xs" fxFlex.md="100" fxFlex.gt-sm="auto" *ngFor="let link of file.elements;"
            [content]="link">
          </app-dynamic-widgets>
          <mat-divider fxFlex="100"></mat-divider>
        </div>
      </div>
    </div>
  </div>
</div>