<div class="law-files">
  <app-title [content]="content.title"></app-title>
  <div class="wrapper" fxLayout="row wrap">
    <div class="box m-y-xs m-x-xs" fxFlex.lt-sm="100" fxFlex.gt-xs="0 0 calc(50% - 2rem)"
      *ngFor="let box of content.elements">
      <div class="inner p-x-sm p-y-sm">
        <div class="label mat-h3 bold">{{box.label}}</div>
        <div class="li one-line" *ngFor="let file of box.elements">
          <app-dynamic-widgets [content]="file"></app-dynamic-widgets>
        </div>
      </div>
    </div>
  </div>
</div>
