<div class="container-fluid map-list-common">
  <div class="job position-relation" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <div class="sidebar position-relative p-x-xs" fxFlex.xs="100%" fxFlex.gt-xs="500px">
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
      <app-job-filter [content]="nodes" [autoList]="autoList" [skills]="skills" (searchChange)="onSearch($event)"
        (clear)="onClear()" (selectedChange)="onSearchJob($event)" (skillChange)="onSkillChange($event)">
      </app-job-filter>
      <div class="m-y" *ngIf="!nodes?.elements?.length" fxLayoutAlign="center center">
        暂无相关数据
      </div>
      <app-job-list (selected)="onSelected($event)" (scroller)="onScroll($event)"
        *ngIf="nodes?.elements && nodes.elements.length > 0" [content]="nodes" [selectedId]="selectedId">
      </app-job-list>
    </div>
    <div class="map-wrapper position-relative" fxFlex.xs="100%" fxFlex.gt-xs="100%">
      <app-job-node fxFlex.xs="100" fxFlex.gt-xs="500px" *ngIf="selected" class="job-details" [content]="selected">
      </app-job-node>
      <app-map fxFlex="100%" [content]="nodes"></app-map>
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
    </div>
  </div>
  <app-showcase3v6 [content]="feature"></app-showcase3v6>
</div>
