<div class="fix-bar">
  <div class="bar-inner">
    <ng-container *ngFor="let item of content">
      <ng-container [ngSwitch]="item.type">
        <div class="item" *ngSwitchCase="'link'" fxLayout="column" fxLayoutAlign="center center">
          <app-icon [content]="item.icon"></app-icon>
          <app-link class="label" [content]="item"></app-link>
        </div>
        <div class="item item-popup" *ngSwitchCase="'popup'" fxLayout="column" fxLayoutAlign="center center">
          <app-icon [content]="item.icon"></app-icon>
          <span class="label">{{item.label}}</span>
          <app-fix-bar-popup [content]="item.content"></app-fix-bar-popup>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
