<div class="user">
  <ng-container *ngIf="!userState.authenticated">
    <button aria-label="user login" color="primary" [routerLink]="['/user/login']" mat-mini-fab mat-button>
      <mat-icon>person</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="userState.authenticated">
    <button aria-label="user name" *ngIf="!userState.picture; else picture" mat-mini-fab color="primary" mat-button
      [matMenuTriggerFor]="menu">
      <h3 class="name">
        {{utilities.getIndexTitle(userState?.currentUser?.display_name || 'N')}}</h3>
    </button>
    <ng-template #picture>
      <img class="user-picture" [matMenuTriggerFor]="menu" [src]="userState.picture"
        alt="{{userState.currentUser.display_name}}">
    </ng-template>
    <mat-menu #menu="matMenu" class="user-dropdown">
      <a mat-menu-item [routerLink]="userPage">
        <mat-icon>account_circle</mat-icon>{{userState.currentUser?.display_name}}
      </a>
      <ng-container *ngFor="let item of content">
        <button aria-label="dialog" *ngIf="item.dialog;else link" mat-menu-item (click)="openDialog(item.dialog)">
          <app-icon [content]="item.icon"></app-icon>{{item.label}}
        </button>
        <ng-template #link>
          <button aria-label="user link" mat-menu-item>
            <app-icon [content]="item.icon"></app-icon>
            <app-link [content]="item"></app-link>
          </button>
        </ng-template>
      </ng-container>
      <button aria-label="logout" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>退出
      </button>
    </mat-menu>
  </ng-container>
</div>
