<div class="relate-showcase p-x-sm p-y-sm flex flex-wrap" *ngIf="content">
  <div class="media p-x-sm p-y-sm flex-12/12 md:flex-1/12">
    <app-img [attr.data-path]="'img'" [content]="content.img"></app-img>
  </div>
  <div class="right flex-12/12 md:flex-11/12">
    <div class="meta p-x-sm p-y-sm">
      <app-text [attr.data-path]="'text'" [content]="content.text"></app-text>
      <div class="list m-y-xs flex" *ngFor="let list of content.meta">
        <ng-container *ngFor="let item of list;index as i">
          <div class="item flex-[0_1_100%]">
            <span [contentedit]="'meta.'+i+'.label'" class="label m-right-xs">{{item.label}}:</span>
            <span [contentedit]="'meta.'+i+'.value'" class="value" [innerHTML]="item.value|safeHtml"></span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="bottom flex-12/12">
    <ng-container *ngFor="let item of content.content;index as i">
      <app-dynamic-component [attr.data-path]="'content.'+i" [inputs]="item"></app-dynamic-component>
    </ng-container>
  </div>
</div>
