.builder-version {
  .mat-list-item {
    cursor: pointer;
    &:hover {
      .delete,
      .update-title {
        display: block;
      }
    }
    .update-title {
      display: none;
    }
    .delete {
      position: absolute;
      display: none;
      right: 0;
      top: -10px;
    }
  }
  ::ng-deep {
    .mat-expansion-panel-body {
      max-height: 360px;
      overflow: auto;
    }
  }
}
