.builder-version {
  .mat-mdc-list-item {
    cursor: pointer;
    &:hover {
      .delete,
      .update-title {
        display: block;
      }
    }
    ::ng-deep {
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-list-item-content {
        padding: 0;
      }
    }
    .mat-line {
      font-size: 15px;
    }
    .title {
      border-bottom: 1px solid transparent;
      &:focus-visible {
        outline: none;
      }
      &:hover {
        cursor: text;
      }
    }
    .time {
      font-size: 14px;
      opacity: 0.5;
    }
    .delete {
      position: absolute;
      display: none;
      right: 0;
      top: -10px;
    }
  }
  ::ng-deep {
    .mat-expansion-panel-body {
      max-height: 360px;
      overflow: auto;
    }
  }
}
