<div class="builder-version p-x-xs p-y-xs">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          历史版本
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <ng-container *ngIf="version?.length">
          <mat-list-item matRipple (click)="onVersion(version,i)" *ngFor="let version of version; index as i">
            <mat-icon mat-list-icon *ngIf="!version.current">radio_button_unchecked</mat-icon>
            <mat-icon mat-list-icon color="primary" *ngIf="version.current"> radio_button_checked </mat-icon>
            <div mat-line>{{version.title}}</div>
            <div class="time" mat-line> {{version.time | date:'yyyy-MM-dd HH:mm:ss'}} </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>