.law-card {
  .wrapper {
    justify-content: space-between;
  }
  .card-item {
    position: relative;
    height: auto;
    ::ng-deep {
      .mat-card {
        height: 100%;
        box-sizing: border-box;
        .mat-progress-bar {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
