<ng-container *ngIf="content && content.elements.length > 0">
  <swiper [attr.data-path]="'elements'" [ngClass]="content.classes" #swiper [config]="config"
    (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" (paginationRender)="onpaginationRender($event)">
    <ng-template swiperSlide *ngFor="let slide of content.elements;index as i">
      <app-dynamic-component [attr.data-path]="i" [ngClass]="content.sliderClasses"
        [inputs]="{content:slide}"></app-dynamic-component>
    </ng-template>
  </swiper>
</ng-container>