// import all css on anuglar.json
// https://swiperjs.com/angular
.swiper-button-next,
.swiper-button-prev {
  margin-top: calc(12px - (var(--swiper-navigation-size) / 2));
  &:after {
    font-family: inherit;
    font-size: 24px;
  }
}
.swiper-button-next:after {
  content: "navigate_next";
}
.swiper-button-prev:after {
  content: "navigate_before";
}
.swiper-slide {
  overflow: hidden;
}
