.bg-fill-width {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  transform: translateX(-50%);
  z-index: -1;
}

.overlay {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
    content: "";
  }
  &.overlay-2 {
    &:before {
      opacity: 0.2;
    }
  }
  &.overlay-4 {
    &:before {
      opacity: 0.4;
    }
  }
  &.overlay-6 {
    &:before {
      opacity: 0.6;
    }
  }
  &.overlay-8 {
    &:before {
      opacity: 0.8;
    }
  }
}
