@if (content) {
  <div class="carousel-2-v1 relative" [class.section-light]="content.bg">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'" />
    @if (content.bg) {
      <app-bg-img [attr.data-path]="'bg'" [content]="content.bg" />
    }
    <div class="{{ content.fullWidth ? '' : 'container' }}">
      @if (content.title) {
        <app-title
          [attr.data-path]="'title'"
          [content]="content.title" />
      }
      <app-swiper
        [attr.data-path]="'sliders'"
        [content]="content.sliders" />
    </div>
    <app-spacer [size]="content.spacer || 'md'" />
  </div>
}
