<div class="carousel-2-v1 position-relative" [class.section-light]="content.bg" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [content]="content.bg" *ngIf="content.bg"></app-bg-img>
  <div class="container">
    <app-title [content]="content.title"></app-title>
    <app-swiper [content]="content.sliders"></app-swiper>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
