@if (uiux()) {
  <div class="builder-generater flex flex-col">
    @if (builderConfig$ | async; as builderConfig) {
      <app-formly
        [classes]="'form-field-width-auto'"
        [form]="form"
        [fields]="builderConfig.generater"
        [model]="model"
      />
    }
    <mat-divider class="m-y-xs" />
    <div class="actions m-top-sm flex justify-center gap-4">
      <app-btn
        matTooltip="通常是为了快速全量测试组件"
        *reqRolesIf="{
          params: { reqRoles: ['administrator'] },
        }"
        matTooltipPosition="above"
        (click)="onGenerate('all')"
        [content]="{
          label: '极限加载',
          color: 'warn',
          mode: 'raised',
          icon: { svg: 'chart-arc', inline: true },
        }"
      />
      <app-btn
        matTooltip="将会覆盖当前页面"
        matTooltipPosition="above"
        (click)="onGenerate(model)"
        [content]="{
          color: 'primary',
          mode: 'raised',
          label: '立即生成',
          icon: { svg: 'lightning-bolt', inline: true },
        }"
      />
    </div>
  </div>
}
