@import "../../../theme/variable/breakpoint";

.builder-wrapper {
  position: relative;
  display: flex;
}
.builder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1 calc(100% - 70px);
  .sidebar {
    width: 230px;
    ::ng-deep {
      .mat-expansion-panel-header {
        padding: 0 16px;
      }
      .mat-expansion-panel-body {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    @media #{$gt-sm} {
      width: 300px;
    }
  }
  .builder-main {
    height: calc(100% - 56px) !important;
  }
  .mat-drawer-container {
    height: 100%;
  }
  ::ng-deep {
    > .mat-drawer-content {
      display: block;
    }

    // don't move
    .cdk-drag-placeholder {
      height: 60px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .actions {
    &.expand {
      position: absolute;
      left: 0;
      top: 35px;
      width: 45px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  .mat-drawer-opened {
    .actions {
      &.expand {
        left: -45px;
      }
    }
  }
  .preview-content {
    margin-left: 0 !important;
  }
}
