<div class="builder" [ngClass]="{'has-sidebar':!builderFullSize}">
  <mat-drawer-container>
    <mat-drawer #drawer class="sidebar" mode="side" [(opened)]="opened">
      <app-builder-sidebar-top [drawer]="drawer" [opened]="opened"></app-builder-sidebar-top>
      <mat-divider class="m-y-xs"></mat-divider>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of components">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <app-builder-sidebar-list [content]="item" (showChange)="onShowcase($event)"></app-builder-sidebar-list>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <app-builder-content-toolbar [drawer]="drawer" [opened]="opened" [page]="page"
        (animateChange)="onAnimate()"></app-builder-content-toolbar>
      <app-builder-showcase *ngIf="showcase" [content]="showcase"></app-builder-showcase>
      <app-builder-empty *ngIf="!content?.body?.length"></app-builder-empty>
      <app-builder-list [isPreview]="true" [content]="content.body" (dropChange)="drop($event)"></app-builder-list>
    </mat-drawer-content>
  </mat-drawer-container>
</div>