<div class="builder">
  <mat-drawer-container>
    <mat-drawer #drawer class="sidebar" mode="side" [(opened)]="opened">
      <app-builder-sidebar-top [drawer]="drawer" [opened]="opened"></app-builder-sidebar-top>
      <mat-divider class="m-y-xs"></mat-divider>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of components">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-selection-list id="groups" #components [multiple]="false" cdkDropList [cdkDropListData]="item.elements"
              cdkDropListConnectedTo="builder-list" (cdkDropListDropped)="drop($event)">
              <mat-list-option [cdkDragData]="component" cdkDrag (mouseenter)="onShowcase(component)"
                (mouseleave)="onShowcase()" *ngFor="let component of item.elements">
                <div fxLayoutAlign="space-between center">
                  {{component.type}}
                  <span class="right" *ngIf="component.name">{{component.name}}</span>
                </div>
                <mat-divider></mat-divider>
                <div class="placeholder" *cdkDragPlaceholder></div>
                <app-card-1v1 style="width:800px" *cdkDragPreview [content]="{
                      link:{
                        href:'#',
                        label: component.type
                      },components:[component]
                    }"></app-card-1v1>
              </mat-list-option>
            </mat-selection-list>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <app-builder-content-toolbar [drawer]="drawer" [opened]="opened" [page]="page"
        (animateChange)="onAnimate()"></app-builder-content-toolbar>
      <div class="overlay" *ngIf="showcase"></div>
      <div class="showcase" *ngIf="showcase">
        <app-card-1v1 [content]="showcase"></app-card-1v1>
      </div>
      <app-builder-list [isPreview]="true" [content]="content.body" (dropChange)="drop($event)"></app-builder-list>
    </mat-drawer-content>
  </mat-drawer-container>
</div>