.builder {
  &.has-sidebar {
    height: calc(100vh - 40px);
    padding: 20px;
    .sidebar {
      margin: -20px;
    }
  }
  .sidebar {
    width: 330px;
    padding: 20px;
    border-right: 0;
  }
  .mat-drawer-container {
    height: 100%;
    background-color: transparent;
  }
  ::ng-deep {
    .mat-drawer-content {
      height: 100%;
      display: block;
      overflow: hidden !important;
    }
    // don't move
    .placeholder {
      height: 80px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
