.pagination {
  .mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 40px;
    padding: 6px;
    ::ng-deep .mat-mdc-button-touch-target {
      height: 40px;
      width: 40px;
    }
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  color: #666;
}

.current {
  border-radius: 4px;
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
  border-radius: 4px;
}

.pagination-previous,
.pagination-next {
  font-size: 24px;
}
