<pagination-template class="pagination m-y" #p="paginationApi" (pageChange)="pageChange.emit($event)"
  (pageBoundsCorrection)="pageBoundsCorrection.emit($event)" fxLayout fxLayoutAlign="center center">
  <button class="pagination-previous" color="primary" [class.disabled]="p.isFirstPage()" matTooltip="Prev Page"
    [matTooltipPosition]="'above'" (click)="p.previous()" mat-icon-button aria-label="Prev Page">
    <mat-icon inline="true" width="16px">navigate_before</mat-icon>
  </button>
  <ng-container *ngFor="let page of p.pages">
    <button [class.current]="p.getCurrent() === page.value" (click)="p.setCurrent(page.value)" mat-icon-button
      *ngIf="p.getCurrent() !== page.value">
      <a href="javascript:void();">{{ page.label }}</a>
    </button>
    <button disabled [class.current]="p.getCurrent() === page.value" mat-mini-fab *ngIf="p.getCurrent() === page.value">
      {{ page.label }}
    </button>
  </ng-container>
  <button class="pagination-next" color="primary" [class.disabled]="p.isLastPage()" matTooltip="Next Page"
    [matTooltipPosition]="'above'" (click)="p.next()" mat-icon-button aria-label="Next Page">
    <mat-icon inline="true">navigate_next</mat-icon>
  </button>
</pagination-template>
