@if (content) {
  <div class="node-summary flex flex-wrap">
    <div
      class="left flex flex-col justify-center items-center flex-12/12 md:flex-4/12"
      >
      @for (item of content.left; track item) {
        <app-dynamic-component
          [inputs]="{ content: item }"
        ></app-dynamic-component>
      }
    </div>
    <div class="middle flex-12/12 md:flex-4/12">
      <app-summary-item
        class="block p-x-sm p-y-sm"
        [content]="content.middle"
      ></app-summary-item>
    </div>
    <div class="right middle flex-12/12 md:flex-4/12">
      <app-summary-item
        class="block p-x-sm p-y-sm"
        [content]="content.right"
      ></app-summary-item>
    </div>
  </div>
}
