@import "/src/theme/mixins/amixin";
@import "/src/theme/variable/breakpoint";

.user-center {
  position: relative;
  z-index: 100;
  .inner {
    margin: 4rem 0;
    @media #{$gt-sm} {
      margin: 0;
      height: 8rem;
      .profile {
        top: -100px;
      }
    }
  }
}
.avatar {
  ::ng-deep {
    img {
      width: 140px;
      height: 140px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}

.profile {
  position: relative;
  border-radius: 4px;
}

.label {
  white-space: nowrap;
}
