<div class="user-center position-relative" *ngIf="content">
  <div class="inner" *ngIf="content?.params?.showProfile">
    <div class="container">
      <div class="profile p-y-sm p-x-sm" fxLayoutAlign.gt-sm="space-between center" fxLayout="row wrap" *ngIf="user">
        <div class="avatar" fxFlex.lt-md="0 0 100" fxFlex.gt-sm="0 1 16" fxLayoutAlign="center center">
          <app-img [content]="user.avatar"></app-img>
        </div>
        <div class="details" fxFlex.lt-md="0 0 100" fxFlex.gt-sm="0 1 84" fxLayout="row wrap"
          fxLayoutAlign.gt-sm="space-between end" fxLayoutAlign.lt-md="center center">
          <div class="left" fxFlex="auto" fxFlex.lt-md="100" fxLayoutAlign.lt-md="center center"
            fxLayout.lt-md="column">
            <h1 class="mat-h1 m-bottom-0">{{user.name}}</h1>
            <div class="subTitle">{{user.subTitle}}</div>
            <div class="meta m-top-sm" *ngIf="content?.params?.showDetails && user?.details">
              <div class="list" fxLayout="row wrap" fxLayoutAlign.lt-md="center center">
                <div fxLayoutAlign="start start" [class.gt-sm]="'m-right-sm'" fxFlex.lt-md="100" fxFlex.gt-sm="0 1 auto"
                  *ngFor="let item of user.details.elements">
                  <div class="label m-right-xs bold">{{item.label}}:</div>
                  <div>{{item.content}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="user-menu" *ngIf="userConfig$ | async as userConfig" fxLayout="row">
              <div *ngFor="let menu of userConfig.menu" class="item" fxFlex.lt-md="100" fxFlex.gt-sm="48">
                <app-btn [content]="menu"></app-btn>
              </div>
              <div class="item" fxFlex.lt-md="100" fxFlex.gt-sm="48">
                <a mat-button (click)="logout()">
                  <mat-icon inline="true">exit_to_app</mat-icon>
                  <span>退出</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="{{content?.main?.fullWidth?'container-fluid':'container'}} position-relative">
    <app-spacer [size]="content?.main?.spacer || 'md'"></app-spacer>
    <app-bg *ngIf="content?.main?.bg" [content]="content.main.bg">
      <app-img *ngIf="content?.main?.bg?.img" [content]="content.main.bg.img"></app-img>
    </app-bg>
    <div class="main" fxLayoutAlign="space-between start" fxLayout="row wrap">
      <div class="left" *ngIf="content?.left?.length" fxFlex.lt-md="0 0 100" fxFlex.gt-sm="0 0 30">
        <app-dynamic-widgets class="box" *ngFor="let item of content.left" [content]="item">
        </app-dynamic-widgets>
      </div>
      <div class="right" *ngIf="content?.right?.length" fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 {{content?.left?.length ? 'calc(100% - 30% - 2rem)' : '100'}}">
        <app-dynamic-combs class="box" *ngFor="let item of content.right" [content]="item">
        </app-dynamic-combs>
      </div>
    </div>
    <app-spacer [size]="content?.main?.spacer || 'md'"></app-spacer>
  </div>
</div>
