@import '/src/theme/variable/breakpoint';

.user-center {
  position: relative;
  z-index: 100;
  .inner {
    margin: 40px 0;
    @media #{$gt-sm} {
      margin: 0;
      height: 80px;
      ::ng-deep .profile {
        top: -74px;
      }
    }
  }
}

.label {
  white-space: nowrap;
}

.main {
  .box {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .left,
  .right {
    .box:first-child {
      min-height: 282px;
    }
  }
}
