<mat-form-field class="field-full" [appearance]="to.appearance || 'fill'">
  <textarea
    matInput
    [id]="id"
    [readonly]="to.readonly"
    [formControl]="formControl"
    [cols]="to.cols"
    [rows]="to.rows"
    [formlyAttributes]="field"
    [placeholder]="to.placeholder || ''"
    [tabindex]="to.tabindex"
    [cdkTextareaAutosize]="to.autosize"
    [cdkAutosizeMinRows]="to.autosizeMinRows"
    [cdkAutosizeMaxRows]="to.autosizeMaxRows"
    [class.cdk-textarea-autosize]="to.autosize"
  >
  </textarea>
  <app-btn
    matTooltip="富文本编辑"
    (click)="openRichText()"
    class="rich-text-btn"
    [content]="{
      icon: { svg: 'pencil' },
      mode: 'mini-fab',
      color: 'primary',
    }"
  />
</mat-form-field>
<div
  class="popup"
  #popup
>
  <quill-editor
    (onEditorCreated)="editorCreated($event)"
    [modules]="modules"
    (onContentChanged)="onContentChanged($event)"
    [styles]="{ height: '100%' }"
  />
  <div class="popup-actions">
    <app-btn (click)="onCancel()" [content]="{ label: '取消' }" />
    <app-btn (click)="onSave()" [content]="{ label: '保存', mode: 'raised', color: 'primary' }" />
  </div>
</div>
