.layout-toolbar {
  ::ng-deep {
    .mat-mdc-icon-button {
      &.mat-mdc-button-base {
        --mdc-icon-button-state-layer-size: 30px;
        padding: 0;
      }
      svg {
        width: 16px !important;
        height: 16px !important;
        line-height: 16px !important;
      }
    }
  }
  .toggle {
    border-bottom-left-radius: 4px;
  }
  .actions {
    border-radius: 0 0 0 4px;
    @apply hidden absolute z-10 whitespace-normal top-0;
  }
}
