<div class="layout-toolbar flex justify-end items-center" #toolbar>
  <app-btn
    [matMenuTriggerFor]="menu"
    class="toggle block"
    #myMenu
    matTooltip="配置当前栏"
    matTooltipPosition="above"
    [content]="{
      label: '',
      mode: 'icon',
      icon: { svg: 'tune-vertical-variant', inline: true },
    }"
  ></app-btn>
  <mat-menu #menu="matMenu">
    <button
      [disabled]="!(i > 0 && i < lbContent.elements.length)"
      mat-menu-item
      (click)="onMoveCol('left', lbContent.elements, toolbar, i)"
    >
      <div class="flex items-center">
        <app-icon [content]="{ svg: 'chevron-left', inline: true }"></app-icon>
        <span>左移</span>
      </div>
    </button>
    <button
      mat-menu-item
      [disabled]="!(i > -1 && i < lbContent.elements.length - 1)"
      (click)="onMoveCol('right', lbContent.elements, toolbar, i)"
    >
      <div class="flex items-center">
        <app-icon [content]="{ svg: 'chevron-right', inline: true }"></app-icon>
        <span>右移</span>
      </div>
    </button>
    <button mat-menu-item (click)="addBlock('layout', lbContent, toolbar)">
      <div class="flex items-center">
        <app-icon [content]="{ svg: 'plus', inline: true }"></app-icon>
        <span>选择组件插入新一栏</span>
      </div>
    </button>
    <button mat-menu-item (click)="onDeleteRow(i)">
      <div class="flex items-center">
        <app-icon [content]="{ svg: 'close', inline: true }"></app-icon>
        <span>移除当前栏</span>
      </div>
    </button>
    <button mat-menu-item (click)="onLayoutSettings(layout, toolbar)">
      <div class="flex items-center">
        <app-icon [content]="{ svg: 'responsive', inline: true }"></app-icon>
        <span>当前栏配置</span>
      </div>
    </button>
  </mat-menu>
</div>
