.layout-toolbar {
  ::ng-deep {
    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      .custom.mat-icon {
        width: 16px !important;
        height: 16px !important;
        line-height: 16px !important;
      }
    }
  }
  .toggle {
    border-bottom-left-radius: 4px;
  }
  .actions {
    display: none;
    position: absolute;
    border-radius: 0 0 0 4px;
    z-index: 10;
    white-space: nowrap;
    top: 0;
  }
  &:hover {
    .toggle {
      display: none;
    }
    .actions {
      display: block;
    }
  }
}
