@import "~@angular/material/theming";

@mixin law-case-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat-color($foreground, text, 0.75);
  .law-case {
    background-color: mat-color($primary, 0.06);
    .law-case-showcase {
      tbody {
        tr {
          td:nth-child(2n + 1) {
            background-color: mat-color($background, background);
          }
        }
      }
    }
    .content {
      background-color: mat-color($background, card);
      @include mat-elevation(4, #000, 0.35);
      .block {
        .mat-header-row {
          background-color: mat-color($background, background);
        }
      }
      .law-case-files {
        .box {
          .inner {
            background-color: mat-color($background, "app-bar");
            @include mat-elevation(3, mat-color($background, "app-bar"), 0.5);
            a {
              color: mat-color($foreground, text, 0.75);
              &:hover {
                color: mat-color($primary);
              }
            }
          }
        }
      }
    }
    .comment-wrapper {
      background-color: mat-color($background, card);
    }
  }
}
