@use '@angular/material' as mat;
@use 'sass:map';
@use '../../mixins/amixin' as *;

@mixin map-list-color($theme) {
  $config: mat.m2-get-color-config($theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  .map-list-common {
    background-color: mat.m2-get-color-from-palette($background, background);
    @include mat.elevation(4, #000, 0.35);
    .sidebar {
      background-color: mat.m2-get-color-from-palette($background, background);
    }
    .sidebar-right {
      @include mat.elevation(4, #000, 0.35);
      background-color: mat.m2-get-color-from-palette($background, background);
    }
  }
}
