@import "~@angular/material/theming";
@import "../../mixins/amixin";

@mixin map-list-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .map-list-common {
    .sidebar {
      background-color: mat-color($background, background);
    }
    .sidebar-right {
      background-color: mat-color($background, background);
    }
    .map-lists {
      .viewport {
        border-right: 1px solid rgb(97 97 97 / 8%);
        @include scrollbar(mat-color($foreground, divider, 0.2));
      }
      .item {
        @include mat-elevation(4, #000, 0.35);
        background-color: mat-color($background, card, 0.85);

        .media {
          img {
            box-shadow: 0 4px 10px 1px rgb(0 0 0 / 7%);
          }
        }
      }
    }
    .selected {
      &:after,
      &:before {
        background: mat-color($primary);
      }
    }
  }
}
