@import "~@angular/material/theming";

@mixin profile-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $light: map-get($background, card);

  .profile-1v1 {
    .left {
      background-color: mat-color($background, card);
      // border: 1px solid mat-color($foreground, divider);
      @include mat-elevation(4, mat-color($foreground, divider), 0.35);
    }
  }
}
