@import "~@angular/material/theming";

@mixin question-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .question {
    background-color: mat-color($background, card);
    @include mat-elevation(3, mat-color($foreground, divider), 0.3);
  }
}
