@use '@angular/material' as mat;

@mixin relate-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat.get-color-from-palette($foreground, text, 0.75);

  .node-summary {
    @include mat.elevation(
      3,
      mat.get-color-from-palette($foreground, divider),
      0.6
    );
    .left {
      background-color: mat.get-color-from-palette($primary, 0.08);
    }
    .summary-item {
      .list {
        border-top: 1px solid mat.get-color-from-palette($foreground, divider);
        .item {
          .label {
            color: mat.get-color-from-palette($foreground, base, 0.4);
          }
        }
        .mat-header-cell {
          color: mat.get-color-from-palette($foreground, base, 0.4);
        }
      }
    }
  }

  .relate-showcase {
    @include mat.elevation(
      3,
      mat.get-color-from-palette($foreground, divider),
      0.6
    );
    .meta {
      .label {
        color: mat.get-color-from-palette($foreground, base, 0.4);
      }
    }
  }
}
