<ng-container>
  <div class="builder-menu">
    <button
      aria-label="builder page"
      [matTooltip]="'更多'"
      mat-icon-button
      [mat-menu-trigger-for]="menu"
    >
      <app-icon [content]="{ svg: 'dots-vertical', inline: true }"></app-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onPageJson()">
        <app-icon
          class="opacity-70"
          [content]="{ svg: 'code-json' }"
        ></app-icon>
        <span matListItemTitle>页面 JSON</span>
      </button>
      @if (canShow) {
        <button mat-menu-item>
          <mat-slide-toggle
            [checked]="debugAnimate$ | async"
            (change)="onDebugAnimate($event)"
            ><span class="text-base">动画调式</span></mat-slide-toggle
          >
        </button>
      }
      <button mat-menu-item (click)="onColorTest()">
        <app-icon
          class="opacity-70"
          [content]="{ svg: 'marker-check' }"
        ></app-icon>
        <span matListItemTitle>颜色检查</span>
      </button>
      <button mat-menu-item (click)="onPreview()">
        <app-icon class="opacity-70" [content]="{ svg: 'eye' }"></app-icon>
        <span matListItemTitle>草稿预览</span>
      </button>
      @if (page && page.uuid) {
        <button mat-menu-item (click)="onPageSetting(page)">
          <app-icon class="opacity-70" [content]="{ svg: 'cog' }"></app-icon>
          <span matListItemTitle>页面设置</span>
        </button>
      }
    </mat-menu>
  </div>
</ng-container>
