<ng-container>
  <div class="builder-menu">
    <button aria-label="builder page" [matTooltip]="'更多'" mat-icon-button [mat-menu-trigger-for]="menu">
      <app-icon [matBadge]="page?.body?.length" matBadgeSize="small" matBadgeColor="primary"
        fxLayoutAlign="center center" [content]="{svg:'dots-vertical',inline:true}"></app-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onPageJson()">
        <app-icon [content]="{svg:'code-json'}"></app-icon>
        <span>页面 JSON</span>
      </button>
      <button mat-menu-item *ngIf="canShow">
        <mat-slide-toggle [checked]="debugAnimate$ | async" (change)="onDebugAnimate($event)">动画调式</mat-slide-toggle>
      </button>
      <button mat-menu-item (click)="onClear()">
        <app-icon [content]="{svg:'trash-can-outline'}"></app-icon>
        <span>清空页面</span>
      </button>
      <button mat-menu-item (click)="onPreview()">
        <app-icon [content]="{svg:'eye-outline'}"></app-icon>
        <span>页面预览</span>
      </button>
      <button mat-menu-item (click)="onSubmit()">
        <app-icon [content]="{svg:'content-save-check'}"></app-icon>
        <span>保存提交</span>
      </button>
    </mat-menu>
  </div>
</ng-container>