<ng-container *ngIf="content">
  <mat-accordion multi>
    <ng-container *ngFor="let item of content">
      <mat-list *ngIf="!item.child">
        <mat-list-item>
          <app-link [content]="item"></app-link>
        </mat-list-item>
      </mat-list>
      <mat-expansion-panel *ngIf="item.child" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.label}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-dropdown-menu [content]="item.child"></app-dropdown-menu>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ng-container>
