.layout-builder {
  @apply relative;

  .layout-inner {
    @apply grid grid-cols-12 grid-flow-row;
  }

  .layout {
    @apply relative;

    ::ng-deep {
      .container,
      .container-fluid {
        @apply p-0;
      }
    }

    .toolbar {
      @apply hidden absolute z-[1000];
    }

    .placeholder {
      @apply opacity-50 hover:opacity-100 p-10 flex justify-center items-center;
    }

    .blocks {
      @apply box-border relative w-full h-full grid grid-cols-12 grid-flow-row;

      > .item {
        @apply relative box-border;
        max-width: 100%;
        &:hover {
          z-index: 100;
        }
        &.item-divider,
        &.item-layout-builder {
          @apply w-full;
        }
        ::ng-deep {
          .component-toolbar {
            .actions {
              top: auto;
              bottom: 100%;
              border-radius: 4px 4px 0 0;
            }
          }
        }
        .block-toolbar {
          position: absolute;
          opacity: 0;
          white-space: nowrap;
          button {
            transform: scale(0.9);
            background-color: var(--mat-sys-surface);
          }
          &[data-popper-placement] {
            opacity: 1;
          }
        }
        .block-toolbar-inner {
          @apply flex;
        }
        .last-spacer {
          @apply py-6;
        }
      }
    }
    > .toolbar {
      @apply right-[2px] top-[2px];
    }
  }

  .empty-state {
    @apply p-5 text-center col-span-12 opacity-50;
  }
}
