<div class="search-status position-relative width-100" *ngIf="content?.key">
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" class="text-center m-y">
    <h1 class="mat-display-1 key m-bottom-xs" *ngIf="content?.key">{{content.key}}</h1>
    <div class="results" *ngIf="content?.key">
      发现了{{content.results.count}}个与{{content.key}}有关的结果
      <div class="links" *ngIf="content?.results?.relate">
        <div class="label">相关搜索：</div>
        <app-link [content]="link" *ngFor="let link of content.results.relate;trackBy:trackByFn"></app-link>
      </div>
    </div>
  </div>
</div>
