@if (content) {
  <div class="card-1-v2 relative pb-5 px-5 md:pb-16 md:px-16">
    @if (content.bg) {
      <app-bg-img [attr.data-path]="'bg'" [content]="content.bg" />
    }
    <div class="card-content relative z-10">
      @if (content.img) {
        <app-img
          [attr.data-path]="'img'"
          class="media -top-5 overflow-hidden"
          [content]="content.img"
        />
      }
      <div class="card-bottom mt-3">
        @if (content.subTitle) {
          <p contentedit="subTitle" [innerHTML]="content.subTitle | safeHtml"></p>
        }
        @if (content.link) {
          <app-link [attr.data-path]="'link'" class="title text-base" [content]="content.link" />
        }
      </div>
    </div>
  </div>
}
