@if (content(); as contentValue) {
  <div class="card-1-v2">
    @if (contentValue.bg) {
      <app-bg-img [attr.data-path]="'bg'" [content]="contentValue.bg" />
    }
    <div class="card-content">
      @if (contentValue.img) {
        <app-img
          [attr.data-path]="'img'"
          class="media"
          [content]="contentValue.img"
        />
      }
      <div class="card-bottom">
        @if (contentValue.subTitle) {
          <p contentedit="subTitle" [innerHTML]="contentValue.subTitle | safeHtml"></p>
        }
        @if (contentValue.link) {
          <app-link [attr.data-path]="'link'" class="title text-base" [content]="contentValue.link" />
        }
      </div>
    </div>
  </div>
}
