.showcase-2v1 {
  position: relative;
}
:host ::ng-deep {
  .mat-card {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    .mat-card-content {
      .mat-card-title {
        font-size: 18px;
      }
    }
  }
  .swiper-pagination {
    left: auto !important;
    bottom: auto !important;
    top: 1rem;
    right: 1rem;
    width: auto !important;
  }
}
