@if (content) {
  <div class="showcase-2v1">
    <div class="flex flex-col">
      @if (content.text) {
        <app-text [attr.data-path]="'text'" [content]="content.text" />
      }
      <div class="m-y grid grid-cols-12 justify-center items-center gap-4">
        @for (item of elements; track item; let i = $index) {
          <app-dynamic-component
            [attr.data-path]="'elements.' + i"
            class="m-bottom-sm col-span-12 sm:col-span-6 md:col-span-{{ content.row }}"
            [inputs]="item"
          />
        }
      </div>
    </div>
  </div>
}
