<div class="container showcase-2v1" *ngIf="content" fxLayout="column">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-text [content]="content.text" *ngIf="content.text"></app-text>
  <div class="m-y" fxLayout="row wrap" fxLayoutAlign="center start" fxFlex="100%">
    <app-card class="m-x-sm m-bottom-sm" fxFlex.xs="100" fxFlex.sm="calc(50% - 30px)"
      fxFlex.gt-sm="0 0 calc(25% - 40px)" *ngFor="let case of content.elements" [content]="case">
    </app-card>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
