<div class="showcase-2v1" *ngIf="content">
  <app-bg-img [content]="content.bg" *ngIf="content.bg"></app-bg-img>
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <div class="{{ content.fullWidth ? '' : 'container' }} flex flex-col">
    <app-text
      [attr.data-path]="'text'"
      [content]="content.text"
      *ngIf="content.text"
    ></app-text>
    <div class="m-y grid grid-cols-12 justify-center items-center gap-4">
      <app-dynamic-component
        [attr.data-path]="'elements.' + i"
        class="m-bottom-sm col-span-12 sm:col-span-6 md:col-span-{{content.row}}"
        *ngFor="let item of elements; index as i"
        [inputs]="item"
      ></app-dynamic-component>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
