<div class="search-box">
  <form action="">
    <div class="js-form-type-search">
      <mat-icon>search</mat-icon>
      <input type="text" matInput [formControl]="searchControl" type="search" size="15" maxlength="128"
        class="form-search" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
        <mat-option *ngFor="let option of options" [value]="option.href">
          <app-link [content]="option"></app-link>
        </mat-option>
      </mat-autocomplete>
    </div>
  </form>
</div>
