<div class="layout-builder position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [attr.data-path]="'bg'" [content]="content.bg" *ngIf="content.bg"></app-bg-img>
  <div class="{{content.fullWidth?'':'container'}}" *ngIf="content">
    <div class="inner" id="layout" cdkDropList [cdkDropListConnectedTo]="['widgets','builder-list']"
      [cdkDropListData]="content.elements" (cdkDropListDropped)="drop($event)" fxLayout="row wrap"
      fxLayoutAlign="center center">
      <div class="layout" cdkDrag [cdkDragData]="layout" fxFlex.lt-md="100%"
        fxFlex.gt-sm="calc(100% / {{12 / layout.row}})" [ngClass]="layout.classes"
        *ngFor="let layout of content.elements;index as i">
        <div class="block">
          <app-dynamic-component [attr.data-path]="i" class="p-x-sm width-100"
            *ngFor="let item of layout.elements;index as i" [inputs]="{content:item}" fxLayoutAlign="center center">
          </app-dynamic-component>
        </div>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>