.layout-builder {
  .layout {
    ::ng-deep {
      .container,
      .container-fluid {
        padding: 0;
      }
    }

    .blocks {
      > .item {
        max-width: 100%;
        &.item-divider,
        &.item-layout-builder {
          width: 100%;
        }

        &:hover {
          > app-block-toolbar {
            display: block;
          }
        }
      }
    }
    > app-layout-toolbar {
      right: -2px;
      top: -2px;
    }
    .placeholder {
      ::ng-deep {
        .custom.mat-icon {
          width: 40px !important;
          height: 40px !important;
          line-height: 16px !important;
        }
      }
    }
  }
}

:host-context(.builder-list) {
  .layout-builder {
    padding-top: 30px;
    .layout {
      padding: 0;
      &:hover {
        outline-offset: 2px;
        > app-layout-toolbar {
          display: block;
        }
      }
    }
  }
}
