.layout-builder {
  .layout {
    position: relative;
    padding: 10px;
    ::ng-deep {
      .mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
        .custom.mat-icon {
          width: 16px !important;
          height: 16px !important;
          line-height: 16px !important;
        }
      }
    }
    .block {
      position: relative;
      width: 100%;
      .item {
        position: relative;
        padding: 10px;
        .actions {
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 10;
        }
        &:hover {
          .actions {
            display: block;
          }
        }
      }
    }
    .block-toolbar {
      display: none;
      position: absolute;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      top: -36px;
      white-space: nowrap;
    }
    &:hover {
      .block-toolbar {
        display: block;
      }
    }
  }
}
