.layout-builder {
  .layout {
    ::ng-deep {
      .container,
      .container-fluid {
        @apply p-0;
      }
    }

    .blocks {
      > .item {
        max-width: 100%;
        &.item-divider,
        &.item-layout-builder {
          @apply w-full;
        }
        > .toolbar {
          left: 50%;
          bottom: 100%;
          transform: translateX(-50%);
        }
      }
    }
    > .toolbar {
      @apply -right-[2px] -top-[2px];
    }
  }
}

:host-context(.builder-list) {
  .layout-builder {
    @apply pt-[30px];
    .layout {
      @apply p-0;
      &:hover {
        outline-offset: 2px;
        > .toolbar {
          display: block;
        }
      }
      .blocks {
        > .item {
          &:hover {
            > .toolbar {
              display: block;
            }
          }
        }
      }
    }
  }
}
