@if (content(); as contentValue) {
  @if (!contentValue.svg) {
    @if (!contentValue.badge) {
      <mat-icon
        [style]="contentValue.style"
        [color]="contentValue.color"
        [inline]="contentValue.inline ?? false"
        [fontIcon]="contentValue.name || ''"
      />
    } @else {
      <mat-icon
        [style]="contentValue.style"
        [color]="contentValue.color"
        [inline]="contentValue.inline ?? false"
        [fontIcon]="contentValue.name || ''"
        [matBadge]="contentValue.badge.value"
        [matBadgePosition]="contentValue.badge.position ?? 'above'"
        [matBadgeSize]="contentValue.badge.size ?? 'medium'"
      />
    }
  }
  @if (contentValue.svg) {
    @if (!contentValue.badge) {
      <mat-icon
        [style]="contentValue.style"
        class="custom"
        [color]="contentValue.color"
        [inline]="contentValue.inline ?? false"
        [svgIcon]="contentValue.svg"
      />
    } @else {
      <mat-icon
        [style]="contentValue.style"
        class="custom"
        [color]="contentValue.color"
        [inline]="contentValue.inline ?? false"
        [svgIcon]="contentValue.svg"
        [matBadge]="contentValue.badge.value"
        [matBadgePosition]="contentValue.badge.position ?? 'above'"
        [matBadgeSize]="contentValue.badge.size ?? 'medium'"
      />
    }
  }
  <ng-content />
}
