@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('/assets/fonts/material-icons/MaterialIcons-Regular.woff') format('woff');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  overflow-wrap: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
