<div class="list">
  @if (loading) {
    <div class="m-y flex justify-center items-center">
      <app-spinner [content]="{ color: 'primary', size: 40 }"></app-spinner>
    </div>
  }
  @if (!loading) {
    @if (links) {
      @for (item of content; track trackByFn(i, item); let i = $index) {
        <app-showcase-3v3
          [attr.data-path]="i"
          [content]="item"
          >
        </app-showcase-3v3>
      }
      <app-pagination-links
        (pageChange)="onPageChange($event)"
        [links]="links"
      ></app-pagination-links>
    }
    @if (pager) {
      @for (
        item of content
        | paginate
        : { itemsPerPage: pager.itemsPerPage || 20, currentPage: p }; track trackByFn(i,
        item); let i = $index) {
        <app-showcase-3v3
          [attr.data-path]="i"
          [content]="item"
          >
        </app-showcase-3v3>
      }
      <app-pagination (pageChange)="p = $event"></app-pagination>
    }
  }
</div>
