<mat-form-field [appearance]="content.appearance || 'legacy'" class="width-100" [formGroup]="form" *ngIf="form">
  <mat-label>{{content.label}}</mat-label>

  <!-- 单选不开启搜索 -->
  <mat-select disableOptionCentering="true" panelClass="custom-select" *ngIf="!content.multiple && !content.search"
    [formControlName]="content.key" disableRipple #select>
    <mat-option value="{{option.value}}" *ngFor="let option of options">{{option.label}}
    </mat-option>
  </mat-select>

  <!-- 单选开启搜索 -->
  <mat-select disableOptionCentering="true" panelClass="custom-select" *ngIf="!content.multiple && content.search"
    [formControlName]="content.key" disableRipple #select>
    <mat-option>
      <ngx-mat-select-search [placeholderLabel]="content.placeholder || '搜索'"
        [noEntriesFoundLabel]="content.noFound || '没有找到'" [formControl]="searchCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">{{option.label}}
    </mat-option>
  </mat-select>

  <!-- 多选不开启搜索 -->
  <mat-select disableOptionCentering="true" panelClass="custom-select" *ngIf="content.multiple && !content.search"
    [formControlName]="content.key" multiple disableRipple #select>
    <mat-option value="{{option.value}}" *ngFor="let option of options">{{option.label}}
    </mat-option>
  </mat-select>

  <!-- 多选开启搜索 -->
  <mat-select disableOptionCentering="true" panelClass="custom-select" *ngIf="content.multiple && content.search"
    [formControlName]="content.key" multiple disableRipple #select>
    <mat-option>
      <ngx-mat-select-search [placeholderLabel]="content.placeholder || '搜索'"
        [noEntriesFoundLabel]="content.noFound || '没有找到'" [formControl]="searchCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">{{option.label}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="isValid">{{content.errorMes}}</mat-error>
</mat-form-field>
