<ng-container *ngIf="content">
  <div class="job-header" fxLayout fxLayoutGap="2rem">
    <app-img class="media" fxFlex="0 1 70px" [content]="content.company.logo"></app-img>
    <div class="job-header-right">
      <h2 class="title">{{content.company.title}}</h2>
      <div class="position m-y-xs">{{content.title}} {{content.number}} 名</div>
      <div class="wage bold m-y-xs" fxLayoutAlign="start center" *ngIf="content.salary">
        <mat-icon color="primary">attach_money</mat-icon> {{content.salary.from}} - {{content.salary.to}} k
      </div>
      <div class="m-y-xs" fxLayoutAlign="start center">
        <mat-icon color="primary">place</mat-icon>{{content.company.address}}
      </div>
      <div class="m-y-xs" fxLayoutAlign="start center" *ngIf="content.deadline">
        <mat-icon color="primary">timelapse</mat-icon>{{content.deadline}}
      </div>
    </div>
  </div>
  <div class="job-content m-y-sm" fxLayout="row wrap">
    <div class="item m-y-xs" fxFlex="50">
      <div class="label m-bottom-xs" *ngIf="content.company.welfare">诱惑福利</div>
      <app-chip-list [content]="content?.company.welfare" [classes]="'mini'"></app-chip-list>
    </div>
    <div class="item m-y-xs" fxFlex="50" *ngIf="content.work_experience">
      <div class="label bold m-bottom-xs">工作经验</div>
      <div>{{content.work_experience.from}} 到 {{content.work_experience.to}} 年</div>
    </div>
    <div class="item m-y-xs" fxFlex="50" *ngIf="content.skill">
      <div class="label bold m-bottom-xs">技能</div>
      <app-chip-list [content]="content.skill" [classes]="'mini'"></app-chip-list>
    </div>
    <div class="item m-y-xs" fxFlex="50" *ngIf="content.company.phone">
      <div class="label bold m-bottom-xs">电话</div>
      <div>{{content.company.phone}}</div>
    </div>
  </div>
  <div class="job-body" [innerHTML]="content.body"></div>
</ng-container>
