.content-box {
  overflow: hidden;
  .inner {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    .title {
      line-height: 1.5;
    }
    ::ng-deep {
      a {
        color: #fff;
        opacity: 0.85;
      }
    }
  }
  .media {
    transition: transform 0.25s ease-in-out;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #000000 100%
    );
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.25s ease-in-out;
  }
  &:hover {
    &:before {
      opacity: 0.75;
    }
    .media {
      transform: scale(1.1);
    }
  }
}
