<div class="content-box position-relative">
  <div class="media" [ngClass]="content.ratios || 'media-4-3'">
    <app-img *ngIf="content.img" [content]="content.img"></app-img>
  </div>
  <div class="inner p-x-sm p-y-sm">
    <div class="sub-title" *ngIf="content.subTitle">
      <app-link [attr.data-path]="'subTitle'" [content]="content.subTitle"></app-link>
    </div>
    <h2 class="title two-line m-bottom-0">
      <app-link [attr.data-path]="'title'" [content]="content.title"></app-link>
    </h2>
  </div>
</div>
