<div class="content-box relative overflow-hidden h-full">
  <div class="media" [ngClass]="content.ratios || 'media-4-3'">
    <app-img [attr.data-path]="'img'" *ngIf="content.img" [content]="content.img"></app-img>
  </div>
  <div class="inner absolute left-0 bottom-0 z-10 p-5">
    <div class="sub-title" *ngIf="content.subTitle">
      <app-link [attr.data-path]="'subTitle'" [content]="content.subTitle"></app-link>
    </div>
    <h2 class="title leading-normal two-line mb-0">
      <app-link [attr.data-path]="'title'" [content]="content.title"></app-link>
    </h2>
  </div>
</div>
