@use 'mixins/amixin' as *;
@use 'variable/breakpoint' as *;

.profile-banner {
  @apply relative overflow-hidden;
  padding: 80px 0;
  @media #{$gt-sm} {
    padding: 180px 0;
  }
}

.profile-1v1 {
  @apply relative;
}

.profile {
  @apply grid grid-cols-12 gap-5 justify-between items-start;
}

.box {
  @apply text-center;
  ::ng-deep {
    img {
      width: 110px;
      height: 110px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}

.username {
  margin-bottom: 0;
  margin-top: 0.75rem;
}

.item-header {
  @apply font-bold;
}

.detail-row {
  @apply flex justify-start items-start;
}

.left {
  @media #{$gt-sm} {
    position: relative;
    top: -295px;
    border-radius: 4px;
  }
}

.label {
  white-space: nowrap;
}

.currentUser-menu {
  @apply flex flex-wrap justify-between;
}

.menu-link {
  @apply flex flex-col justify-center items-center;
}

.menu-icon {
  padding-bottom: 10px;
}

.user-menu {
  .item {
    margin-bottom: 20px;
    a {
      border-radius: 6px;
    }
  }
}
