@import '/src/theme/mixins/amixin';
@import '/src/theme/variable/breakpoint';

.box {
  ::ng-deep {
    img {
      width: 110px;
      height: 110px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}

.profile-banner {
  overflow: hidden;
  padding: 80px 0;
  @media #{$gt-sm} {
    padding: 180px 0;
  }
}

.left {
  @media #{$gt-sm} {
    position: relative;
    top: -295px;
    border-radius: 4px;
  }
}

.label {
  white-space: nowrap;
}

.user-menu {
  .item {
    margin-bottom: 20px;
    a {
      border-radius: 6px;
    }
  }
}
