.shape-inner {
  z-index: 1;
}
.shape {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: -2px;
  left: 0;
  overflow: hidden;
}

.shape > svg {
  -webkit-transform: scale(2);
  transform: scale(2);
  width: 100%;
  height: auto;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.brand {
  ::ng-deep {
    .logo {
      height: 40px;
    }
  }
}
.social {
  .item {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 0.4rem;
    transition: all 0.4s ease;
  }
  .mat-icon {
    font-size: 16px;
    width: 16px;
  }
}

.right {
  text-align: right;
  .item {
    padding: 0 8px;

    ::ng-deep a {
      font-size: 12px;
      &:after {
        content: "/";
        padding-left: 20px;
      }
    }
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
      ::ng-deep a:after {
        content: "";
        padding-left: 0px;
      }
    }
  }
}
