@import '../../../theme/variable/variable.scss';

.footer {
  position: relative;

  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

:host ::ng-deep {

  .mat-list-item-with-avatar {
    height: 40px !important;
  }

  .mat-expansion-panel-header {
    border-bottom: 1px solid;
    border-radius: 0;
  }
}
