<div class="footer" *ngIf="branding.ready">
  <div class="container">
    <div *ngIf="branding.footer?.mainMenu && !screen.eq('xs')" class="footer-main-menu m-bottom p-y-sm"
      fxLayout.xs="column" fxLayoutAlign="space-between start">
      <mat-list *ngFor="let menu of branding.footer?.mainMenu" role="list">
        <div mat-subheader class="text-base">{{menu.label}}</div>

        <ng-container *ngFor="let subMenu of menu.child; index as i">
          <mat-list-item *ngIf="!subMenu.popup; else popup" role="listitem">
            <mat-icon mat-list-icon svgIcon="{{subMenu.icon}}"></mat-icon>
            <app-link *ngIf="subMenu.href" [content]="subMenu"></app-link>
          </mat-list-item>
          <ng-template #popup>
            <mat-list-item role="listitem" [matMenuTriggerFor]="popup">
              <mat-icon mat-list-icon svgIcon="{{subMenu.icon}}"></mat-icon>
              <span>{{subMenu.label}}</span>
              <mat-menu #popup="matMenu" yPosition="above">
                <span [innerHTML]="subMenu.popup"></span>
              </mat-menu>
            </mat-list-item>
          </ng-template>
        </ng-container>
      </mat-list>
    </div>
    <div class="mobile p-y-sm" *ngIf="branding.footer?.mobileMenu && screen.eq('xs')">
      <mat-accordion class="footer-menu-mobile" multi>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor="let menu of branding.footer.mobileMenu">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{menu.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let subMenu of menu.child">
              <app-link [content]="subMenu"></app-link>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="footer-bottom text-center p-y-sm">
    <div class="container">
      <div class="brand" fxLayoutAlign="space-between center">
        <h2 class="mat-h2 m-bottom-0">{{branding.footer.logo.label}}</h2>
        <p>©{{utilities.fullYear}} {{branding.footer.copyRight}}</p>
      </div>
    </div>
  </div>
  <div id="go-to-top" #goTop (click)="gotoTop()">
    <mat-icon>expand_less</mat-icon>
  </div>
</div>
