@import "../../../theme/variable/variable.scss";

.footer {
  position: relative;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

:host ::ng-deep {
  .mat-list-item-with-avatar {
    height: 40px !important;
  }
}

#go-to-top {
  z-index: 99999;
  text-align: center;
  width: 43px;
  height: 43px;
  padding: 8px 4px;
  position: fixed;
  bottom: -10rem;
  right: 2rem;
  cursor: pointer;
  overflow: auto;
  border-radius: 3px;
  transition: all 0.4s ease-in;
  box-sizing: border-box;
}
