<div class="footer container-fluid text-center p-y-sm p-x m-top-lg">
  <div class="footer-main-menu m-bottom" fxLayoutAlign="space-between start">
    <mat-list role="list">
      <div mat-subheader class="text-dark">相关资源</div>
      <mat-list-item role="listitem">
        <a href="https://angular.cn/" target="_blank">Angular 中文站</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="https://material.angular.io/" target="_blank">Material Angular</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="https://github.com/angular/flex-layout/wiki" target="_blank">Flex Layout</a>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <div mat-subheader class="text-dark">帮助</div>
      <mat-list-item role="listitem">
        <a href="https://github.com/biaogebusy/nnitpay-angular" target="_blank">
          <mat-icon mat-list-icon svgIcon="github"></mat-icon> Github
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="https://www.zhihu.com/column/c_1331898788731375616" target="_blank">
          <mat-icon mat-list-icon svgIcon="offiaccount"></mat-icon> Drupal 自习室
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="https://www.zhihu.com/column/frontend-focus" target="_blank">
          <mat-icon mat-list-icon svgIcon="zhihu"></mat-icon>前端茶馆
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a href="https://github.com/biaogebusy/drupal-modules-cn" target="_blank">
          <mat-icon mat-list-icon svgIcon="github"></mat-icon> Drupal 中文模块
        </a>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <div mat-subheader class="text-dark">社区</div>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon svgIcon="offiaccount"></mat-icon>Drupal 自习室 <span>公众号</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon svgIcon="wechat"></mat-icon>Drupal 主题开发群
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon svgIcon="wechat"></mat-icon>南宁IT派
      </mat-list-item>
    </mat-list>
  </div>
  <div class="footer-bottom p-y-sm">
    <div class="brand" fxLayoutAlign="space-between center">
      <a class="logo mat-h2 m-bottom-0" href="#">NNITPAY</a>
      <p>©{{utilities.fullYear}} Copyright by NNITPAI</p>
    </div>
  </div>
</div>
