@import "/src/theme/variable/breakpoint";

.main {
  min-height: calc(100vh - 76px);
}

.mobile-menu {
  @media #{$xs} {
    position: fixed !important;
    width: 80vw;
  }
}
::ng-deep {
  .cdk-overlay-container {
    .cdk-overlay-pane {
      .mat-menu-content {
        max-height: 580px;
      }
    }
  }
}

.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}

.drawer-right.mat-drawer-opened {
  position: fixed;
  max-width: 75%;
  min-width: 200px;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  // top: 10px;
  // bottom: 10px;
}

.drawer-loading {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
