<div *ngIf="loading" class="loading-container">
  <div class="loader">Loading...</div>
</div>
<ngx-loading-bar [includeSpinner]="false" *ngIf="coreConfig?.loadingBar"></ngx-loading-bar>
<mat-drawer-container *ngIf="coreConfig && branding$ | async as branding">
  <mat-drawer class="mobile-menu" #drawer [(opened)]="mobileMenuOpened">
    <app-menu [isDrawer]="mobileMenuOpened" [content]="branding.header || undefined"></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-drawer-container>
      <mat-drawer id="sidebar" class="sidebar" mode="side" [(opened)]="sidebarOpened" *ngIf="enableSidebar">
        <app-manage-sidebar [opened]="sidebarOpened"></app-manage-sidebar>
      </mat-drawer>
      <mat-drawer-content id="main-container">
        <app-header></app-header>
        <div class="main" [ngClass]="{'has-manage-sidebar': branding.header?.sidebar ? true : false }">
          <router-outlet></router-outlet>
        </div>
        <app-footer [hidden]="enableSidebar"></app-footer>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-drawer-content>
</mat-drawer-container>