<div *ngIf="loading" class="loading-container">
  <div class="loader">Loading...</div>
</div>
<ngx-loading-bar [includeSpinner]="false" *ngIf="coreConfig?.loadingBar"></ngx-loading-bar>
<mat-drawer-container *ngIf="coreConfig && branding$ | async">
  <mat-drawer class="mobile-menu" #drawer [(opened)]="mobileMenuOpened">
    <app-menu [isDrawer]="mobileMenuOpened" [content]="(branding$ | async)?.header || undefined"></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
