@if (loading) {
  <div class="loading-container flex fixed top-0 left-0 w-screen h-screen z-10">
    <div class="loader">Loading...</div>
  </div>
}
@if (coreConfig.loadingBar) {
  <ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
}
@if (coreConfig && branding$ | async) {
  <mat-drawer-container>
    <mat-drawer class="mobile-menu" #drawer [(opened)]="mobileMenuOpened">
      <app-menu [isDrawer]="mobileMenuOpened"></app-menu>
    </mat-drawer>
    <mat-drawer-content id="main-container">
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
}
