@import "/src/theme/variable/breakpoint";
@import "/src/theme//mixins/amixin";

.main {
  min-height: calc(100vh - 110px);
}

.mobile-menu {
  @media #{$xs} {
    position: fixed !important;
    width: 80vw;
  }
}

.loading-container {
  background-color: rgba(255, 255, 255, 1);
}
