@if (content) {
  <div class="showcase-3-v9 relative">
    @if (content) {
      <div class="inner flex flex-wrap justify-center items-center">
        <div
          class="left flex justify-center items-center flex-wrap flex-12/12 md:flex-7/12 order-{{
            content.order.left
          }}"
        >
          @for (item of content.left; track item; let i = $index) {
            <app-dynamic-component
              [attr.data-path]="'left.' + i"
              class="p-x-sm w-full flex justify-center items-center"
              [inputs]="item"
            />
          }
        </div>
        <div
          class="right flex justify-center items-center flex-wrap overflow-hidden flex-12/12 md:flex-5/12 order-{{
            content.order.right
          }}"
        >
          @for (item of content.right; track item; let i = $index) {
            <app-dynamic-component
              [attr.data-path]="'right.' + i"
              class="block w-full"
              [inputs]="item"
            />
          }
        </div>
      </div>
    }
  </div>
}
