<div class="showcase-3-v9 relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-bg-img
    [attr.data-path]="'bg'"
    [content]="content.bg"
    *ngIf="content.bg"
  ></app-bg-img>
  <div class="{{ content.fullWidth ? '' : 'container' }}" *ngIf="content">
    <div class="inner flex flex-wrap justify-center items-center">
      <div
        class="left flex justify-center items-center flex-wrap flex-12/12 md:flex-7/12 order-{{
          content.order.left
        }}"
        [fxFlexOrder]="content.order.left"
      >
        <app-dynamic-component
          [attr.data-path]="'left.' + i"
          class="p-x-sm w-full flex justify-center items-center"
          *ngFor="let item of content.left; index as i"
          [inputs]="{ content: item }"
        >
        </app-dynamic-component>
      </div>
      <div
        class="right flex justify-center items-center flex-wrap flex-12/12 md:flex-5/12 order-{{
          content.order.right
        }}"
      >
        <app-dynamic-component
          [attr.data-path]="'right.' + i"
          class="block p-x-sm w-full"
          *ngFor="let item of content.right; index as i"
          [inputs]="{ content: item }"
        >
        </app-dynamic-component>
      </div>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
