<div class="meta" *ngIf="content">
  <div class="item" *ngFor="let meta of content" fxLayout fxLayoutAlign="start start">
    <span fxFlex="0 0 auto" class="bold m-right-xs" *ngIf="meta.label">{{meta.label}}: </span>
    <div class="right" fxLayoutAlign="start end">
      <ng-container *ngIf="meta?.params?.line;else noline">
        <span class="{{meta.params.line || 'two'}}-line" [innerHTML]="meta.value | stripTags | shorten:200:''"></span>
      </ng-container>
      <ng-template #noline>
        <span [innerHTML]="meta.value | stripTags | shorten:200:''"></span>
      </ng-template>
      <ng-container *ngIf="meta?.params?.dialog">
        <!-- <a href="javascript:void(0)" [innerHTML]="meta.params.dialog.label" (click)="onDialog(meta)"></a> -->
        <button class="custom-btn" mat-icon-button (click)="onDialog(meta)">
          <span [innerHTML]="meta.params.dialog.label"></span>
        </button>
      </ng-container>
      <ng-container *ngIf="meta?.params?.lightbox">
        <app-inline-lightbox [content]="meta.value"></app-inline-lightbox>
      </ng-container>
    </div>
    <span *ngIf="!meta?.params" [innerHTML]="meta.value"></span>
  </div>
</div>
