.meta {
  @apply overflow-hidden;
  .item {
    @apply flex justify-start items-start;
  }
  .item-label {
    @apply flex-initial font-bold mr-3 whitespace-nowrap;
  }
  .right {
    @apply w-full flex justify-start items-center;
  }
  .value-text {
    @apply pr-[10px];
  }
  .btn-label {
    @apply text-xs;
  }
  ::ng-deep {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    .inner {
      @apply w-full flex flex-col;
      .li {
        @apply flex flex-row justify-between items-center;
        position: relative;
        ::ng-deep {
          a.one-line {
            margin-right: 70px;
          }
          .mat-mdc-button-base {
            position: absolute;
            right: 0;
            top: -9px;
            opacity: 0;
            transition: all 0.1s ease;
          }
        }
        &:hover {
          ::ng-deep {
            .mat-mdc-button-base {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.custom-btn {
  width: auto;
  height: 20px;
  line-height: 16px;
}
