<div class="meta" *ngIf="content">
  <div class="item" *ngFor="let meta of content" fxLayout fxLayoutAlign="start start">
    <ng-container *ngIf="meta.value">
      <span fxFlex="0 0 auto" class="bold m-right-xs" *ngIf="meta.label">{{meta.label}}: </span>
      <div class="right">
        <ng-container *ngIf="meta?.params?.line">
          <span class="{{meta.params.line || 'two'}}-line" [innerHTML]="meta.value | shorten:200:'... '"></span>
        </ng-container>
        <ng-container *ngIf="meta?.params?.dialog">
          <a href="javascript:void(0)" [innerHTML]="meta.params.dialog.label" (click)="onDialog(meta)"></a>
        </ng-container>
        <ng-container *ngIf="meta?.params?.lightbox">
          <app-inline-lightbox [content]="meta.value"></app-inline-lightbox>
        </ng-container>
      </div>
      <span *ngIf="!meta?.params" [innerHTML]="meta.value"></span>
    </ng-container>
  </div>
</div>
