.meta {
  overflow: hidden;
  ::ng-deep {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    .inner {
      .li {
        ::ng-deep {
          .mat-button-base {
            opacity: 0;
            transition: all 0.1s ease;
          }
        }
        &:hover {
          ::ng-deep {
            .mat-button-base {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.custom-btn {
  width: auto;
  height: 20px;
  line-height: 16px;
  ::ng-deep .mat-button-wrapper {
    line-height: 16px;
  }
}
