<ng-container *ngIf="coreConfig?.notify?.enable">
  <div class="notify">
    <button *ngIf="content.length === 0;else message" aria-label="show notify" mat-icon-button [matTooltip]="'当前没有信息'"
      matTooltipPosition="above">
      <app-icon [matBadge]="content.length" matBadgeSize="small" matBadgeColor="warn"
        [content]="{svg:'bell-outline'}"></app-icon>
    </button>
    <ng-template #message>
      <button aria-label="show notify" mat-icon-button [mat-menu-trigger-for]="menu">
        <app-icon [matBadge]="content.length" matBadgeSize="small" matBadgeColor="warn"
          [content]="{svg:'bell-outline'}"></app-icon>
      </button>
      <mat-menu #menu="matMenu" [class]="'notify-menu'">
        <mat-list>
          <div mat-subheader>通知</div>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let item of content">
            <app-icon class="bg-{{item.color}}" mat-list-icon [content]="item.icon"></app-icon>
            <div mat-line>
              <app-link (click)="onRead(item)" [content]="item.link"></app-link>
            </div>
            <div mat-line *ngIf="item.message">
              {{item.message}}
            </div>
            <div mat-line>{{item.date | date:"YYYY-MM-dd HH:mm:ss"}}
            </div>
          </mat-list-item>
        </mat-list>
      </mat-menu>
    </ng-template>
  </div>
</ng-container>