<ng-container *ngIf="content">
  <ng-container [ngSwitch]="content.type">
    <app-tab *ngSwitchCase="'tab'" [content]="content"></app-tab>
    <app-text *ngSwitchCase="'text'" [content]="content"></app-text>
    <app-panel *ngSwitchCase="'panel'" [content]="content"></app-panel>
    <app-tab1v1 *ngSwitchCase="'tab-1v1'" [content]="content"></app-tab1v1>
    <app-shuffle *ngSwitchCase="'shuffle'" [content]="content"></app-shuffle>
    <app-packery *ngSwitchCase="'packery'" [content]="content"></app-packery>
    <app-lottery *ngSwitchCase="'lottery'" [content]="content"></app-lottery>
    <app-hero1v1 *ngSwitchCase="'hero-1v1'" [content]="content"></app-hero1v1>
    <app-hero1v2 *ngSwitchCase="'hero-1v2'" [content]="content"></app-hero1v2>
    <app-hero1v3 *ngSwitchCase="'hero-1v3'" [content]="content"></app-hero1v3>
    <app-hero2v1 *ngSwitchCase="'hero-2v1'" [content]="content"></app-hero2v1>
    <app-hero2v2 *ngSwitchCase="'hero-2v2'" [content]="content"></app-hero2v2>
    <app-hero2v3 *ngSwitchCase="'hero-2v3'" [content]="content"></app-hero2v3>
    <app-law-case *ngSwitchCase="'law-case'" [content]="content"></app-law-case>
    <app-advert *ngSwitchCase="'advert'" [content]="content"></app-advert>
    <app-article *ngSwitchCase="'article'" [content]="content"></app-article>
    <app-question *ngSwitchCase="'question'" [content]="content"></app-question>
    <app-location *ngSwitchCase="'location'" [content]="content"></app-location>
    <app-view-list *ngSwitchCase="'view-list'" [content]="content"></app-view-list>
    <app-tree-list *ngSwitchCase="'tree-list'" [content]="content"></app-tree-list>
    <app-action1v1 *ngSwitchCase="'action-1v1'" [content]="content"></app-action1v1>
    <app-autoclose *ngSwitchCase="'autoclose'" [content]="content"></app-autoclose>
    <app-full-calendar *ngSwitchCase="'full-calendar'" [content]="content"></app-full-calendar>
    <app-showcase1v1 *ngSwitchCase="'showcase-1v1'" [content]="content"></app-showcase1v1>
    <app-showcase1v3 *ngSwitchCase="'showcase-1v3'" [content]="content"></app-showcase1v3>
    <app-showcase2v1 *ngSwitchCase="'showcase-2v1'" [content]="content"></app-showcase2v1>
    <app-showcase2v2 *ngSwitchCase="'showcase-2v2'" [content]="content"></app-showcase2v2>
    <app-showcase2v3 *ngSwitchCase="'showcase-2v3'" [content]="content"></app-showcase2v3>
    <app-showcase2v4 *ngSwitchCase="'showcase-2v4'" [content]="content"></app-showcase2v4>
    <app-showcase2v5 *ngSwitchCase="'showcase-2v5'" [content]="content"></app-showcase2v5>
    <app-showcase2v6 *ngSwitchCase="'showcase-2v6'" [content]="content"></app-showcase2v6>
    <app-showcase3v1 *ngSwitchCase="'showcase-3v1'" [content]="content"></app-showcase3v1>
    <app-showcase3v2 *ngSwitchCase="'showcase-3v2'" [content]="content"></app-showcase3v2>
    <app-showcase3v3 *ngSwitchCase="'showcase-3v3'" [content]="content"></app-showcase3v3>
    <app-showcase3v4 *ngSwitchCase="'showcase-3v4'" [content]="content"></app-showcase3v4>
    <app-showcase3v5 *ngSwitchCase="'showcase-3v5'" [content]="content"></app-showcase3v5>
    <app-showcase3v6 *ngSwitchCase="'showcase-3v6'" [content]="content"></app-showcase3v6>
    <app-showcase3v7 *ngSwitchCase="'showcase-3v7'" [content]="content"></app-showcase3v7>
    <app-showcase3v8 *ngSwitchCase="'showcase-3v8'" [content]="content"></app-showcase3v8>
    <app-showcase3v9 *ngSwitchCase="'showcase-3v9'" [content]="content"></app-showcase3v9>
    <app-showcase4v1 *ngSwitchCase="'showcase-4v1'" [content]="content"></app-showcase4v1>
    <app-carousel1v1 *ngSwitchCase="'carousel-1v1'" [content]="content"></app-carousel1v1>
    <app-carousel1v2 *ngSwitchCase="'carousel-1v2'" [content]="content"></app-carousel1v2>
    <app-carousel1v3 *ngSwitchCase="'carousel-1v3'" [content]="content"></app-carousel1v3>
    <app-carousel2v1 *ngSwitchCase="'carousel-2v1'" [content]="content"></app-carousel2v1>
    <app-carousel2v2 *ngSwitchCase="'carousel-2v2'" [content]="content"></app-carousel2v2>
    <app-dynamic-form *ngSwitchCase="'dynamic-form'" [content]="content"></app-dynamic-form>
    <app-taxonomy-list *ngSwitchCase="'taxonomy-list'" [content]="content"></app-taxonomy-list>
    <app-banner-simple *ngSwitchCase="'banner-simple'" [content]="content"></app-banner-simple>
    <app-dynamic-card-list *ngSwitchCase="'dynamic-card-list'" [content]="content"></app-dynamic-card-list>
    <app-dynamic-text-list *ngSwitchCase="'dynamic-text-list'" [content]="content"></app-dynamic-text-list>
    <app-taxonomy-thin-list *ngSwitchCase="'taxonomy-thin-list'" [content]="content"></app-taxonomy-thin-list>
    <app-dynamic-media-list *ngSwitchCase="'dynamic-media-list'" [content]="content"></app-dynamic-media-list>
    <app-dynamic-card-list1v1 *ngSwitchCase="'dynamic-card-list-1v1'" [content]="content"></app-dynamic-card-list1v1>
  </ng-container>
</ng-container>
