<ng-container *ngIf="content">
  <ng-container [ngSwitch]="content.type">
    <app-showcase1v1 *ngSwitchCase="'showcase-1v1'" [content]="content"></app-showcase1v1>
    <app-showcase2v1 *ngSwitchCase="'showcase-2v1'" [content]="content"></app-showcase2v1>
    <app-showcase3v1 *ngSwitchCase="'showcase-3v1'" [content]="content"></app-showcase3v1>
    <app-showcase3v2 *ngSwitchCase="'showcase-3v2'" [content]="content"></app-showcase3v2>
    <app-showcase4v1 *ngSwitchCase="'showcase-4v1'" [content]="content"></app-showcase4v1>
    <app-carousel1v1 *ngSwitchCase="'carousel-1v1'" [content]="content"></app-carousel1v1>
  </ng-container>
</ng-container>
