@import "../../../../../theme/mixins/amixin";
@import "../../../../../theme/variable/breakpoint";

.box {
  ::ng-deep {
    img {
      width: 110px;
      height: 110px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}

.profile-banner {
  overflow: hidden;
  padding: 150px 0;
  @media #{$gt-sm} {
    padding: 260px 0;
  }
}

.left {
  @media #{$gt-sm} {
    position: relative;
    top: -295px;
    border-radius: 4px;
  }
}
