@import "/src/theme/mixins/amixin";
@import "/src/theme/variable/breakpoint";

.box {
  ::ng-deep {
    img {
      width: 100px;
      height: 100px;
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
}

.profile-banner {
  overflow: hidden;
  padding: 80px 0;
  @media #{$gt-sm} {
    padding: 180px 0;
  }
}

.left {
  @media #{$gt-sm} {
    position: relative;
    top: -300px;
    border-radius: 4px;
    .box {
      height: 260px;
      box-sizing: border-box;
    }
  }
}

.label {
  white-space: nowrap;
}
