.builder-toolbar {
  position: relative;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  box-shadow: var(--mat-sys-level1);
  .wrapper {
    @apply flex justify-between items-center;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
  }
  .open-drawer {
    display: inline-block;
    line-height: 1;
    z-index: 99999;
    cursor: pointer;
  }

  .left {
    @apply flex-[0_1_33.33%] flex gap-5;
    white-space: nowrap;
    .left-info {
      @apply flex flex-[0_1_33.33%] flex-col justify-center items-start;
    }
    .page-title {
      @apply flex items-center;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 1px solid transparent;
      &:focus-visible {
        outline: none;
        border-bottom-color: var(--mat-sys-primary);
      }
      &:hover {
        div[contenteditable] {
          text-decoration: underline;
        }
      }
      div[contenteditable] {
        &:hover,
        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
      ::ng-deep {
        .mat-icon {
          height: 16px;
          width: 16px;
          opacity: 0.75;
        }
      }
    }
    .time {
      font-size: smaller;
      opacity: 0.5;
    }
  }
  .middle {
    @apply justify-center items-center hidden md:flex flex-[0_1_33.33%];
    color: var(--mat-sys-primary);
  }
  .right {
    @apply sm:gap-1 flex justify-end items-center flex-[0_1_33.33%];
    .submit-btn {
      @apply hidden sm:flex whitespace-nowrap;
    }
  }
  .menu-item-content {
    @apply flex items-center;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 60px;
    right: 0;
    z-index: 9999;
    box-shadow: var(--mat-sys-level1);
  }
}
