<ng-container *ngIf="builderFullScreen$|async">
  <div *ngTemplateOutlet="toolbar;context:{isFull:builderFullScreen$|async}"></div>
</ng-container>
<!-- placeholder for fixed -->
<div *ngTemplateOutlet="toolbar;context:{isFull:false}"></div>

<ng-template #toolbar let-isFull="isFull">
  <div class="builder-toolbar" [ngClass]="{'fixed':isFull}">
    <div class="wrapper" fxLayoutAlign="space-between center">
      <div *ngIf="currentPage$ | async as page" class="left" fxFlex.lt-md="auto" fxFlex.gt-sm="33%"
        fxLayoutAlign="center start" fxLayout="column">
        <div class="page-title" contenteditable="true" (blur)="onTitle($event)">{{page.title}}</div>
        <div class="time">{{page.time|date:"YYYY-MM-dd HH:mm"}}</div>
      </div>
      <div class="middle" fxHide.lt-sm="true" fxFlex.lt-md="auto" fxFlex.gt-sm="33%" fxLayoutAlign="center center"
        fxLayout="column">
        <app-switch-preview></app-switch-preview>
      </div>
      <div id="toolbar-right" class="right" fxFlex.lt-md="auto" fxFlex.gt-sm="33%" fxLayoutAlign="end center"
        fxLayoutGap="0.5rem">
        <app-btn *ngIf="builder.builderThemeMode|async as mode" [matTooltip]="mode === 'light'?'切换暗黑风格' : '切换浅色风格'"
          (click)="onToggleBuilderTheme(mode)"
          [content]="{label:'', mode: 'icon' ,icon:{svg:mode ==='light' ? 'white-balance-sunny' : 'moon-waning-crescent' } }"></app-btn>
        <mat-slide-toggle [checked]="builderFullScreen$|async" (change)="onFullScreen($event)"
          [matTooltip]="(builderFullScreen$|async) ? '显示边栏' : '切换全宽'"></mat-slide-toggle>
        <app-btn fxHide.xs="true" [matTooltip]="'组件导航'" (click)="onCompnentNavigate()"
          [content]="{label:'', mode: 'icon' ,icon:{svg:'dock-left' } }"></app-btn>
        <app-btn fxHide.xs="true" [matTooltip]="'媒体库'" (click)="onSelectAssets()"
          [content]="{label:'', mode: 'icon' ,icon:{svg:'image-search-outline' } }"></app-btn>
        <app-switch-theme></app-switch-theme>
        <app-btn-generater [content]="{label:'快速生成',color:'primary', mode: 'raised' }"></app-btn-generater>
        <app-builder-menu></app-builder-menu>

      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</ng-template>