.builder-toolbar {
  position: relative;
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
  }
  .open-drawer {
    display: inline-block;
    line-height: 1;
    z-index: 99999;
    cursor: pointer;
  }

  .left {
    white-space: nowrap;
    .page-title {
      font-size: 14px;
      font-weight: bold;
    }
    .time {
      font-size: smaller;
      opacity: 0.5;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 70px;
    right: 0;
    z-index: 9999;
  }
}
