<ng-container *ngIf="builderFullScreen$|async">
  <div *ngTemplateOutlet="toolbar;context:{isFull:builderFullScreen$|async}"></div>
</ng-container>
<!-- placeholder for fixed -->
<div *ngTemplateOutlet="toolbar;context:{isFull:false}"></div>

<ng-template #toolbar let-isFull="isFull">
  <div class="builder-toolbar" [ngClass]="{'fixed':isFull}">
    <div class="wrapper" fxLayoutAlign="space-between center">
      <div *ngIf="currentPage$ | async as page" class="left" fxFlex.lt-md="auto" fxFlex.gt-sm="33%"
        fxLayoutAlign="center start" fxLayout="column">
        <div class="page-title" contenteditable="true" (blur)="onTitle($event)">{{page.title}}</div>
        <div class="time">{{page.time|date:"YYYY-MM-dd HH:mm"}}</div>
      </div>
      <div class="middle text-primary" fxHide.lt-sm="true" fxFlex.lt-md="auto" fxFlex.gt-sm="33%"
        fxLayoutAlign="center center" fxLayout="row">
        <app-switch-preview></app-switch-preview>
        <app-switch-theme></app-switch-theme>
      </div>
      <div id="toolbar-right" class="right" fxFlex.lt-md="auto" fxFlex.gt-sm="33%" fxLayoutAlign="end center"
        fxLayoutGap="0.5rem">
        <mat-slide-toggle [checked]="builderFullScreen$|async" (change)="onFullScreen($event)"
          [matTooltip]="(builderFullScreen$|async) ? '显示边栏' : '切换全宽'"></mat-slide-toggle>
        <app-btn fxHide.xs="true" [matTooltip]="(builder.previewListDrawer$|async)?'展开组件导航' : '收起组件导航'"
          (click)="toggleNavigate()"
          [content]="{label:'', color:(builder.previewListDrawer$|async)?'primary' : undefined, mode: 'icon' ,icon:{svg:'dock-left' } }"></app-btn>
        <app-btn fxHide.xs="true" [matTooltip]="builder.showRightDrawer?'禁用右边栏' : '显示右边栏'" (click)="showRightDrawer()"
          [content]="{label:'', color:builder.showRightDrawer?'primary' : 'warn', mode: 'icon' ,icon:{svg:'dock-right' } }"></app-btn>

        <app-btn-generater [content]="{label:'快速生成',color:'primary', mode: 'raised' }"></app-btn-generater>
        <app-builder-menu></app-builder-menu>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</ng-template>
