.builder-toolbar {
  position: relative;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
  }
  .open-drawer {
    display: inline-block;
    line-height: 1;
    z-index: 99999;
    cursor: pointer;
  }

  .left {
    white-space: nowrap;
    .page-title {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 1px solid transparent;
      &:focus-visible {
        outline: none;
        border-bottom-color: var(--mat-sys-primary);
      }
      &:hover {
        div[contenteditable] {
          text-decoration: underline;
        }
      }
      div[contenteditable] {
        &:hover,
        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
      ::ng-deep {
        .mat-icon {
          height: 16px;
          width: 16px;
          opacity: 0.75;
        }
      }
    }
    .time {
      font-size: smaller;
      opacity: 0.5;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 60px;
    right: 0;
    z-index: 9999;
    box-shadow: var(--mat-sys-level1);
  }
}
