.footer-main-menu {
  @apply flex flex-row justify-between items-start;
}

.menu-list {
  @apply flex-auto;
}

.menu-icon {
  @apply leading-none;
  margin-right: 0.75rem !important;
}

.mat-mdc-list-item {
  height: 40px !important;
  .mat-icon {
    line-height: 1;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 0.85;
    margin-right: 10px;
  }
}
