<div
  *ngIf="content && !showXs"
  class="footer-main-menu flex flex-row justify-between items-start"
>
  <mat-list class="flex-auto" *ngFor="let menu of content" role="list">
    <div mat-subheader class="bold">{{ menu.label }}</div>
    <ng-container *ngFor="let subMenu of menu.child; index as i">
      <mat-list-item *ngIf="!subMenu.popup; else popup" role="listitem">
        <mat-icon
          *ngIf="subMenu.icon"
          mat-list-icon
          svgIcon="{{ subMenu.icon }}"
        ></mat-icon>
        <app-link [content]="subMenu"></app-link>
      </mat-list-item>
      <ng-template #popup>
        <mat-list-item role="listitem" [matMenuTriggerFor]="popup">
          <mat-icon
            *ngIf="subMenu.icon"
            mat-list-icon
            svgIcon="{{ subMenu.icon }}"
          ></mat-icon>
          <span>{{ subMenu.label }}</span>
          <mat-menu #popup="matMenu" yPosition="above">
            <span [innerHTML]="subMenu.popup | safeHtml"></span>
          </mat-menu>
        </mat-list-item>
      </ng-template>
    </ng-container>
  </mat-list>
</div>
<div class="mobile p-y-sm" *ngIf="mobileMenu && showXs">
  <app-accordion [content]="mobileMenu"></app-accordion>
</div>
