.mat-list-item-with-avatar {
  height: 40px !important;
  .mat-icon {
    line-height: 1;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 0.85;
  }
}
