<mat-card *ngIf="content" class="card">
  <div class="card-header">
    <!-- <app-img [content]="content.img"></app-img> -->
    <app-swiper [content]="content.carousel"></app-swiper>
    <div class="overlay-details" *ngIf="content.overlay">
      <ng-container *ngFor="let link of content.overlay">
        <app-link [content]="link"></app-link>
      </ng-container>
    </div>
  </div>
  <mat-card-content>
    <mat-card-title *ngIf="content?.title;else link">{{content.title}}</mat-card-title>
    <ng-template #link>
      <mat-card-title>
        <app-link [content]="content.link"></app-link>
      </mat-card-title>
    </ng-template>
    <p class="card-body">
      {{content.body}}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="content?.actions">
    <button mat-button *ngFor="let action of content.actions">{{action.label}}</button>
  </mat-card-actions>
</mat-card>
