@if (content(); as contentValue) {
  <div class="showcase-3-v5">
    @if (contentValue) {
      <app-text [attr.data-path]="'title'" [content]="contentValue.title" />
      <div class="showcase-inner">
        <div class="elements-col">
          @for (item of contentValue.elements; track item; let i = $index) {
            <app-box
              [attr.data-path]="'elements.' + i"
              class="box-item"
              [content]="item"
            />
          }
        </div>
        <div class="img-col">
          <app-img [attr.data-path]="'img'" class="p-x-sm max-w-1/2" [content]="contentValue.img" />
        </div>
      </div>
    }
  </div>
}
