@if (content) {
  <div class="showcase-3-v5 relative">
    @if (content) {
      <app-text [attr.data-path]="'title'" [content]="content.title" />
      <div class="showcase-inner flex flex-col md:flex-row justify-center items-center">
        <div class="flex flex-wrap flex-12/12 md:flex-8/12">
          @for (item of content.elements; track item; let i = $index) {
            <app-box
              [attr.data-path]="'elements.' + i"
              class="flex flex-12/12 md:flex-6/12"
              [content]="item"
            />
          }
        </div>
        <div class="flex flex-col justify-center items-center flex-12/12 md:flex-4/12">
          <app-img [attr.data-path]="'img'" class="p-x-sm max-w-1/2" [content]="content.img" />
        </div>
      </div>
    }
  </div>
}
