.code-editor {
  height: 35vh;
  max-height: 50vh;
  overflow: hidden;
  @apply transition-all;
  &.less {
    height: 90vh;
    max-height: 90vh;
    @apply transition-all;
  }
  ::ng-deep {
    .jsoneditor-outer {
      height: 100%;
    }
  }

  json-editor {
    ::ng-deep {
      > * {
        display: block;
        height: 100%;
      }
    }
  }
}

.code-editor-show-btn {
  @apply absolute left-1/2;
  top: 8px;
  transform: translateX(-50%);
}
