.code-editor {
  height: 500px;
  overflow: hidden;
  ::ng-deep {
    .jsoneditor-outer {
      max-height: 426px;
    }
    .CodeMirror {
      font-size: 14px;
      height: 500px;
      overflow-y: auto;
      pre.CodeMirror-line,
      pre.CodeMirror-line-like {
        padding: 0 12px;
      }
    }
  }

  json-editor {
    ::ng-deep {
      > * {
        display: block;
        height: 100%;
      }
    }
  }
}
