@if (screenService.isPlatformBrowser()) {
  <div class="code-editor flex gap-2">
    <div class="box flex-4/12 flex flex-col">
      <app-formly class="block px-3" [form]="form" [fields]="fields" [model]="model" />
      <json-editor
        class="block flex-auto"
        [options]="editorOptions"
        [data]="json"
        (change)="onJsonChange($event)"
      />
    </div>
    <div class="box flex-8/12">
      <ngx-monaco-editor
        class="!h-full"
        [options]="MonacoOptions"
        [ngModel]="html"
        [formControl]="htmlForm"
      />
    </div>
  </div>
}
