@use '@angular/material' as mat;
@mixin sidebar($background, $foreground, $primary) {
  background-color: mat.get-color-from-palette($background, card);
  .mat-drawer-inner-container {
    @include scrollbar(mat.get-color-from-palette($foreground, divider));
  }
  .mat-tab-header {
    background-color: mat.get-color-from-palette($background, background);
    .mat-tab-label {
      color: mat.get-color-from-palette($foreground, text);
      &.mat-tab-label-active {
        color: mat.get-color-from-palette($primary, text);
        opacity: 1;
      }
    }
    .mat-tab-label-content {
      background-color: transparent;
    }
  }

  .mat-expansion-panel {
    background-color: mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($foreground, text);
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
      color: mat.get-color-from-palette($foreground, text, 0.75);
    }
    .mat-list-base {
      .mat-list-option {
        color: mat.get-color-from-palette($foreground, text, 0.75);
      }
    }
  }

  .builder-version {
    .mat-list-item-content {
      color: mat.get-color-from-palette($foreground, text, 0.75);
      .mat-icon:not(.mat-primary) {
        color: mat.get-color-from-palette($foreground, text, 0.5);
      }
      .title {
        &:focus-visible {
          color: mat.get-color-from-palette($primary);
          border-bottom-color: mat.get-color-from-palette($foreground, divider);
        }
      }
    }
    .mat-expansion-panel-body {
      @include scrollbar(mat.get-color-from-palette($primary));
    }
  }

  .page-list {
    color: mat.get-color-from-palette($foreground, text, 0.75);
    background-color: mat.get-color-from-palette($background, background);
    @include mat.elevation(3, mat.get-color-from-palette($foreground, divider), 0.4);
    .form {
      background-color: mat.get-color-from-palette($background, card);
      .mat-form-field-wrapper {
        border: 1px solid mat.get-color-from-palette($foreground, divider);
      }
    }
    .mat-list {
      @include scrollbar(mat.get-color-from-palette($primary));
      .mat-list-item {
        border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
        color: mat.get-color-from-palette($foreground, text, 0.75);
        a {
          color: mat.get-color-from-palette($foreground, text, 0.75);
          &:hover {
            color: mat.get-color-from-palette($primary);
          }
        }
      }
    }
  }

  .cards {
    .group {
      &:hover {
        background-color: mat.get-color-from-palette($primary, 0.07);
        transition: all 0.2s ease;
      }
    }
    .item {
      .inner {
        background-color: mat.get-color-from-palette($background, card);
        transition: background 0.1s ease-in-out;
        @include mat.elevation(1, mat.get-color-from-palette($background, focused-button), 0.2);
        &:hover {
          @include mat.elevation(1, mat.get-color-from-palette($background, hover), 0.6);
          background: mat.get-color-from-palette($primary, 0.08);
        }
        .custom-icon {
          color: mat.get-color-from-palette($foreground, text, 0.7);
        }
        &.active {
          background-color: mat.get-color-from-palette($primary);
          color: mat.get-color-from-palette($primary, default-contrast);
          .custom-icon {
            color: mat.get-color-from-palette($primary, default-contrast);
          }
        }
      }
    }
  }
  .child {
    .mat-expansion-panel {
      .mat-expansion-panel-body {
        background-color: mat.get-color-from-palette($primary, 0.07);
      }
    }
  }
}
