@mixin meta-edit($background, $foreground, $primary) {
  .img-section {
    .meta {
      background-color: mat-color($primary, 0.2);
    }
  }
  .gui-ui {
    .dg.main {
      ul {
        li {
          .title {
            display: none;
          }
          &.folder {
            .dg {
              color: mat-color($foreground, text, 0.75);
            }
          }
          &:not(.folder) {
            border-bottom: 1px solid mat-color($foreground, divider);
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
      .cr {
        .c {
          .slider {
            background: mat-color($foreground, slider-min, 0.4);
          }
          .slider-fg {
            background: mat-color($foreground, slider-min, 0.6);
          }
          select {
            border: 1px solid mat-color($foreground, divider);
            color: mat-color($foreground, text, 0.75);
            &:focus-visible {
              border: 1px solid mat-color($primary);
            }
          }
          input {
            &[type="text"] {
              color: #fff;
            }
          }
        }
        &.number {
          input {
            &[type="text"] {
              color: mat-color($foreground, text, 0.75);
              background: mat-color($primary, default-contrast);
            }
          }
        }
      }
    }
  }
}
