@mixin builder-list($background, $foreground, $primary) {
  background-color: mat-color($background, card);
  .sidebar-drawer {
    border-right: 1px solid mat-color($foreground, divider);
    @include scrollbar(mat-color($foreground, divider));
    .box {
      color: mat-color($foreground, text, 0.75);
      .inner {
        border: 1px solid mat-color($foreground, divider);
        background-color: mat-color($background, card);
      }
      &:hover {
        background-color: mat-color($primary, 0.25);
        color: mat-color($primary);
      }
    }
  }
  .mat-drawer {
    background-color: mat-color($background, background);
  }
  .component-item {
    &:hover {
      outline: 1px dashed mat-color($primary);
      z-index: 10;
    }
  }
  .wrapper {
    #builder-list {
      @include scrollbar(mat-color($primary));
    }
  }
  .preview {
    background-color: mat-color($foreground, elevation, 0.85);
    #builder-list {
      background-color: mat-color($background, card);
    }
    .preview-iframe {
      &:after {
        background-color: mat-color($foreground, elevation, 0.95);
        @include mat-elevation(2, mat-color($foreground, elevation), 0.5);
      }
    }
  }
  [contenteditable] {
    outline: none;
  }
  img {
    &[contenteditable="false"] {
      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }
    }
  }
  [contenteditable="true"] {
    cursor: text;
    background-color: mat-color($primary, 0.1);
  }
  .component-toolbar {
    .actions {
      background-color: mat-color($foreground, elevation, 0.7);
      @include mat-elevation(2, mat-color($background, tooltip), 0.25);
      .mat-button-base {
        color: mat-color($primary, default-contrast, 0.8);
      }
    }
  }
}
