@use '~@angular/material' as mat;
@mixin builder-list($background, $foreground, $primary, $warn) {
  background-color: mat.get-color-from-palette($background, card);
  .sidebar-drawer {
    border-right: 1px solid mat.get-color-from-palette($foreground, divider);
    @include scrollbar(mat.get-color-from-palette($foreground, divider));
    .box {
      color: mat.get-color-from-palette($foreground, text, 0.75);
      .inner {
        border: 1px solid mat.get-color-from-palette($foreground, divider);
        background-color: mat.get-color-from-palette($background, card);
      }
      &:hover {
        background-color: mat.get-color-from-palette($primary, 0.25);
        color: mat.get-color-from-palette($primary);
      }
    }
  }
  .mat-drawer {
    background-color: mat.get-color-from-palette($background, background);
  }
  .component-item {
    &:hover {
      outline: 1px dashed mat.get-color-from-palette($primary);
      z-index: 10;
    }
  }
  .wrapper {
    #builder-list {
      @include scrollbar(mat.get-color-from-palette($primary));
      .layout-preview {
        .col-item {
          background-color: mat.get-color-from-palette($warn, 0.2);
          .span {
            color: mat.get-color-from-palette($foreground, disabled);
          }
        }
      }
    }
  }
  .preview {
    background-color: mat.get-color-from-palette($foreground, elevation, 0.85);
    #builder-list {
      background-color: mat.get-color-from-palette($background, card);
    }
    .preview-iframe {
      &:after {
        background-color: mat.get-color-from-palette(
          $foreground,
          elevation,
          0.95
        );
        @include mat.elevation(
          2,
          mat.get-color-from-palette($foreground, elevation),
          0.5
        );
      }
    }
  }
  [contenteditable] {
    outline: none;
  }
  img {
    &[contenteditable="false"] {
      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }
    }
  }
  [contenteditable="true"] {
    cursor: text;
    background-color: mat.get-color-from-palette($primary, 0.1);
  }
  .component-toolbar {
    .actions {
      background-color: #333;
      @include mat.elevation(
        2,
        mat.get-color-from-palette($background, tooltip),
        0.25
      );
      .mat-button-base {
        color: mat.get-color-from-palette($primary, default-contrast, 0.8);
      }
    }
  }
}
