@use '~@angular/material' as mat;
@mixin layout-setting($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  .layout-setting {
    .layout-setting {
      .layout-preview {
        border: 1px solid mat.get-color-from-palette($foreground, divider);
        .wrapper {
          .block {
            @include mat.elevation(
              3,
              mat.get-color-from-palette($foreground, divider),
              0.4
            );
            color: mat.get-color-from-palette($primary, default-contrast);
          }
        }
      }
    }

    .none-description {
      background-color: mat.get-color-from-palette($warn, 0.1);
      border-left: 4px solid mat.get-color-from-palette($warn);
      @include mat.elevation(
        3,
        mat.get-color-from-palette($background, tooltip),
        0.4
      );
    }

    .loop-elements {
      .mat-list-item {
        background-color: mat.get-color-from-palette($primary, 0.2);
        .mat-list-icon {
          color: mat.get-color-from-palette($foreground, text, 0.4);
        }
        &:hover {
          background-color: mat.get-color-from-palette($primary, 0.4);
        }
      }
    }
  }
}
