@mixin layout-setting($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  .layout-setting {
    .bg-img-section {
      .box {
        background-color: mat-color($primary, 0.2);
      }
    }
    .layout-setting {
      .layout-preview {
        border: 1px solid mat-color($foreground, divider);
        .wrapper {
          .block {
            @include mat-elevation(3, mat-color($foreground, divider), 0.4);
            color: mat-color($primary, default-contrast);
          }
        }
      }
    }
  }
}
