<div class="sample" *ngIf="content">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{content.label}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <div class="cards" fxLayout="row wrap">
          <div class="item" (click)="onSample(item.page)" *ngFor="let item of content.elements" fxFlex.lt-sm="50%"
            fxFlex.gt-xs="0 0 calc(100%/3)">
            <div class="inner" fxLayout="column" fxLayoutAlign="center center">
              <app-icon *ngIf="item.icon" [content]="item.icon"></app-icon>
              <div class="title">{{item.label}}</div>
            </div>
          </div>
        </div>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>