<div class="dialog">
  <h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>
  <mat-dialog-content>
    <ng-container *ngIf="data.inputData | isArray; else one">
      <app-dynamic-component *ngFor="let widget of data.inputData" [inputs]="{content:widget}"></app-dynamic-component>
    </ng-container>
    <ng-template #one>
      <app-dynamic-component [inputs]="{content:data.inputData.content}"></app-dynamic-component>
    </ng-template>
  </mat-dialog-content>
  <div mat-dialog-actions fxLayoutAlign="center center" *ngIf="!data.disableCloseButton">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">关闭</button>
  </div>
</div>