@import '/src/theme/variable/breakpoint';
.search-header {
  overflow: hidden;
  form {
    z-index: 10;
  }
  input {
    box-sizing: border-box;
    padding: 14px 20px;
    width: 100%;
    color: #3c4858 !important;
    border: none;
    outline: none !important;
    padding-right: 30px;
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 13px rgb(60 72 88 / 20%) !important;
    border-radius: 50rem !important;
  }
  form {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
  }
  @media #{$lt-sm} {
    .features-absolute {
      position: relative;
    }
  }
}
.filter {
  position: relative;
  z-index: 2;
}

.search-input {
  position: relative;
  .search-icon {
    position: absolute;
    left: 20px;
    top: 16px;
    line-height: 1;
    cursor: pointer;
  }
}
