@import "../../../../../theme/variable/breakpoint";
.search-header {
  form {
    z-index: 10;
  }
  input {
    box-sizing: border-box;
    padding: 14px 20px;
    width: 100%;
    color: #3c4858 !important;
    border: none;
    outline: none !important;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 13px rgb(60 72 88 / 20%) !important;
    border-radius: 50rem !important;
  }
  form {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
  }
  @media #{$lt-sm} {
    .features-absolute {
      margin: -90px 0 0;
      position: relative;
    }
  }
}
