<div class="search-header" *ngIf="content">
  <app-hero2v1 [content]="content"></app-hero2v1>
  <div class="container position-relative">
    <app-spacer [size]="'sm'"></app-spacer>
    <div class="features-absolute position-absolute width-100">
      <form (ngSubmit)="onSubmit(input.value)">
        <div class="js-form-type-search">
          <input #input matInput placeholder="{{content.input.placeholder}}" type="search" size="15" maxlength="128"
            [value]="key" class="form-search">
        </div>
      </form>
    </div>
  </div>
</div>
