<div class="showcase-1-v3 position-relative" [ngClass]="content.classes" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [content]="content.bg" *ngIf="content.bg"></app-bg-img>
  <div class="container">
    <app-text *ngIf="text" [content]="text"></app-text>
    <app-dynamic-widgets *ngFor="let item of content.elements" [content]="item"></app-dynamic-widgets>
    <div class="m-top" fxLayoutAlign="center center" fxLayoutGap="1rem" *ngIf="content.actions">
      <app-btn-animate [content]="btn" *ngFor="let btn of content.actions"></app-btn-animate>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
