@if (content) {
  <div class="showcase-1-v3 relative" [ngClass]="content.classes">
    @if (content.text) {
      <app-text [attr.data-path]="'text'" [content]="content.text" />
    }
    @for (item of content.elements; track item; let i = $index) {
      <app-dynamic-component [attr.data-path]="'elements.' + i" [inputs]="item" />
    }
    @if (content.actions) {
      <div class="mt-5 flex justify-center items-center gap-3">
        @for (item of content.actions; track item; let i = $index) {
          <app-dynamic-component [attr.data-path]="'actions.' + i" [inputs]="item" />
        }
      </div>
    }
  </div>
}
