<div class="showcase-1-v3 position-relative p-y" [ngClass]="content.classes" *ngIf="content">
  <app-bg *ngIf="content.bg" [content]="content.bg">
    <app-img [content]="content.bg.img"></app-img>
  </app-bg>
  <div class="container">
    <app-title [content]="content.title" *ngIf="content.title"></app-title>
    <div class="content" [innerHTML]="content.content"></div>
    <div fxLayoutAlign="center center" fxLayoutGap="1rem" *ngIf="content.actions">
      <app-btn-animate [content]="btn" *ngFor="let btn of content.actions"></app-btn-animate>
    </div>
  </div>
</div>
