.slider {
  .mat-mdc-slider {
    min-width: auto;
    flex: 1 1 auto;
    ::ng-deep {
      .mdc-slider__track--inactive {
        background-color: var(--mat-sys-primary);
      }
    }
  }
  .value {
    flex: 0 0 60px;
    font-size: 14px;
    height: 26px;
    line-height: 1;
    padding: 0px 2px;
    background-color: var(--mat-sys-surface);
    border: 1px solid var(--mat-sys-surface-variant);
    &:hover {
      border-color: var(--mat-sys-primary);
    }
  }
}
