@if (content) {
  <div class="banner-simple" [ngClass]="content.style">
    @if (content.bannerBg) {
      <app-bg-img
        [attr.data-path]="'bannerBg'"
        [content]="content.bannerBg" />
    }
    <div class="container">
      <div
        class="banner-inner">
        <div class="title-wrap">
          @if (content.title) {
            <h2
              class="page-title"
              contentedit="title"
              [innerHTML]="content.title | safeHtml"></h2>
          }
          @if (content.subTitle) {
            <div
              class="sub-title"
              [innerHTML]="content.subTitle | safeHtml"></div>
          }
        </div>
        @if (content.breadcrumb) {
          <app-breadcrumb [content]="content.breadcrumb" />
        }
      </div>
    </div>
  </div>
}
