@if (content(); as contentValue) {
  <div class="banner-simple" [class]="contentValue.style">
    @if (contentValue.bannerBg) {
      <app-bg-img
        [attr.data-path]="'bannerBg'"
        [content]="contentValue.bannerBg" />
    }
    <div class="container">
      <div
        class="banner-inner">
        <div class="title-wrap">
          @if (contentValue.title) {
            <h2
              class="page-title"
              contentedit="title"
              [innerHTML]="contentValue.title | safeHtml"></h2>
          }
          @if (contentValue.subTitle) {
            <div
              class="sub-title"
              [innerHTML]="contentValue.subTitle | safeHtml"></div>
          }
        </div>
        @if (contentValue.breadcrumb) {
          <app-breadcrumb [content]="contentValue.breadcrumb" />
        }
      </div>
    </div>
  </div>
}
