<app-link class="top" [content]="content" [matMenuTriggerFor]="childMenu"></app-link>
<mat-menu class="sub-menu" #childMenu="matMenu" [overlapTrigger]="false">
  <div *ngFor="let child of content">
    <div *ngIf="child.child && child.child.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
        <mat-icon *ngIf="child.icon">{{child.icon}}</mat-icon>
        <app-link [content]="child"></app-link>
      </button>
      <app-sub-menu #menu [content]="child.child"></app-sub-menu>
    </div>
    <div *ngIf="!child.child || child.child.length === 0">
      <button mat-menu-item>
        <mat-icon *ngIf="child.icon">{{child.icon}}</mat-icon>
        <app-link [content]="child"></app-link>
      </button>
    </div>
  </div>
</mat-menu>
