@import "../../../../../theme/variable/breakpoint";
.theme-preview {
  margin-bottom: 100px;
}
.bg-colors {
  position: relative;
  z-index: 10;
  gap: 30px;
  margin-top: -30px;
  .box {
    padding: 20px 0;
    text-align: center;
    border-radius: 4px;
    .label {
      padding: 4px 10px;
      display: inline-block;
      border-radius: 4px;
    }
  }
  @media #{$gt-sm} {
    margin-top: -100px;
  }
}

.row {
  gap: 30px;
  .item {
    border-radius: 4px;
  }
}

.columns {
  margin-top: 30px;
  .wrapper {
    gap: 30px;
    .item {
      gap: 30px;
    }
  }
}
