<div class="theme-preview" *ngIf="content">
  <app-dynamic-component *ngFor="let item of content.top" [inputs]="item"></app-dynamic-component>
  <div class="container">
    <div class="bg-colors" fxLayout="row wrap">
      <div class="box" fxFlex.lt-md="calc(100% / 3 - 30px)" fxFlex.gt-sm="calc(100% / {{content.bgColors.row}} - 30px)"
        [ngClass]="color.classes" *ngFor="let color of content.bgColors.lists">
        <div class="label">{{color.label}}</div>
      </div>
    </div>
    <mat-divider class="m-y-lg"></mat-divider>
    <div class="row" fxLayout="row wrap">
      <app-dynamic-component class="item" fxFlex.xs="100%" fxFlex.gt-xs="calc(100% / 3 - 30px)"
        *ngFor="let item of content.row" [inputs]="item"></app-dynamic-component>
    </div>
    <div class="columns">
      <div class="wrapper" fxLayout="row wrap">
        <div class="item" fxFlex.xs="100%" fxFlex.gt-xs="calc(100% / 3 - 30px)" fxLayout="column"
          *ngFor="let column of content.columns">
          <app-dynamic-component class="box" *ngFor="let item of column" [inputs]="item"></app-dynamic-component>
        </div>
      </div>
    </div>
    <app-dynamic-component *ngFor="let item of content.bottom" [inputs]="item"></app-dynamic-component>
  </div>
</div>