<div class="list-2v1 position-relative" *ngIf="content">
  <app-bg [content]="content.bg" *ngIf="content.bg"></app-bg>
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <div class="container">
    <app-title [content]="content.title"></app-title>
    <div class="lists">
      <div class="item p-y" *ngFor="let item of lists" fxLayout.lt-md="column" fxLayout.gt-sm="row">
        <div fxFlex="auto" fxLayout.lt-lg="column" fxLayout.gt-md="row">
          <div class="subtitle" fxFlex.gt-md="10%" fxFlex.lt-md="100%">{{item.subTitle}}</div>
          <div class="inner" ngClass.gt-md="p-x">
            <app-link class="title" [content]="item.link"></app-link>
            <div class="content" [innerHTML]="item.body|safeHtml"></div>
          </div>
        </div>
        <div class="media" fxFlex.gt-sm="400px" fxFlex.lt-md="100%">
          <app-img [content]="item.img"></app-img>
        </div>
      </div>
    </div>
    <div class="actions m-y" fxLayoutAlign="center center">
      <app-btn [content]="content.more"></app-btn>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
