<app-link class="top" [content]="content"></app-link>
<div class="hover-menu" [class.active]="active">
  <div *ngTemplateOutlet="child;context:{content: content}"></div>
</div>

<ng-template let-content="content" #child>
  <div class="sub-menu" *ngFor="let item of content.child;">
    <button mat-button [class.has-child]="item.child ? true : false">
      <app-link [content]="item"></app-link>
    </button>
    <div class="child" *ngIf="item.child && item.child.length > 0">
      <div *ngTemplateOutlet="child;context:{content: item}"></div>
    </div>
  </div>
</ng-template>
