<div class="user-card position-relative p-x p-y-sm">
  <div class="inner" fxLayout="column" fxLayoutAlign="center start">
    <app-media-object class="width-100" [content]="profile"></app-media-object>
    <app-user-card-count class="width-100" [content]="count"></app-user-card-count>
    <div class="time" *ngIf="user.current_user?.login">
      您上次登录时间：{{user.current_user.login | date:"YYYY-MM-dd hh:mm"}}</div>
    <div class="menus" *ngIf="content.menu">
      <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="item">
        <button mat-menu-item *ngFor="let action of content.menu">
          <app-dynamic-widgets [content]="action">
          </app-dynamic-widgets>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
