<div class="user-card relative py-5">
  <div class="inner flex flex-col justify-center items-start">
    <app-media-object class="w-full" [content]="profile"></app-media-object>
    @if (count) {
      <app-user-card-count class="w-full my-5" [content]="count"></app-user-card-count>
    }
    @if (user?.login) {
      <div class="time text-xs mt-3">
        您上次登录时间：{{user.login | date:"YYYY-MM-dd hh:mm"}}
      </div>
    }
    @for (item of content.content; track item) {
      <app-dynamic-component class="w-full mt-5" [inputs]="item"
      ></app-dynamic-component>
    }
    @if (content.menu) {
      <div class="menus absolute">
        <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="item">
          @for (action of content.menu; track action) {
            <button mat-menu-item>
              <app-dynamic-component [inputs]="action">
              </app-dynamic-component>
            </button>
          }
        </mat-menu>
      </div>
    }
  </div>
</div>
