<div class="user-card position-relative p-y-sm">
  <div class="inner" fxLayout="column" fxLayoutAlign="center start">
    <app-media-object class="width-100" [content]="profile"></app-media-object>
    <app-user-card-count *ngIf="count" class="width-100 m-y-sm" [content]="count"></app-user-card-count>
    <div class="time m-top-xs" *ngIf="user?.login">
      您上次登录时间：{{user.login | date:"YYYY-MM-dd hh:mm"}}
    </div>
    <app-dynamic-component class="width-100 m-top-sm" [inputs]="item"
      *ngFor="let item of content.content"></app-dynamic-component>
    <div class="menus" *ngIf="content.menu">
      <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="item">
        <button mat-menu-item *ngFor="let action of content.menu">
          <app-dynamic-component [inputs]="action">
          </app-dynamic-component>
        </button>
      </mat-menu>
    </div>
  </div>
</div>