:host {
  ::ng-deep {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        @apply hidden;
      }
    }
  }
}
.tailwind-component {
  @apply relative;
  ::ng-deep {
    .fixed {
      @apply absolute;
    }
  }
}
