:host {
  ::ng-deep {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        @apply hidden;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply my-0;
    }
  }
}
.tailwind-component {
  @apply relative;
  ::ng-deep {
    .fixed {
      @apply absolute;
    }
  }
}
.paginator {
  @apply bg-transparent;
}

.template.inline-editable,
.template.locate-editable {
  ::ng-deep {
    *:hover:not(:has(*:hover)):not(img, canvas, video, iframe, svg, svg *) {
      outline: 1px dashed var(--mat-sys-primary);
      outline-offset: 2px;
    }
    [contenteditable='true'] {
      @apply cursor-text;
      outline: 2px solid var(--mat-sys-primary);
      outline-offset: 2px;
    }
  }
}
