@if (showToolbar) {
  <app-component-toolbar #toolbar [content]="inputs" [isPreview]="isPreview" [index]="index" />
}
@let content = componentRef?.instance?.content;
<div class="relative overflow-hidden" [ngClass]="content?.containerClasses">
  @if (content?.id) {
    <span class="anchor" [id]="content.id"></span>
  }
  @if (content?.spacer) {
    <app-spacer [size]="content.spacer" />
  }
  @if (content?.bg) {
    <app-bg-img [attr.data-path]="'bg'" [content]="content.bg" />
  }

  <div class="{{ content?.fullWidth ? '' : 'container' }}">
    <ng-template #componentContainer />
  </div>

  @if (content?.spacer) {
    <app-spacer [size]="content.spacer" />
  }
</div>
