@import "/src/theme/variable/variable";

@media #{$gt-xs} {
  .sidebar {
    z-index: 112;
  }
}

.map-wrapper {
  height: calc(100vh - 60px);

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 1rem;
  }
}

.job-details {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 111;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}
