.loading-wrap {
  @apply flex justify-center items-center;
}

.search-list {
  margin: 0 auto;
  min-height: 100vh;
  .search-list-inner {
    @screen md {
      @apply px-3;
      margin-top: 40px;
    }
  }
  .results {
    @apply text-neutral-500;
  }
  .list {
    background-color: var(--mat-sys-background);
    border-bottom: 1px solid var(--mat-sys-surface-dim);
    color: var(--mat-sys-on-surface-variant);
    overflow: hidden;
    .title,
    .content {
      ::ng-deep {
        em,
        strong {
          color: var(--mat-sys-error);
          font-weight: normal;
          font-style: normal;
        }
        a {
          color: var(--mat-sys-on-surface);
          &:hover {
            color: var(--mat-sys-primary);
          }
          em,
          strong {
            color: var(--mat-sys-error);
            font-weight: normal;
            font-style: normal;
          }
        }
      }
    }
    .bottom {
      font-size: 14px;
    }
  }
  .pager {
    @apply my-5;
  }
  .empty-text {
    @apply text-center py-10;
  }
}

.title {
  ::ng-deep {
    em {
      font-style: normal;
    }
  }
}
