<div class="search-list m-y-sm" *ngIf="content">
  <div class="container">
    <div class="list m-y" *ngFor="let item of content | paginate: { itemsPerPage: 20, currentPage: p }">
      <h1 class="title">
        <app-link [content]="item.link"></app-link>
      </h1>
      <div [innerHTML]="item.body | stripTags"></div>
      <div class="bottom m-y-sm" fxLayoutAlign="space-between center">
        <div>{{item.user}}</div>
        <div>{{item.created}}</div>
      </div>
    </div>
    <app-pagination (pageChange)="p = $event"></app-pagination>
  </div>
</div>
