<div class="showcase-3-v6 position-relative" *ngIf="content && checkShow(content, user.current_user.roles)">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg"></app-bg>
  <div class="container" *ngIf="content">
    <app-text [content]="content.title"></app-text>
    <div class="showcase-inner" fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxFlex.lt-md="100" [fxFlex.gt-sm]="row(content, '0px')"
        *ngFor="let item of content.elements">
        <app-media-object fxFlex="100" class="p-x-xs p-y-xs" [content]="item"></app-media-object>
      </div>
    </div>
    <div class="actions" *ngIf="content.action" fxLayoutAlign="center center">
      <div class="m-y">
        <app-btn-animate [content]="content.action"></app-btn-animate>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
