<div class="showcase-3-v6 position-relative" *reqRolesIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [attr.data-path]="'bg'" [content]="content.bg" *ngIf="content.bg"></app-bg>
  <div class="container" *ngIf="content">
    <app-text [attr.data-path]="'title'" [content]="content.title"></app-text>
    <div class="showcase-inner" fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxFlex.lt-md="100" [fxFlex.gt-sm]="row(content.row, '0px')"
        *ngFor="let item of content.elements;index as i">
        <app-media-object [attr.data-path]="'elements.'+i" fxFlex="100" class="p-x-xs p-y-xs"
          [content]="item"></app-media-object>
      </div>
    </div>
    <div class="actions" *ngIf="content.action" fxLayoutAlign="center center">
      <div class="m-y">
        <app-dynamic-component [attr.data-path]="'action'" [inputs]="content.action"></app-dynamic-component>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>