.key-feature {
  transition: all 0.3s ease;
  border-radius: 6px;
  .icon {
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
  }

  &:hover {
    transform: scale(1.05);
  }
}
