<ng-container *ngIf="appState.content">
  <ng-container *ngFor="let item of appState.content">
    <ng-container [ngSwitch]="item.type">
      <app-text *ngSwitchCase="'text'" [content]="item"></app-text>
      <app-tab *ngSwitchCase="'tab'" [content]="item"></app-tab>
      <app-panel *ngSwitchCase="'panel'" [content]="item"></app-panel>
      <app-search *ngSwitchCase="'search'" [content]="item"></app-search>
      <app-shuffle *ngSwitchCase="'shuffle'" [content]="item"></app-shuffle>
      <app-notfound *ngSwitchCase="'404'" [content]="item"></app-notfound>
      <app-article *ngSwitchCase="'article'" [content]="item"></app-article>
      <app-hero1v1 *ngSwitchCase="'hero-1v1'" [content]="item"></app-hero1v1>
      <app-hero2v1 *ngSwitchCase="'hero-2v1'" [content]="item"></app-hero2v1>
      <app-video-bg *ngSwitchCase="'video-bg'" [content]="item"></app-video-bg>
      <app-location *ngSwitchCase="'location'" [content]="item"></app-location>
      <app-case-node *ngSwitchCase="'case-node'" [content]="item"></app-case-node>
      <app-whychooseus *ngSwitchCase="'whychooseus'" [content]="item"></app-whychooseus>
      <app-showcase1v1 *ngSwitchCase="'showcase-1v1'" [content]="item"></app-showcase1v1>
      <app-showcase1v3 *ngSwitchCase="'showcase-1v3'" [content]="item"></app-showcase1v3>
      <app-showcase2v1 *ngSwitchCase="'showcase-2v1'" [content]="item"></app-showcase2v1>
      <app-showcase3v1 *ngSwitchCase="'showcase-3v1'" [content]="item"></app-showcase3v1>
      <app-showcase3v2 *ngSwitchCase="'showcase-3v2'" [content]="item"></app-showcase3v2>
      <app-showcase3v3 *ngSwitchCase="'showcase-3v3'" [content]="item"></app-showcase3v3>
      <app-showcase3v4 *ngSwitchCase="'showcase-3v4'" [content]="item"></app-showcase3v4>
      <app-showcase4v1 *ngSwitchCase="'showcase-4v1'" [content]="item"></app-showcase4v1>
      <app-carousel1v1 *ngSwitchCase="'carousel-1v1'" [content]="item"></app-carousel1v1>
      <app-carousel1v2 *ngSwitchCase="'carousel-1v2'" [content]="item"></app-carousel1v2>
      <app-carousel1v3 *ngSwitchCase="'carousel-1v3'" [content]="item"></app-carousel1v3>
      <app-carousel2v1 *ngSwitchCase="'carousel-2v1'" [content]="item"></app-carousel2v1>
      <app-banner-simple *ngSwitchCase="'banner-simple'" [content]="item"></app-banner-simple>
    </ng-container>
  </ng-container>
</ng-container>
