<ng-container *ngIf="appState.content">
  <ng-container *ngFor="let item of appState.content">
    <ng-container [ngSwitch]="item.type">
      <app-banner-simple *ngSwitchCase="'banner-simple'" [content]="item"></app-banner-simple>
      <app-showcase1v1 *ngSwitchCase="'showcase-1v1'" [content]="item"></app-showcase1v1>
      <app-showcase1v3 *ngSwitchCase="'showcase-1v3'" [content]="item"></app-showcase1v3>
      <app-showcase2v1 *ngSwitchCase="'showcase-2v1'" [content]="item"></app-showcase2v1>
      <app-showcase3v1 *ngSwitchCase="'showcase-3v1'" [content]="item"></app-showcase3v1>
      <app-showcase3v2 *ngSwitchCase="'showcase-3v2'" [content]="item"></app-showcase3v2>
      <app-showcase3v3 *ngSwitchCase="'showcase-3v3'" [content]="item"></app-showcase3v3>
      <app-showcase4v1 *ngSwitchCase="'showcase-4v1'" [content]="item"></app-showcase4v1>
      <app-case-node *ngSwitchCase="'case-node'" [content]="item"></app-case-node>
      <app-carousel1v1 *ngSwitchCase="'carousel1v1'" [content]="item"></app-carousel1v1>
      <app-carousel1v2 *ngSwitchCase="'carousel1v2'" [content]="item"></app-carousel1v2>
      <app-shuffle *ngSwitchCase="'shuffle'" [content]="item"></app-shuffle>
      <app-video-bg *ngSwitchCase="'video-bg'" [content]="item"></app-video-bg>
    </ng-container>
  </ng-container>
</ng-container>
