<div [formGroup]="form">
  <label hidden [attr.for]="control.key">{{control.label}}</label>
  <div [ngSwitch]="control.type" matTooltip="{{control.tooltip}}"
    [matTooltipPosition]="control.matTooltipPosition||'above'">
    <app-input *ngSwitchCase="'input'" [content]="control" [form]="form"></app-input>
    <app-textarea *ngSwitchCase="'textarea'" [content]="control" [form]="form"></app-textarea>
    <app-select *ngSwitchCase="'select'" [content]="control" [form]="form"></app-select>
  </div>
</div>
