@if (content) {
  <div class="full-calendar relative">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
    @if (content.bg) {
      <app-bg-img [content]="content.bg"></app-bg-img>
    }
    <div class="{{ content.fullWidth ? '' : 'container' }}">
      <div class="inner p-y flex flex-wrap">
        @if (content.sidebar) {
          <div
            class="sidebar p-x-sm flex-12/12 md:flex-3/12"
            >
            @for (item of content.sidebar; track item) {
              <app-dynamic-component
                [inputs]="{ content: item, form: form }"
                >
              </app-dynamic-component>
            }
          </div>
        }
        <div
        class="main p-x-sm p-y-sm flex-12/12 {{
          content.sidebar ? 'md:flex-8/12' : ''
        }}"
          >
          <div class="calendar w-full">
            @if (visiable) {
              <app-calendar
                [content]="content.calendar.options"
                [loading]="loading"
                [options]="options"
                >
              </app-calendar>
            }
          </div>
        </div>
      </div>
    </div>
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  </div>
}
