<ng-container *ngIf="content">
  <ng-container [ngSwitch]="content.mode">

    <!-- autocomplete -->
    <mat-form-field *ngSwitchCase="'autocomplete'" class="width-100" [formGroup]="form"
      [appearance]="content.appearance || 'fill'">
      <mat-label>{{content.label}}</mat-label>
      <mat-icon matSuffix>{{content.icon}}</mat-icon>
      <input #input type="{{content.controlType || 'text'}}" placeholder="{{content.placeholder}}" aria-label="Number"
        value="{{content.value}}" matInput formControlName="{{content.key}}" [matAutocomplete]="auto"
        [id]="content.key">
      <span matSuffix *ngIf="content.suffix">{{content.suffix}}</span>
      <button *ngIf="input.value && content.clear" matSuffix mat-icon-button aria-label="Clear"
        (click)="input.value=''">
        <mat-icon>close</mat-icon>
      </button>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoLists;trackBy:trackByFn" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="!isValid">{{content.errorMes}}</mat-error>
    </mat-form-field>

    <!-- default input -->
    <mat-form-field *ngSwitchDefault class="width-100" [formGroup]="form" [appearance]="content.appearance || 'fill'">
      <mat-label>{{content.label}}</mat-label>
      <mat-icon matSuffix>{{content.icon}}</mat-icon>
      <input #input matInput type="{{content.controlType || 'text'}}" formControlName="{{content.key}}"
        placeholder="{{content.placeholder}}" value="{{content.value}}" [id]="content.key">

      <span matSuffix *ngIf="content.suffix">{{content.suffix}}</span>
      <button *ngIf="input.value && content.clear" matSuffix mat-icon-button aria-label="Clear"
        (click)="input.value=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="!isValid">{{content.errorMes}}</mat-error>
    </mat-form-field>
  </ng-container>
</ng-container>
