@if (content(); as titleContent) {
  <div class="title" [class]="titleContent.style">
    <h2
      #title
      contentedit="label"
      class="title-header"
      [class]="[titleContent.classes || 'mat-h2', titleContent.style === 'none' ? '!mb-0' : '']"
      [innerHTML]="titleContent.label | safeHtml"
    ></h2>
    <div class="line-style" [class.m-top-sm]="titleContent.icon">
      @if (titleContent.icon && titleContent.style) {
        <mat-icon>{{ titleContent.icon }}</mat-icon>
      }
      <span></span>
    </div>
  </div>
}
