@use '../../../../theme/mixins/amixin' as *;
:host {
  display: block;
}
.title {
  .typed-cursor {
    color: var(--mat-sys-primary);
  }
  .line-style {
    max-width: 200px;
  }
  &.style-v1,
  &.style-v2,
  &.style-v3,
  &.style-v4,
  &.style-v5 {
    position: relative;
    .title-header {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
    .line-style {
      bottom: 0;
      height: 1px;
      position: absolute;
      width: 33%;
      background: var(--mat-sys-surface-dim);

      &:before {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        width: 100px;
        @include transition(all, 0.4s, ease);
        background: var(--mat-sys-primary);
      }
      .mat-icon {
        display: block;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        text-align: center;
        top: -20px;
        width: 40px;
        background: var(--mat-sys-on-primary);
        color: var(--mat-sys-primary);
      }
    }
    &:hover {
      .line-style {
        &:before {
          width: 75%;
        }
      }
    }
    &.small {
      .title-header {
        font-size: 22px;
      }
    }
  }
  &.style-v1,
  &.style-v2,
  &.style-v3 {
    text-align: center;
    .line-style {
      left: 50%;
      @include translateX(-50%);
      &:before {
        left: 50%;
        @include translateX(-50%);
      }
    }
    .mat-icon {
      left: 50%;
      @include translateX(-50%);
    }
  }
  &.style-v1 {
    // Dot between line bottom
    .line-style {
      span {
        display: block;
        height: 10px;
        position: absolute;
        top: -5px;
        width: 10px;
        border-radius: 100% 100% 100% 100%;
        left: 50%;
        background: var(--mat-sys-background);
        border: 1px solid var(--mat-sys-primary);
        @include translateX(-50%);
      }
    }
  }

  &.style-v4,
  &.style-v5 {
    text-align: left;
  }

  &.style-v4 {
    // Dot left line bottom
    .line-style {
      span {
        display: block;
        height: 10px;
        position: absolute;
        top: -5px;
        width: 10px;
        border-radius: 100% 100% 100% 100%;
        background: var(--mat-sys-background);
        border: 1px solid var(--mat-sys-primary);
      }
    }
  }

  &.line-full-width {
    .line-style {
      width: 100% !important;
    }
    &:hover {
      .line-style {
        &:before {
          width: 30%;
        }
      }
    }
  }
  &.banner-title {
    .title-header {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      padding: 20px;
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
    .line-style {
      display: none;
    }
  }
}
