@use 'mixins/amixin' as *;
.builder-settings {
  padding: 10px;
  .cards {
    position: relative;
    height: 450px;
    overflow: auto;
    @include scrollbar(var(--mat-sys-primary));
    .group {
      border-radius: 6px;
      padding: 6px;
    }
    .item {
      position: relative;
      border-bottom: 1px solid var(--mat-sys-surface-dim);
      .title {
        font-size: 14px;
        width: 100%;
      }
      .inner {
        margin: 2px;
        border-radius: 4px;
        &.show {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .pager {
    ::ng-deep {
      .mat-mdc-paginator-range-label {
        display: none;
      }
    }
  }
}
