<div class="builder-settings">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" (afterExpand)="onAfterExpand()">
      <mat-expansion-panel-header>
        <mat-panel-title> 配置 </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @if (content$ | async; as content) {
          <div class="cards grid grid-cols-12 gap-1">
            @for (item of content.rows; track item; let i = $index) {
              <div class="item col-span-12 cursor-pointer">
                <div (click)="onJson(item)" class="overflow-hidden">
                  <div class="inner flex flex-col p-4 gap-1" matRipple>
                    <div class="title flex justify-between items-center">
                      {{ item.title }}
                      <div
                        class="text-xs bg-primary py-1 px-2 rounded-full opacity-95"
                      >
                        {{ item.langcode }}
                      </div>
                    </div>
                    <div class="opacity-50">{{ item.url }}</div>
                    <div
                      class="opacity-50 flex justify-between items-center text-xs"
                    >
                      <div class="font-mono">{{ item.author }}</div>
                      <div>{{ item.changed }}</div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <mat-spinner
            class="mx-auto my-10"
            diameter="50"
            color="primary"
          ></mat-spinner>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
