<div class="builder-settings">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" (afterExpand)="onAfterExpand()">
      <mat-expansion-panel-header>
        <mat-panel-title> 配置 </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @if (loading) {
          <mat-spinner
            class="mx-auto my-10"
            diameter="50"
            color="primary"
          ></mat-spinner>
        }
        @if (content$ | async; as content) {
          <div class="cards grid grid-cols-12 gap-1">
            @for (item of content; track item; let i = $index) {
              <div class="item col-span-6 cursor-pointer" matRipple>
                <div (click)="onJson(item)">
                  <div
                    class="inner flex flex-col justify-center items-center overflow-hidden"
                  >
                    <div class="font-mono">{{ i + 1 }}</div>
                    <div class="title">{{ item.title }}</div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
