<div class="tree-list">
  <div class="container">
    <div fxLayoutAlign="space-bewteen start" fxFlex="100" fxLayout="row wrap">
      <div fxLayout="row wrap" class="left" fxFlex.lt-md="0 0 100" fxFlex.gt-sm="0 0 25%">
        <app-tree *ngFor="let tree of content.tree" (treeChange)="onTreeChange($event)" fxFlex="0 1 100"
          [content]="tree">
        </app-tree>
      </div>
      <div fxLayout="row wrap" class="main p-x-xs m-y-sm" fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 {{content.filter ? '75%':'100%'}}">
        <div class="filter" fxFlex="0 1 100" *ngFor="let filter of content.filter">
          <mat-selection-list (selectionChange)="onSelectChange({key:filter.key, value: $event.option.value})"
            [multiple]="false">
            <mat-list-option *ngFor="let item of filter.options" [value]="item.value">
              {{item.label}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <app-search-list fxFlex="0 1 100" [content]="nodes" [loading]="loading" [pager]="pager"
          (pageChange)="onPageChange($event)">
        </app-search-list>
      </div>
    </div>
  </div>
</div>
