@if (content(); as contentValue) {
  <div class="showcase-3-v3">
    <div class="showcase-inner teaser">
      @if (contentValue.feature) {
        @if (isShow) {
          <app-feature-box
            class="col-span-12 md:col-span-4"
            [attr.data-path]="'feature'"
            [content]="contentValue.feature"
          />
        }
      }
      <div
        class="col-span-12 {{
          contentValue.showImage && contentValue.feature ? 'md:col-span-8' : 'md:col-span-12'
        }}"
      >
        <h2 class="title">
          <app-link [attr.data-path]="'title'" [content]="contentValue.title" />
        </h2>
        <ul class="post-meta-info">
          @if (contentValue.date) {
            <li>
              <mat-icon>schedule</mat-icon>
              <div>{{ contentValue.date | date: 'yyyy-MM-dd' }}</div>
            </li>
          }
          @if (contentValue.commentCount) {
            <li>
              <mat-icon>comment</mat-icon>
              <div>{{ contentValue.commentCount }} 评论</div>
            </li>
          }
          @if (contentValue.category) {
            <li>
              <mat-icon>folder</mat-icon>
              <div>{{ contentValue.category | slice: 0 : 20 }}</div>
            </li>
          }
        </ul>
        <div
          class="shortdesc"
          [innerHTML]="contentValue.body | stripTags | trim | shorten: 150 : '...'"
        ></div>
        @if (contentValue.details) {
          <div class="m-top-sm">
            <app-btn [attr.data-path]="'details'" [content]="contentValue.details" />
          </div>
        }
      </div>
    </div>
  </div>
}
