<div class="showcase-3-v3" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="container">
    <div class="showcase-inner teaser" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="100" fxLayoutGap.lt-md="0"
      fxLayoutGap.gt-xs="3rem">
      <app-feature-box fxFlex.lt-md="100" fxFlex.gt-sm="40" [content]="content.feature" *ngIf="isShow">
      </app-feature-box>
      <div fxFlex.lt-md="100" fxFlex.gt-sm="{{content.showImage && content.feature?'60':'100'}}">
        <h2 class="title">
          <app-link [content]="content.title"></app-link>
        </h2>
        <ul class="post-meta-info" fxLayout fxLayoutAlign="start start">
          <li *ngIf="content.date" fxLayoutAlign="center center">
            <mat-icon>schedule</mat-icon>
            <div>{{content.date | date:"YYYY-MM-dd"}}</div>
          </li>
          <li *ngIf="content.commentCount" fxLayoutAlign="center center">
            <mat-icon>comment</mat-icon>
            <div>{{content.commentCount}} 评论</div>
          </li>
          <li *ngIf="content.category" fxLayoutAlign="center center">
            <mat-icon>folder</mat-icon>
            <div>{{content.category | slice:0:20}}</div>
          </li>
        </ul>
        <div class="shortdesc" [innerHTML]="content.body |stripTags|trim|shorten:150:'...'">
        </div>
        <div class="m-top-sm" *ngIf="content.details">
          <app-btn-animate [content]="content.details"></app-btn-animate>
        </div>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
