@if (content(); as contentValue) {
  <div [class]="contentValue.style" class="inv-builder-box m-bottom-sm">
    @if (contentValue.icon) {
      <div class="box-icon">
        <app-icon [content]="contentValue.icon" />
      </div>
    }
    @if (contentValue.img && contentValue.img.src) {
      <div class="box-image">
        <app-img [attr.data-path]="'img'" [content]="contentValue.img" />
      </div>
    }
    <div class="box-content-wrapper">
      @if (contentValue.title.label) {
        <h3 class="box-title one-line">
          <app-link [attr.data-path]="'title'" [content]="contentValue.title" />
        </h3>
      }
      @if (contentValue.content) {
        <div
          contentedit="content"
          class="box-content"
          [innerHTML]="contentValue.content | safeHtml"
        ></div>
      }
      @if (contentValue.more && contentValue.more.label) {
        <div class="read-more">
          <a href="{{ contentValue.more.href }}" target="{{ contentValue.more.target || '_blank' }}"
            ><span contentedit="more.label" [innerHTML]="contentValue.more.label | safeHtml"></span
          ></a>
        </div>
      }
    </div>
  </div>
}
