<div *ngIf="content" [ngClass]="content.style" class="inv-builder-box m-bottom-sm">
  <div *ngIf="content.icon" class="box-icon">
    <app-icon [content]="content.icon"></app-icon>
  </div>
  <div *ngIf="content.img" class="box-image">
    <app-img [content]="content.img"></app-img>
  </div>
  <div class="box-content-wrapper">
    <h3 class="box-title one-line">
      <app-link [content]="content.title"></app-link>
    </h3>
    <div class="box-content" [innerHTML]="content.content | safeHtml">
    </div>
    <div class="read-more" *ngIf="content.more">
      <a href="{{content.more.href}}"><span>{{content.more.label}}</span></a>
    </div>
  </div>
</div>
