@import "../../../../theme/mixins/amixin";
@import "../../../../theme/variable/breakpoint";
.inv-builder-box {
  position: relative;
  .box-icon {
    text-align: center;
    width: 88px;
    height: 88px;
    @include transform(0deg, 1, 0, 0);
    @include transition(all, 0.3s, ease-out);
    @include border-radius(4px, 4px, 4px, 4px);
    .mat-icon {
      @include transition(all, 0.3s, ease-out);
      font-size: 30px;
      display: inline-block;
    }
  }
  .box-title {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 12px;
  }
  .box-content {
    display: block;
    font-weight: 500;
    padding-bottom: 40px;
  }

  &.small-box {
    .box-icon {
      width: 50px;
      height: 50px;
    }
    &.style-v7 {
      .box-icon {
        .mat-icon {
          font-size: 20px;
          height: 36px;
          width: 36px;
          line-height: 36px;
        }
      }
    }
  }
  &.medium-box {
    .box-icon {
      width: 70px;
      height: 70px;
    }
  }

  // Box square & circle
  &.box-square,
  &.box-circle {
    .box-icon {
      .mat-icon,
      img {
        @include middle-center();
        z-index: 1;
      }
    }
    &.box-image {
      .box-icon {
        border: 0;
      }
    }
  }

  &.box-circle {
    .box-icon {
      @include border-radius(50%, 50%, 50%, 50%);
    }
  }
  &.box-square {
    .box-icon {
      @include border-radius(3px, 3px, 3px, 3px);
    }
  }

  &.box-center {
    .box-icon {
      margin: 0 auto;
      margin-bottom: 35px;
    }
    .box-title {
      position: relative;
      text-align: center;
      margin-top: 10px;
    }
    .box-content {
      text-align: center;
      margin-top: 25px;
    }
    &.text-left {
      .box-icon {
        margin: 0;
      }
      .box-title {
        text-align: left;
        &:after {
          left: 0;
          margin-left: 0;
        }
      }
      .box-content {
        text-align: left;
      }
    }
    &.text-right {
      .box-icon {
        margin: 0 100%;
      }
      .box-title {
        text-align: right;
        &:after {
          left: auto;
          right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &.style-v1,
  &.style-v2 {
    position: relative;
    z-index: 1;
    text-align: center;
    .box-icon {
      position: absolute;
      left: 50%;
      top: -34px;
      border: 0;
      z-index: 100;
      @include translateX(-50%);
      .mat-icon {
        height: 60px;
        line-height: 60px;
        width: 60px;
      }
    }
    .box-content-wrapper {
      @include border-radius(3px, 3px, 3px, 3px);
      padding: 55px 15px 45px;
      position: relative;
      &:before {
        content: "";
        display: block;
        height: 80px;
        position: absolute;
        top: -37px;
        width: 80px;
        z-index: -1;
        left: 50%;
        @include translateX(-50%);
      }
      .box-content {
        padding-bottom: 0;
      }
    }
  }

  &.circle-readmore,
  &.style-v1,
  &.style-v2,
  &.style-v3,
  &.style-v4,
  &.style-v5 {
    text-align: center;
    .box-icon {
      margin: 0 auto;
      margin-bottom: 35px;
      .mat-icon {
        position: absolute;
        left: 50%;
        @include middle-center();
        z-index: 1;
      }
    }
    .read-more {
      bottom: -17px;
      color: transparent;
      display: block;
      font-size: 0;
      height: 35px;
      position: absolute;
      width: 35px;
      left: 50%;
      box-sizing: border-box;
      @include translateX(-50%);
      @include border-radius(100%, 100%, 100%, 100%);
      span {
        display: block;
        height: 11px;
        left: 16px;
        position: absolute;
        top: 11px;
        width: 1px;
        &:after {
          content: "";
          display: block;
          height: 1px;
          left: -5px;
          position: absolute;
          top: 5px;
          width: 11px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .box-content-wrapper {
      .box-title {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  &.style-v6 {
    .box-icon {
      margin: 0 auto;
      margin-bottom: 35px;
      .mat-icon {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 30px;
        @include middle-center();
        z-index: 1;
      }
    }
  }
  &.style-v1 {
    .box-icon {
      width: 78px;
      height: 78px;
      .mat-icon {
        @include border-radius(3px, 3px, 3px, 3px);
        @include middle-center();
      }
    }
    .box-content-wrapper {
      &:before {
        @include border-radius(5px, 5px, 5px, 5px);
      }
      .box-title {
        text-align: center;
        margin-top: 10px;
      }
      .box-content {
        margin-top: 25px;
      }
    }
    &:hover {
      .box-icon {
        @include translateXAndRotate(-50%, 45deg);
      }
      .box-content-wrapper {
        &:before {
          @include translateXAndRotate(-50%, 45deg);
        }
      }
    }
  }

  &.style-v2 {
    .box-icon {
      top: -40px;
      @include border-radius(100%, 100%, 100%, 100%);
      .mat-icon,
      img {
        height: 70px;
        line-height: 70px;
        width: 70px;
        @include border-radius(100%, 100%, 100%, 100%);
        @include middle-center();
        z-index: 1;
      }
    }
    .box-content-wrapper {
      &:before {
        height: 90px;
        top: -42px;
        width: 90px;
        @include border-radius(100%, 100%, 100%, 100%);
      }
      .box-title {
        text-align: center;
        margin-top: 10px;
      }
    }
    &:hover {
      .box-icon {
        .mat-icon {
          width: 88px;
          height: 88px;
        }
      }
    }
  }

  &.style-v3,
  &.style-v6 {
    .box-icon {
      @include border-radius(50%, 50%, 50%, 50%);

      .mat-icon {
        width: 30px;
        height: 30px;
      }
      &:before {
        content: "";
        display: block;
        margin: 0 auto;
        height: 100%;
        left: 50%;
        top: 50%;
        position: absolute;
        width: 100%;
        z-index: 1;
        opacity: 0;
        @include translateAndScale(-50%, -50%, 1.2);
        @include border-radius(100%, 100%, 100%, 100%);
        transition: all 0.4s ease;
      }
    }
    .box-image {
      margin-bottom: 35px;
    }
    &:hover {
      .box-icon {
        &:before {
          @include translateAndScale(-50%, -50%, 1);
          @include transition(all, 0.4, ease);
          opacity: 1;
        }
      }
    }
  }

  &.style-v3 {
    &.use-image {
      ::ng-deep img {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &.style-v4,
  &.style-v7 {
    .box-icon {
      @include border-radius(100%, 100%, 100%, 100%);
      .mat-icon,
      img {
        @include middle-center();
        z-index: 1;
        height: 74px;
        line-height: 70px;
        width: 74px;
        &:after {
          content: "";
          display: block;
          height: 100%;
          left: 50%;
          position: absolute;
          top: 50%;
          width: 100%;
          z-index: -1;
          @include translateAndScale(-50%, -50%, 1);
          transition: all 0.4s ease;
          @include border-radius(100%, 100%, 100%, 100%);
        }
      }
    }
    &:hover {
      .box-icon {
        .mat-icon {
          &:after {
            opacity: 0;
            @include translateAndScale(-50%, -50%, 0);
          }
        }
      }
    }
  }
  &.style-v6,
  &.style-v7 {
    .box-icon {
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }
    .box-content-wrapper {
      text-align: center;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    @media #{$gt-md} {
      .box-icon {
        float: left;
        margin: 0px 25px 25px 0px;
      }
      .box-content-wrapper {
        text-align: left;
      }
    }
  }

  &.style-v5 {
    .box-icon {
      @include border-radius(3px, 3px, 3px, 3px);
    }
    &.box-left {
      .box-content-wrapper {
        margin-left: 75px;
      }
    }
    &.box-right {
      .box-content-wrapper {
        margin-right: 75px;
      }
    }
  }

  &.style-v6,
  &.style-v7,
  &.style-v9 {
    .box-content {
      padding-bottom: 0;
    }
    .read-more {
      a {
        display: inline-block;
        font-size: 12px;
        margin-top: 14px;
        position: relative;
        padding-left: 14px;
        span {
          &:before,
          &:after {
            content: "";
            display: block;
            height: 6px;
            left: 0;
            position: absolute;
            top: 5px;
            @include transform-rotate(45deg);
            width: 2px;
          }
          &:after {
            @include transform-rotate(-45deg);
            top: 8px;
          }
        }
      }
    }
  }

  &.style-v8 {
    text-align: center;
    padding: 1.5rem;
    border-radius: 6px;
    .box-image {
      ::ng-deep img {
        max-width: 80%;
      }
    }
    .box-title {
      margin-top: 2rem;
    }
    .box-content {
      padding-bottom: 0;
    }
    .box-content-wrapper {
      display: flex;
      flex-direction: column;
      .box-title {
        order: 1;
      }
    }
  }

  // feature absolute
  &.style-v9 {
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.5s ease;

    .box-icon {
      height: 80px;
      line-height: 80px;
      margin: 0 auto;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      .mat-icon {
        font-size: 24px;
      }
    }
    .box-content-wrapper {
      margin-top: 2rem;
    }
  }
}
