@if (content) {
  <div [ngClass]="content.style" class="inv-builder-box m-bottom-sm relative">
    @if (content.icon) {
      <div class="box-icon text-center">
        <app-icon [content]="content.icon" />
      </div>
    }
    @if (content.img && content.img.src) {
      <div class="box-image">
        <app-img [attr.data-path]="'img'" [content]="content.img" />
      </div>
    }
    <div class="box-content-wrapper">
      @if (content.title.label) {
        <h3 class="box-title one-line">
          <app-link [attr.data-path]="'title'" [content]="content.title" />
        </h3>
      }
      @if (content.content) {
        <div
          contentedit="content"
          class="box-content block pb-10 text-sm"
          [innerHTML]="content.content | safeHtml"
        ></div>
      }
      @if (content.more && content.more.label) {
        <div class="read-more">
          <a href="{{ content.more.href }}" target="{{ content.more.target || '_blank' }}"
            ><span contentedit="more.label" [innerHTML]="content.more.label | safeHtml"></span
          ></a>
        </div>
      }
    </div>
  </div>
}
