<div class="showcase-4v1 position-relative" *reqRolesIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [attr.data-path]="'bg'" *ngIf="content.bg" [content]="content.bg"></app-bg-img>
  <div class="{{content.fullWidth?'':'container'}}">
    <app-text [attr.data-path]="'text'" [content]="content.text" *ngIf="content.text"></app-text>
    <div class="inner" fxLayout.xs="column" fxLayout.gt-xs="row">
      <div fxFlex *ngFor="let item of elements;index as i">
        <div class="style04 inv-stats">
          <div class="stats-icon">
            <app-icon *ngIf="item.icon" [content]="item.icon"></app-icon>
            <app-img [attr.data-path]="'elements.'+i+'.img'" *ngIf="item.img" [content]="item.img"></app-img>
          </div>
          <div class="stats-count">
            <app-number-animate [attr.data-path]="'elements.'+i+'.digit'" [content]="item.digit"></app-number-animate>
          </div>
          <div class="stats-title" [contentedit]="'elements.'+i+'.title'" *ngIf="item.title" [innerHTML]="item.title">
          </div>
          <div class="stats-desc" [contentedit]="'elements.'+i+'.desc'" *ngIf="item.desc" [innerHTML]="item.desc"></div>
        </div>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>