@if (content) {
  <div class="carousel-1-v3 relative" [ngClass]="content.classes">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
    @if (content.bg) {
      <app-bg-img [content]="content.bg"> </app-bg-img>
    }
    <div class="{{ content.fullWidth ? '' : 'container' }}">
      @if (content.text) {
        <app-text
          [attr.data-path]="'text'"
          [content]="content.text"
        ></app-text>
      }
      <app-spacer [size]="'sm'"></app-spacer>
      <app-swiper
        [attr.data-path]="'sliders'"
        [content]="content.sliders"
      ></app-swiper>
    </div>
    <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  </div>
}
