<div class="list-thin" *ngIf="content">
  <div *ngIf="loading" class="my-5 flex justify-center items-center">
    <app-spinner [content]="{ color: 'primary', size: 40 }"></app-spinner>
  </div>
  <ng-container *ngIf="content?.length; else empty">
    <div
      class="flex flex-col item mb-3 py-3 px-3"
      *ngFor="
        let item of content
          | paginate
            : { itemsPerPage: pager.itemsPerPage || 20, currentPage: p };
        trackBy: trackByFn
      "
    >
      <app-link [content]="item.link"></app-link>
      <div class="item-bottom flex flex-wrap justify-start items-center">
        <div class="meta mr-3 flex gap-3">
          <div *ngFor="let item of item.meta">
            {{ item.label | ucfirst }}
          </div>
        </div>
        <div class="actions flex flex-row" *ngIf="item?.actions?.length">
          <app-dynamic-component
            [inputs]="{ content: action, data: action?.params }"
            *ngFor="let action of item.actions"
          >
          </app-dynamic-component>
        </div>
      </div>
    </div>
    <app-pagination (pageChange)="p = $event"></app-pagination>
  </ng-container>
  <ng-template #empty>
    <div class="flex justify-center items-center py-5 my-5">没有数据</div>
  </ng-template>
</div>
