<div class="container-fluid map-list-common">
  <div class="map-list-v1 position-relation" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <div class="sidebar relative p-x-xs" fxFlex.xs="100%" fxFlex.gt-xs="500px">
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
      <div class="m-y" *ngIf="elements?.length == 0" fxLayoutAlign="center center">
        暂无相关数据
      </div>
      <div class="map-list-head p-x-sm p-y-sm">
        <app-title [content]="content.title"></app-title>
        <div class="meta" *ngIf="content?.meta">
          <div class="item" *ngFor="let item of content.meta">
            <span>{{item.label}}: </span>
            <span>{{item.value}}
              <mat-icon color="primary" inline *ngIf="item.label === '地址'">place</mat-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="map-lists">
        <app-card-1v3 [content]="{elements: elements}" (selected)="onMap($event)"></app-card-1v3>
      </div>
    </div>
    <div class="map-wrapper relative" fxFlex.xs="100%" fxFlex.gt-xs="100%">
      <app-map fxFlex="100%" *ngIf="content?.map" [content]="{city: content.map.city, elements: elements}"></app-map>
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
    </div>
    <div class="sidebar-right  p-x-sm p-y-sm" *ngIf="content.sidebarRight" fxFlex.gt-sm="400px" fxFlex.gt-md="600px"
      ngClass.gt-sm="absolute">
      <app-dynamic-component [inputs]="item" *ngFor="let item of content.sidebarRight"></app-dynamic-component>
    </div>
  </div>
</div>
<app-spacer></app-spacer>
