@use 'variable/variable' as *;
@use 'variable/breakpoint' as *;
@use '/mixins/amixin' as *;

@media #{$gt-xs} {
  .sidebar {
    z-index: 112;
  }
}
.map-list-common {
  position: relative;
  background-color: var(--mat-sys-background);
  box-shadow: var(--mat-sys-level1);
  .sidebar {
    background-color: var(--mat-sys-background);
  }
  .sidebar-right {
    box-shadow: var(--mat-sys-level1);
    background-color: var(--mat-sys-background);
  }
}

.map-wrapper {
  height: calc(100vh - 60px);

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 10px;
  }
}

.sidebar-right {
  z-index: 10;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  ::ng-deep .media {
    .media-content {
      @apply line-clamp-3;
    }
  }
}
