@use 'variable/variable' as *;
@use 'variable/breakpoint' as *;
@use 'mixins/amixin' as *;

.map-list-v1 {
  @apply flex flex-col md:flex-row justify-start items-stretch relative;
}

.loading-wrap {
  @apply flex justify-center items-center;
}

@media #{$gt-xs} {
  .sidebar {
    z-index: 112;
  }
}

.sidebar {
  @apply relative flex flex-col;
}

.map-list-common {
  position: relative;
  background-color: var(--mat-sys-background);
  box-shadow: var(--mat-sys-level1);
  .sidebar {
    background-color: var(--mat-sys-background);
  }
  .sidebar-right {
    box-shadow: var(--mat-sys-level1);
    background-color: var(--mat-sys-background);
  }
}

.map-wrapper {
  @apply relative flex flex-auto;
  height: calc(100vh - 60px);

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 10px;
  }
}

.map-loading {
  @apply flex justify-center items-center absolute;
}

.sidebar-right {
  @apply p-5 flex-[0_1_400px];
  z-index: 10;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  @screen md {
    @apply absolute;
  }
  ::ng-deep .media {
    .media-content {
      @apply line-clamp-3;
    }
  }
}
