.view-map {
  height: calc(100vh - 100px);
  .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 10;
    .sidebar-wrapper {
      .viewport {
        height: 80vh;
        overflow: auto;
        .list {
          border-radius: 10px;
          cursor: pointer;
          margin-bottom: 2rem;
          .media {
            width: 8rem;
            height: 8rem;
            margin-right: 1rem;
            border-radius: 4px;

            img {
              max-width: 100%;
              padding: 1rem;
              object-fit: contain;
            }
          }

          .title {
            font-size: 1.6rem;
          }
          .badge {
            ::ng-deep {
              ul,
              ol {
                margin: 0;
              }
              li {
                display: inline-block;
                list-style: none;
                font-size: 12px;
                padding: 0 6px;
                margin: 4px;
                border-radius: 16px;
              }
            }
          }

          .meta {
            .item {
              font-size: small;
            }
          }
        }
      }

      ::ng-deep {
        .mat-expansion-panel {
          box-shadow: none !important;
        }
        .mat-expansion-panel-body {
          padding: 0 0px 16px;
        }
      }
    }
  }

  .selected {
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 50%;
      top: 0;
      transform: translateY(50%);
    }

    &:after {
      left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:before {
      left: auto;
      right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .map-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    .loading-inner {
      position: absolute;
    }
  }
}
