<div class="tree-inner  py-5" *ngIf="content">
  <label class="mat-h3 px-5">{{content.label}}</label>
  <div class="actions float-right">
    <button mat-button (click)="tree.treeModel.expandAll()">
      展开
    </button>
    <button mat-button (click)="tree.treeModel.collapseAll()">
      折叠
    </button>
  </div>
  <div class="tree relative w-full box-border overflow-auto" *ngIf="content.nodes.length">
    <tree-root #tree [nodes]="content.nodes" [options]="options" (activate)="onActivate($event)">
    </tree-root>
  </div>
</div>