<div class="law-case position-relative p-y" *ngIf="content">
  <div class="container">
    <div class="case-header" fxLayout="row warp" fxLayoutAlign="space-between center">
      <div class="title">
        <h2 class="m-bottom-xs" ngClass.gt-sm="mat-display-1">{{content.title}}</h2>
        <div class="date">
          <div *ngFor="let date of content.date">
            <span>{{date.label}} | </span>
            <span>{{date.value}}</span>
          </div>
        </div>
      </div>
      <div class="actions p-y-sm" *ngIf="content.actions">
        <div class="inner" fxLayout="row" fxLayoutGap="1rem">
          <button mat-raised-button [disabled]="disabled" color="primary" (click)="updateNode()">更新</button>
          <app-dynamic-widgets [content]="action" *ngFor="let action of content.actions"></app-dynamic-widgets>
        </div>
      </div>
    </div>
    <div class="content m-y-sm">
      <div class="block" ngClass.gt-sm="p-y p-x" ngClass.lt-md="p-y-xs p-x-xs" *ngFor="let item of content.block">
        <ng-container [ngSwitch]="item.type">
          <law-showcase *ngSwitchCase="'showcase'" [content]="item" [form]="form">
          </law-showcase>
          <app-law-files *ngSwitchCase="'files'" [content]="item"></app-law-files>
          <app-law-table *ngSwitchCase="'table'" [content]="item">
          </app-law-table>
          <app-text *ngSwitchDefault [content]="item"></app-text>
        </ng-container>
      </div>
    </div>
    <div class="comment-wrapper" ngClass.gt-sm="m-y-sm p-y p-x" ngClass.lt-md="m-y-xs p-y-xs p-x-xs">
      <app-comment-form *ngIf="content?.params?.comment" [content]="content" (commentChange)="onChange($event)">
      </app-comment-form>
      <app-comment-list [comments]="comments" [content]="content" (commentChange)="onChange($event)">
      </app-comment-list>
    </div>
  </div>
</div>
