<div class="law-case position-relative p-y">
  <div class="container">
    <ngx-skeleton-loader *ngIf="!content" count="20" appearance="line"></ngx-skeleton-loader>
    <ng-container *ngIf="content">
      <app-law-header [content]="content"></app-law-header>
      <div class="content m-y-sm">
        <div class="block position-relative" ngClass.gt-sm="p-y p-x" ngClass.lt-md="p-y-xs p-x-xs"
          *ngFor="let item of content.block">
          <ng-container [ngSwitch]="item.type">
            <app-law-showcase *ngSwitchCase="'showcase'" [content]="item" [form]="form">
            </app-law-showcase>
            <app-law-files *ngSwitchCase="'files'" [content]="item"></app-law-files>
            <app-law-table *ngSwitchCase="'table'" [content]="item">
            </app-law-table>
            <app-law-card *ngSwitchCase="'card'" [content]="item"></app-law-card>
            <app-law-tab *ngSwitchCase="'tab'" [content]=" item"></app-law-tab>
            <app-dynamic-widgets *ngSwitchDefault [content]="item"></app-dynamic-widgets>
          </ng-container>
        </div>
      </div>
      <div class="comment-wrapper" *ngIf="coreConfig?.article?.comment?.enable" ngClass.gt-sm="m-y-sm p-y p-x"
        ngClass.lt-md="m-y-xs p-y-xs p-x-xs">
        <app-comment-form *ngIf="content?.params?.comment" [content]="content" [type]="'add'">
        </app-comment-form>
        <app-comment-list [comments]="comments" [content]="content">
        </app-comment-list>
      </div>
    </ng-container>
  </div>
</div>
