<ng-container *ngIf="appState.ready && content">
  <div class="case-node p-y-sm m-y-sm container p-x-sm" fxLayout.xs="column" fxLayout.gt-xs="row"
    fxLayoutAlign="center start">
    <div class="case-carousel" fxFlex.xs="100" fxFlex.gt-xs="50">
      <app-swiper [content]="content.carousel">
      </app-swiper>
    </div>
    <div class="case-body m-bottom p-x-sm" fxFlex.xs="100" fxFlex.gt-xs="50">
      <app-title [content]="content.title"></app-title>
      <div [innerHTML]="content.body" class="m-bottom-xs"></div>
      <app-chip-list [classes]="'mini'" *ngIf="content.tags" [content]="content.tags"></app-chip-list>
      <div class="case-footer m-top">
        <a mat-raised-button title="{{content.site.label}}" target="_blank" color="primary"
          href="{{content.site.href}}">
          <mat-icon>open_in_new</mat-icon>
          预览
        </a>
      </div>
    </div>
  </div>
</ng-container>
