<div class="not-found p-y container" *ngIf="content" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.lt-md="100%" fxFlex.gt-sm="800px">
    <app-img [attr.data-path]="'img'" fxFlex="80" [content]="content.img" *ngIf="content.img"></app-img>
    <app-title [attr.data-path]="'title'" fxFlex="100" [content]="content.title" *ngIf="content.title"></app-title>
    <app-text [attr.data-path]="'text'" fxFlex="100" [content]="content.text" *ngIf="content.text"></app-text>
  </div>
</div>