<div class="article-meta-list">
  @for (item of content; track item) {
    <div class="meta-item">
      @if (item.icon) {
        <app-icon [content]="{ svg: item.icon }" />
        <div>{{ item.value || item.label }}</div>
      } @else {
        <div class="label">{{ item.label }}:&nbsp;</div>
        <div [innerHTML]="item.value | safeHtml"></div>
      }
      <ng-template #value>
        <div class="label">{{ item.label }}:&nbsp;</div>
        <div [innerHTML]="item.value | safeHtml"></div>
      </ng-template>
    </div>
  }
</div>
