.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.search-sidebar {
  @apply my-10 sticky;
  top: 40px;
  background-color: var(--mat-sys-surface-container-lowest);
  box-shadow: var(--mat-sys-level1);
  .sidebar-header {
    @apply flex justify-between items-center;
  }
}
