.layout-setting {
  padding: 20px;
  .bg-img-section {
    .box {
      gap: 10px;
      padding: 10px;
      border-radius: 4px;
      font-size: 14px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
      }
      .desc {
        opacity: 0.85;
      }
    }
  }
  ::ng-deep {
    h2.title-header {
      text-transform: capitalize;
    }
    .mat-form-field-appearance-legacy {
      &.mat-form-field-type-slider {
        .mat-form-field-wrapper {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    .mat-slider-horizontal .mat-slider-wrapper {
      left: 0;
      right: 0;
    }
    .layout-setting {
      .layout-preview {
        height: auto;
        padding: 10px;
        .wrapper {
          height: 100%;
          flex-direction: row;
          box-sizing: border-box;
          display: flex;
          place-content: center;
          align-items: center;
          gap: 6px;
          &.column {
            flex-direction: column;
          }

          &.row {
            flex-direction: row;
          }

          &.horizontal-flex-end {
            justify-content: flex-end;
          }
          &.horizontal-flex-start {
            justify-content: flex-start;
          }
          &.horizontal-center {
            justify-content: center;
          }
          &.horizontal-space-between {
            justify-content: space-between;
          }
          &.horizontal-space-around {
            justify-content: space-around;
          }
          &.horizontal-space-evenly {
            justify-content: space-evenly;
          }
          &.vertical-flex-end {
            align-items: flex-end;
          }
          &.vertical-flex-start {
            align-items: flex-start;
          }
          &.vertical-center {
            align-items: center;
          }
          &.vertical-space-between {
            align-items: space-between;
          }
          &.vertical-space-around {
            align-items: space-around;
          }
          &.vertical-space-evenly {
            align-items: space-evenly;
          }
          .block {
            padding: 8px;
            opacity: 0.8;
            text-align: center;
            border-radius: 3px;
            min-width: 16px;
            min-height: 30px;
            &:nth-child(2) {
              min-height: 50px;
              min-width: 36px;
            }
            &:nth-child(4) {
              min-height: 40px;
              min-width: 26px;
            }
          }
        }
      }
    }
    .section-group {
      display: flex;
      justify-content: space-between;
      gap: 14px;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .mat-form-field-infix {
      width: auto;
      .mat-slider-horizontal {
        min-width: 90px;
      }
    }
    formly-field {
      width: 100%;
    }
  }
}
