@if (content) {
  <div class="tab-1v1 pt-5">
    @if (content.tab && pager) {
      @if (content.text) {
        <app-text [content]="content.text" />
      }
      <mat-tab-group
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="onSelectChange($event)"
        mat-align-tabs="center"
        animationDuration="0ms"
      >
        @for (tab of tabs; track tab) {
          <mat-tab label="{{ tab.label }}">
            <ng-template matTabContent>
              @for (item of currentList | paginate: pager; track item) {
                <app-media-meta [content]="item" />
              }
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
      @if (currentList.length > 0) {
        <app-pagination (pageChange)="onPageChange($event)" />
      } @else {
        <div class="text-center p-y-xl">
          <p>没有数据。</p>
        </div>
      }
    }
  </div>
}
