.breadcrumb {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul {
    li {
      ::ng-deep a {
        padding: 4px 6px;
        font-size: 14px;
        color: var(--mat-sys-on-surface);
        &:hover {
          color: var(--mat-sys-primary);
        }
      }
      app-icon {
        scale: 0.85;
      }
      &:last-child {
        app-icon {
          display: none;
        }
      }
    }
  }
}
