@import '/src/theme/mixins/amixin';
.panel ::ng-deep {
  .mat-expansion-panel-header-title .badge {
    padding: 4px 10px;
    border-radius: 15px;
    font-size: small;
    display: inline-block;
    font-weight: bold;
    transition:
      color 0.1s ease,
      background-color 0.1s ease;
    @include line-clamp();
    &:empty {
      display: none !important;
      opacity: 0;
    }
  }
}
