<div class="panel" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [content]="content.bg"></app-bg-img>
  <div class="container">
    <app-text *ngIf="content.text" [content]="content.text"></app-text>
    <div class="actions m-y-xs" fxLayout="row" fxLayoutAlign="end center" *ngIf="content?.params?.enableActions">
      <button mat-button *ngIf="!isAll"
        (click)="accordion.openAll(); isAll =!isAll">{{content.params?.actions?.openAll||'全部展开'}}</button>
      <button mat-button *ngIf="isAll"
        (click)="accordion.closeAll(); isAll =!isAll">{{content.params?.actions?.closeAll||'全部收起'}}</button>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="item?.params?.expanded" *ngFor="let item of content.elements">
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="item.title">
            <span [innerHTML]="item.title|safeHtml"></span>
          </mat-panel-title>
          <mat-panel-description *ngIf="item.description">
            {{item.description}}
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-dynamic-widgets *ngFor="let item of item.elements" [content]="item"></app-dynamic-widgets>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>