<div class="showcase-2v6 relative">
  @if (content.id) {
    <a class="anchor" [id]="content.id"></a>
  }
  @if (content.bg) {
    <app-bg-img [attr.data-path]="'bg'" [content]="content.bg"></app-bg-img>
  }
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  @if (content.text) {
    <app-text [attr.data-path]="'text'" [content]="content.text"></app-text>
  }
  <div class="{{ content.fullWidth ? '' : 'container' }} sm:mt-10">
    <div class="inner flex flex-wrap">
      @for (item of content.elements; track item; let i = $index) {
        <app-dynamic-component
          [attr.data-path]="'elements.' + i"
          class="item flex-12/12 md:flex-6/12"
          [inputs]="item"
        ></app-dynamic-component>
      }
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
</div>
