<div class="showcase-2v6 position-relative">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-bg-img [attr.data-path]="'bg'" [content]="content.bg"></app-bg-img>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-text [attr.data-path]="'text'" [content]="content.text" *ngIf="content.text"></app-text>
  <div class="{{content.fullWidth?'':'container'}}" ngClass.gt-sm="m-top">
    <div class="inner" fxLayout="row wrap">
      <app-dynamic-component [attr.data-path]="'elements.'+i" class="item" fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 {{item.width || 50}}" [inputs]="item"
        *ngFor="let item of content.elements;index as i"></app-dynamic-component>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>