@if (content) {
  <div class="card-1-v4">
    <div class="left">
      <app-img [attr.data-path]="'img'" [content]="content.img" />
    </div>
    <div class="inner">
      <div class="star">
        @for (item of star; track item) {
          <app-icon [content]="{ svg: 'star' }" />
        }
      </div>
      <div contentedit="body" class="content" [innerHTML]="content.body | safeHtml"></div>
      <div class="author-info">
        <div contentedit="title" class="title" [innerHTML]="content.title | safeHtml"></div>
        @if (content.subTitle) {
          <div
            contentedit="subTitle"
            class="sub-title"
            [innerHTML]="content.subTitle | safeHtml"
          ></div>
        }
      </div>
    </div>
  </div>
}
