<div class="card-1-v4 p-y-sm" fxLayout="row" fxLayoutAlign="start start" *ngIf="content">
  <div class="left m-right-sm" fxFlex="65px">
    <app-img [content]="content.img"></app-img>
  </div>
  <div class="inner p-x-sm p-y-sm" fxLayout="column">
    <div class="star">
      <app-icon [content]="{svg:'star'}" *ngFor="let item of star"></app-icon>
    </div>
    <div contentedit="body" class="content m-y-xs" [innerHTML]="content.body|safeHtml"></div>
    <div fxLayout="row">
      <div contentedit="title" class="title m-right-xs">{{content.title}}</div>
      <div contentedit="subTitle" class="sub-title" *ngIf="content.subTitle">{{content.subTitle}}</div>
    </div>
  </div>
</div>
