.hero-2-v3 {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  ::ng-deep .base-text {
    max-width: 800px;
    margin: 0 auto;
  }
  .card {
    border-radius: 6px;
    background-color: var(--mat-sys-surface);
    box-shadow: var(--mat-sys-level0);
    .card-media {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: var(--mat-sys-level0);
      ::ng-deep {
        img {
          width: 45px;
          height: 45px;
          object-fit: cover;
        }
      }
    }
    .title {
      font-size: 18px;
      ::ng-deep {
        a {
          color: var(--mat-sys-inverse-surface);
        }
      }
    }
  }
}
.container {
  z-index: 2;
}
