<div class="hero-2-v3 p-y-md">
  <div class="hero-body">
    @if (content.text) {
      <app-text [attr.data-path]="'text'" [content]="content.text" />
    }
    <div class="box m-top-md">
      @for (item of content.elements; track item; let i = $index) {
        <div class="item">
          <div class="card m-y-xs m-x-xs">
            <div class="card-inner p-y-sm p-x-sm">
              <div class="card-media">
                <app-img [attr.data-path]="'elements.' + i + '.img'" [content]="item.img" />
              </div>
              <div class="card-content m-top-sm">
                <h3 class="title mat-h3 m-bottom-0">
                  <app-link
                    [attr.data-path]="'elements.' + i"
                    [content]="item.link"
                    class="line-clamp-1"
                  />
                </h3>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  @if (content.shape) {
    <app-shape />
  }
</div>
