<div class="hero-2-v3 relative p-y-md">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer
    *ngIf="(pageContent$ | async)?.config?.headerMode?.transparent"
    [size]="'xl'"
  ></app-spacer>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-bg-img [attr.data-path]="'bg'" [content]="content.bg"></app-bg-img>
  <div class="{{ content.fullWidth ? 'relative' : 'container relative' }}">
    <div
      class="hero-body text-center flex flex-wrap justify-center items-center"
    >
      <app-text
        [attr.data-path]="'text'"
        *ngIf="content.text"
        [content]="content.text"
      ></app-text>
      <div
        class="box m-top-md flex flex-wrap justify-center items-center basis-full"
      >
        <div
          class="item basis-1/2 sm:basis-4/12 md:basis-2/12"
          *ngFor="let item of content.elements; index as i"
        >
          <div
            class="card m-y-xs m-x-xs flex flex-col justify-center items-center"
          >
            <div class="card-inner p-y-sm p-x-sm">
              <div class="card-media flex justify-center items-center">
                <app-img
                  [attr.data-path]="'elements.' + i + '.img'"
                  [content]="item.img"
                ></app-img>
              </div>
              <div class="card-content m-top-sm">
                <h3 class="title mat-h3 bold m-bottom-0 text-center">
                  <app-link
                    [attr.data-path]="'elements.' + i"
                    [content]="item.link"
                    class="line-clamp-1"
                  ></app-link>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-spacer [size]="content.spacer || 'md'"></app-spacer>
  <app-shape *ngIf="content.shape"></app-shape>
</div>
