<mat-accordion>
  <mat-expansion-panel *ngFor="let item of content;index as i" [expanded]="i == 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.label}} ({{item.elements.length}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div class="widgets" id="widgets" fxLayout="row wrap" cdkDropList [cdkDropListData]="item.elements"
        [cdkDropListConnectedTo]="['builder-list','builder-list-sideabr']">
        <div class="item" *ngFor="let widget of item.elements" fxFlex.lt-sm="50%" fxFlex.gt-xs="0 0 calc(100%/3)"
          [cdkDragData]="widget.content" cdkDrag (mouseenter)="onShowcase(widget.content)" (mouseleave)="onShowcase()">
          <div class="inner" fxLayout="column" fxLayoutAlign="center center">
            <app-icon *ngIf="widget.icon" [content]="widget.icon"></app-icon>
            <div class="title">{{widget.label}}</div>
          </div>
          <app-card-1v1 style="min-width:300px" *cdkDragPreview [content]="{
                                                      link:{
                                                        href:'#',
                                                        label: widget.content.type
                                                      },components:[widget.content]
                                                    }"></app-card-1v1>
        </div>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>