<div class="showcase-3-v8 position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg">
    <app-img [content]="content.bg.img" *ngIf="content.bg.img"></app-img>
  </app-bg>
  <div class="container" *ngIf="content">
    <app-text [content]="content.title"></app-text>
    <div class="showcase-inner" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="top" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.lt-md="0 0 100" fxFlex.gt-sm="0 0 80">
        <app-media-object fxFlex.lt-md="100" fxFlex.gt-sm="0 0 calc(80%/2 - 2rem)" [content]="item"
          *ngFor="let item of content.top">
        </app-media-object>
      </div>
      <div class="middle m-y-sm" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <app-media-object fxFlex.lt-md="100" fxFlex.gt-sm="0 0 calc(60%/2 - 2rem)" [content]="content.main">
        </app-media-object>
      </div>
      <div class="bottom" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.lt-md="0 0 100"
        fxFlex.gt-sm="0 0 80">
        <app-media-object fxFlex.lt-md="100" fxFlex.gt-sm="0 0 calc(80%/2 - 2rem)" [content]="item"
          *ngFor="let item of content.bottom">
        </app-media-object>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
