.showcase-3-v8 {
  overflow: hidden;
  min-height: 100vh;
}

.middle {
  ::ng-deep .media {
    border-radius: 80px;
    padding: 40px;
  }
}
.top,
.bottom {
  ::ng-deep .media {
    border-radius: 40px;
    padding: 2rem;
  }
}
