.taxonomy {
  @apply sm:max-w-[1000px] relative p-5;

  .taxonomy-grid {
    @apply grid grid-cols-12 gap-5;
  }

  .list-panel {
    @apply col-span-12 sm:col-span-8 bg-gray-100 p-5 shadow rounded-xl relative;
  }

  .form-panel {
    @apply col-span-12 sm:col-span-4 bg-white p-5 shadow rounded-xl;
    .new {
      @apply my-5;
    }
    .form-inner {
      @apply flex flex-col gap-5;
    }
    .form-actions {
      @apply flex gap-4;
    }
  }

  .desc-text {
    @apply pl-1 pr-[160px] inline-block;
  }

  .actions-row {
    @apply flex gap-3;
  }

  .tax-list {
    @apply relative;
  }

  .mat-mdc-list {
    max-height: 560px;
    overflow: auto;
    .mat-mdc-list-item {
      .actions {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
      &:hover {
        .actions {
          display: block;
        }
      }
    }
  }

  .load {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
