.taxonomy {
  .mat-mdc-list {
    .mat-mdc-list-item {
      .actions {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
      &:hover {
        .actions {
          display: block;
        }
      }
    }
  }

  .load {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
