<mat-selection-list id="components" #components [multiple]="false" cdkDropList [cdkDropListData]="content.elements"
  cdkDropListConnectedTo="builder-list">
  <ng-container *ngFor="let component of content.elements;last as last">
    <ng-container *ngIf="!component.content.child">
      <mat-list-option [cdkDragData]="component" cdkDrag (mouseenter)="onShowcase(component)"
        (mouseleave)="onShowcase()">
        <div fxLayoutAlign="space-between center">
          {{component.content.type}}
          <span class="right" *ngIf="component.name">{{component.name}}</span>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
        <div class="placeholder" *cdkDragPlaceholder></div>
        <app-card-1v1 style="width:50vw" *cdkDragPreview [content]="{
                                                  link:{
                                                    href:'#',
                                                    label: component.content.type
                                                  },components:[component]
                                                }"></app-card-1v1>
      </mat-list-option>
    </ng-container>
    <ng-container *ngIf="component.content.child">
      <app-builder-sidebar-components class="child"
        [content]="component.content.child"></app-builder-sidebar-components>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</mat-selection-list>