.menu-list {
  .block-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 1px;
  }
  .list {
    padding: 0;
    .item {
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px dotted var(--mat-sys-surface-dim);
      &:last-child {
        border-bottom: none;
      }
      .num-posts {
        font-size: 14px;
      }
      ::ng-deep a {
        display: inline-block;
        margin-right: 10px;
        font-size: 15px;
        color: var(--mat-sys-on-surface);
        &:active,
        &:hover {
          color: var(--mat-sys-primary);
        }
      }
    }
  }
  .action {
    cursor: pointer;
    color: var(--mat-sys-primary);
    .mat-icon {
      transition: all 0.4s ease;
    }
    &:hover {
      .mat-icon {
        transform: rotate(180deg);
      }
    }
  }
}
