@if (content(); as contentValue) {
  <div class="menu-list">
    @if (contentValue.title | isString) {
      <h2 class="block-title">{{ contentValue.title }}</h2>
    }
    <mat-divider />
    @if (list) {
      <div class="list">
        @for (item of list; track item) {
          <div class="item">
            <app-link [content]="item.link" />
            @if (item.label) {
              <div class="num-posts">
                {{ item.label }}
              </div>
            }
          </div>
        }
        @if (initList && initList.length > row) {
          <div class="action" role="button" tabindex="0" (click)="onExpand()" (keyup.enter)="onExpand()">
            @if (expand) {
              <button mat-icon-button>
                <mat-icon>expand_less</mat-icon>
              </button>
            }
            @if (!expand) {
              <button mat-icon-button>
                <mat-icon>expand_more</mat-icon>
              </button>
            }
          </div>
        }
      </div>
    }
  </div>
}
