@import "~@angular/material/theming";

@mixin card-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat-color($foreground, text, 0.75);
  $bg-color: mat-color($background, card);
  .mat-card {
    color: inherit;
    background-color: $bg-color;

    &:hover {
      cursor: pointer;
      background-color: mat-color($background, background, 0.85);
    }
  }
  .mat-card-title {
    a {
      color: $text-color;
      &:hover {
        color: mat-color($primary);
      }
    }
  }
  .mat-card-subtitle {
    color: inherit;
  }

  .mat-card-subtitle,
  .card-body {
    color: mat-color($foreground, text, 0.6);
  }

  .card-1-v1 {
    @include mat-elevation(4, mat-color($foreground, text), 0.3);
    background-color: $bg-color;
    a {
      color: $text-color;
      &:hover {
        color: mat-color($primary);
      }
    }
    .overlay {
      background-color: mat-color($foreground, base);
    }
    .author {
      color: $bg-color;
    }
  }
}
