@import "~@angular/material/theming";
@mixin chip-list-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .mini {
    mat-chip {
      background-color: mat-color($primary, 50) !important;
      color: mat-color($primary) !important;
    }
  }
}
