@use "@angular/material" as mat;
@mixin chip-list-color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .mat-mdc-chip {
    a {
      color: mat.get-color-from-palette($primary, default-contrast);
    }
  }
}
