@import "~@angular/material/theming";

@mixin dropdown-menu-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat-color($foreground, text, 0.75);
  .mat-accordion {
    .mat-expansion-panel-header,
    .mat-list {
      border-color: mat-color($foreground, divider) !important;
    }
    .mat-expansion-panel-header-title {
      color: $text-color;
    }
    .mat-list {
      a {
        color: $text-color;
        &.active {
          color: mat-color($primary);
        }
      }
    }
  }

  .user-dropdown {
    .mat-menu-item {
      a {
        color: $text-color;
        &.active {
          color: mat-color($primary);
        }
      }
    }
  }
}
