@import "~@angular/material/theming";

@mixin dropdown-menu-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $text-color: mat-color($foreground, text, 0.75);
  .mat-accordion {
    .mat-expansion-panel-header,
    .mat-list {
      border-color: mat-color($foreground, divider) !important;
    }
    .mat-expansion-panel-header-title {
      color: $text-color;
    }
    .mat-list {
      a {
        color: $text-color;
        &.active {
          color: mat-color($primary);
        }
      }
    }
  }

  .user-dropdown {
    .mat-menu-item {
      a {
        color: $text-color;
        &.active {
          color: mat-color($primary);
        }
      }
    }
  }

  .manage-sidebar {
    .mat-list {
      .mat-list-item {
        color: mat-color($foreground, text, 0.5);
        &:hover {
          a {
            &:after {
              background-color: mat-color($foreground, text, 0.02);
            }
          }
        }
        a {
          color: mat-color($foreground, text, 0.5);
          &:after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 150%;
            height: 100%;
            transform: translateX(-50px);
          }
          &.active {
            color: mat-color($primary);
            &:after {
              background-color: mat-color($primary, 0.05);
            }
          }
        }
      }
    }
  }
}
