@import "/src/theme/mixins/amixin";
.btn-animate {
  border: 0 none;
  padding: 10px 15px;
  position: relative;
  &.btn-large {
    padding: 15px 22px;
  }
  &.btn-small {
    padding: 7px 10px;
  }

  &.btn-white {
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #999;
    &.no-border {
      border: 0 none;
    }
  }
  .mat-icon {
    height: 100%;
  }
  &.style-v1,
  &.style-v2 {
    @include transition(all, 0.3s, ease);
    border: 0 none;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    overflow: hidden;

    & > span {
      display: block;
      overflow: hidden;
      position: relative;
      padding-right: 45px;
      & > span {
        display: inline-block;
        left: 46px;
        padding: 13px 15px 14px;
        position: relative;
        white-space: nowrap;
        @include transition(all, 0.3s, ease);
      }
    }
    .mat-icon.in_left,
    .mat-icon.in_right {
      font-size: 16px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 45px;
      line-height: 46px;
      @include transition(all, 0.3s, ease);
    }
    .mat-icon.in_left {
      padding-left: 2px;
      left: 0px;
    }
    .mat-icon.in_right {
      padding-right: 2px;
      right: -45px;
      opacity: 0;
    }
    &:hover {
      color: #fff;
      & > span {
        & > span {
          left: -1px;
        }
      }
      .mat-icon.in_left {
        left: -45px;
        opacity: 0;
      }
      .mat-icon.in_right {
        right: 0;
        opacity: 1;
      }
    }
    &.btn-white {
      border: 1px solid #e4e4e4;
      &.no-border {
        border: 0 none;
      }
      color: #888;
      .mat-icon.in_left,
      .mat-icon.in_right {
        color: #1ccdca;
      }
      & > span {
        & > span {
          border-left: 1px solid #e4e4e4;
          border-right: 1px solid #e4e4e4;
        }
      }
    }
  }
  &.style-v2 {
    @include border-radius(25px, 25px, 25px, 25px);
    &.no-border {
      border: 0 none;
    }
    .mat-icon.in_left,
    .mat-icon.in_right {
      @include border-radius(50%, 50%, 50%, 50%);
    }
    &.btn-white {
      & > span {
        & > span {
          border-left: unset;
          border-right: unset;
        }
      }
      .mat-icon.in_left,
      .mat-icon.in_right {
        @include border-radius(50%, 50%, 50%, 50%);
        border: solid 1px #e4e4e4;
        border-top: 0;
      }
      .mat-icon.in_left {
        border-left: 0;
      }
      .mat-icon.in_right {
        border-right: 0;
      }
    }
  }
}

.btn-animate.style-v1:not(.btn-white) .mat-icon.in_left,
.btn-animate.style-v1:not(.btn-white) .mat-icon.in_right,
.btn-animate.style-v2:not(.btn-white) .mat-icon.in_left,
.btn-animate.style-v2:not(.btn-white) .mat-icon.in_right {
  background: rgba(0, 0, 0, 0.1);
}
.btn-animate.style-v1.btn-white .mat-icon.in_left,
.btn-animate.style-v1.btn-white .mat-icon.in_right,
.btn-animate.style-v2.btn-white .mat-icon.in_left,
.btn-animate.style-v2.btn-white .mat-icon.in_right {
  background: unset;
}
.btn {
  @include border-radius(3px, 3px, 3px, 3px);
  &.white_btn {
    border: 0 none;
    background: #fff;
  }
  &.no-border {
    border: 0 none;
  }
  &.text-color {
    color: #1ccdca;
  }
}
