<div class="builder-page">
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @if (loading) {
          <div class="loading-wrapper">
            <app-loading />
          </div>
        }
        @if (pages$ | async; as pages) {
          <div class="cards">
            @for (item of pages; track item; let i = $index) {
              <div
                class="item"
                [matTooltip]="item.title"
                (click)="loadPage(item)"
              >
                <div class="inner">
                  <div class="index">{{ i + 1 }}</div>
                  <div class="title">{{ item.title }}</div>
                </div>
              </div>
            }
          </div>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
