@import "../../../../../theme/variable/breakpoint";
.banner-simple {
  padding: 60px 0;
  &.normal {
    position: relative;
    color: #fff;
    overflow: hidden;
    width: 100%;

    .page-title {
      text-transform: uppercase;
      letter-spacing: 1px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      font-family: "Oswald", "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 500;
      color: #fff;
      margin: 0;
    }
  }
  @media #{$gt-sm} {
    padding: 120px 0;
  }
}
