@import "../../../../../theme/variable/breakpoint";
.banner-simple {
  padding: 60px 0;
  overflow: hidden;
  z-index: 1;
  app-bg {
    z-index: 0;
  }
  &.normal {
    position: relative;
    overflow: hidden;
    width: 100%;

    .page-title {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 35px;
      font-weight: 500;
      margin: 0;
    }
  }
  @media #{$gt-sm} {
    &.normal {
      padding: 120px 0;
    }
  }
}
