@use 'variable/breakpoint' as *;
.banner-simple {
  padding: 60px 0;
  overflow: hidden;
  z-index: 1;
  app-bg {
    z-index: 0;
  }
  .page-title {
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  }
  .sub-title {
    max-width: 700px;
  }
  &.normal {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  &:not(.no-bg) {
    color: var(--mat-sys-on-surface);
    .page-title,
    .sub-title,
    .breadcrumb {
      color: var(--mat-sys-on-primary);
    }
  }
  @media #{$gt-sm} {
    .page-title {
      font-size: 35px;
    }
    &.normal {
      padding: 120px 0;
    }
    &.large {
      padding: 200px;
    }
  }
}
