@import "../../../../../theme/variable/breakpoint";
.banner-simple {
  padding: 60px 0;
  overflow: hidden;
  z-index: 1;
  app-bg {
    z-index: 0;
  }
  .page-title {
    margin: 0;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
  }
  &.normal {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  @media #{$gt-sm} {
    .page-title {
      font-size: 35px;
    }
    &.normal {
      padding: 120px 0;
    }
    &.large {
      padding: 200px;
    }
  }
}
