<div class="img-picker">
  @if (formControl.value) {
    <div class="meta">
      <img src="{{ src }}" alt="" />
      <div class="content">
        <div class="title">{{ field.props?.fileName }}</div>
        <div class="desc">{{ field.props?.alt }}</div>
      </div>
    </div>
  }
  <div class="actions">
    @if (formControl.value) {
      <app-btn (click)="remove()" [content]="{ label: props.deleteLabel, color: 'warn' }" />
    }
    <app-btn
      (click)="openMedias()"
      [content]="{
        label: formControl.value ? props.updateLabel : props.addLabel,
        color: props.color || 'primary',
        mode: props.mode || 'stroked',
      }"
    />
  </div>
</div>
