.img-picker {
  .meta {
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--mat-sys-primary-container);
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      border-radius: 4px;
    }
    .content {
      white-space: nowrap;
      overflow: hidden;
    }
    .desc {
      opacity: 0.85;
    }
  }
}
