<div class="img-picker" [class.shadcn]="isShadcn">
  @if (formControl.value) {
    <div class="meta">
      <img src="{{ src }}" alt="" />
      <div class="content">
        <div class="title">{{ field.props?.fileName }}</div>
        <div class="desc">{{ field.props?.alt }}</div>
      </div>
    </div>
  }
  <div class="actions">
    @if (isShadcn) {
      @if (formControl.value) {
        <button type="button" class="shad-btn-ghost danger" (click)="remove()">
          {{ props.deleteLabel }}
        </button>
      }
      <button type="button" class="shad-btn-outline" (click)="openMedias()">
        {{ formControl.value ? props.updateLabel : props.addLabel }}
      </button>
    } @else {
      @if (formControl.value) {
        <app-btn (click)="remove()" [content]="{ label: props.deleteLabel, color: 'warn' }" />
      }
      <app-btn
        (click)="openMedias()"
        [content]="{
          label: formControl.value ? props.updateLabel : props.addLabel,
          color: props.color || 'primary',
          mode: props.mode || 'stroked',
        }"
      />
    }
  </div>
</div>
