@import "../../../../theme//mixins/amixin";
.manage-media {
  height: 100%;
  padding-top: 20px;
  overflow: hidden;
  .mat-drawer-container {
    height: 100%;
  }
}

.sidebar {
  width: 180px;
  padding: 20px;
}

.inner {
  height: 80%;
  min-height: 500px;
  overflow: auto;
  padding-left: 20px;
}

.masonry-item {
  border: 1px solid transparent;
}

.load {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
