@import "../../../../theme//mixins/amixin";
.manage-media {
  height: 90vh;
  padding-top: 20px;
  .mat-drawer-container {
    height: 100%;
  }
}

.sidebar {
  width: 220px;
  padding: 20px;
}

.inner {
  padding-left: 20px;
}

.masonry-item {
  border: 1px solid transparent;
}

.load {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
