<div class="manage-media">
  <div class="media-grid">
    <div class="sidebar">
      <div class="col-control hidden md:block">
        <mat-slider max="12" min="1" step="1">
          <input matSliderThumb [(ngModel)]="manageMediaConfig().row" />
        </mat-slider>
      </div>
      <form [formGroup]="form" (keydown.enter)="onEnter($event)">
        <app-formly
          [classes]="'form-field-width-auto'"
          [form]="form"
          [fields]="fields()"
          [model]="model"
        />
      </form>
      <div class="action">
        <app-btn
          (click)="onUpload()"
          [content]="{
            label: 'MANAGE.MEDIA.UPLOAD' | translate,
            color: 'primary',
            mode: 'raised',
            icon: { svg: 'upload-outline' },
          }"
        />
      </div>
    </div>
    <div class="inner">
      @if (loading()) {
        <div class="load">
          <app-loading />
        </div>
      }
      @if (progress > 0 && progress < 100) {
        <div class="progress-bar">
          <mat-progress-bar mode="determinate" color="primary" [value]="progress" />
        </div>
      }
      @if (mediaAssets$ | async; as assets) {
        @if (assets.rows.length) {
          <div class="viewport" [style.--cols]="manageMediaConfig().row">
            @for (item of assets.rows; track item) {
              <div class="masonry-item">
                <div class="actions" [matTooltip]="item.title">
                  @if (content().mode === 'manage') {
                    <app-btn
                      *reqRolesIf="{
                        params: { reqRoles: ['administrator'] },
                      }"
                      class="btn icon-delete"
                      [matTooltip]="'MANAGE.MEDIA.DELETE' | translate"
                      matTooltipPosition="above"
                      (click)="onDelete(item.uuid)"
                      [content]="{
                        label: '',
                        mode: 'icon',
                        icon: { svg: 'delete' },
                      }"
                    />
                    <app-btn
                      class="btn"
                      [matTooltip]="'MANAGE.MEDIA.RENAME' | translate"
                      matTooltipPosition="above"
                      (click)="onRename(item)"
                      [content]="{
                        label: '',
                        mode: 'icon',
                        icon: { svg: 'pencil-outline' },
                      }"
                    />
                    <app-btn
                      class="btn"
                      [matTooltip]="'MANAGE.MEDIA.COPY_PATH' | translate"
                      matTooltipPosition="above"
                      (click)="onCopy(item)"
                      [content]="{
                        label: '',
                        mode: 'icon',
                        icon: { svg: 'content-copy' },
                      }"
                    />
                  }
                  <app-btn
                    class="btn"
                    [matTooltip]="'MANAGE.MEDIA.SELECT' | translate"
                    matTooltipPosition="above"
                    (click)="onSelect(item)"
                    [content]="{
                      label: '',
                      mode: 'icon',
                      icon: { svg: 'checkbox-marked-outline' },
                    }"
                  />
                </div>
                @if (content().mode === 'manage') {
                  <div class="delete">
                    <mat-checkbox (change)="onChange($event.checked, item.uuid)" />
                  </div>
                }
                <div
                  role="button"
                  tabindex="0"
                  (click)="onPreview(item)"
                  (keyup.enter)="onPreview(item)"
                  class="box"
                  [class]="{ selected: isSelected(item) }"
                >
                  <img
                    class="media-img"
                    ngSrc="{{ item.src }}"
                    priority
                    width="480"
                    height="360"
                    alt="{{ item.title || '媒体' }}"
                  />
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="empty">
            <app-icon class="empty-icon" [content]="{ svg: 'magnify', inline: true }" />
            <div class="empty-title">{{ 'MANAGE.MEDIA.EMPTY_TITLE' | translate }}</div>
            @if (model.name) {
              <div class="empty-desc">
                {{ 'MANAGE.MEDIA.EMPTY_DESC_KEYWORD' | translate: { name: model.name } }}
              </div>
            } @else {
              <div class="empty-desc">{{ 'MANAGE.MEDIA.EMPTY_DESC' | translate }}</div>
            }
          </div>
        }
      }
      <div class="bottom">
        @if (deletedLists.length) {
          <div class="action">
            <app-btn
              (click)="bulkDelete(deletedLists)"
              [content]="{
                color: 'warn',
                mode: 'raised',
                label: 'MANAGE.MEDIA.BULK_DELETE' | translate: { count: deletedLists.length },
                icon: { svg: 'trash-can-outline' },
              }"
            />
          </div>
        }
        @if (mediaAssets$ | async; as assets) {
          <div class="page">
            @if (assets.pager && assets.rows.length) {
              <mat-paginator
                (page)="onPageChange($event)"
                [length]="assets.pager.totalItems"
                [pageSize]="assets.pager.itemsPerPage"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"
                [pageIndex]="assets.pager.currentPage"
                aria-label="Select page"
              />
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
