@if (coreConfig.manageMedia) {
  <div class="manage-media relative">
    <mat-drawer-container>
      <mat-drawer mode="side" [opened]="true">
        <div
          class="sidebar flex flex-col"
          [class]="{ 'from-static': model.fromStatic }"
        >
          <mat-slider class="overflow-hidden" max="7" min="4" step="1"
            ><input matSliderThumb [(ngModel)]="coreConfig.manageMedia.row" />
          </mat-slider>
          @if (coreConfig.manageMedia.sidebar.form) {
            <app-formly
              [classes]="'form-field-width-auto'"
              [form]="form"
              [fields]="coreConfig.manageMedia.sidebar.form"
              [model]="model"
            >
            </app-formly>
          }
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <div class="inner flex flex-wrap">
          @if (loading) {
            <div class="load">
              <mat-spinner diameter="50" color="accent"></mat-spinner>
            </div>
          }
          @if (mediaAssets$ | async; as assets) {
            @if (assets.elements.length) {
              <div class="viewport flex flex-wrap overflow-auto">
                @for (item of assets.elements; track item) {
                  <div
                    class="masonry-item box-border"
                    [style.flex]="flexBasisStyle"
                    trackBy="trackByFn"
                  >
                    <div class="actions">
                      <app-btn
                        *reqRolesIf="{
                          params: { reqRoles: ['administrator'] },
                        }"
                        class="hidden sm:block"
                        [matTooltip]="'删除'"
                        (click)="onDelete(item.id, assets.type)"
                        [content]="{
                          label: '',
                          mode: 'icon',
                          icon: { svg: 'delete' },
                        }"
                      ></app-btn>
                    </div>
                    <app-dynamic-component
                      [ngClass]="{ selected: isSelected(item) }"
                      (click)="onSelect(item)"
                      class="block"
                      [inputs]="{ content: item }"
                    ></app-dynamic-component>
                  </div>
                }
              </div>
            } @else {
              <div>无数据</div>
            }
          }
          @if (mediaAssets$ | async; as assets) {
            <div class="page m-y">
              <app-pagination-links
                (pageChange)="onPageChange($event)"
                [links]="assets.links"
              ></app-pagination-links>
            </div>
          }
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
}
