@import "../../../../theme//mixins/amixin";
.manage-media {
  height: 65vh;
  overflow: hidden;
  .mat-drawer-container {
    height: 100%;
  }
}

.sidebar {
  width: 180px;
  padding: 0 10px 10px 0;
  &.from-static {
    ::ng-deep {
      formly-form {
        formly-group {
          formly-field:not(.static-item) {
            display: none !important;
          }
        }
      }
    }
  }
}

.inner {
  padding-left: 20px;
  box-sizing: border-box;
  height: 100%;
  .viewport {
    width: 100%;
    height: 80%;
  }
}

.masonry-item {
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  .selected {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      z-index: 2;
    }
  }
  .actions {
    display: none;
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 10;
  }
  &:hover {
    .actions {
      display: block;
    }
  }
}

.load {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
