@use 'mixins/amixin' as *;
.manage-media {
  @apply relative overflow-hidden h-[70vh];
  .mat-drawer-container {
    height: 100%;
  }
  .sidebar {
    background-color: var(--mat-sys-background);
    @apply flex flex-col p-3 col-span-12 md:col-span-3 xl:col-span-2;
    .action {
      @apply flex justify-center items-center my-2 sm:my-5;
    }
  }
  .inner {
    box-sizing: border-box;
    @apply overflow-auto h-full flex flex-col col-span-12 md:col-span-9 xl:col-span-10;
    .viewport {
      @include scrollbar(var(--mat-sys-primary));
      @apply grid grid-cols-12 gap-1 overflow-auto w-full flex-1;
      .empty {
        @apply text-center flex flex-col items-center gap-3 opacity-75;
      }
    }
    .progress-bar {
      @apply absolute top-0 left-0 right-0 w-full z-50;
    }
    .bottom {
      @apply flex justify-between items-center;
      .action {
        @apply flex left-5 bottom-10;
      }
      .page {
        @apply flex-auto;
        .mat-mdc-paginator {
          background-color: transparent;
          ::ng-deep {
            .mat-mdc-paginator-range-label {
              @apply hidden sm:block;
            }
          }
        }
      }
    }
  }
}

.masonry-item {
  border: 1px solid transparent;
  @apply aspect-[4/3] box-border  cursor-pointer relative;
  .selected {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      z-index: 2;
      border: 3px solid var(--mat-sys-primary);
    }
  }
  .delete {
    @apply absolute left-2 bottom-1 z-10;
    ::ng-deep {
      .mat-mdc-checkbox {
        &:not(.mat-mdc-checkbox-checked) {
          .mdc-checkbox__background {
            @apply bg-white/75 border;
          }
        }
      }
    }
  }
  .actions {
    @apply hidden items-center absolute z-10 opacity-90 right-1 top-1 h-7 px-1;
    background-color: var(--mat-sys-inverse-surface);
    border-radius: 4px;
    .btn {
      @apply hidden sm:block h-6 w-6 rounded-[4px];
      &:hover {
        background-color: #8080807a;
      }
    }

    ::ng-deep {
      .icon-delete {
        &:hover {
          .mat-icon {
            color: var(--mat-sys-error);
          }
        }
      }
      .mat-icon {
        color: var(--mat-sys-on-primary);
      }
      .mdc-icon-button {
        --mat-icon-button-state-layer-size: 24px;
        --mat-icon-button-icon-size: 22px;
        padding: 0px;
        .mat-icon {
          line-height: 1;
          svg {
            width: 16px;
            height: 16px;
          }
        }
        .mat-mdc-button-touch-target {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .box {
    @apply w-full h-full bg-gray-200 p-1 box-border;
  }
  &:hover {
    .actions {
      display: flex;
    }
    .box {
      opacity: 0.8;
    }
  }
}

.load {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
