<div class="manage-media">
  <div class="grid grid-cols-12 gap-5 h-full">
    <div class="sidebar">
      <mat-slider max="12" min="1" step="1">
        <input matSliderThumb [(ngModel)]="manageMediaConfig().row" />
      </mat-slider>
      <form [formGroup]="form">
        <app-formly
          [classes]="'form-field-width-auto'"
          [form]="form"
          [fields]="fields()"
          [model]="model"
        />
      </form>
      <div class="action">
        <app-btn
          (click)="onUpload()"
          [content]="{
            label: '上传媒体',
            color: 'primary',
            mode: 'raised',
            icon: { svg: 'upload-outline' },
          }"
        />
      </div>
    </div>
    <div class="inner">
      @if (loading()) {
        <div class="load">
          <app-loading />
        </div>
      }
      @if (progress > 0 && progress < 100) {
        <div class="progress-bar">
          <mat-progress-bar mode="determinate" color="primary" [value]="progress" />
        </div>
      }
      @if (mediaAssets$ | async; as assets) {
        @if (assets.rows.length) {
          <div class="viewport">
            @for (item of assets.rows; track item) {
              <div
                class="masonry-item col-span-6 sm:col-span-4 md:col-span-{{
                  manageMediaConfig().row
                }}"
              >
                <div class="actions" [matTooltip]="item.title">
                  @if (content.mode === 'manage') {
                    <app-btn
                      *reqRolesIf="{
                        params: { reqRoles: ['administrator'] },
                      }"
                      class="btn icon-delete"
                      [matTooltip]="'删除'"
                      matTooltipPosition="above"
                      (click)="onDelete(item.uuid)"
                      [content]="{
                        label: '',
                        mode: 'icon',
                        icon: { svg: 'delete' },
                      }"
                    />
                    <app-btn
                      class="btn"
                      [matTooltip]="'复制路径'"
                      matTooltipPosition="above"
                      (click)="onCopy(item)"
                      [content]="{
                        label: '',
                        mode: 'icon',
                        icon: { svg: 'content-copy' },
                      }"
                    />
                  }
                  <app-btn
                    class="btn"
                    [matTooltip]="'选择'"
                    matTooltipPosition="above"
                    (click)="onSelect(item)"
                    [content]="{
                      label: '',
                      mode: 'icon',
                      icon: { svg: 'checkbox-marked-outline' },
                    }"
                  />
                </div>
                @if (content.mode === 'manage') {
                  <div class="delete">
                    <mat-checkbox (change)="onChange($event.checked, item.uuid)" />
                  </div>
                }
                <div
                  (click)="onPreview(item)"
                  class="box"
                  [ngClass]="{ selected: isSelected(item) }"
                >
                  <img
                    class="w-full h-full object-contain"
                    ngSrc="{{ item.src }}"
                    priority
                    width="480"
                    height="360"
                  />
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="empty">
            <app-icon class="w-20 h-20" [content]="{ svg: 'magnify', inline: true }" />
            @if (model.name) {
              关键词{{ model.name }}
            }
            无数据
          </div>
        }
      }
      <div class="bottom">
        @if (deletedLists.length) {
          <div class="action">
            <app-btn
              (click)="bulkDelete(deletedLists)"
              [content]="{
                color: 'warn',
                mode: 'raised',
                label: '批量删除（' + deletedLists.length + '）',
                icon: { svg: 'trash-can-outline' },
              }"
            />
          </div>
        }
        @if (mediaAssets$ | async; as assets) {
          <div class="page">
            @if (assets.pager && assets.rows.length) {
              <mat-paginator
                (page)="onPageChange($event)"
                [length]="assets.pager.totalItems"
                [pageSize]="assets.pager.itemsPerPage"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"
                [pageIndex]="assets.pager.currentPage"
                aria-label="Select page"
              />
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
