<div class="login-container" fxLayoutAlign="center center">
  <div class="login-wrapper m-x position-relative" fxLayout>
    <div *ngIf="!screenState.eq('xs')" class="login-second" fxFlex.xs="100" fxFlex.gt-xs="60">
      <img src="/assets/images/login-second.png" alt="">
    </div>
    <div class="login-form position-relative" [class.is-login]="userState.anthenticated" matTooltip="login => test:test"
      [matTooltipPosition]="'above'" fxFlex.xs="100" fxFlex.gt-xs="40" fxLayout="column" fxLayoutAlign="center center">
      <div class="width-100 form-scroll" *ngIf="!userState.loading">
        <ng-container *ngIf="!userState.anthenticated">
          <div *ngIf="userState.error" class="error p-y-xs p-x-xs m-bottom-xs">{{userState.error}}
          </div>
          <h2 class="mat-h1">登录</h2>
          <p class="text-base">欢迎登录{{branding?.header?.logo?.label}} {{branding?.header?.logo?.version}}</p>
          <br>
          <form fxLayout="column" [formGroup]="userForm" (ngSubmit)="login()">
            <mat-form-field appearance="fill">
              <mat-label>用户名</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>密码</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">
              <div fxLayoutAlign="center center">
                <div class="p-x-xs">登录</div>
              </div>
            </button>
          </form>
        </ng-container>
        <ng-container *ngIf="userState.anthenticated">
          <h1 class="mat-h1 text-base">
            Hi, {{userState.currentUser.display_name}}
          </h1>
          <mat-divider></mat-divider>
          <p class="text-base m-top-xs">欢迎。</p>
        </ng-container>
      </div>
      <mat-spinner diameter="50" color="accent" *ngIf="userState.loading"></mat-spinner>
      <div class="overlay"></div>
    </div>
    <div class="mark-bg position-absolute"></div>
  </div>
</div>
