<div class="showcase-3-v2 position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg-img [attr.data-path]="'bg'" [content]="content.bg"></app-bg-img>
  <div class="{{content.fullWidth?'position-relative':'container position-relative'}}">
    <div class="title" fxLayoutAlign="center center">
      <app-text [attr.data-path]="'text'" fxFlex.lt-md="100" fxFlex.gt-sm="50" [content]="content.text"
        *ngIf="content.text"></app-text>
    </div>
    <div class="item m-y-sm" fxLayout="row wrap" fxLayoutAlign="center center" [ngClass]="content.classes"
      *ngFor="let item of content.elements;index as i">
      <div class="image-container p-sm" fxFlex.lt-md="100" fxFlex.gt-sm="0 0 50" fxLayoutAlign="center center">
        <app-img [attr.data-path]="'elements.'+i+'.img'" [content]="item.img" *ngIf="item.img"></app-img>
      </div>
      <div class="module-content" fxFlex.lt-md="100" fxFlex.gt-sm="0 0 50" [ngClass.lt-md]="'p-sm'"
        [ngClass.gt-sm]="'p-md'">
        <app-text [attr.data-path]="'elements.'+i+'.content'" [content]="item.content"></app-text>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>