<div class="showcase-3-v2 position-relative" *ngIf="content">
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <app-bg [content]="content.bg" *ngIf="content.bg">
    <app-img [content]="content.bg.img" *ngIf="content.bg.img"></app-img>
  </app-bg>
  <div class="container position-relative">
    <app-title [content]="content.title" *ngIf="content.title"></app-title>
    <div class="sub-title text-center" fxLayoutAlign="center center">
      <p [innerHTML]="content.subTitle | safeHtml" *ngIf="content.subTitle" fxFlex.lt-md="100" fxFlex.gt-sm="50"></p>
    </div>
    <div class="item clearfix" fxLayout.lt-sm="column" fxLayout.gt-md="row" fxLayoutAlign="center center"
      [ngClass]="content.classes" *ngFor="let item of content.elements">
      <div class="image-container p-sm" fxFlex.lt-sm="100" fxFlex.gt-md="50" fxLayoutAlign="center center">
        <app-img [content]="item.img" *ngIf="item.img"></app-img>
      </div>
      <div class="module-content" fxFlex.lt-sm="100" fxFlex.gt-md="50" [ngClass.lt-md]="'p-sm'"
        [ngClass.gt-sm]="'p-md'">
        <app-title [content]="item.content.title" *ngIf="item.content.title"></app-title>
        <p class="m-bottom" *ngIf="item.content.body" [innerHTML]="item.content.body | safeHtml"></p>
        <div class="m-y-sm" *ngIf="item.content.details">
          <app-btn-animate [content]="item.content.details"></app-btn-animate>
        </div>
      </div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
