@if (content) {
  <div class="user-favorite relative">
    @if (content.id) {
      <a class="anchor" [id]="content.id"></a>
    }
    <app-spacer [size]="content.spacer || 'md'" />
    @if (content.bg) {
      <app-bg [content]="content.bg">
        @if (content.bg?.img) {
          <app-img [content]="content.bg.img" />
        }
      </app-bg>
    }
    <div class="container">
      @if (content.text) {
        <app-text [content]="content.text" />
      }
      @if (lists$ | async; as lists) {
        <app-list-thin
          [pager]="pager"
          [content]="lists"
          [loading]="loading" />
      }
    </div>
    <app-spacer [size]="content.spacer || 'md'" />
  </div>
}
