@import "./breakpoint";
@import "../theme-config/theme-config";

$color-theme: (
  success: (
    text: #3c763d,
    border: #b2dba1,
    bg: #dff0d8,
  ),
  shadow: (
    text: mat-color($mat-grey, 700),
    border: mat-color($mat-grey, 400),
    bg: mat-color($mat-grey, 100),
  ),
  light: (
    text: #fff,
    border: #fff,
    bg: #fff,
  ),
);

$font-family: "Helvetica", "Microsoft YaHei", "微软雅黑", "FreeSans",
  "Hiragino Sans GB", "Hiragino Sans GB W3", "Arial", "sans-serif";

// custom typography
// https://material.angular.io/guide/typography
$custom-typography: mat-typography-config(
  $font-family: $font-family,
  $display-4: mat-typography-level(67px, 67px, 300, $font-family: $font-family),
  $display-3: mat-typography-level(56px, 56px, 400, $font-family: $font-family),
  $display-2: mat-typography-level(45px, 48px, 400, $font-family: $font-family),
  $display-1: mat-typography-level(34px, 40px, 400, $font-family: $font-family),
  $headline: mat-typography-level(24px, 32px, 400, $font-family: $font-family),
  $title: mat-typography-level(20px, 1.618, 500, $font-family: $font-family),
  $body-1: mat-typography-level(16px, 1.618, 400),
);

$spacer: 4rem;
$font-size: 1.6rem;
$font-size-sm: 1.4rem;
$line-height: 1.618;
