@import './breakpoint';
@import '../colors/colors';

// 使用调色盘函数 mat-palette 生成 sass map
$app-primary: mat-palette($app-color);
$app-accent: mat-palette($app-color, A200, A100, A400);
$app-warn: mat-palette($mat-red, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$color-theme:( //
  base: (text: #8c9ca7, border: #8c9ca7, bg: #fafafa),
  primary: (text:$primary, border: $primary, bg: $primary),
  accent: (text: $accent, border: $accent, bg: $accent),
  warn: (text: $warn, border: $warn, bg: $warn),
  success: (text: #3c763d, border: #b2dba1, bg: #dff0d8),
  light: (text: #fff, border: #fff, bg: #fff),
  shadow: (text: #333, border: #ccc, bg: #eee),
  dark: (text: #4d5b67, border: #4d5b67, bg: #4d5b67) //
);
$base: map-get($map: $color-theme, $key: base);
$text-color: map-get($map: $base, $key: text);
$background-color: map-get($map: $base, $key: bg);

// $color-theme:( //
//   base: (text: #fff, border: #fff, bg: #fff),
//   primary: (text:$primary, border: $primary, bg: $primary),
//   accent: (text: $accent, border: $accent, bg: $accent),
//   warn: (text: $warn, border: $warn, bg: $warn),
//   success: (text: #3c763d, border: #b2dba1, bg: #dff0d8),
//   light: (text: #fff, border: #fff, bg: #fff),
//   shadow: (text: #333, border: #ccc, bg: #eee),
//   dark: (text: #4d5b67, border: #4d5b67, bg: #4d5b67) //
// );

$dark-primary: mat-palette($dark-color, A200);
$dark-accent: mat-palette($dark-color, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


$heading-font-family: 'Helvetica',
'Microsoft YaHei',
'微软雅黑',
'FreeSans',
'Hiragino Sans GB',
'Hiragino Sans GB W3',
'Arial',
'sans-serif';

$typography: mat-typography-config($display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

@include angular-material-typography($typography);
$spacer: 4rem;
$font-size: 1.6rem;
$font-size-sm: 1.4rem;
$line-height: 1.618;
