@import './breakpoint';
@import '../colors/colors';

// 使用调色盘函数 mat-palette 生成 sass map
$app-primary: mat-palette($light-color);
$app-accent: mat-palette($light-color, A200, A100, A400);
$app-warn: mat-palette($mat-red, A200, A100, A400);
$app-base: mat-palette($light-theme-base-color);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// TODO: secondary color和dark color其实是通用的，应该不区分主题，可以把 $dark-theme-base-color 变成全局，并新建 secondary palette sass map


// $light-theme-text-base: mat-color($light-theme-base-color, 700);
// $color-theme:( //
//   base: (text: $light-theme-text-base, border: $light-theme-text-base, bg:$light-theme-text-base),
//   success: (text: #3c763d, border: #b2dba1, bg: #dff0d8),
// );

// $base: map-get($map: $color-theme, $key: base);
// $text-color: map-get($map: $base, $key: text);

// $color-theme:( //
//   base: (text: #fff, border: #fff, bg: #fff),
//   success: (text: #3c763d, border: #b2dba1, bg: #dff0d8),
// );

$dark-primary: mat-palette($app-primary, 300, 50, 500);
$dark-accent: mat-palette($light-color, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-base: mat-palette($dark-theme-base-color);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


$heading-font-family: 'Helvetica',
'Microsoft YaHei',
'微软雅黑',
'FreeSans',
'Hiragino Sans GB',
'Hiragino Sans GB W3',
'Arial',
'sans-serif';

$typography: mat-typography-config($display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

@include angular-material-typography($typography);
$spacer: 4rem;
$font-size: 1.6rem;
$font-size-sm: 1.4rem;
$line-height: 1.618;
