/* You can add global styles to this file, and also import other style files */
@import './theme/theme.scss';
@import '~material-design-icons/iconfont/material-icons.css';
@import './theme/mixins/mixins.scss';

@include reset-styles();

html {
  font-size: 10px;
}

body {
  background-color: #fafafa;
  height: auto;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  display: block;
  font-size: 1.4rem;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
