// https://tailwindcss.com/docs/functions-and-directives
// @use "tailwindcss/base";
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@use 'mixins/reset';
@use 'main';
@use 'highlight.js/scss/atom-one-dark';
@use 'aos/dist/aos.css';
@use '@angular/material' as mat;
html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  *[class*='from-'],
  *[class*='to-'] {
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
  }
}

body {
  width: 100vw;
  max-width: 100%;
  display: block;
  font-size: 1rem;
  line-height: 1.618;
  overflow-x: hidden;
  overflow-y: auto;
  .mat-mdc-raised-button:not(:disabled) {
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
    &.mat-warn {
      color: var(--mat-sys-on-error);
      background-color: var(--mat-sys-error);
    }
  }
  .mat-mdc-unelevated-button:not(:disabled) {
    &.mat-warn {
      color: var(--mat-sys-on-error);
      background-color: var(--mat-sys-error);
    }
  }
  .mat-warn:not(:disabled) {
    color: var(--mat-sys-error);
  }
  .mat-mdc-outlined-button:not(:disabled) {
    &.mat-warn {
      border-color: var(--mat-sys-error);
    }
  }
  .mat-mdc-outlined-button:not(.mat-button-disabled) {
    &.mat-primary {
      border-color: var(--mat-sys-primary);
      color: var(--mat-sys-primary);
    }
  }
}

// fix sidebar position sticky
.mat-drawer-content,
.mat-drawer-container {
  overflow: visible !important;
}

.mat-drawer-content {
  > app-dynamic-component {
    position: relative;
  }
}

.mat-icon {
  display: swap;
}

pre {
  font-size: 0.9em;
  padding: calc(0.8em / 0.9);
  word-break: initial;
  word-wrap: initial;
  white-space: pre;
  overflow: auto;
  border-radius: 4px;

  .hljs {
    background-color: transparent;
  }
}
:root {
  --mdc-text-button-container-height: 36px;
  --mdc-filled-button-container-height: 36px;
  --mdc-protected-button-container-height: 36px;
  --mdc-outlined-button-container-height: 36px;
  --mat-form-field-container-height: 56px;
  --mdc-text-button-label-text-size: 14px;
  --mat-sys-label-large-size: 14px;
  --mat-sidenav-container-width: auto;
  --mat-sys-body-small-size: 12px;
  --mat-sys-body-medium-size: 14px;
  --mat-sidenav-container-elevation-shadow:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  .mdc-fab {
    --mat-sys-corner-large: 50%;
    --mat-sys-corner-medium: 50%;
  }
}
.dark-theme {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: rgb(182 196 255),
      surface-tint: rgb(182 196 255),
      on-primary: rgb(0 39 128),
      primary-container: rgb(41 98 255),
      on-primary-container: rgb(247 245 255),
      secondary: rgb(182 196 255),
      on-secondary: rgb(20 43 111),
      secondary-container: rgb(46 66 135),
      on-secondary-container: rgb(158 178 254),
      tertiary: rgb(244 174 255),
      on-tertiary: rgb(85 0 106),
      tertiary-container: rgb(173 60 202),
      on-tertiary-container: rgb(255 243 251),
      error: rgb(255 180 171),
      on-error: rgb(105 0 5),
      error-container: rgb(147 0 10),
      on-error-container: rgb(255 218 214),
      background: rgb(17 19 28),
      on-background: rgb(225 225 238),
      surface: rgb(17 19 28),
      on-surface: rgb(225 225 238),
      surface-variant: rgb(67 70 86),
      on-surface-variant: rgb(195 197 216),
      outline: rgb(141 144 162),
      outline-variant: rgb(67 70 86),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(225 225 238),
      inverse-on-surface: rgb(46 48 58),
      inverse-primary: rgb(0 78 232),
      primary-fixed: rgb(220 225 255),
      on-primary-fixed: rgb(0 21 80),
      primary-fixed-dim: rgb(182 196 255),
      on-primary-fixed-variant: rgb(0 58 179),
      secondary-fixed: rgb(220 225 255),
      on-secondary-fixed: rgb(0 21 80),
      secondary-fixed-dim: rgb(182 196 255),
      on-secondary-fixed-variant: rgb(46 66 135),
      tertiary-fixed: rgb(253 214 255),
      on-tertiary-fixed: rgb(52 0 66),
      tertiary-fixed-dim: rgb(244 174 255),
      on-tertiary-fixed-variant: rgb(121 0 149),
      surface-dim: rgb(17 19 28),
      surface-bright: rgb(55 57 67),
      surface-container-lowest: rgb(12 14 22),
      surface-container-low: rgb(25 27 36),
      surface-container: rgb(29 31 40),
      surface-container-high: rgb(40 41 51),
      surface-container-highest: rgb(50 52 62),
    )
  );
}
.blue-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: #0049db,
      surface-tint: rgb(0 78 232),
      on-primary: rgb(255 255 255),
      primary-container: rgb(41 98 255),
      on-primary-container: rgb(247 245 255),
      secondary: rgb(71 90 160),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(159 179 255),
      on-secondary-container: rgb(47 67 135),
      tertiary: rgb(145 26 175),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(173 60 202),
      on-tertiary-container: rgb(255 243 251),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(250 248 255),
      on-background: rgb(25 27 36),
      surface: rgb(250 248 255),
      on-surface: rgb(25 27 36),
      surface-variant: rgb(223 225 245),
      on-surface-variant: rgb(67 70 86),
      outline: rgba(0, 0, 0, 0.12),
      outline-variant: rgb(195 197 216),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(46 48 58),
      inverse-on-surface: rgb(240 240 253),
      inverse-primary: rgb(182 196 255),
      primary-fixed: rgb(220 225 255),
      on-primary-fixed: rgb(0 21 80),
      primary-fixed-dim: rgb(182 196 255),
      on-primary-fixed-variant: rgb(0 58 179),
      secondary-fixed: rgb(220 225 255),
      on-secondary-fixed: rgb(0 21 80),
      secondary-fixed-dim: rgb(182 196 255),
      on-secondary-fixed-variant: rgb(46 66 135),
      tertiary-fixed: rgb(253 214 255),
      on-tertiary-fixed: rgb(52 0 66),
      tertiary-fixed-dim: rgb(244 174 255),
      on-tertiary-fixed-variant: rgb(121 0 149),
      surface-dim: rgb(217 217 230),
      surface-bright: rgb(250 248 255),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(243 242 255),
      surface-container: rgb(237 237 250),
      surface-container-high: rgb(231 231 244),
      surface-container-highest: rgb(225 225 238),
    )
  );
}
.green-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: rgb(0 105 82),
      surface-tint: rgb(0 107 85),
      on-primary: rgb(255 255 255),
      primary-container: rgb(0 132 105),
      on-primary-container: rgb(245 255 249),
      secondary: rgb(60 102 88),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(190 237 218),
      on-secondary-container: rgb(66 109 94),
      tertiary: rgb(95 78 164),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(120 104 191),
      on-tertiary-container: rgb(255 251 255),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(245 251 246),
      on-background: rgb(23 29 26),
      surface: rgb(245 251 246),
      on-surface: rgb(23 29 26),
      surface-variant: rgb(216 230 222),
      on-surface-variant: rgb(61 74 68),
      outline: rgb(109 122 116),
      outline-variant: rgb(188 202 195),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(43 50 47),
      inverse-on-surface: rgb(236 242 238),
      inverse-primary: rgb(94 219 183),
      primary-fixed: rgb(125 248 210),
      on-primary-fixed: rgb(0 33 24),
      primary-fixed-dim: rgb(94 219 183),
      on-primary-fixed-variant: rgb(0 81 63),
      secondary-fixed: rgb(190 237 218),
      on-secondary-fixed: rgb(0 33 24),
      secondary-fixed-dim: rgb(162 208 191),
      on-secondary-fixed-variant: rgb(35 78 65),
      tertiary-fixed: rgb(230 222 255),
      on-tertiary-fixed: rgb(29 0 97),
      tertiary-fixed-dim: rgb(203 190 255),
      on-tertiary-fixed-variant: rgb(74 56 141),
      surface-dim: rgb(213 220 215),
      surface-bright: rgb(245 251 246),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(239 245 240),
      surface-container: rgb(233 239 235),
      surface-container-high: rgb(227 234 229),
      surface-container-highest: rgb(222 228 223),
    )
  );
}
.pink-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
      ),
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: rgb(163 62 15),
      surface-tint: rgb(163 62 15),
      on-primary: rgb(255 255 255),
      primary-container: rgb(255 129 79),
      on-primary-container: rgb(108 34 0),
      secondary: rgb(136 80 59),
      on-secondary: rgb(255 255 255),
      secondary-container: rgb(254 181 155),
      on-secondary-container: rgb(121 68 48),
      tertiary: rgb(100 97 0),
      on-tertiary: rgb(255 255 255),
      tertiary-container: rgb(174 169 0),
      on-tertiary-container: rgb(62 60 0),
      error: rgb(186 26 26),
      on-error: rgb(255 255 255),
      error-container: rgb(255 218 214),
      on-error-container: rgb(147 0 10),
      background: rgb(255 248 246),
      on-background: rgb(36 25 21),
      surface: rgb(255 248 246),
      on-surface: rgb(36 25 21),
      surface-variant: rgb(251 220 209),
      on-surface-variant: rgb(87 66 58),
      outline: rgb(139 114 105),
      outline-variant: rgb(222 192 182),
      shadow: rgb(0 0 0),
      scrim: rgb(0 0 0),
      inverse-surface: rgb(58 46 41),
      inverse-on-surface: rgb(255 237 231),
      inverse-primary: rgb(255 181 154),
      primary-fixed: rgb(255 219 207),
      on-primary-fixed: rgb(56 13 0),
      primary-fixed-dim: rgb(255 181 154),
      on-primary-fixed-variant: rgb(128 42 0),
      secondary-fixed: rgb(255 219 207),
      on-secondary-fixed: rgb(54 15 2),
      secondary-fixed-dim: rgb(254 181 155),
      on-secondary-fixed-variant: rgb(107 57 38),
      tertiary-fixed: rgb(238 232 78),
      on-tertiary-fixed: rgb(30 29 0),
      tertiary-fixed-dim: rgb(209 203 51),
      on-tertiary-fixed-variant: rgb(75 73 0),
      surface-dim: rgb(235 214 207),
      surface-bright: rgb(255 248 246),
      surface-container-lowest: rgb(255 255 255),
      surface-container-low: rgb(255 241 236),
      surface-container: rgb(255 233 226),
      surface-container-high: rgb(249 228 221),
      surface-container-highest: rgb(243 222 215),
    )
  );
}
