@import '/src/theme/variable.scss';
$dark: map-get($map: $color-theme, $key: dark);
$shadow: map-get($map: $color-theme, $key: shadow);

.job-list {

  .item {
    border: 1px solid;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px 2px rgb(0 0 0 / 7%);
    cursor: pointer;

    .title {
      font-size: 1.6rem;
    }

    .position {
      font-size: 1.8rem;
      color: map-get($dark, text)
    }
  }
}

.result {
  font-size: 2.2rem;
  color: map-get($dark, text);
}

.media {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;

  img {
    max-width: 100%;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 7%);
  }
}

.media-footer-right {
  font-size: small;
}

.badge {
  margin-right: 1.2rem;
  padding: 1.2rem;
  background-color: map-get($map: $shadow, $key: bg);
}

.wage {
  color: $primary;
  font-size: 1.6rem;
}
