@if (content) {
  <div class="recent-posts">
    <h2 class="block-title uppercase">{{ content.title }}</h2>
    <div class="list list-none m-0 p-0">
      @for (item of content.elements; track item; let i = $index) {
        <div class="item clear-both list-none {{ item.img.src ? '' : 'no-img' }}">
          @if (item.img.src) {
            <a [href]="item.link.href" class="post-img float-left block overflow-hidden relative">
              <app-img [attr.data-path]="'elements.' + i + '.img'" [content]="item.img" />
              <mat-icon>open_in_new</mat-icon>
            </a>
          }
          <div class="blog-title">
            <app-link [content]="item.link" />
            <div class="blog-date" [innerHTML]="item.changed | safeHtml"></div>
          </div>
        </div>
      }
    </div>
  </div>
}
