@if (content) {
  <div class="recent-posts">
    <h2 class="block-title">{{ content.title }}</h2>
    <div class="list">
      @for (item of content.elements; track item; let i = $index) {
        <div class="item {{ item.img.src ? '' : 'no-img' }}">
          @if (item.img.src) {
            <a [href]="item.link.href" class="post-img">
              <app-img
                [attr.data-path]="'elements.' + i + '.img'"
                [content]="item.img"
              ></app-img>
              <mat-icon>open_in_new</mat-icon>
            </a>
          }
          <div class="blog-title">
            <app-link [content]="item.link"></app-link>
            <div class="blog-date" [innerHTML]="item.changed | safeHtml"></div>
          </div>
        </div>
      }
    </div>
  </div>
}
