@import "../../../../../theme/variable/breakpoint";
.video-bg {
  overflow: hidden;
}
.video-js {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @media #{$gt-xs} {
    top: -50%;
  }
}
.layer {
  z-index: 1;
  background: #000;
  opacity: 0.1;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
}

.inner {
  z-index: 10;
}
