@if (content(); as contentValue) {
  <div class="video-bg">
    @if (contentValue.bg) {
      <app-bg [content]="contentValue.bg" />
    }
    @if (video) {
      @defer (hydrate on viewport) {
        <app-video [content]="video" />
      } @placeholder {
        <div class="video-skeleton"></div>
      }
    }
    <div class="inner xy-center">
      <div class="wrapper">
        @for (item of contentValue.elements; track item; let i = $index) {
          <app-dynamic-component [attr.data-path]="'elements.' + i" [inputs]="item" />
        }
      </div>
    </div>
  </div>
}
