@import "../../../../../theme/variable/breakpoint";
.video-bg {
  overflow: hidden;
  min-height: 280px;
  @media #{$gt-md} {
    min-height: 400px;
  }
}
.video-js {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200% !important;
  height: 200% !important;
  max-width: none !important;
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
  }
}
.layer {
  z-index: 1;
  background: #000;
  opacity: 0.1;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
}

.inner {
  z-index: 10;
}
