<div class="video-bg position-relative" *ngIf="content">
  <a class="anchor" *ngIf="content.id" [id]="content.id"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="layer"></div>
  <video class="video-js" autoplay muted loop preload="auto">
    <source src="{{content?.source?.src}}" type="{{content?.source?.type}}">
  </video>
  <div class="inner position-relative" ngClass.gt-sm="xy-center" ngClass.lt-md="y-center">
    <app-dynamic-combs [content]="content.widget"></app-dynamic-combs>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
