.law-case-table {
  ::ng-deep {
    .sub {
      font-size: small;
      opacity: 0.5;
    }
    .mat-cell {
      line-height: 1;
    }
    .mat-header-cell {
      font-size: 14px;
      color: inherit;
    }
  }
}
