<div class="container-fluid">
  <div class="job position-relation" fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <div class="sidebar position-relative p-x-xs" fxFlex.xs="100%" fxFlex.gt-xs="500px">
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
      <div class="m-y" *ngIf="nodes.length == 0" fxLayoutAlign="center center">
        暂无数据
      </div>
      <app-job-filter [content]="nodes" [autoList]="autoList" (searchChange)="onSearch($event)" (clear)="onClear()"
        (selectedChange)="onSearchJob($event)"></app-job-filter>
      <app-job-list (selected)="onSelected($event)" (scroller)="onScroll($event)" *ngIf="nodes.length > 0"
        [content]="nodes" [selectedId]="selectedId">
      </app-job-list>
    </div>
    <div class="map-wrapper position-relative" fxFlex.xs="100%" fxFlex.gt-xs="100%">
      <app-job-node fxFlex.xs="100" fxFlex.gt-xs="500px" *ngIf="selected" class="job-details" [content]="selected">
      </app-job-node>
      <app-map fxFlex="100%" *ngIf="nodes && AMap" [content]="nodes" [AMap]="AMap">
      </app-map>
      <div class="m-y" *ngIf="loading" fxLayoutAlign="center center">
        <app-spinner class="m-y" [content]="{color:'primary', size:40}"></app-spinner>
      </div>
    </div>
  </div>
  <!-- App feature -->
  <div class="app-feature position-relative">
    <div class="container m-top-lg p-y-lg">
      <app-bg [content]="{classes:['bg-fill-width','wave-wrapper']}">
        <mat-icon class="wave" svgIcon="wave"></mat-icon>
      </app-bg>
      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="1rem">
        <app-card *ngFor="let card of feature" [content]="card" fxFlex.xs="100" fxFlex.sm="0 1 calc(33.3% - 1rem)"
          fxFlex.gt-sm="0 1 calc(20% - 1rem)" class="m-bottom-xs">
        </app-card>
      </div>
    </div>
  </div>
</div>
