@import "../../../theme/variable/variable.scss";

@media #{$gt-xs} {
  .sidebar {
    z-index: 99;
  }
}

.map-wrapper {
  height: calc(100vh - 60px);

  @media #{$xs} {
    height: 60vh;
    width: 100%;
    padding: 1rem;
  }
}

:host ::ng-deep .wave-wrapper {
  .wave {
    width: 100%;
    height: 200px;
  }

  @media #{$gt-sm} {
    .wave {
      height: 500px;
    }
  }
}
