<ng-container *ngIf="showNoXs">
  <div class="header-top" *ngIf="content">
    <div class="container">
      <div fxLayoutAlign="space-between center">
        <div class="left">
          <div class="hotline" fxLayout fxLayoutGap="1rem">
            <div class="item" fxLayout *ngFor="let item of content.banner?.left">
              <mat-icon [inline]="true">{{item.icon}}</mat-icon>
              <div>{{item.label}}</div>
            </div>
          </div>
        </div>
        <div class="right">
          <a *ngFor="let item of content.banner?.right" class="inv-icon style-v1" href="{{item.href}}" target="_blank">
            <span class="soc-name">{{item.label}}</span>
            <span class="soc-icon-bg"></span>
            <mat-icon [inline]="true" [svgIcon]="item.svg"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
