<ng-container *ngIf="ready && content">
  <ng-container [ngSwitch]="content.type">
    <app-bg *ngSwitchCase="'bg'" [content]="content"></app-bg>
    <app-img *ngSwitchCase="'img'" [content]="content"></app-img>
    <app-card *ngSwitchCase="'card'" [content]="content"></app-card>
    <app-chip-list *ngSwitchCase="'chip-list'" [content]="content"></app-chip-list>
    <app-link *ngSwitchCase="'link'" [content]="content"></app-link>
    <app-spinner *ngSwitchCase="'spinner'" [content]="content">
    </app-spinner>
    <app-swiper *ngSwitchCase="'swiper'" [content]="content">
    </app-swiper>
    <div *ngSwitchDefault>...</div>
  </ng-container>
</ng-container>
