@import "../../../../../theme/variable/breakpoint";

.filter {
  padding: 20px 10px;
}

.item {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 20px;
  // @media #{$sm} {
  //   width: 50%;
  // }
  // @media #{$gt-sm} {
  //   width: calc(33.33%);
  // }
}

.sizer {
  width: 100%;
  // @media #{$sm} {
  //   width: 50%;
  // }
  // @media #{$gt-sm} {
  //   width: calc(33.33%);
  // }
}
