<div class="shuffle-container" *ngIf="content">
  <a class="anchor" [id]="content.id||''"></a>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
  <div class="container">
    <app-title *ngIf="content.title" [content]="content.title"></app-title>
    <div class="filter" *ngIf="content.filter">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="onFilter(item.value)" *ngFor="let item of content.filter" value="{{item.value}}">
          {{item.label}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="shuffle-inner">
      <div class="item" fxFlex.xs="100" fxFlex.sm="50%" fxFlex.gt-sm="0 0 calc({{100/(content.row || 4)}}%)"
        *ngFor="let item of content.elements" [attr.data-groups]="item.category">
        <app-dynamic-widgets [content]="item"></app-dynamic-widgets>
      </div>
      <div class="sizer" fxFlex.xs="100" fxFlex.sm="calc(50% - 30px)"
        fxFlex.gt-sm="0 0 calc({{100/(content.row || 4)}}%)"></div>
    </div>
  </div>
  <app-spacer [size]="content?.spacer || 'md'"></app-spacer>
</div>
