<div class="page-list" *ngIf="content$ | async as content">
  <mat-list>
    <mat-list-item matRipple *ngFor="let page of content; index as i">
      <app-icon mat-list-icon [content]="{svg:'file-outline'}"></app-icon>
      <div class="title" mat-line>
        {{page.title}}
      </div>
      <div class="time" mat-line> {{page.changed | date:'yyyy-MM-dd HH:mm:ss'}} </div>
    </mat-list-item>
  </mat-list>
  <app-pagination-links (pageChange)="onPageChange($event)" [links]="links"></app-pagination-links>
</div>
