<div class="page-list">
  <div class="reload">
    @if (!loading) {
      <app-btn
        (click)="onReload()"
        [content]="{
          label: '',
          mode: 'icon',
          color: 'primary',
          icon: { svg: 'reload' },
        }"
      ></app-btn>
    }
  </div>
  <app-title
    [content]="{
      label: '管理列表',
      style: 'style-v4',
      classes: 'p-y-xs !mb-2 bold',
    }"
  ></app-title>
  <div class="form">
    <app-formly
      [fields]="fields"
      [form]="form"
      [model]="model"
      (modelChange)="onModelChange($event)"
    ></app-formly>
  </div>
  <div class="lists">
    @if (loading) {
      <mat-spinner diameter="50" color="primary"></mat-spinner>
    }
    @if (content$ | async; as content) {
      @for (page of content; track page; let i = $index) {
        <div class="item flex flex-col gap-2 relative p-2">
          <div class="text-sm mr-[62px]">
            <a href="{{ page.url }}?preview=true" target="_blank">{{
              page.title
            }}</a>
          </div>
          <div class="meta text-xs font-mono">
            {{ page.author | shorten: 6 : "**" }}
            <div class="flex justify-between mt-2">
              <a
                class="truncate"
                [matTooltip]="page.url"
                href="{{ page.url }}?preview=true"
                target="_blank"
                >{{ page.url }}</a
              >
              <span class="whitespace-nowrap">{{
                page.changed | date: "yyyy/MM/dd HH:mm"
              }}</span>
            </div>
          </div>
          <div class="actions absolute right-2 top-2">
            <app-btn
              [matMenuTriggerFor]="menu"
              [content]="{ label: '编辑', mode: 'stroked', color: 'primary' }"
            ></app-btn>
            <mat-menu #menu="matMenu" class="overlay-btn-icon">
              <button mat-menu-item (click)="loadPage(page)">
                <app-icon [content]="{ svg: 'pencil' }"></app-icon>
                <span>编辑</span>
              </button>
              <button mat-menu-item (click)="deletePage(page)">
                <app-icon [content]="{ svg: 'delete-outline' }"></app-icon>
                <span>删除</span>
              </button>
            </mat-menu>
          </div>
        </div>
      }
    }
  </div>
  @if (pager) {
    <div class="pager">
      <mat-paginator
        class="demo-paginator"
        (page)="onPageChange($event)"
        [length]="pager.totalItems"
        [pageSize]="pager.itemsPerPage"
        [showFirstLastButtons]="true"
        [hidePageSize]="true"
        [pageIndex]="pager.currentPage"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  }
</div>
