.page-list {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  .reload {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
  }
  .form {
    padding: 10px;
    ::ng-deep {
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
      }
    }
  }
  app-title {
    margin: 0 10px;
  }
  .mat-mdc-list {
    position: relative;
    height: 510px;
    overflow: auto;
    .mat-mdc-progress-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .mat-mdc-list-item {
      .mat-line {
        font-size: 15px;
      }
      .meta {
        font-size: 14px;
        opacity: 0.5;
      }
      ::ng-deep {
        .mat-mdc-button-base {
          font-size: 12px;
          line-height: 24px;
          height: auto;
        }
      }
    }
  }
}
