.page-list {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  .reload {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
  }
  .form {
    padding: 10px;
    ::ng-deep {
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
      }
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }
  app-title {
    margin: 0 10px;
  }
  .lists {
    position: relative;
    height: 450px;
    overflow: auto;
    .mat-mdc-progress-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .item {
      .mat-line {
        font-size: 15px;
      }
      .meta {
        opacity: 0.5;
      }
      ::ng-deep {
        .mat-mdc-button-base {
          font-size: 12px;
          line-height: 24px;
          height: auto;
        }
      }
      &.active {
        &::after {
          content: '';
          position: absolute;
          width: 4px;
          height: 50%;
          top: 0;
          transform: translateY(50%);
          left: 0;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
  .pager {
    ::ng-deep {
      .mat-mdc-paginator-range-label {
        display: none;
      }
    }
  }
}
