@let loginConfig = coreConfig.login;
<div class="login-container">
  <div class="login-wrapper">
    <div class="login-second">
      @if (loginConfig.left) {
        <app-dynamic-component [inputs]="loginConfig.left" />
      }
    </div>
    <div class="login-form" [class.is-login]="user$ | async">
      @if (loading()) {
        <app-loading />
      }
      <div class="form-scroll">
        @if (!(user$ | async)) {
          @if (error()) {
            <div class="error">
              {{ error() }}
            </div>
          }
          <mat-tab-group>
            @let phoneLogin = loginConfig.phoneLogin;
            @let pswLogin = loginConfig.pswLogin;
            @if (phoneLogin.enable) {
              <mat-tab label="{{ phoneLogin.tabLabel || '手机登录' }}">
                <form class="phone-form" [formGroup]="phoneForm" (ngSubmit)="loginByPhone()">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ phoneLogin.placeholder || '请输入手机号码' }}</mat-label>
                    <mat-icon matSuffix>phone_iphone</mat-icon>
                    <input
                      [placeholder]="phoneLogin.placeholder || '请输入手机号码'"
                      type="text"
                      matInput
                      formControlName="phone"
                    />
                    @if (formPhone.phone.errors?.pattern) {
                      <mat-error> {{ phoneLogin.error || '请输入正确的手机号码' }}</mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ phoneLogin?.code?.label || '验证码' }}</mat-label>
                    <input matInput type="text" formControlName="code" />
                    <button
                      disabled="{{ countdown() > 0 }}"
                      (click)="getCode($event)"
                      class="code-btn"
                      [class]="countdown() ? 'pointer-events-none' : ''"
                      matSuffix
                      color="primary"
                      mat-button
                      aria-label="code"
                    >
                      <small class="code-label">
                        {{ phoneLogin?.code?.sendLabel || '发送验证码' }}
                        @if (countdown()) {
                          ({{ countdown() }})
                        }
                      </small>
                    </button>
                  </mat-form-field>
                  <button
                    [disabled]="loading()"
                    class="submit-btn"
                    type="submit"
                    mat-raised-button
                    color="primary"
                  >
                    {{ loginConfig.phoneLogin.submitLabel }}
                  </button>
                </form>
              </mat-tab>
            }
            @if (pswLogin.enable) {
              <mat-tab label="{{ pswLogin.tabLabel || '密码登录' }}">
                <form class="psw-form" [formGroup]="userForm" (ngSubmit)="login()">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ pswLogin.userLabel || '用户名' }}</mat-label>
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput formControlName="name" autocomplete="username" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ pswLogin.pswLabel || '密码' }}</mat-label>
                    <input
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      formControlName="pass"
                      autocomplete="current-password"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <button
                    [disabled]="loading()"
                    class="submit-btn"
                    type="submit"
                    mat-raised-button
                    color="primary"
                  >
                    {{ pswLogin.submitLabel }}
                  </button>
                </form>
              </mat-tab>
            }
          </mat-tab-group>
          @if (loginConfig.socialLogin; as socialLoginConfig) {
            @if (socialLoginConfig.enable) {
              <div class="social-login">
                <div class="social-login-divider">
                  <mat-divider />
                  <span>{{ socialLoginConfig.label || '第三方登录' }}</span>
                  <mat-divider />
                </div>
                <div class="social-login-buttons">
                  @for (provider of socialLoginConfig.providers; track provider.url) {
                    @if (provider.enable) {
                      <button
                        mat-stroked-button
                        class="social-btn"
                        (click)="socialLogin(provider.url)"
                      >
                        @if (provider.svgIcon) {
                          <mat-icon svgIcon="{{ provider.svgIcon }}" />
                        } @else if (provider.icon) {
                          <mat-icon>{{ provider.icon }}</mat-icon>
                        }
                        {{ provider.label }}
                      </button>
                    }
                  }
                </div>
              </div>
            }
          }
        }
        @if (user$ | async; as currentUser) {
          <h1 class="welcome-title">Hi, {{ currentUser.display_name }}</h1>
          <mat-divider />
          <p class="welcome-text">欢迎。</p>
        }
      </div>
    </div>
    <div class="mark-bg"></div>
  </div>
</div>
