@import "/src/theme/variable/breakpoint";

.login-container {
  max-height: 500px;
  min-height: calc(100vh - 76px);

  ::ng-deep {
    /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
    .mat-tab-label {
      min-width: auto !important;
    }
    .layout-toolbar,
    .block-toolbar {
      display: none !important;
    }
  }
}

:host-context(.mat-mdc-dialog-container) {
  .login-container {
    max-height: none;
    min-height: auto;
  }
}

.login-wrapper {
  max-width: 750px;
  max-height: 600px;

  .login-form {
    .form-scroll {
      position: relative;
    }
    &.is-login {
      .form-scroll {
        top: 0;
      }
    }
  }

  @media #{$xs} {
    .login-form {
      width: 80vw;
    }
  }

  @media #{$gt-xs} {
    .login-form {
      padding: 40px;
    }

    border-radius: 20px;
    overflow: hidden;
  }
}

.login-second {
  min-width: 300px;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.error {
  border-radius: 4px;
}

.mark-bg {
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1;
}

.code {
  padding: 0px 10px;
  position: absolute;
  top: -33px;
  right: 0;
}
