@use '../../../../theme/variable/breakpoint' as *;

.login-container {
  max-height: 500px;
  min-height: calc(100vh - 76px);

  ::ng-deep {
    .layout-toolbar,
    .block-toolbar {
      display: none !important;
    }
  }
}

:host-context(.mat-mdc-dialog-container) {
  .login-container {
    max-height: none;
    min-height: auto;
  }
}

.login-wrapper {
  max-width: 750px;
  max-height: 600px;

  mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .login-form {
    .mat-mdc-raised-button {
      height: 40px;
    }
    .form-scroll {
      position: relative;
    }
    &.is-login {
      .form-scroll {
        top: 0;
      }
    }
  }

  @media #{$xs} {
    .login-form {
      width: 80vw;
    }
  }

  @media #{$gt-xs} {
    .login-form {
      padding: 40px;
    }

    border-radius: 20px;
    overflow: hidden;
  }
}

.login-second {
  min-width: 300px;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.mark-bg {
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 1;
}
