@let u = user();

<div class="user">
  @if (!u) {
    <button aria-label="user login" color="primary" (click)="onLogin()" mat-mini-fab>
      <mat-icon>person</mat-icon>
    </button>
  } @else {
    @if (!$any(u).picture) {
      <button aria-label="user name" mat-mini-fab color="primary" (click)="openDialog()">
        <h3 class="name">
          {{ name() }}
        </h3>
      </button>
    } @else {
      <img
        class="user-picture"
        role="button"
        tabindex="0"
        (click)="openDialog()"
        (keyup.enter)="openDialog()"
        [src]="$any(u).picture"
        alt="{{ $any(u).display_name }}"
      />
    }
  }
</div>
