@let u = user();

<div class="user">
  @if (!u) {
    <app-btn
      [content]="{ mode: 'icon', icon: { name: 'person' } }"
      (btnClick)="onLogin()"
    />
  } @else {
    @if (!$any(u).picture) {
      <app-btn
        [content]="{ mode: 'icon', icon: { name: 'account_circle' } }"
        (btnClick)="openDialog()"
      />
    } @else {
      <img
        class="user-picture"
        role="button"
        tabindex="0"
        (click)="openDialog()"
        (keyup.enter)="openDialog()"
        [src]="$any(u).picture"
        alt="{{ $any(u).display_name }}"
      />
    }
  }
</div>
