:host ::ng-deep .top {
  a {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem 1.5rem;
    line-height: 1;
    &.active {
      &:after {
        position: absolute;
        content: "";
        height: 2px;
        bottom: -2px;
        width: 100%;
        left: 0;
        display: block;
        z-index: 2;
      }
    }
  }
}
