:host ::ng-deep .top {
  a {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    line-height: 1;
    &.active {
      &:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -2px;
        width: 100%;
        left: 0;
        display: block;
        z-index: 2;
      }
    }
  }
}
:host-context(.is-pc-header) {
  .item-menu {
    &:hover {
      .dynamic-menu {
        opacity: 1;
        visibility: inherit;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .dynamic-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    width: 100%;
    max-width: 85vw;
  }
}
