<div class="article m-bottom" *ngIf="content">
  <app-article-banner [content]="content.banner" *ngIf="content.banner"></app-article-banner>
  <div class="container">
    <div class="article-inner m-top-sm" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div class="article-node" fxFlex.lt-md="100" fxFlex.gt-sm="{{content.sidebar?'75':'100'}}">
        <h2 class="title">
          {{content.title}}
        </h2>
        <div class="article-meta m-y-xs" fxLayoutAlign="space-between center">
          <app-article-meta [content]="content.meta" *ngIf="content.meta"></app-article-meta>
          <app-font-change *ngIf="showNotXs && fontSizeConfig" [content]="fontSizeConfig" [form]="fontForm">
          </app-font-change>
        </div>
        <mat-divider></mat-divider>
        <div class="article-body position-relative">
          <div *ngIf="canAccess;else canotAccess" class="article-body m-y-sm" [innerHTML]="content.body | safeHtml"
            [style.fontSize.px]="fontSize">
          </div>
          <ng-template #canotAccess>
            <div class="article-body m-y-sm position-relative">
              <div [innerHTML]="content.body |stripTags:'p'|trim|shorten:1000:'...'" [style.fontSize.px]="fontSize">
              </div>
              <div class="shadow"></div>
            </div>
            <div *ngIf="!userState.authenticated" class="auth line p-y-sm p-x-sm width-100 text-center"
              fxLayoutAlign="center center">
              <a href="javascript:void(0)" (click)="openLogin()" [innerHTML]="loginConfig?.label|safeHtml"></a>
            </div>
            <div *ngIf="userState.authenticated" class="pay line p-y-sm p-x-sm width-100 text-center m-bottom"
              fxLayoutAlign="center center">
              <div>
                <ng-container *ngIf="!isReqRoles">
                  成为<a (click)="upgrade()" href="javascript:void(0)">【会员】</a>
                </ng-container>
                <ng-container *ngIf="reqMoney">
                  或者<a (click)="pay()" href="javascript:void">【支付{{reqMoney}}元】</a>
                </ng-container>
                <ng-container *ngIf="isPayed">
                  您已支付【{{reqMoney}}元】！
                </ng-container>
                可查看全文
              </div>
            </div>
          </ng-template>
        </div>
        <div class="article-bottom m-y" *ngIf="content.bottom">
          <app-dynamic-widgets [content]="action" *ngFor="let action of content.bottom"></app-dynamic-widgets>
        </div>
        <div class="ations m-y" *ngIf="content.actions">
          <app-dynamic-widgets [data]="content.params" [content]="action" *ngFor="let action of content.actions">
          </app-dynamic-widgets>
        </div>
        <app-comment-form
          *ngIf="userState.authenticated && coreConfig.article?.comment?.enable && content?.params?.comment"
          [content]="content" [type]="'add'">
        </app-comment-form>
        <app-comment-list *ngIf="userState.authenticated" [comments]="comments" [content]="content">
        </app-comment-list>
      </div>
      <app-sidebar [ngClass.gt-sm]="'m-left-sm'" *ngIf="content.sidebar" fxFlex.lt-md="100" fxFlex.gt-sm="25"
        [content]="content.sidebar"></app-sidebar>
    </div>
  </div>
</div>
