<div class="card-1v5" *ngIf="content">
  <div class="card-inner p-x-sm p-y-sm" fxLayout="column">
    <div [contentedit]="'title'" class="title mat-h2" [innerHTML]="content.title"></div>
    <div [contentedit]="'body'" class="content" [innerHTML]="content.body"></div>
    <div class="more m-y-sm" fxLayoutAlign="start center" *ngIf="content.more">
      <app-link [attr.data-path]="'more'" [content]="content.more"></app-link>
      <app-icon [content]="{svg:'chevron-right',inline:true}"></app-icon>
    </div>
    <div class="footer mat-display-2 m-bottom-0" fxLayoutAlign="space-between center">
      <div class="left" [contentedit]="'footer.label'" [innerHTML]="content.footer.label"></div>
      <app-icon [content]="content.footer.icon"></app-icon>
    </div>
  </div>
</div>
