.report {
  min-height: 100vh;
}
.report-header {
  .meta {
    .item {
      margin-left: 4rem;
      .label {
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
}
.box {
  border-radius: 4px;
  margin-bottom: 4rem;
}
