@import '/src/theme/variable/breakpoint';
@import '/src/theme/mixins/amixin';
.img-wrapper {
  position: static;
  .actions {
    @include middle-center();
  }
}

img {
  position: relative;
  max-width: 100%;
}

:host(.img-bg-shape) {
  display: block;
  position: relative;
  @media #{$gt-sm} {
    img {
      margin-left: 40px;
    }
  }
  &:after {
    content: ' ';
    position: absolute;
    z-index: -1;
    bottom: 50px;
    left: 80px;
    width: 700px;
    height: 500px;
    border-radius: 250px;
    opacity: 0.9;
    transform: rotate(130deg);
  }
}
