@if (content(); as contentValue) {
  @if (isBg()) {
    <div
      [class]="contentValue.classes"
      class="img-bg"
      [style.background-image]="'url(' + contentValue.src + ')'"
    ></div>
  } @else {
    <div class="img-wrapper">
      @if (!contentValue.href) {
        <img
          contentedit="src"
          loading="lazy"
          [style]="contentValue.style"
          [class]="contentValue.classes"
          [ngSrc]="contentValue.src || ''"
          [alt]="contentValue.alt || ''"
          [width]="contentValue.width || 400"
          [height]="contentValue.height || 300"
        />
      } @else {
        <a href="{{ contentValue.href }}" target="{{ contentValue.target }}">
          <img
            contentedit="src"
            loading="lazy"
            [class]="contentValue.classes"
            [ngSrc]="contentValue.src || ''"
            [style]="contentValue.style"
            [alt]="contentValue.alt || ''"
            [width]="contentValue.width || 400"
            [height]="contentValue.height || 300"
          />
        </a>
      }
      @if (contentValue.actions) {
        <div class="actions">
          @for (action of contentValue.actions; track action) {
            <app-dynamic-component
              [inputs]="{
                content: action,
              }"
            />
          }
        </div>
      }
    </div>
  }
}
