@use 'variable/breakpoint' as *;
@use 'mixins/amixin' as *;
.img-wrapper {
  .actions {
    @include middle-center();
  }
}

img {
  position: relative;
  max-width: 100%;
  &.object-fit,
  &.bg-cover {
    position: absolute !important;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.bg-contain {
    position: absolute !important;
    object-fit: contain;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:host(.img-bg-shape) {
  display: block;
  position: relative;
  @media #{$gt-sm} {
    img {
      margin-left: 40px;
    }
  }
  &:after {
    content: ' ';
    position: absolute;
    z-index: -1;
    bottom: 50px;
    left: 80px;
    width: 700px;
    height: 500px;
    border-radius: 250px;
    opacity: 0.9;
    transform: rotate(130deg);
    background-color: var(--mat-sys-primary);
    box-shadow: var(--mat-sys-level0);
  }
}
