@import '../../../../theme/variable/variable.scss';

.main-menu {
  .item {
    ::ng-deep .link {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}

.spacer {
  flex: 1;
}

:host ::ng-deep .user {
  .mat-button-wrapper {
    padding: 0;

    .name {
      font-size: 2rem;
      line-height: 4rem;
      padding: 0;
    }
  }
}
