@let builderConfig = builderConfig$ | async;
@let help = builderConfig?.widgetPicker?.help;
<div class="widget-picker z-[9999]" [class.show]="show()">
  @if (show()) {
    @if (widgets()) {
      <div class="widget-wrapper" #wrapper>
        @if (bcData()) {
          <div
            #copy
            class="box"
            (click)="onPasteData()"
            matTooltip="粘贴复制的组件"
            matTooltipPosition="above"
          >
            <div class="item" matRipple>
              <div class="inner">
                <app-icon [content]="{ svg: 'content-paste' }" />
              </div>
            </div>
          </div>
          <app-divider class="picker-divider" />
        }
        @for (group of widgets().elements; track group) {
          <div
            class="box"
            (mouseenter)="onHoverGroup(group, wrapper)"
          >
            <div class="item" #item matRipple>
              <div class="inner">
                @if (group.icon) {
                  <app-icon [content]="{ svg: group.icon }" />
                }
              </div>
            </div>
          </div>
        }
        @if (help) {
          <app-divider class="picker-divider" />
          <div class="help box" [matTooltip]="help.tooltip">
            <app-btn
              [content]="{
                label: '',
                mode: 'icon',
                color: undefined,
                href: help.link,
                target: '_blank',
                icon: { svg: 'help-circle', inline: true },
              }"
            />
          </div>
        }
      </div>
    }
    <div #groupPopup class="group-popup-container">
      @if (group$ | async; as group) {
        <div
          class="group-popup"
        >
          <h2>{{ group.label }}</h2>
          <div class="group-grid">
            @for (item of group.child; track item) {
              <div
                (mouseenter)="onHoverWidget(item, groupPopup)"
                (click)="onSelect(item.content)"
                class="item widget-item"
              >
                <app-icon [content]="{ svg: item.icon }"></app-icon>
                <div class="item-label">{{ item.label }}</div>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div #popup class="widget-popup">
      <div class="popup-preview">
        @if (widget$ | async; as widget) {
          <div class="hover-show">
            @if (widget.preview) {
              <img [src]="widget.preview" alt="" />
            } @else {
              <app-dynamic-component [inputs]="widget.content" />
            }
          </div>
        }
      </div>
    </div>
  }
</div>
@if (show()) {
  <div class="overlay" (click)="onLeave()"></div>
}
