@import "../../../../../theme/variable/breakpoint";
.widget-picker {
  .item {
    position: relative;
    flex: 0 0 33.33%;
    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
    .inner {
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .popup {
    display: none;
    position: fixed;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    &[data-popper-placement] {
      display: flex;
      box-sizing: content-box;
    }
    .hover-show {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  @media #{$gt-sm} {
    .item {
      flex: 0 0 10%;
    }
  }
}
