@import '../../../../../theme/variable/breakpoint';
.widget-picker {
  position: absolute;
  right: -88px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 48px;
  transition: right 0.3s ease-out;
  .widget-wrapper {
    border-radius: 20px;
    .item {
      position: relative;
      .inner {
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  .group-popup {
    position: relative;
    right: 10px;
  }
  .group-popup,
  .widget-popup {
    border-radius: 12px;
  }
  .widget-popup {
    overflow: hidden;
    box-sizing: border-box;
    &[data-popper-placement] {
      display: flex;
      box-sizing: content-box;
    }
    .hover-show {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

:host(.active) {
  .widget-picker {
    right: 20px;
    transition: right 0.3s ease;
  }
}
