<div class="widget-picker p-5" (mouseleave)="onLeave()">
  @if (widgets) {
    <div class="widget-wrapper py-4" #wrapper>
      @for (group of widgets; track $index) {
        <div
          class="box flex flex-col justify-center items-center"
          (mouseenter)="onHoverGroup(group, wrapper)"
        >
          <div class="item" #item matRipple>
            <div class="inner flex flex-col justify-center items-center m-[2px] p-[6px]">
              @if (group.icon) {
                <app-icon [content]="group.icon" />
              }
            </div>
          </div>
        </div>
      }
      @if (help) {
        <app-divider></app-divider>
        <div class="help box" [matTooltip]="help.tooltip">
          <app-btn
            [content]="{
              label: '',
              mode: 'icon',
              color: undefined,
              href: help.link,
              target: '_blank',
              icon: { svg: 'help-circle', inline: true },
            }"
          />
        </div>
      }
    </div>
  }
  <div #groupPopup class="absolute">
    @if (group$ | async; as group) {
      <div
        class="group-popup p-4 z-10 flex-col justify-start items-start whitespace-nowrap w-[280px] min-h-[360px]"
      >
        <h2>{{ group.label }}</h2>
        <div class="grid grid-cols-12 gap-4 w-full">
          @for (item of group.elements; track $index) {
            <div
              (mouseenter)="onHoverWidget(item, groupPopup)"
              (click)="onSelect(item.content)"
              class="col-span-6 border border-solid border-gray-200 rounded-md p-4 flex gap-3 flex-col justify-center items-center cursor-pointer item"
            >
              <app-icon class="text-primary" [content]="item.icon"></app-icon>
              <div class="text-sm opacity-90">{{ item.label }}</div>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div #popup class="absolute">
    @if (widget$ | async; as widget) {
      <div class="p-3">
        <div class="widget-popup">
          <div class="p-4 z-10 w-[560px] h-[300px]">
            <div class="hover-show w-full h-full flex justify-center items-center relative">
              @if (widget.preview) {
                <img [src]="widget.preview" alt="" />
              } @else {
                <app-dynamic-component [inputs]="widget.content" />
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
