<div class="widget-picker p-4" (mouseleave)="onLeave()">
  @if (widgets) {
    <div class="box grid grid-cols-12 gap-3">
      @if (bcData) {
        <div
          #copy
          class="item col-span-4"
          (click)="onPasteData()"
          (mouseenter)="onHover({ content: bcData }, copy)"
          matRipple
        >
          <div
            class="inner flex flex-col justify-center items-center m-[2px] p-[6px] bg-primary hover:!text-gray-700"
          >
            <app-icon [content]="{ svg: 'content-paste' }"></app-icon>
            <div class="title">粘贴组件</div>
          </div>
        </div>
      }
      @for (widget of widgets; track widget) {
        <div
          class="item col-span-4"
          #item
          (mouseenter)="onHover(widget, item)"
          (click)="onSelect(widget.content)"
          matRipple
        >
          <div
            class="inner flex flex-col justify-center items-center m-[2px] p-[6px]"
          >
            @if (widget.icon) {
              <app-icon [content]="widget.icon"></app-icon>
            }
            <div class="title" title="{{ widget.label }}">
              {{ widget.label }}
            </div>
          </div>
        </div>
      }
    </div>
  }
  <div class="popup p-4 z-10 w-[560px] h-[300px]" #popup>
    @if (widget$ | async; as widget) {
      <div
        class="hover-show w-full h-full flex justify-center items-center relative"
      >
        @if (widget.preview) {
          <img [src]="widget.preview" alt="" />
        } @else {
          <app-dynamic-component
            [inputs]="widget.content"
          ></app-dynamic-component>
        }
      </div>
    }
  </div>
  @if (help) {
    <div class="help absolute right-5 bottom-5" [matTooltip]="help.tooltip">
      <app-btn
        [content]="{
          label: '',
          mode: 'icon',
          color: undefined,
          href: help.link,
          target: '_blank',
          icon: { svg: 'help-circle', inline: true },
        }"
      ></app-btn>
    </div>
  }
</div>
