.tab {
  &.pills {
    ::ng-deep {
      .mat-mdc-tab {
        background-color: var(--mat-sys-primary-fixed);
      }
      .mdc-tab--active {
        background-color: var(--mat-sys-primary);
        opacity: 1;
        .mdc-tab__text-label {
          color: var(--mat-sys-on-primary);
        }
      }
      .mat-mdc-tab-header {
        border-bottom: 0;
        .mat-mdc-tab-labels {
          background-color: var(--mat-sys-primary-fixed);
        }
        .mdc-tab--active,
        .mat-mdc-tab-labels {
          border-radius: 6px;
        }
        .mdc-tab-indicator {
          display: none;
        }
      }
    }
  }
}
