.search-sidebar {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-infix {
    width: 100%;
  }
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
