@import '../../../../theme/variable/breakpoint';
.view-list {
  .loading-inner {
    position: absolute;
    left: 50%;
    top: 25%;
  }
  ::ng-deep {
    formly-field {
      margin-right: 10px;
    }
    @media #{$xs} {
      formly-field {
        width: 46%;
      }
    }
    .dynamic-table {
      .mat-mdc-header-cell {
        font-size: 14px;
      }
      .mat-mdc-cell {
        padding: 10px 12px;
        font-size: 14px;
        line-height: 1.5;
      }
      .badge {
        padding: 2px;
        border-radius: 4px;
        word-break: keep-all;
      }
    }
  }
}

.view {
  position: relative;
}

formly-form {
  ::ng-deep formly-field {
    width: 130px;
  }
}
