.view-list {
  position: relative;
  min-height: 600px;
  ::ng-deep .dynamic-table {
    min-height: 600px;
  }
}

.filter {
  &.is-row-mode {
    ::ng-deep {
      .mat-expansion-panel-body {
        display: flex;
        justify-content: center;
        align-items: center;
        > * {
          margin-right: 2rem;
        }
      }
    }
  }
}
