@use 'variable/breakpoint' as *;
.view-list {
  @apply relative;
  .view-list-inner {
    @apply flex flex-col;
  }
  .filter {
    @apply flex flex-col justify-between items-center;
    @media #{$gt-sm} {
      @apply flex-row;
    }
  }
  .filter-item {
    @apply flex flex-col flex-wrap gap-3;
    @media #{$gt-sm} {
      @apply flex-row;
    }
  }
  .filter-actions {
    @apply flex justify-center items-center gap-3;
  }
  .skeleton-loader {
    @apply my-5 block;
  }
  .view-actions {
    @apply flex justify-end items-center;
  }
  .no-auth {
  }
  ::ng-deep {
    formly-field {
      margin-right: 10px;
    }
    .dynamic-table {
      .mat-mdc-header-cell {
        font-size: 14px;
      }
      .mat-mdc-cell {
        padding: 10px 12px;
        font-size: 14px;
        line-height: 1.5;
      }
      .badge {
        padding: 2px;
        border-radius: 4px;
        word-break: keep-all;
      }
    }
  }
}

.view {
  @apply relative;
  box-shadow: var(--mat-sys-level1);
}

formly-form {
  ::ng-deep formly-field {
    width: 130px;
  }
}
