@if (content(); as viewContent) {
  <div class="view-list">
    <div class="view-list-inner" [class]="viewContent.fullWidth ? 'container-fluid' : 'container'">
      @if (viewContent.text) {
        <app-text [attr.data-path]="'text'" [content]="viewContent.text" />
      }
      @if (viewContent.form) {
        <div class="filter">
          <div class="filter-item">
            <app-dynamic-component
              [inputs]="{
                content: viewContent.form,
                form: form(),
                fields: viewContent.form.fields,
                model: model(),
              }"
            ></app-dynamic-component>
          </div>
          <div class="actions filter-actions">
            @if (viewContent.params.export?.enable && viewContent.params.export?.position === 'top') {
              <app-btn (click)="onExport()" [content]="viewContent.params.export.btn" />
            }
            <button mat-button (click)="clear()"><mat-icon>clear</mat-icon>清空</button>
          </div>
        </div>
      }
      <mat-divider />
      <div class="view">
        @if (loading) {
          <ngx-skeleton-loader class="skeleton-loader" count="10" appearance="line" />
        }
        @if (table && canShow && !loading) {
          <app-dynamic-table [content]="table" />
        }
        <div class="actions view-actions m-y p-x">
          @if (viewContent.params.export?.enable && viewContent.params.export?.position !== 'top') {
            <app-btn (click)="onExport()" [content]="viewContent.params.export.btn" />
          }
        </div>
        @if (noAuth) {
          <div class="no-auth p-y p-x">您没有权限访问该页面！</div>
        }
        @if (pager) {
          <div class="pager">
            <mat-paginator
              class="demo-paginator"
              (page)="onPageChange($event)"
              [length]="pager.totalItems"
              [pageSize]="pager.itemsPerPage"
              [showFirstLastButtons]="true"
              [hidePageSize]="true"
              [pageIndex]="pager.currentPage"
              aria-label="Select page"
            />
          </div>
        }
      </div>
    </div>
  </div>
}
