.view-list {
  position: relative;
  min-height: 600px;
  ::ng-deep .dynamic-table {
    min-height: 600px;
  }
  .loading-inner {
    position: absolute;
    left: 50%;
    top: 25%;
  }
}

.view {
  position: relative;
}
