.loading-spin {
  .spin-loader,
  .spin-loader:after {
    border-radius: 50%;
    width: var(--loading-size);
    height: var(--loading-size);
    z-index: 999;
  }

  .spin-loader {
    font-size: 7px;
    text-indent: -9999em;
    border-top: var(--loading-width) solid var(--mat-sys-primary-container);
    border-right: var(--loading-width) solid var(--mat-sys-primary-container);
    border-bottom: var(--loading-width) solid var(--mat-sys-primary-container);
    border-left: var(--loading-width) solid var(--mat-sys-primary-fixed);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
