<div
  class="video relative"
  [class]="content.options.mode ? content.options.mode : ''">
  @if (content.id) {
    <a class="anchor" [id]="content.id"></a>
  }
  @if (content.spacer) {
    <app-spacer [size]="content.spacer || 'md'" />
  }
  @if (content.bg) {
    <app-bg-img [attr.data-path]="'bg'" [content]="content.bg" />
  }
  <div
    class="{{ content.fullWidth ? '' : 'container' }}"
    [class]="content.classes">
    <video
      #target
      class="video-js vjs-big-play-centered"
      controls
      playsinline
      preload="none"></video>
  </div>
  @if (content.spacer) {
    <app-spacer [size]="content.spacer || 'md'" />
  }
</div>
