.dynamic-table {
  overflow-x: auto;
  word-break: normal;
  white-space: nowrap;
  .mat-header-cell {
    font-size: 16px;
  }
  .mat-cell {
    line-height: 1;
  }
  ::ng-deep {
    .sub {
      font-size: small;
      opacity: 0.6;
    }
    .cell {
      padding: 0 4px;
    }
    .text-cell {
      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
