.dynamic-table {
  overflow-x: auto;

  &.nowrap {
    word-break: normal;
    white-space: nowrap;
  }
  &.wrap {
    white-space: normal;
  }
  &.fixed {
    table {
      table-layout: fixed;
    }
  }
  .mat-header-cell {
    font-size: 16px;
  }
  .mat-cell {
    line-height: 1.2;
    ::ng-deep {
      ol,
      ul {
        margin-left: 0;
      }
      li {
        list-style-type: none;
      }
    }
  }
  ::ng-deep {
    .sub {
      font-size: small;
      opacity: 0.6;
    }
    .cell {
      padding: 0 4px;
      display: inline-block;
    }
    .text-cell {
      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
